﻿@model Booking_System.Models.currency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.currency_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.symbol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCurrency", new { id = Model.currency_code }) |
    @Html.ActionLink("Back to List", "CurrencyList")
</p>
