﻿@model IEnumerable<Booking_System.Models.currency>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateCurrency")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.currency_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.symbol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.currency_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.symbol)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCurrency", new { id=item.currency_code }) |
            @Html.ActionLink("Details", "CurrencyDetails", new { id=item.currency_code }) |
            @Html.ActionLink("Delete", "DeleteCurrency", new { id=item.currency_code })
        </td>
    </tr>
}

</table>
