﻿@model Booking_System.Models.packagePricing
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Delete Package Pricing";
    ViewBag.TreeView = "H";
}
<h2><span class="fa fa-trash"></span> Delete Package pricing</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels",new {id=Model.package.provider_id, tab =hotelTab.PACKAGES })">Hotel (@Model.package.provider.name)</a></li>
    <li><a href="@Url.Action("PackageDetails","Hotels",new {id= Model.package_id })">Package (@Model.package.name) Details</a></li>
    <li class="active">Delete Package Pricing</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4></h4>
                    <hr />
                    <dl class="dl-horizontal">
                       

                        <dt>
                            @Html.DisplayNameFor(model => model.market.market_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.market.market_name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.valid_from)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valid_from)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.valid_to)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valid_to)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price_child)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_child)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price_child_without_bed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_child_without_bed)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.price_infant)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_infant)
                        </dd>
                        @*<dt>
                            @Html.DisplayNameFor(model => model.price_senior)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_senior)
                        </dd>*@
                        <dt>
                            @Html.DisplayNameFor(model => model.price_single)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_single)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.price_teen)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_teen)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price_triple)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_triple)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.price_twin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_twin)
                        </dd>
                    </dl>


                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm("DeletePackagePricing", "Hotels", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model=>model.package_pricing_id)
                     
               

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> 
                            <a href="@Url.Action("PackageDetails","Hotels",new { id = Model.package_id })" type="button" class="btn btn-default">Do not delete</a> 
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->
