﻿@model Booking_System.Models.packagePricing
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    var packageName = ViewBag.PackageName;
    var packageid = ViewBag.PackageId;
    var haspackage = (ViewBag.PackageId != null);
    var hotelid = ViewBag.Hotelid;
    ViewBag.TreeView = "H";

}

<h2>Edit Pricing for @Model.package.name :</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHodels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels",new {id=hotelid, tab =hotelTab.PACKAGES })">Hotel (@Model.package.provider.name)</a></li>
    <li><a href="@Url.Action("PackageDetails","Hotels",new {id= Model.package_id })">Package ( @Model.package.name ) Details</a></li>
    <li class="active">Edit Package Pricing</li>
</ol>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.HiddenFor(model => model.package_pricing_id)
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Pricing Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <input type="hidden" name="package_id" value="@Model.package_id" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.package_id, htmlAttributes: new { @class = "control-label " })
                        <input type="text" class="form-control" value="@Model.package.name" disabled />
                        @Html.ValidationMessageFor(model => model.package_id, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.market_id, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("market_id", null, htmlAttributes: new { @class = "form-control ", @required = "required" })
                  
                       
                        @Html.ValidationMessageFor(model => model.market_id, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.valid_from, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.valid_from, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.valid_to, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.valid_to, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>


                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Prices</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.price_single, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_single, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_single, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_twin, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_twin, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_twin, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_triple, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_triple, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_triple, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_infant, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_infant, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_infant, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_child, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_child, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_child, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_child_without_bed, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_child_without_bed, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_child_without_bed, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_teen, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_teen, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_teen, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_honeymoon, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.price_honeymoon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price_honeymoon, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_ground_handling, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.price_ground_handling, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price_ground_handling, "", new { @class = "text-danger" })

                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.price_senior, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_senior, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_senior, "", new { @class = "text-danger" })

                    </div>*@

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->

    </div> <!-- ./row -->
    <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>



}


@section Scripts {
   
}