﻿@model IEnumerable<Booking_System.Models.promotion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contracted_offer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancellation_policy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_before_days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_from_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_until_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_from_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.travel_until_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valid_from)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valid_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.min_nights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.market.market_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contracted_offer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cancellation_policy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_before_days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_from_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_until_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_from_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.travel_until_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valid_from)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valid_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.min_nights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.market.market_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.promotion_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.promotion_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.promotion_id })
        </td>
    </tr>
}

</table>
