﻿@model Booking_System.Models.activityPricing

@{
    var activityId = ViewBag.ActivityId;
}

@using (Html.BeginForm("EditActivityPricing", "Activities", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Pricing for <b>@Model.currency.currency_code</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="activity_id" value="@activityId" />
        <input type="hidden" name="provider_id" value="0" />
        <input type="hidden" name="currency_id" value="@Model.currency_id" />

        
        <div class="row">
            <div class="col-md-4">Price Type</div>
            <div class="col-md-3">Child</div>
            <div class="col-md-3">Adult</div>
        </div>

        <div class="row">
            <div class="col-md-4">Activity Only</div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.price_child, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price_child, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => model.price_adult, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.price_adult, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">Child</div>
    <div class="col-md-3">Adult</div>
</div>

<div class="row">
    <div class="col-md-4">Activity including SIC</div>
    <div class="col-md-3">
        @Html.EditorFor(model => model.price_child_incl_sic_transfer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.price_child_incl_sic_transfer, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3">
        @Html.EditorFor(model => model.price_adult_incl_sic_transfer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.price_adult_incl_sic_transfer, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">Child</div>
    <div class="col-md-3">Adult</div>
</div>
<div class="row">
    <div class="col-md-4">Activity including Private </div>
    <div class="col-md-3">
        @Html.EditorFor(model => model.price_child_incl_private_transfer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.price_child_incl_private_transfer, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3">
        @Html.EditorFor(model => model.price_adult_incl_private_transfer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.price_adult_incl_private_transfer, "", new { @class = "text-danger" })
    </div>
</div>


<br />

<div class="form-group">
    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-default" />
        <button  value="Close" class="btn btn-default closeedit">Close</button>
    </div>
</div>
</div>
}

