﻿@model IEnumerable<Booking_System.Models.activityPricing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.price_child)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_adult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price_teen)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.price_senior)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.activity.activity_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency.currency_desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.price_child)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price_adult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price_teen)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.price_senior)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.activity.activity_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency.currency_desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.activity_pricing_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.activity_pricing_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.activity_pricing_id })
        </td>
    </tr>
}

</table>
