﻿@model Booking_System.Models.activityPricing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>activityPricing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price_child)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_child)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_adult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_adult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_teen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_teen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price_senior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price_senior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activity.activity_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity.activity_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency.currency_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency.currency_desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activity_pricing_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
