﻿@model Booking_System.Models.activity
@using Tab = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "Details";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "Details";
    Tab.ActivityTab tab = ViewBag.Tab;
    ViewBag.ActivityId = Model.activity_id;

    Layout = "~/Views/Shared/_Layout.cshtml";

    var imgCount = Model.activity_picture.Count();
}

<h2>Details</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListActivities", "Activities")">Activities</a></li>
    <li class="active">@Model.activity_name</li>
</ol>




<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>
            </div>

            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:35%">
                            <span class="text-center"></span>&nbsp;Activity Name
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.activity_name)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="text-center"></span>&nbsp;Description
                        </th>
                        <td>
                            <span class="readmore">@Model.description.Replace("<br>", Environment.NewLine).Trim()</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Category
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.category)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Duration
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.duration)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Minimum Age
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.min_age)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Max Child Age
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.max_child_age)
                        </td>
                    </tr>

                    

                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Is Active
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_active)
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Includes Meal
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.includes_meal)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Features
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.features)
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Valid From
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ValidFromDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Valid To
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ValidToDate)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Cancellation
                        </th>
                        <td>
                            <span class="readmore">@Html.Raw(Model.cancellation_policy)</span>
</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="text-center"></span>&nbsp;Conditions
                        </th>
                        <td>
                            <span class="readmore">@Html.Raw(Model.conditions)</span>
</td>
                    </tr>

                </table>
            </div>

            <div class="box-footer clearfix no-border">
                <div class="box-footer clearfix no-border">
                    <a href="@Url.Action("EditActivity", new { id = Model.activity_id })" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit Activity </a> &nbsp;
                </div>
                <a href="@Url.Action("ListActivities")" class="btn btn-default pull-left"><i class="fa fa-backward"></i> Back</a>
                @*<a href="@Url.Action("ProviderDetails","Providers", new { id = Model.provider_id, tab = Booking_System.Helpers.AppEnums.ProviderTab.ACTIVITIES})" class="btn btn-default pull-left"><i class="fa fa-backward"></i> Back</a>*@
            </div>


        </div>
    </div>


    <div class="col-md-8">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="@(tab==Tab.ActivityTab.PRICING?"active":"")"><a href="#tab_@Tab.ActivityTab.PRICING" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Pricings</a></li>
                <li class="@(tab==Tab.ActivityTab.GALLERY?"active":"")"><a href="#tab_@Tab.ActivityTab.GALLERY" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Upload Image</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(tab==Tab.ActivityTab.PRICING?"active":"")" id="tab_@Tab.ActivityTab.PRICING">
                
                     
                       <div class="box-body">                              
                      
                    <a href="#" class="showsection"><span class="fa fa-plus-circle"></span>&nbsp;Add Pricing</a>
                    <section style="display:none">
                    <hr />
           @Html.Partial("_addActivityPricing", new Booking_System.Models.activityPricing())
                    
                              </section>
                         
                    @if (Model.activity_pricing.Count > 0)
                    {
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <td></td>
                                            <td colspan="2" class="text-center border-bottom">No Tranfer</td>
                                            <td colspan="2" class="text-center">Incl. seat in coach</td>
                                            <td colspan="2" class="text-center border-bottom">Incl. private</td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <th>
                                                Currency
                                            </th>
                                            <th class="text-center">
                                                Child
                                            </th>

                                            <th class="text-center">
                                                Adult
                                            </th>
                                            
                                            <th class="text-center">
                                                Child 
                                            </th>

                                            <th class="text-center">
                                                Adult 
                                            </th>


                                            <th class="text-center">
                                                Child
                                            </th>

                                            <th class="text-center">
                                                Adult 
                                            </th>

                                            <th></th>
                                        </tr>

                                        @foreach (var item in Model.activity_pricing)
                                        {
                                            <tr>

                                                <td class="text-center">
                                                    @item.currency.currency_code

                                                </td>
                                                <td class="text-center">
                                                    @item.price_child

                                                </td>
                                                <td class="text-center">
                                                    @item.price_adult
                                                </td>
                                                <td class="text-center">
                                                    @item.price_child_incl_sic_transfer

                                                </td>
                                                <td class="text-center">
                                                    @item.price_adult_incl_sic_transfer
                                                </td>
                                                <td class="text-center">
                                                    @item.price_child_incl_private_transfer

                                                </td>
                                                <td class="text-center">
                                                    @item.price_adult_incl_private_transfer
                                                </td>
                                                <td align="right">



                                                    <a class="show-next-tr" href="#" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    @*<a href="@Url.Action("DeleteTransferPricing", new { id = pricing.transfer_pricing_id})" title="Delete Transfer Pricing" onclick="return confirm('Are you sure?');"><span class="fa fa-trash"></span></a>*@
                                                    <a href="@Url.Action("DeleteActivityPricing", "Activities", new { id = item.activity_pricing_id })" title="Delete" onclick="return confirm('Are you sure?');"><span class="fa fa-trash"></span></a>

                                                </td>
                                            </tr>

                                            <tr style="display:none">
                                                <td colspan="5">
                                                    @Html.Partial("_editActivityPricing", item)
                                                </td>
                                            </tr>
                                        }

                                    </table>
                    } else
                    {

                        <h2 class="text-muted">No Pricing Defined</h2>
                    }
                                    <div class="box-footer clearfix no-border">
                                        @*<a href="@Url.Action("CreateActivityPricing", "Activities", new { id = Model.activity_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add pricing</a>*@
                                    </div>


                                                                             


                    </div><!-- /.box-body -->
                
                </div>

                <div class="tab-pane @(tab==Tab.ActivityTab.GALLERY?"active":"")" id="tab_@Tab.ActivityTab.GALLERY">
                    <div class="box-body">

                        <a class="showsection pull-right" href="#"><span class="fa fa-plus-circle"></span> Upload Image</a>

                        <section style="display:none">
                            <hr />
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                    {

                                        <input type="hidden" name="SectionId" value="@Model.activity_id" />
                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Activity.ToString()" />
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-md-4">
                                                        <label for="file">Upload Image:</label>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8">
                                                        <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Title</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Description</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="description" value="" class="form-control" placeholder="description" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Image Section</label>
                                                    @{
                                                        var imgType = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

                                                    }
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control select2">
                                                            @foreach (var item in imgType)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-4 col-md-8">
                                                        <input type="submit" name="Save" value="Upload Image" class="btn btn-default pull-left" />
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                                        }
                                </div>
                            </div>
                            <hr />
                        </section>

                        @if (Model.activity_picture == null || Model.activity_picture.Count == 0)
                        {
                            <h3>No picture, use <b>Upload Image</b> to start loading pictures</h3>
                        }
                        else
                        {
                            <div class="margin-top:30px">
                                @foreach (var item in Model.activity_picture)
                                {
                                    <div class="row">
                                        <div class="col-md-2 img-thumbnail">

                                            <div class="img-wrap">
                                                <span class="deleteimage">
                                                    <a href="@Url.Action("DeleteImage", "Providers", new { id = item.picture_id, sectionId = Model.activity_id, type = Booking_System.Models.ImagesType.Activity.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                </span>
                                                <img class="img-responsive roomImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetActivityImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                            </div>
                                            <div class="caption">
                                                @item.picture.DisplayImageFileName
                                            </div>
                                        </div>



                                        <div class="form-group col-md-3">
                                            <label class="control-label">Description</label>
                                            <div><span class="fa fa-file-image-o"></span> <b>@item.picture.file_name</b>  <span class="fa fa-align-center"></span> @item.picture.description</div>
                                        </div>

                                        <div class="col-md-6">

                                            @using (Html.BeginForm("EditImage", "Providers"))
                                            {
                                                <input type="hidden" name="picture_id" value="@item.picture_id" />
                                                <input type="hidden" name="SectionId" value="@Model.activity_id" />
                                                <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Activity.ToString()" />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), item.section);}
                                                        <label class="control-label">Section</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control" title="Image Section">
                                                            @foreach (var imgSecs in sec)
                                                            {
                                                                <option value="@imgSecs.Value" @(imgSecs.Selected ? "selected" : "")>@imgSecs.Text</option>
                                                            }
                                                        </select>


                                                    </div>


                                                </div>

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label class="control-label">Order</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="display_order" class="form-control" title="Image Order">
                                                            @for (int i = -1; i <= imgCount; i++)
                                                            {
                                                                if (i != 0)
                                                                {
                                                                    <option value="@i" @(i == item.display_order ? "selected" : "")>@i.ToString()</option>
                                                                }
                                                            }


                                                            @if (item.display_order > imgCount)
                                                            {
                                                                <option value="@item.display_order" selected="selected">@item.display_order.ToString()</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                            <div class="row">
                                                                <div class="col-md-offset-4 col-md-8">
                                                                    <button type="submit" name="Save" class="btn btn-sm btn-default" style="width:100%"><span class="fa fa-save"></span> Save</button>
                                                                    @*&nbsp; <a href="@Url.Action("DeleteImage", "Hotels", new { id = item.picture_id, hotelId = Model.provider_id })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>*@
                                                                </div>
                                                            </div>

                                                            } <!-- form-->

                                        </div>
                                    </div> <!-- row -->
                                                            <hr />

                                                            } <!-- foreach-->
                            </div>
                        } <!-- else-->







                    </div><!-- /.box-body -->
                </div>







            </div> <!-- tab content -->
        </div>

    </div> <!-- col 8 -->


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('body').on('click', '.showsection', function () {
                $(this).next('section').toggle();
            });
            $('body').on('click', '.show-next-tr', function () {
                $(this).parents("tr").next().toggle();
                //return false;
            });

            $('body').on('click', '.closeedit', function () {

                $(this).closest('tr').hide();
                return false;
            });


            $('.readmore').readmore({
                speed: 75,
                collapsedHeight: 100,
                lessLink: '<a href="#">Read less</a>'
            });

        });

    </script>
}

