﻿@model Booking_System.Models.activity

@{
    ViewBag.Title = "Create";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

     var categories = Booking_System.Helpers.SelectItems.GetActivityCategory();
}


<h2>Create Activity</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListActivities","Activities")">Activities</a></li>
    
    <li class="active">Create Activity </li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Create Activity </h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.activity_name, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.activity_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.activity_name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownListFor(model => model.category, categories, "--", new { @class = "form-control" })

                        @*<select class="form-control" name="category" required>
                            <option value="" selected>Select Category</option>
                            <option value="tour">Tour</option>
                            <option value="water">Water</option>
                            <option value="cruising">Cruising</option>
                            <option value="adventure">Adventure</option>
                            <option value="sport">Sport</option>
                            <option value="land">Land</option>
                            <option value="other">Other</option>
                        </select>*@
                        @*@Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                    </div>



                    
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Details </h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.min_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.min_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.min_age, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.max_child_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.max_child_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.max_child_age, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_from, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.valid_from, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_to, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.valid_to, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_to, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.features, htmlAttributes: new { @class = "control-label " })

                        @Html.TextAreaFor(model => model.features,  new { @class = "form-control" , placeholder="separate by ;"} )
                        @Html.ValidationMessageFor(model => model.features, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.includes_meal)&nbsp;&nbsp;&nbsp;
                        @Html.LabelFor(model => model.includes_meal, htmlAttributes: new { @class = "control-label " })

                        @Html.ValidationMessageFor(model => model.includes_meal, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

        </div> <!-- 2nd col-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Conditions </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.cancellation_policy, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.cancellation_policy, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.cancellation_policy, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.conditions, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.conditions, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.conditions, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- bbody-->
            </div> <!-- box-->
        </div> <!-- 3rd col-->

                </div> <!-- row -->

    <div class="box-footer text-center">
        <input type="submit" value="Create" class="btn btn-default" />
        <a href="@Url.Action("ListActivities","Activities")">Back to List</a>

    </div>


}

                @section Scripts {
                    @Scripts.Render("~/bundles/plugins")
                    @Scripts.Render("~/bundles/jqueryval")
                    <script>
                        $(document).ready(function () {
                                                    });
                    </script>

                }

