﻿@model Booking_System.Models.activityPricing
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Create Activity Pricing";
    var activityname = ViewBag.ActivityName;
    var activityid = ViewBag.ActivityId;
    var hasactivity = (activityid != null);
    var provid = ViewBag.providerid;
    var provname = ViewBag.providername;
    ViewBag.TreeView = "A";
    ViewBag.Menu = "Edit";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListTourOperators", "Providers")">Tour Operators</a></li>
    <li><a href="@Url.Action("ProviderDetails","Providers", new { id = provid, tab = Booking_System.Helpers.AppEnums.ProviderTab.ACTIVITIES})">@provname details</a></li>
    <li><a href="@Url.Action("ActivityDetails","Activities", new { id = activityid, tab = Booking_System.Helpers.AppEnums.ActivityTab.PRICING})">@activityname details</a></li>
    <li class="active">Create pricing for @activityname</li>
</ol>

<h2>Create Pricing @(hasactivity ? "for " + activityname : "")</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Pricing</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    @if (hasactivity)
                    {
                        <input type="hidden" name="activity_id" value="@activityid" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.activity_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@activityname" disabled />
                            @Html.ValidationMessageFor(model => model.activity_id, "", new { @class = "text-danger" })

                        </div>
                    }
                    else
                    {
                    <div class="form-group">
                        @Html.LabelFor(model => model.activity_id,  htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("activity_id", null, htmlAttributes: new { @class = "form-control" , @required="required" })
                        @Html.ValidationMessageFor(model => model.activity_id, "", new { @class = "text-danger" })

                    </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                     
                        @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.price_child, htmlAttributes: new { @class = "control-label " })
                       
                            @Html.EditorFor(model => model.price_child, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.price_child, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.price_adult, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_adult, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price_adult, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.price_teen, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.price_teen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price_teen, "", new { @class = "text-danger" })

                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.price_senior, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price_senior, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price_senior, "", new { @class = "text-danger" })
                    </div>*@

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        
    </div> <!-- ./row -->
    <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>

}
