﻿@model Booking_System.Models.activityPricing
@using activitytab = Booking_System.Helpers.AppEnums.ActivityTab

<h2><span class="fa fa-trash"></span> Delete Activity pricing</h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListTourOperators", "Providers")">Tour Operators</a></li>
    <li><a href="@Url.Action("ProviderDetails","Providers", new { id = Model.activity.provider_id, tab = Booking_System.Helpers.AppEnums.ProviderTab.ACTIVITIES})">@Model.activity.provider.name details</a></li>
    <li><a href="@Url.Action("ActivityDetails","Activities", new { id = Model.activity_id, tab = Booking_System.Helpers.AppEnums.ActivityTab.PRICING})">@Model.activity.activity_name details</a></li>
    <li class="active">Delete pricing for @Model.activity.activity_name</li>
</ol>




<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Activity: @Model.activity.activity_name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.price_child)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_child)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price_adult)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_adult)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price_teen)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_teen)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.price_senior)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price_senior)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.activity.activity_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.activity.activity_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.currency.currency_desc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.currency.currency_desc)
                        </dd>
                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("ProviderDetails","Providers", new { id = Model.activity.provider_id, tab =activitytab.PRICING} )" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->
