﻿@model Booking_System.Models.activity

@{
    ViewBag.Title = "Delete";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="fa fa-trash"></span> Delete Activity</h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListActivities","Activities")">Activities</a></li>    
    <li><a href="@Url.Action("ActivityDetails","Activities", new { id = Model.activity_id, tab = Booking_System.Helpers.AppEnums.ProviderTab.ACTIVITIES})">@Model.activity_name</a></li>
    <li class="active">Delete Activity</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Activity: @Model.activity_name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.activity_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.activity_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.Raw(Model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.cancellation_policy)
                        </dt>

                        <dd>
                            @Html.Raw(Model.cancellation_policy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.conditions)
                        </dt>

                        <dd>
                            @Html.Raw(Model.conditions)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.category)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.category)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.duration)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.duration)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.min_age)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.min_age)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.max_child_age)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.max_child_age)
                        </dd>
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.is_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.valid_from)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValidFromDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.valid_to)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ValidToDate)
                        </dd>

                      

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("ActivityDetails","Activities", new { id = Model.activity_id, tab = Booking_System.Helpers.AppEnums.ProviderTab.ACTIVITIES } )" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->
