﻿@model IEnumerable<Booking_System.Models.activity>

@{
    ViewBag.Title = "Activities";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "List";


    var providername = String.Empty;
    if(Model.Count() > 0)
    {
        providername = Model.First().provider.name;
    }
    else
    {
        providername = ViewBag.ProviderName;
    }

}

<style>
    .box-header {
        background: #8CC440;
        color: #fff;
    }
</style>

<h2>Activities</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ActivityProviders","Providers")">Activity Providers</a></li>
    <li class="active">Activities</li>
</ol>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Activity List for <b>@providername</b></h3>
        <div class="box-tools">


            <a href="@Url.Action("Create","Activities")" class="btn btn-default pull-right"><span class="fa fa-plus-circle"></span> New Activity</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div class="box">

            <div class="box-body table-responsive no-padding">

                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.activity_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.duration)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </th>*@
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.activity_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.duration)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.provider.name)
                            </td>*@

                            <td align="right">



                                <a href="@Url.Action("Details", "Activities", new { id = item.activity_id})" title="View Activity"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                <a href="@Url.Action("Edit", "Activities", new { id = item.activity_id})" title="Edit Activity"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                <a href="@Url.Action("Delete", "Activities", new { id = item.activity_id})" title="Delete Activity"><span class="fa fa-trash"></span></a>

                            </td>

                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>
