﻿@model IEnumerable<Booking_System.Models.activity>

@{
    ViewBag.Title = "ListActivities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Activities</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Activity</li>
</ol>

<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Activity List</h3>
        <div class="box-tools">
            <div class="input-group pull-right">
                <a href="@Url.Action("CreateActivity","Activities")"><span class="fa fa-plus-circle"></span> New Activity</a>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.activity_name)
                    </th>
                    <th style="width:30%">
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th>
                        
                        <span title="duration" class="fa fa-clock-o"></span>

                    </th>
                    <th style="width:300px">
                        <span title="price adult/child" class="fa fa-dollar"></span>
                    </th>
                    
                    <th>
                        <span title="is active" class="fa fa-check"></span>
                    </th>
                    
                    <th>
                        <span title="includes meal" class="fa fa-cutlery"></span>

                    </th>
                    <th style="width:100px"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.activity_name)
                        </td>
                        <td>
                            <span class="readmore">@Html.Raw(item.description)</span>
                        </td>
                    
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.duration)
                        </td>
                        <td>
                            @foreach(var price in item.activity_pricing)
                            {
                                if(price.price_adult.HasValue)
                                {
                                 @:<p style="font-size:.9em;line-height:12px;"><span class="fa fa-ticket" title="No Transfer"></span> @price.currency.symbol @price.price_adult / @price.price_child</p> 
                                }

                                if (price.price_adult_incl_sic_transfer.HasValue)
                                {
                                    @:<p style="font-size:.9em;line-height:12px;"><span class="fa fa-bus" title="Seat in Coach"></span> @price.currency.symbol @price.price_adult_incl_sic_transfer / @price.price_child_incl_sic_transfer</p>
                                }

                                if (price.price_adult_incl_private_transfer.HasValue)
                                {
                                    @:<p style="font-size:.9em;line-height:12px;"><span class="fa fa-car" title="Private Transfer"></span> @price.currency.symbol @price.price_adult_incl_private_transfer / @price.price_child_incl_private_transfer</p>
                                }

                            }
</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.includes_meal)
                        </td>
                        <td align="right">
                            <a href="@Url.Action("ActivityDetails", new { id = item.activity_id})" title="Edit Transfer"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            <a href="@Url.Action("DeleteActivity", new { id = item.activity_id})" title="Delete Transfer"><span class="fa fa-trash"></span></a>

                        </td>
                    </tr>
                }

            </table>

</div>
</div>
  @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('.readmore').readmore({
                speed: 75,
                collapsedHeight: 100,
                lessLink: '<a href="#">Read less</a>'
            });

        });

    </script>
        }