﻿@model Booking_System.Models.LoginState

@{
    Layout = null;
    var browser = Request.Browser.Browser + Request.Browser.MajorVersion;
    var browser_type = Request.Browser.Browser;
    var browser_version = Request.Browser.MajorVersion;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=2")" />

    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        
        <div>
            Booking<span>System</span>

        </div>
    </div>
    <br>
    <div class="login">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login", id = "login", role = "form", autocomplete = "off" }))
        {

            <input type="hidden" class="form-control" name="Browser" id="Browser" value="@browser">
            <input type="text" placeholder="Username" name="Username" />
            <input type="password" placeholder="Password" name="Password" />
            <input type="submit" value="Sign In" />

            if (Model.LoginStateValue != Booking_System.Models.LoginState.LoginStateEnum.Not_Set)
            {
                <p class="text-center" style="color:yellow">@Model.LoginStateValue.ToString().Replace('_', ' ') </p>
            }
        }

    </div>




    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });
    </script>

</body>
</html>
