﻿
@{
    ViewBag.Title = "Menu";
}

<h2><span class="fa fa-home"></span> Quick Links</h2>


<ol class="breadcrumb">
    <li class="active">Menu (Quick Links)</li>

</ol>
<section class="content">

    <div class="row">
        @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator }))
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ListHotels", "Hotels")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-building-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Hotels</span>
                            <span class="info-box-more">Accommodation Management</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ListActivities", "Activities")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-camera"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Activities</span>
                            <span class="info-box-More">Activity Management</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->


            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Index", "Users")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-orange"><i class="fa fa-user"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Users</span>
                            <span class="info-box-More">Manage Admins and Agents</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->


            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Features", "SystemSettings", new { id = "H" })" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-cutlery"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Settings</span>
                            <span class="info-box-more">Hotel Facilities</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Features", "SystemSettings", new { id = "R" })" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-hotel"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Settings</span>
                            <span class="info-box-more">Room Features</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Features", "SystemSettings", new { id = "V" })" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon"><i class="im im-shift-auto"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Settings</span>
                            <span class="info-box-more">Car Features</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->



            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Occupancies", "SystemSettings")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-gray"><i class="fa fa-user-times"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Occupancies</span>
                            <span class="info-box-more">Room Occupancies</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->



            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ListCarRentals", "Providers")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-fuchsia"><i class="fa fa-cab"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Rentals</span>
                            <span class="info-box-more">Car Rentals</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->


            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ListTransfers", "Transfers")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-olive"><i class="fa fa-plane"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Transfers</span>
                            <span class="info-box-more">Airport Transfers</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->


            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("Contacts", "Providers")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Contacts</span>
                            <span class="info-box-more">Directory</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->

        }

        @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Planning, Booking_System.Models.UserRoles.Sales }))
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ViewReservations", "Reservation")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-light-blue"><i class="fa fa-book"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Reservations</span>
                            <span class="info-box-more">Manage Reservations</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->
        }


        @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
        {
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="@Url.Action("ViewAfterSales", "AfterSales")" class="plain">
                    <div class="info-box">
                        <span class="info-box-icon bg-green-gradient"><i class="fa fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">After Sales</span>
                            <span class="info-box-more">Manage AfterSales</span>

                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </a>
            </div><!-- /.col -->
        }


    </div><!-- /.row -->
</section>
