﻿@model Booking_System.Models.configuration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>configuration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conf_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conf_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conf_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conf_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conf_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conf_value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.configuration_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
