﻿@model IEnumerable<Booking_System.Models.configuration>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Configurations";
    ViewBag.TreeView = "S";
    ViewBag.Menu = "Configuration";
}


<h2>Configurations</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Configurations</li>
</ol>
<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Configurations</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateConfiguration","SystemSettings")"><span class="fa fa-plus-circle"></span> New Configuration</a>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.conf_key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.conf_type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.conf_value)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.conf_key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.conf_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.conf_value)
                    </td>   
                    <td>
                        @if (!item.system_based)
                        {
                        <a href="@Url.Action("EditConfiguration", new { id = item.configuration_id })" title="Edit Configuration"><span class="fa fa-pencil"></span></a>@Html.Raw("&nbsp;&nbsp;&bull;&nbsp;&nbsp;")
                        <a href="@Url.Action("DeleteConfiguration", new { id = item.configuration_id })" title="Delete Configuration"><span class="fa fa-trash"></span></a>
                        }
                    </td>
                </tr>
            }

        </table>


    </div> <!-- box body-->
</div> <!-- box -->
