﻿@model IEnumerable<Booking_System.Models.country>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Countries";
    ViewBag.TreeView = "S";
    ViewBag.Menu = "Country";
}



<h2>Countries</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Countries</li>
</ol>

@*<p>
        <a href="@Url.Action("Create","Features", new {  id = ViewBag.FeatureType })"><span class="fa fa-plus"></span> New @hotelroom Feature</a>
    </p>*@

<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Countries</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateCountry","SystemSettings")"><span class="fa fa-plus-circle"></span> New Country</a>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.currency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.currency_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_independent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nationality)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.currency_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_independent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nationality)
                    </td>
                    <td>
                        <a href="@Url.Action("EditCountry", new { id = item.country_id })" title="Edit Country"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteCountry", new { id = item.country_id})" title="Delete Country"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }

        </table>


    </div> <!-- box body-->
</div> <!-- box -->


