﻿@model Booking_System.Models.country

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_independent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_independent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCountry", new { id = Model.country_id}) |
    @Html.ActionLink("Back to List", "CountryDetails")
</p>
