﻿@model Booking_System.Models.mealPlan

@{
    ViewBag.Title = "Create Meal Plan";


    ViewBag.TreeView = "S";
    ViewBag.Menu = "MealPlan";
}

<h2><span class="fa fa-room"></span>Create Meal Plan</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("MealPlans")">Occupancies</a></li>
    <li class="active">Create Meal Plan</li>
</ol>



@using (Html.BeginForm())
{

    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Meal Plan Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })
                 
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.meal_order, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.meal_order, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.meal_order, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        </div>


                   

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("MealPlans")" type="button" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->

       


    </div> <!-- row-->

}


@section Scripts {
   
}
