﻿@model Booking_System.Models.feature

@{
    ViewBag.Title = "Create";
    var isHotel = ViewBag.FeatureType == "H";
    var isVehicle = ViewBag.FeatureType == "V";
    var type = ViewBag.FeatureType;


    var hotelroomvehicle = isHotel ? "Hotel" : (isVehicle ? "Vehicle" : "Room");

    ViewBag.Menu = hotelroomvehicle + " Features";

    ViewBag.TreeView = "S";
    ViewBag.Menu = hotelroomvehicle;

    var CategoryList = isHotel ? Booking_System.Helpers.SelectItems.GetHotelFeatureCategoryListItem()
        : isVehicle? Booking_System.Helpers.SelectItems.GetVehicleFeatureCategoryListItem()
        :Booking_System.Helpers.SelectItems.GetRoomFeatureCategoryListItem();
}

<h2>Create @hotelroomvehicle Feature</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Features", new { id = type})">Features</a></li>
    <li class="active">Create @hotelroomvehicle Feature</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Features</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <input type="hidden" name="feature_type" value="@type" />
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownListFor(model => model.category, CategoryList, "-select-", htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                    </div>
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.icon, htmlAttributes: new { @class = "control-label " })
                        (<a href="@Url.Action("Icons")" target="_blank">Show Icons</a>)
                        @Html.EditorFor(model => model.icon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.icon, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <a href="@Url.Action("Features", new {id = type })" type="button" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                    
                </div> <!-- /body-->
            </div> <!-- /box -->

        </div><!-- /col-->
        </div><!-- /row -->

    @*<div class="box-footer">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>*@

}


                    @section Scripts {
                        
                    }
