﻿@model Booking_System.Models.configuration


@{
    ViewBag.Title = "Create Configuration";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Configuration";
}

<h2><span class="fa fa-room"></span>Create Configuration</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Configurations")">Configurations</a></li>
    <li class="active">Create Configuration</li>
</ol>



@using (Html.BeginForm())
{

    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Configuration Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.conf_key, htmlAttributes: new { @class = "control-label" })
                       
                            @Html.EditorFor(model => model.conf_key, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.conf_key, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.conf_type, htmlAttributes: new { @class = "control-label " })
                        
                        @Html.DropDownList("conf_type", null, htmlAttributes: new { @name = "conf_type", @class = " form-control select2" })
                            @Html.ValidationMessageFor(model => model.conf_type, "", new { @class = "text-danger" })
                        
                    </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.conf_value, htmlAttributes: new { @class = "control-label" })
                      
                            @Html.EditorFor(model => model.conf_value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.conf_value, "", new { @class = "text-danger" })
                     
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("Configurations")" type="button" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                    </div> <!-- body -->
                </div> <!-- box -->
            </div> <!-- col -->




        </div> <!-- row-->

}
