﻿@model Booking_System.Models.country


@{
    ViewBag.Title = "Create Country";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Country";
}

<h2><span class="fa fa-room"></span>Create Country</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Countries")">Countries</a></li>
    <li class="active">Create Country</li>
</ol>



@using (Html.BeginForm())
{

    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Country Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.country_code, htmlAttributes: new { @class = "control-label" })
                      
                            @Html.EditorFor(model => model.country_code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.country_code, "", new { @class = "text-danger" })
                     
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                    
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currency, htmlAttributes: new { @class = "control-label" })
                    
                            @Html.EditorFor(model => model.currency, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.currency, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_name, htmlAttributes: new { @class = "control-label" })
                       
                            @Html.EditorFor(model => model.currency_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.currency_name, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.is_independent, htmlAttributes: new { @class = "control-label" })
                       
                            @Html.EditorFor(model => model.is_independent, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.is_independent, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.language, htmlAttributes: new { @class = "control-label" })
                      
                            @Html.EditorFor(model => model.language, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.language, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label" })
                        
                            @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                        
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("Countries")" type="button" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->




    </div> <!-- row-->

}





