﻿@model Booking_System.Models.currency

@{
    ViewBag.Title = "Create";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Currency";
}

<h2>Create Currency</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Currencies")">Currencies</a></li>
    <li class="active">Create Currency</li>
</ol>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }


        <div class="row">

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span class="badge">1</span>&nbsp;Features</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.currency_code, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.currency_code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.currency_code, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.currency_desc, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.currency_desc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.currency_desc, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.symbol, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.symbol, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.symbol, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.exchange_rate, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.exchange_rate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.exchange_rate, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <a href="@Url.Action("Currencies")" type="button" class="btn btn-default">Cancel</a>
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*<div class="box-footer">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>*@

}
@section Scripts {
 
}
