﻿@model Booking_System.Models.occupancy

@{
    ViewBag.Title = "Create";
    var haserrors = ViewBag.HasValidationErrors == null ? false : ViewBag.HasValidationErrors;
    var errors = ViewBag.ValidationErrors == null ? new List<String>() : ViewBag.ValidationErrors;

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Occupancy";
}

<h2><span class="fa fa-room"></span>Create Occupany</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Occupancies")">Occupancies</a></li>
    <li class="active">Create Occupancy</li>
</ol>

@if (haserrors)
{

    <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <h4>
            <i class="icon fa fa-ban"></i>
            Validation Errors Found!
        </h4>
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>

    </div>
    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Occupancy Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>

                        
                  
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <a href="@Url.Action("Occupancies")" type="button" class="btn btn-default">Cancel</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Occupancy Definition</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.infant, htmlAttributes: new { @class = "control-label " })

                        @Html.TextBoxFor(model => model.infant, new { @class = "form-control"  })
                        @Html.ValidationMessageFor(model => model.infant, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.child, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.child, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.child, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.without_bed, htmlAttributes: new { @class = "control-label " })*@
                                <label class="control-label">Without Bed</label>

                                
                                @Html.TextBoxFor(model => model.without_bed, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.without_bed, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.teen, htmlAttributes: new { @class = "control-label " })

                        
                        @Html.TextBoxFor(model => model.teen, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.teen, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.adult, htmlAttributes: new { @class = "control-label " })

                        
                        @Html.TextBoxFor(model => model.adult, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.adult, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.senior, htmlAttributes: new { @class = "control-label " })
                        
                        @Html.TextBoxFor(model => model.senior, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.senior, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            </div>


                </div> <!-- row-->
                }


                @section Scripts {
                
                }
