﻿@model IEnumerable<Booking_System.Models.currency>

@{
    ViewBag.Title = "Currencies";
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.TreeView = "S";
    ViewBag.Menu = "Currency";


    bool showAll = (bool)ViewBag.ShowAll;
}


<h2>Currencies</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Currencies</li>
</ol>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Currency List</h3>
        <div class="box-tools">
            @if(showAll)
            {

            <a href="@Url.Action("Currencies","SystemSettings", new { ShowAll = false })">Only Active</a>@:&nbsp;|&nbsp;
            } else
            {
            <a href="@Url.Action("Currencies","SystemSettings", new { ShowAll = true})">Show All</a>@:&nbsp;|&nbsp;

            }
            <a href="@Url.Action("CreateCurrency","SystemSettings")" class="pull-right"><span class="fa fa-plus-circle"></span> Add  Currency</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.currency_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.currency_desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.symbol)
                </th>
                <th>@Html.DisplayNameFor(model => model.exchange_rate)</th>
                <th>@Html.DisplayNameFor(model => model.is_active)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.currency_code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.currency_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.symbol)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.exchange_rate)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.is_active, htmlAttributes: new { @id = item.currency_id , @class="chkCurrency" })
                    </td>
                    <td>

                        <a href="@Url.Action("EditCurrency", new { id = item.currency_id })" title="Edit Currency"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteCurrency", new { id = item.currency_id})" title="Delete Currency"><span class="fa fa-trash"></span></a>

                </tr>
            }

        </table>


    </div>
</div>

<!-- Ajax Section -->
<script src="~/Scripts/custom/shared.js"></script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            var serviceURL = getVirtualDir() + 'SystemSettings/DisableCurrency';

            $('.chkCurrency').click(function () {
                var id = $(this).attr('id');
                var checked = 0;
                if ($(this).is(':checked'))
                    checked = 1;
                else
                    checked = 0;
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: serviceURL,
                    data: {id: id, value: checked}, //--> send id of checked checkbox on other page
                    success: function (data) {
                        //$('#container').html(data);
                    },
                    error: function () {
                        //alert('it broke');
                    },
                    complete: function () {
                        //alert('it completed');
                    }
                });

                
            });

        });
</script>