﻿@model Booking_System.Models.feature

@{
    ViewBag.Title = "Delete";
    var isHotel = Model.feature_type == "H";
    var isVehicle = Model.feature_type == "V";
    var type = Model.feature_type;
    var hotelroom = isHotel ? "Hotel" : "Room";
    var hotelroomvehicle = isHotel ? "Hotel" : (isVehicle ? "Vehicle" : "Room");
    ViewBag.TreeView = "S";
    ViewBag.Menu = hotelroomvehicle;

}


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">@hotelroomvehicle Menu</a></li>
    <li><a href="@Url.Action("Features", new { type = type})">Features</a></li>
    <li class="active">Delete Feature</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>@hotelroomvehicle Feature: @Model.name</h4>
                    <hr />

                    <h3>Are you sure you want to delete this?</h3>
                    <div>
                        <h4>feature</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.category)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.category)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.feature_type)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.feature_type)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                        </dl>

                        <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color text-center">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <a href="@Url.Action("Features", new { id= type })" type="button" class="btn btn-default">Do not delete</a>

                            </div>
                        }
                    </div>
                    </div>
                </div>  <!-- body-->
            </div>  <!-- box -->
        </div>  <!-- col -->
    </div> <!-- row -->
