﻿@model Booking_System.Models.currency

@{
    ViewBag.Title = "Delete";
}

<h2><span class="fa fa-trash"></span> Delete Currency</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action("Currencies", "SystemSettings")">Currencies</a></li>
    @*<li><a href="@Url.Action(_methodDetails, "SystemSettings", new { id = _id, tab = _tab })">@Model.provider.name</a></li>*@

    <li class="active">Delete Currency</li>
</ol>

<div class="col-md-offset-4 col-md-4">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
        </div><!-- /.box-header -->
        <div class="box-body">

            <div>
                <h4>currency</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.currency_code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.currency_code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.currency_desc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.currency_desc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.symbol)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.symbol)
                    </dd>
                </dl>
                <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.currency_id)
                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a href="@Url.Action("Currencies", "SystemSettings")" type="button" class="btn btn-default">Do not delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
            