﻿@model Booking_System.Models.configuration

@{
    ViewBag.Title = "Delete Configuration";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Configuration";
}


<h2><span class="fa fa-trash"></span> Delete Configuration</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Configuration")">Configurations</a></li>
    <li class="active">Delete Configuration</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.conf_key)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.conf_key)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.conf_type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.conf_type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.conf_value)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.conf_value)
                        </dd>

                    </dl>
                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("Configurations")" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->