﻿@model Booking_System.Models.country

@{
    ViewBag.Title = "Delete Country";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Country";
}


<h2><span class="fa fa-trash"></span> Delete Country</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Countries")">Countries</a></li>
    <li class="active">Delete Country</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Country: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.currency)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.currency)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.currency_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.currency_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.is_independent)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_independent)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.language)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.language)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.nationality)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nationality)
                        </dd>

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("MealPlans")" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->

