﻿@model Booking_System.Models.feature

@{
    ViewBag.Title = "Edit";
    var isHotel = Model.feature_type == "H";
    var isVehicle = Model.feature_type == "V";
    var type = Model.feature_type;

    var hotelroomvehicle = isHotel ? "Hotel" : (isVehicle ? "Vehicle" : "Room");


    ViewBag.TreeView = "S";
    ViewBag.Menu = hotelroomvehicle;


    var CategoryList = isHotel ? Booking_System.Helpers.SelectItems.GetHotelFeatureCategoryListItem()
        : isVehicle ? Booking_System.Helpers.SelectItems.GetVehicleFeatureCategoryListItem()
        : Booking_System.Helpers.SelectItems.GetRoomFeatureCategoryListItem();

    //var CategoryList = isHotel ? Booking_System.Helpers.SelectItems.GetHotelFeatureCategoryListItem(Model.category) : Booking_System.Helpers.SelectItems.GetRoomFeatureCategoryListItem(Model.category);
}


<h2>Editing @hotelroomvehicle Feature <small>@Model.name (@type)</small></h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Features", new { id = type })">@hotelroomvehicle Features</a></li>
    <li class="active">Edit Feature</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.feature_id)
    @Html.HiddenFor(model => model.feature_type)
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Feature Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                
                    <div class="form-group">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label " })

                        @*@Html.DropDownListFor(model => model.category,  CategoryList,  new { htmlAttributes = new { @class = "form-control select2 " } })*@
                        @Html.DropDownListFor(model => model.category, CategoryList, htmlAttributes: new { @class = "form-control select2 "/*select2-hidden-accessible*/ })
                        @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.icon, htmlAttributes: new { @class = "control-label " })
                        (<a href="@Url.Action("Icons")" target="_blank">Show Icons</a>)
                        @Html.EditorFor(model => model.icon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.icon, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("Features", new { id = type })" class="btn btn-default">Back</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
            
                    </div> <!-- body -->

            </div> <!-- box -->
        </div><!-- cool -->

                    </div> <!-- row -->
                    }


                    @section Scripts {
                        
                    }
