﻿@model Booking_System.Models.currency

@{
    ViewBag.Title = "Edit";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Currency";
}

<h2>Editing Currency <small>@Model.currency_code</small></h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Currencies")">Currencies</a></li>
    <li class="active">Edit Currency</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.HiddenFor(model => model.currency_id)

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Feature Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  
                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_code, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.currency_code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.currency_code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_desc, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.currency_desc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.currency_desc, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.symbol, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.symbol, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.symbol, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.exchange_rate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.exchange_rate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.exchange_rate, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        @Html.EditorFor(model => model.is_active) &nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("Currencies")" class="btn btn-default">Back</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}