﻿@model IEnumerable<Booking_System.Models.feature>

@{
    ViewBag.Title = "Features";
    var isHotel = ViewBag.FeatureType == "H";
    var isVehicle = ViewBag.FeatureType == "V";
    var hotelroomvehicle = isHotel ? "Hotel" : (isVehicle ? "Vehicle" :"Room");

    ViewBag.TreeView = "S";
    ViewBag.Menu = hotelroomvehicle;

}

<h2>@hotelroomvehicle Features</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">@hotelroomvehicle Feature</li>
</ol>


<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">@hotelroomvehicle Feature List</h3>
        <div class="box-tools">
            <div class="input-group pull-right" style="width: 150px;">
                <a href="@Url.Action("CreateFeature","SystemSettings", new {  id = ViewBag.FeatureType })"><span class="fa fa-plus-circle"></span> New @hotelroomvehicle Feature</a>
                @*<input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>*@
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.icon)
                </th>

                <th align="right"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>                    
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        <span class="@Html.DisplayFor(modelItem => item.icon)"></span>&nbsp;
                        <small>@Html.DisplayFor(modelItem => item.icon)</small>
                    </td>

                    <td align="right">

                        
                        <a href="@Url.Action("EditFeature", new { id = item.feature_id})" title="Edit Feature"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteFeature", new { id = item.feature_id})" title="Delete Feature"><span class="fa fa-trash"></span></a>

                    </td>
                </tr>
            }

        </table>
    </div>    
</div>        