﻿@model IEnumerable<Booking_System.Models.mealPlan>

@{
    ViewBag.Title = "Index";
    ViewBag.TreeView = "S";
    ViewBag.Menu = "MealPlan";
}



<h2>Meal Plans</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Meal Plans</li>
</ol>

@*<p>
        <a href="@Url.Action("Create","Features", new {  id = ViewBag.FeatureType })"><span class="fa fa-plus"></span> New @hotelroom Feature</a>
    </p>*@

<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Meal Plans</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateMealPlan","SystemSettings")"><span class="fa fa-plus-circle"></span> New Meal Plan</a>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
   
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.meal_order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.code)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.meal_order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code)
                    </td>
                    <td>
                        <a href="@Url.Action("EditMealPlan", new { id = item.meal_plan_id})" title="Edit Meal Plan"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteMealPlan", new { id = item.meal_plan_id})" title="Delete Meal Plan"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }

        </table>


    </div> <!-- box body-->
</div> <!-- box -->
