﻿@model IEnumerable<Booking_System.Models.occupancy>

@{
    ViewBag.Title = "Occupancy";

    ViewBag.TreeView = "S";
    ViewBag.Menu = "Occupancy";

}


<h2>Occupancies</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Room Occupancies</li>
</ol>

@*<p>
        <a href="@Url.Action("Create","Features", new {  id = ViewBag.FeatureType })"><span class="fa fa-plus"></span> New @hotelroom Feature</a>
    </p>*@

<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Occupancies</h3>
        <div class="box-tools">
                <a href="@Url.Action("CreateOccupancy","SystemSettings")"><span class="fa fa-plus-circle"></span> New Occupancy</a>
        </div>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th align="center">
                    @Html.DisplayNameFor(model => model.adult)
                </th>

                <th align="center">
                    @Html.DisplayNameFor(model => model.infant)
                </th>
                <th align="center">

                    @*@Html.DisplayNameFor(model => model.child)*@
                    No. Children
                    
                </th>
                @*<th align="center">


                    Child W/O Bed
                </th>*@
                <th align="center">

                    @Html.DisplayNameFor(model => model.teen)
                </th>
                
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>

                    <td align="center">
                        <span class="label label-@(item.adult>0?"success":"default")">

                            @Html.DisplayFor(modelItem => item.adult)
                        </span>
                    </td>
                    <td align="center">
                        <span class="label label-@(item.infant>0?"success":"default")">
                            @Html.DisplayFor(modelItem => item.infant)
                        </span>

</td>
                    <td align="center">
                        <span class="label label-@(item.child>0?"success":"default")">
                            @Html.DisplayFor(modelItem => item.child)
                        </span>

</td>
                    @*<td align="center">
                        <span class="label label-@(item.without_bed>0?"success":"default")">
                            @Html.DisplayFor(modelItem => item.without_bed)
                        </span>

</td>*@

                    <td align="center">
                        <span class="label label-@(item.teen>0?"success":"default")">
                            @Html.DisplayFor(modelItem => item.teen)
                        </span>

</td>
                    
                    <td>
                     @*   <a href="@Url.Action("Details", new { id = item.occupancy_id})" title="view Occupancy"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                        <a href="@Url.Action("EditOccupancy", new { id = item.occupancy_id})" title="Edit Occupancy"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteOccupancy", new { id = item.occupancy_id})" title="Delete Occupancy"><span class="fa fa-trash"></span></a>


                    </td>
                </tr>
            }

        </table>


    </div> <!-- box body-->
        </div> <!-- box -->

