﻿@model IEnumerable<Booking_System.Models.viewActivity>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "AS";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var guests = booking._totalGuests;
    var minors = booking._totalChildrenAndTeens;
    var anyminor = minors > 0;

    var symbol = string.Empty;
    if (booking != null && booking.market != null && booking.market.currency != null)
    {
        symbol = booking.market.currency.symbol;
    }

}

<h2>Activities Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewAfterSales","AfterSales")">AfterSales</a></li>
    <li><a href="@Url.Action("BookingDetails","AfterSales", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Add Activities</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Activities Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">

        @if (Model == null || Model.Count() == 0)
        {
            <h1><span class="fa fa-warning"></span> No Activities Available</h1>

        }
        else
        {


            <div class="row">
                <div class="col-md-8">

                    @using (Html.BeginForm("AddActivities", "AfterSales", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="booking_id" value="@booking.booking_id" />
                        <table class="table">

                            @{ string category = ""; int i = 0;}
                            @foreach (var activity in Model)
                            {


                                if (category != activity.category)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <h4 class="booking-filters-title"><span class=""></span>&nbsp;@activity.category.ToUpper()</h4>
                                            @*<p class="readmore"><span class="large">@activity.activity_name</span> @activity.description</p>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>activity</td>
                                        <td>Transfer (pp adult @(anyminor ? "/child" : ""))</td>
                                        <td>Adults</td>
                                        @if (anyminor)
                                        {
                                            <td>Children</td>
                                        }


                                    </tr>
                                }


                                <tr class="@(activity._isSelected ? "activity-selected" : "")">
                                    <th>
                                        @if (!activity._SoldInFrontEnd)
                                        {

                                            <input type="hidden" name="activity_id[@i]" value="@activity.activity_id" />
                                            <input type="hidden" name="activity_pricing_id[@i]" value="@activity.activity_pricing_id" />
                                        }

                                        @activity.activity_name <small>@(activity.min_age.HasValue && activity.min_age.Value > 0 ? String.Concat("(", activity.min_age.Value.ToString(), ")") : "")</small>
                                        @if (!activity._SoldInFrontEnd)
                                        {
                                            if ((activity.price_adult + activity.price_child > 0))
                                            {
                                                <br /><small>No Transfer - @activity.symbol @activity.price_adult / @activity.price_child </small>
                                            }
                                            if ((activity.price_adult_incl_sic_transfer + activity.price_child_incl_sic_transfer > 0))
                                            {

                                                <br /><small>Seat In Coach - @activity.symbol @activity.price_adult_incl_sic_transfer / @activity.price_child_incl_sic_transfer  </small>
                                            }
                                            if ((activity.price_adult_incl_private_transfer + activity.price_child_incl_private_transfer > 0))
                                            {

                                                <br /><small>Private - @activity.symbol @activity.price_adult_incl_private_transfer / @activity.price_child_incl_private_transfer</small>
                                            }
                                        }
                                    </th>
                                    <td>
                                        @if (activity._SoldInFrontEnd)
                                        {

                                            if ((activity.price_adult + activity.price_child > 0) && activity.transfer_type == 0)
                                            {
                                                <span>No Transfer - @activity.symbol @activity.price_adult / @activity.price_child </span>
                                            }
                                            if ((activity.price_adult_incl_sic_transfer + activity.price_child_incl_sic_transfer > 0) && activity.transfer_type == 1)
                                            {
                                                <span>Seat In Coach - @activity.symbol @activity.price_adult_incl_sic_transfer / @activity.price_child_incl_sic_transfer  </span>
                                            }
                                            if ((activity.price_adult_incl_private_transfer + activity.price_child_incl_private_transfer > 0) && activity.transfer_type == 2)
                                            {
                                                <span>Private - @activity.symbol @activity.price_adult_incl_private_transfer / @activity.price_child_incl_private_transfer</span>
                                            }
                                        }
                                        else
                                        {
                                            <input type="hidden" name="transfer_type[@i]" value="-1" />
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <input type="number" name="priceAdult[@i]" value="@activity._final_price_adult" class="form-control" />
                                                </div>
                                                @if (anyminor)
                                                {
                                                    <div class="col-md-1">
                                                        /
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="number" name="priceChild[@i]" value="@activity._final_price_child" class="form-control" />
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </td>

                                    <td style="width:100px;">
                                        @if (activity._SoldInFrontEnd)
                                        {
                                            <span>@activity._adult</span>
                                        }
                                        else
                                        {
                                            <select name="adult[@i]" class="form-control">
                                                @for (int a = 0; a <= guests; a++)
                                                {
                                                    <option value="@a" @(activity._adult == a ? "selected=selected" : "")>@a</option>
                                                }
                                            </select>
                                        }

                                    </td>


                                    @if (anyminor)
                                    {
                                        <td style="width:100px;">
                                            @if (activity.min_age < 18 && activity.has_price_child && !activity._SoldInFrontEnd)
                                            {
                                                <select name="child[@i]" class="form-control">
                                                    @for (int c = 0; c <= minors; c++)
                                                    {
                                                        <option value="@c" @(activity._child == c ? "selected=selected" : "")>@c</option>

                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                if (!activity._SoldInFrontEnd)
                                                {
                                                    <input type="hidden" name="child[@i]" value="0" />
                                                }
                                                <span> - </span>
                                            }
                                        </td>
                                    }

                                </tr>






                                {
                                    category = activity.category;

                                    if (!activity._SoldInFrontEnd)
                                    {
                                        i++;
                                    }
                                }


                            }
                        </table>

                        <div style="clear:both"></div>
                        <div class="gap"></div>
                        <button type="submit" value="save" name="submitaction" class="btn btn-default">Save</button>
                        <div class="gap"></div>


                                }



                </div>



            </div>
                                }
    </div>
</div>