﻿@model IEnumerable<Booking_System.Models.vehicle>

@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "AS";
    var booking = ViewBag.Booking as Booking_System.Models.booking;

}

<h2>Rental Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewAfterSales","AfterSales")">AfterSales</a></li>
    <li><a href="@Url.Action("BookingDetails","AfterSales", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Add Rental</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Rental Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">


        @if (Model == null || Model.Count() == 0)
        {
            <h1><span class="fa fa-warning"></span> No Vehicles Available for Rental</h1>

        }
        else
        {

            <div class="row">
                <div class="col-md-8">

                    @using (Html.BeginForm("AddRental", "AfterSales", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="booking_id" value="@booking.booking_id" />
                        <ul class="booking-list">
                            @{ var i = 0; }
                            @foreach (var item in Model)
                            {
                                bool rentedInNormalSales = false;
                                bool hasDriver = item.vehicle_pricing.FirstOrDefault().daily_price_with_driver > 0;

                                if (booking != null && booking.booking_rental != null)
                                {
                                    rentedInNormalSales = booking.booking_rental.Count(e => e.vehicle_id == item.vehicle_id && !e.is_aftersales && item._rentalDays > 0) > 0;
                                }

                                <li>
                                    @if (!rentedInNormalSales)
                                    {
                                        <input type="hidden" name="vehicle_id[@i]" value="@item.vehicle_id" />
                                    }
                                    <div class="booking-item @(item._isSelected?"active-booking-item":"")" href="#">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="booking-item-car-img">

                                                    @if (item.vehicle_picture.Count > 0)
                                                    {
                                                        <img class="img-responsive" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetVehicleImgPath()), item.vehicle_picture.FirstOrDefault().picture.FullFileName)" alt="@item.vehicle_model" />

                                                    }
                                                    else
                                                    {
                                                        <img src="img/Land-Rover-Range-Rover-Evoque.png" alt="Image Alternative text" title="Image Title" />

                                                    }

                                                    <p class="booking-item-car-title">@item.vehicle_model (@item.vehicle_type)</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <ul class="booking-item-features booking-item-features-sign clearfix">
                                                            <li rel="tooltip" data-placement="top" title="Passengers">
                                                                <i class="fa fa-male"></i><span class="booking-item-feature-sign">x @item.max_seat</span>
                                                            </li>
                                                            <li rel="tooltip" data-placement="top" title="Doors">
                                                                <i class="im im-car-doors"></i><span class="booking-item-feature-sign">x @item.doors</span>
                                                            </li>

                                                            <li rel="tooltip" data-placement="top" title="Transmission">
                                                                <i class="im im-shift@(item.is_automatic ? "-auto" : "")"></i><span class="booking-item-feature-sign">@(item.is_automatic ? "auto" : "manual")</span>
                                                            </li>

                                                            <li rel="tooltip" data-placement="top" title="Fuel Type">
                                                                <i class="im im-diesel"></i><span class="booking-item-feature-sign">@item.fuel_type_desc</span>
                                                            </li>


                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="booking-item-features booking-item-features-dark">
                                                            <li rel="tooltip" data-placement="top" title="Terminal Pickup">
                                                                <i class="fa fa-plane"></i>
                                                            </li>
                                                            <li rel="tooltip" data-placement="top" title="Car with Driver">
                                                                <i class="im im-driver"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @{
                                                            string price = string.Empty;
                                                            string normalPrice = string.Empty;
                                                            string priceWithDriver = string.Empty;
                                                            string currencySymbol = item.vehicle_pricing.FirstOrDefault().currency.symbol;

                                                            var rentedCar = item.booking_rental.Where(e => e.vehicle_id == item.vehicle_id && e.booking_id == booking.booking_id);
                                                            if (rentedCar != null && rentedCar.Count() > 0 )
                                                            {
                                                                if(rentedCar.First().total_price.HasValue)
                                                                {
                                                                    price = rentedCar.First().total_price.Value.ToString();
                                                                }
                                                            }

                                                            normalPrice = item.vehicle_pricing.FirstOrDefault().daily_price.ToString();
                                                            if (hasDriver)
                                                            {
                                                                priceWithDriver = item.vehicle_pricing.FirstOrDefault().daily_price_with_driver.ToString();
                                                            }

                                                            if (string.IsNullOrWhiteSpace(price))
                                                            {
                                                                price = normalPrice;
                                                                if (item.includes_driver)
                                                                {
                                                                    price = priceWithDriver;
                                                                }
                                                            }
                                                        }
                                                        
                                                        @if (!rentedInNormalSales)
                                                        {
                                                            <small>without driver @currencySymbol@normalPrice /day</small>
                                                            if (hasDriver)
                                                            {
                                                                <small>with driver @currencySymbol@priceWithDriver /day</small>
                                                            }

                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <span class="booking-item-price">@currencySymbol</span>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" style="width:100%;" type="number" name="price[@i]" value="@price" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    /day
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <span class="booking-item-price">@currencySymbol@(item.includes_driver ? priceWithDriver : price)<span style="font-size:16px">/day</span></span>
                                                        }

                                                    </div>
                                                    <div class="col-md-12">
                                                        @if (hasDriver)
                                                        {

                                                            <div class="row">

                                                                <div class="col-md-9">
                                                                    <label>
                                                                        With Driver
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    @if (!rentedInNormalSales)
                                                                    {
                                                                        <label>
                                                                            <input class="i-check checkdriver" data-num="@i" type="checkbox" @(item.includes_driver ? "checked" : "") name="hasDriver[@i]" value="true" />
                                                                            <input type="hidden" name="hasDriver[@i]" value="false" />
                                                                        </label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>
                                                                            <input class="i-check checkdriver" type="checkbox" @(item.includes_driver ? "checked" : "") disabled value="true" />
                                                                        </label>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <input type="hidden" name="hasDriver[@i]" value="false" />

                                                        }
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">

                                                            <div class="col-md-4">
                                                                <label>
                                                                    Days
                                                                </label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                @if (!rentedInNormalSales)
                                                                {
                                                                    <select class="select2 pickdays" name="days[@i]">
                                                                        <option value="0">--</option>
                                                                        @for (var n = 1; n <= booking.num_nights + 1; n++)
                                                                        {
                                                                            <option value="@n" @(item._rentalDays == n ? "selected=seleted" : "")>@n</option>
                                                                        }
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <span>@item._rentalDays</span>
                                                                }
                                                            </div>
                                                        </div> <!-- row -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                                                {
                                                                    if (!rentedInNormalSales)
                                                                    {
                                                                        i++;
                                                                    }
                                                                }
                                                            }
                        </ul>

                                                            if (i > 0)
                                                            {
                                                                <button type="submit" value="save" name="submitaction" class="btn btn-default">Save</button>
                                                            }
                                                            <br />




                                                            } @* end form *@

                                                        </div>

                                                    </div>


                                                            }

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('body').on('change', '.pickdays', function () {
                var days = $(this).val();

                if (days > 0) {
                    $(this).closest('.booking-item').addClass('active-booking-item');
                } else {
                    $(this).closest('.booking-item').removeClass('active-booking-item');
                }
            });

        });
    </script>

}
