﻿@model IEnumerable<Booking_System.Models.transferPricing>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "AS";
    //var vehicles = ViewBag.Vehicles as List<Booking_System.Models.vehicle>;

    var booking = ViewBag.Booking as Booking_System.Models.booking;

    var ccy = string.Empty;
    if (booking != null && booking.market != null && booking.market.currency != null)
    {
        ccy = booking.market.currency.symbol;
    }

    var pricings = ViewBag.TransferPricings as List<Booking_System.Models.transferPricing>;

    bool selected = false;

    if (Model != null)
    {
        selected = Model.Count(e => e._isSelected && !e._isAfterSales) > 0;
    }


}

<h2>Transfer Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewAfterSales","AfterSales")">AfterSales</a></li>
    <li><a href="@Url.Action("BookingDetails","AfterSales", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Add Transfer</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Transfer Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="col-md-8">
            @if (Model == null || Model.Count() == 0 || pricings.Count() == 0 || selected)
            {
                <h1><span class="fa fa-warning"></span> No Transfers Available</h1>
            }
            else
            {
                double? price = 0D;

                using (Html.BeginForm("AddTransfer", "AfterSales", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="booking_id" value="@booking.booking_id" />
                    <input type="hidden" name="totalPriceTransfer" value="" />

                    <table class="table">
                        <tr>
                            <td align="center">
                                <label>
                                    <input class="i-radio" type="radio" checked name="transfer" value="0" />
                                </label>
                            </td>
                            <td>
                                no transfer
                            </td>
                            <td>
                                No transfer booked
                            </td>
                            <td>0</td>

                        </tr>
                        @if (pricings.Count > 0)
                        {
                            foreach (var item in Model.OrderBy(x => x.transfer_id))
                            {
                                    var rate = pricings.Where(x => x.transfer_id == item.transfer_id).FirstOrDefault();
                                    double? defaultPrice = (rate.adult_price * booking.adults) + (rate.child_price * booking.children) + (rate.teen_price * booking.teens);

                                    price = defaultPrice;
                                    if (item._totalPrice.HasValue)
                                    {
                                        price = item._totalPrice;
                                    }

                                <tr>
                                    <td align="right">
                                        <label>
                                            <input class="i-radio radioPriceTransfer" type="radio" @(item._isSelected ? "checked" : "") name="transfer" value="@item.transfer_id" />
                                        </label>
                                    </td>
                                    <td>
                                        @item.transfer.name
                                    </td>
                                    <td>
                                        @item.transfer.description <small>@ccy@defaultPrice</small>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control small-item totalPriceTransfer @(item._isSelected? "totalPriceTransferChecked" : "" )" value="@price" />
                                       
                                    </td>

                                </tr>
                                                }
                                            }




                    </table>
                    <button type="submit" class="btn btn-default">Save</button>
                    <br />

                                            } <!-- form -->


                                            } <!-- endif -->




            <div class="gap"></div>
            @* end form *@

        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("[name='totalPriceTransfer']").val($('.totalPriceTransferChecked').val());

            $('body').on('keyup', '.totalPriceTransfer', function () {
                var radioButton = $(this).closest('tr').find('.i-radio');
                if (radioButton != null) {
                    if (radioButton[0].checked) {
                        $("[name='totalPriceTransfer']").val($(this).val());
                    }
                }

            });

            $('body').on('change', '.radioPriceTransfer', function () {
                if ($(this)[0].checked) {
                    var textBox = $(this).closest('tr').find('.totalPriceTransfer');
                    if (textBox != null) {
                        $("[name='totalPriceTransfer']").val(textBox.val());
                    }
                }
            });
        });
    </script>
}
