﻿@model Booking_System.Models.booking

@{
    ViewBag.Title = "Booking Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.TreeView = "AS";

    var currencySymbol = string.Empty;
    if (Model.market != null && Model.market.currency != null)
    {
        currencySymbol = Model.market.currency.symbol;
    }
}
<h2>Booking Details : @Model.booking_name</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewAfterSales","AfterSales")">AfterSales</a></li>
    <li class="active">@Model.booking_name</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-cab"></i>
                        <h3 class="box-title">Transfers</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_transfer != null && Model.booking_transfer.Count() > 0)
                    {


                        <div class="box-body">
                            <table class="table ">

                                @foreach (var transfer in Model.booking_transfer)
                {


                                    <tr>
                                        <td>
                                            @transfer.transfer_name
                                        </td>
                                        <td class="pull-right">
                                            @string.Concat(currencySymbol, transfer.total_price)
                                        </td>
                                    </tr>
                                }


                            </table>
                        </div>
                    }


                    <div class="box-footer">
                        @Html.ActionLink("Add Transfer", "AddTransfer", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>


                </div>
            </div>


            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa  fa-futbol-o"></i>
                        <h3 class="box-title">Activities</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_activity != null && Model.booking_activity.Count() > 0)
                    {
                        string prevActivityProviderName = string.Empty;

                        <div class="box-body">
                            <table class="table ">

                                @foreach (var activity in Model.booking_activity.OrderBy(e => e.provider_name))
                                {
                                    if (prevActivityProviderName != activity.provider_name)
                                    {
                                        <tr>

                                            <th colspan="5">
                                                <span class="fa  fa-futbol-o "></span>&nbsp;@activity.provider_name
                                            </th>

                                        </tr>
                                        prevActivityProviderName = activity.provider_name;
                                    }
                                    <tr>
                                        <th></th>
                                        <td>@activity.activity_name</td>
                                        <td>
                                            @{ int numAdults = 0;}
                                            @if (activity.adults.HasValue && activity.adults.Value > 0)
                                            {
                                                numAdults = activity.adults.Value;
                                            }


                                            @numAdults adults

                                        </td>

                                        <td>
                                            @{ int numChildren = 0;}
                                            @if (activity.children.HasValue && activity.children.Value > 0)
                                            {
                                                numChildren = activity.children.Value;
                                            }
                                            @numChildren children

                                        </td>
                                        <td class="pull-right">
                                            @string.Concat(currencySymbol, activity.total_price)
                                        </td>
                                    </tr>
                                                }

                                <tr>

                                    <th colspan="5">
                                        <div class="pull-right">
                                            <span class="fa fa-calculator"></span>&nbsp;Total
                                            <span class="small">( @string.Concat(currencySymbol, Model.TotalCostActivityWithAfterSales))</span>
                                        </div>
                                    </th>
                                </tr>
                            </table>

                        </div>
                                                }


                    <div class="box-footer">
                        @Html.ActionLink("Add Activities", "AddActivities", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>

                </div>
            </div>


            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-car"></i>
                        <h3 class="box-title">Car Rentals</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_rental != null && Model.booking_rental.Count() > 0)
                    {


                        <div class="box-body">
                            <table class="table ">

                                @foreach (var rental in Model.booking_rental)
                                {

                                    <tr>
                                        <td>@rental.vehicle.vehicle_model</td>
                                        <td>
                                            @rental.num_days days
                                        </td>
                                        <td class="pull-right">
                                            @string.Concat(currencySymbol, rental.total_price)
                                        </td>
                                    </tr>
                                }

                                <tr>

                                    <th colspan="3">
                                        <div class="pull-right">
                                            <span class="fa fa-calculator"></span>&nbsp;Total
                                            <span class="small">( @string.Concat(currencySymbol, Model.TotalCostRentalWithAfterSales))</span>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    }

                    <div class="box-footer">
                        @Html.ActionLink("Add Rental", "AddRental", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
