﻿@model IEnumerable<Booking_System.Models.booking>

@{
    ViewBag.Title = "View AfterSales";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Menu = "List";
    ViewBag.TreeView = "AS";
}

<h2>View Bookings</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">AfterSales</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Booking List</h3>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">


        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.booking_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_file_number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.checkin_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.checkout_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.num_nights)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._totalGuests)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCostWithCurrency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discount_amt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user1.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.statusDesc)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.booking_id)
                    </td>
                    <td>
                        @item.booking_date.Value.ToString("dd mm yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.booking_file_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.booking_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkin_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkout_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_nights)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._totalGuests)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCostWithAfterSales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount_amt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user1.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.statusDesc)
                    </td>
                    <td>
                        <a href="@Url.Action("BookingDetails", new { id = item.booking_id})" title="view Boooking"><span class="fa fa-tv"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>  <!-- .box-body-->
</div> <!-- .box-->