﻿@model Booking_System.Models.ViewModel.SearchItem

@using utils = Booking_System.Helpers.Utils
@{
    List<Booking_System.Models.user> users = ViewBag.Users;

    var ddAgent = Booking_System.Helpers.SelectItems.GetUserList(Model.agent_user_id, users);

    var ddDiscount = Booking_System.Helpers.SelectItems.GetUserList(Model.discounted_by_user_id, users);

    var ddBackAgent = Booking_System.Helpers.SelectItems.GetUserList(Model.backoffice_user_id, users);

    var statusList = Booking_System.Helpers.SelectItems.GetBookingStatusListItem(Model.status, true);

}


<div class="box searchReservations" @(!Model.HasSearch ? "style='display:none;'" : "") >
    <div class="box-header">
        <div style="width:80%; float:left">
        <h3 class="box-title">Search Reservations</h3>
        </div>
        <div style="float:left;width:20%" class="text-right">
            <a href="#" style="margin-top:-20px;" class="close-search-reservation">Close</a>
        </div>
    </div>
    <div class="box-body">

        @using (Html.BeginForm("SetSearchFilters", "Reservation", FormMethod.Post))
        {
            <div class="row">
                
                <div class="col-md-3">
                    @Html.LabelFor(model => model.booking_id, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.booking_id, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.booking_name, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.booking_name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.booking_file_number, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.booking_file_number, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.checkin_date, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.checkin_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.checkout_date, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.checkout_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.flight_date, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.flight_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.num_nights, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.num_nights, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.status, statusList, "-select-", htmlAttributes: new { @class = "form-control", @style="width:100%"  })
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                        @Html.LabelFor(model => model.agent_user_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.agent_user_id, ddAgent, "-select-", htmlAttributes: new { @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.backoffice_user_id, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.backoffice_user_id, ddBackAgent, "-select-", htmlAttributes: new { @class = "form-control", @style = "width:100%" })
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <input type="submit" name="Search" value="Search" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")

    <script>
            $(document).ready(function () {

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy'

                    });
            });
    </script>
}
