﻿
@{
    ViewBag.Title = "DownloadVoucher";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h2>Download Voucher</h2>

<div class="gap-big"></div>

<div class="text-center">
    <h2>Could not find Voucher</h2>

    <h1>The voucher you are trying to download does not exist anymore.</h1>
    <h3>please contact your admin to generate a new one</h3>
</div>
