﻿
@{
    ViewBag.Title = "Download Proforma";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="gap-big"></div>

<div class="text-center">
    <h2>Proforma Not Found!</h2>

    <h1>The proforma you are trying to download does not exist anymore.</h1>
    <h3>please contact your admin to generate a new one</h3>
</div>
