﻿@model IEnumerable<Booking_System.Models.viewActivity>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "RE";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var guests = booking._totalGuests;

    var minors = booking._totalChildrenAndTeens;
    var anyminor = minors > 0;

    var symbol = string.Empty;
    if (booking != null && booking.market != null && booking.market.currency != null)
    {
        symbol = booking.market.currency.symbol;
    }

}

<h2>Activities Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewReservations","Reservation")">Reservations</a></li>
    <li><a href="@Url.Action("ReservationDetails","Reservation", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Edit Activities</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Activities Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">

        @if (Model == null || Model.Count() == 0)
        {
            <h1><span class="fa fa-warning"></span> No Activities Available</h1>

        }
        else
        {


            <div class="row">
                <div class="col-md-8">

                    @using (Html.BeginForm("EditActivities", "Reservation", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="booking_id" value="@booking.booking_id" />
                        <table class="table">

                            @{ string category = ""; int i = 0;}
                            @foreach (var activity in Model)
                            {


                                if (category != activity.category)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <h4 class="booking-filters-title"><span class=""></span>&nbsp;@activity.category.ToUpper()</h4>
                                            @*<p class="readmore"><span class="large">@activity.activity_name</span> @activity.description</p>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>activity</td>
                                        <td>Min. Age</td>
                                        <td>Transfer (pp adult/child)</td>
                                        <td>Adults</td>
                                        @if (anyminor)
                                        {
                                            <td>Children</td>
                                        }


                                    </tr>
                                }


                                <tr class="@(activity._isSelected ? "activity-selected" : "")">
                                    <th>
                                        <input type="hidden" name="activity_id[@i]" value="@activity.activity_id" />
                                        <input type="hidden" name="activity_pricing_id[@i]" value="@activity.activity_pricing_id" />
                                        @activity.activity_name
                                    </th>
                                    <td>@activity.min_age</td>
                                    <td>
                                        
                                        <select class="form-control" name="transfer_type[@i]">
                                            @if (activity.transfer_type == -1)
                                            {
                                                <option value="-1" @(activity.transfer_type == -1 ? "selected" : "")>After Sales - @activity.symbol @activity._final_price_adult / @activity._final_price_child </option>
                                            }
                                            @if (utils.CoalesceDouble(activity.price_adult) + utils.CoalesceDouble(activity.price_child) > 0)
                                            {
                                                <option value="0" @(activity.transfer_type == 0 ? "selected" : "")>No Transfer - @activity.symbol @activity.price_adult / @activity.price_child </option>
                                            }
                                            @if (utils.CoalesceDouble(activity.price_adult_incl_sic_transfer) + utils.CoalesceDouble(activity.price_child_incl_sic_transfer) > 0)
                                            {

                                                <option value="1" @(activity.transfer_type == 1 ? "selected" : "")>Seat In Coach - @activity.symbol @activity.price_adult_incl_sic_transfer / @activity.price_child_incl_sic_transfer  </option>
                                            }
                                            @if (utils.CoalesceDouble(activity.price_adult_incl_private_transfer) + utils.CoalesceDouble(activity.price_child_incl_private_transfer) > 0)
                                            {

                                                <option value="2" @(activity.transfer_type == 2 ? "selected" : "")>Private - @activity.symbol @activity.price_adult_incl_private_transfer / @activity.price_child_incl_private_transfer</option>
                                            }
                                        </select>
                                    </td>

                                    <td style="width:100px;">
                                        @if (activity.has_price_adult)
                                        {
                                            <select name="adult[@i]" class="form-control">
                                                @for (int a = 0; a <= guests; a++)
                                                {
                                                    <option value="@a" @(activity._adult == a ? "selected=selected" : "")>@a</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="hidden" name="adult[@i]" value="0" />
                                            <small>--</small>
                                        }
                                    </td>


                                    @if (anyminor)
                                    {
                                        <td style="width:100px;">

                                            @if (activity.min_age < 18 && activity.has_price_child)
                                            {
                                                <select name="child[@i]" class="form-control">
                                                    @for (int c = 0; c <= minors; c++)
                                                    {
                                                        <option value="@c" @(activity._child == c ? "selected=selected" : "")>@c</option>

                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="hidden" name="child[@i]" value="0" />

                                                <span> - </span>
                                            }

                                        </td>
                                    }

                                </tr>






                                {
                                    category = activity.category;
                                    i++;
                                }


                            }
                        </table>

                        <div style="clear:both"></div>
                        <div class="gap"></div>
                        <button type="submit" value="save" name="submitaction" class="btn btn-default">Save</button>
                        <div class="gap"></div>


                                }



                </div>



            </div>
                                }
    </div>
</div>