﻿@model IEnumerable<Booking_System.Models.GetSupplementsResult>

@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Supplements";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "RE";

    var booking = ViewBag.Booking as Booking_System.Models.booking;

    var totalRoomCost = booking.booking_guest.Sum(x => x.price_per_night + x.markup_amt) * booking.num_nights;

}

<h2>Supplement Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewReservations","Reservation")">Reservations</a></li>
    <li><a href="@Url.Action("ReservationDetails","Reservation", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Edit Supplement</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Supplement Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">

        @if (Model == null || Model.Count() == 0)
        {
            <h1><span class="fa fa-warning"></span> No Supplements Available</h1>

        }
        else
        {

            <div class="row">
                <div class="col-md-8">

                    @using (Html.BeginForm("EditSupplement", "Reservation", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="booking_id" value="@booking.booking_id" />
                        <table class="table">
                            @{var i = 0; var roomnum = 0;}
                            @foreach (var item in Model.OrderBy(o => o._room_number).ThenBy(t => t._showMealFirst).ThenBy(m => m.meal_plan_id))
                    {
                        if (item._room_number != roomnum)
                        {
                                    <tr>
                                        <td align="left"><h3><span class="label label-warning">@item._room_number</span></h3></td>
                                        <td colspan="3">
                                            <h3> @item._room_name  - @Html.Raw(item._OccupancyIcons)</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td align="center">


                                            <label>
                                                <input class="i-radio" type="radio" checked name="mealplan[@(item._room_number - 1)]" value="0#0#0" />
                                            </label>
                                        </td>
                                        <td>
                                            No upgrade
                                        </td>
                                        <td>
                                            @utils.InclPercMarkup(0, item.symbol)
                                        </td>
                                    </tr>


                                }

                                roomnum = item._room_number;

                                if (item.IsMealPlan)
                                {
                                    <tr class="@(item.IsSelected ? "supplement-selected" : "")">
                                        <td></td>
                                        <td align="center">


                                            <label>
                                                <input class="i-radio" type="radio" @(item.IsSelected ? "checked" : "") name="mealplan[@(item._room_number - 1)]" value="@(string.Concat(item.supplement_id, "#", item.booking_room_id, "#", item.supp_price))" />
                                            </label>
                                        </td>
                                        <td>
                                            @item.name
                                        </td>
                                        <td>
                                            @utils.InclPercMarkup(item.supp_price.HasValue ? item.supp_price.Value : 0, item.symbol)
                                        </td>
                                    </tr>

                                }
                                else
                                {
                                    <tr class="@(item.IsSelected ? "supplement-selected" : "")">
                                        <td></td>
                                        <td align="center">
                                            <label>
                                                <input class="i-check" type="checkbox" @(item.IsSelected ? "checked" : "") name="chosen[@i]" value="true" />
                                                <input type="hidden" name="chosen[@i]" value="false" />
                                            </label>
                                        </td>
                                        <td>
                                            @item.name
                                        </td>
                                        <td>
                                            <input type="hidden" name="supplement[@i]" value="@(string.Concat(item.supplement_id, "#", item.booking_room_id, "#", item.supp_price))" />
                                            @*<input type="hidden" name="supplementprice[@i]" value="@item.supp_price" />*@
                                            @utils.InclPercMarkup(item.supp_price.HasValue ? item.supp_price.Value : 0, item.symbol)
                                        </td>
                                    </tr>
                                    i++;
                                }




                            }
                        </table>


                        <button type="submit" value="save" name="submitaction" class="btn btn-default">Save</button>
                        <br />

                        <div class="gap"></div>
                                }
                </div>
            </div>

                                }


    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('.item-container').each(function () {
                //alert($('.fill', $(this)).width());
                var item = $('.item', $(this));
                var score = $('.score', $(this));
                var itemWidth = item.width();
                var scoreWidth = score.width();

                var offset1 = item.offset().left;
                var offset2 = score.offset().left;
                var fillerWidth = (offset2 - offset1) - (itemWidth + scoreWidth);

                $('.fill', $(this)).css('width', fillerWidth + 10);
            });

        });

    </script>

}
