﻿@model IEnumerable<Booking_System.Models.transferPricing>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "RE";
    //var vehicles = ViewBag.Vehicles as List<Booking_System.Models.vehicle>;

    var booking = ViewBag.Booking as Booking_System.Models.booking;

    var ccy = string.Empty;
    if (booking != null && booking.market != null && booking.market.currency != null)
    {
        ccy = booking.market.currency.symbol;
    }

    var pricings = ViewBag.TransferPricings as List<Booking_System.Models.transferPricing>;

}

<h2>Transfer Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewReservations","Reservation")">Reservations</a></li>
    <li><a href="@Url.Action("ReservationDetails","Reservation", new {id = booking.booking_id })">@booking.booking_name</a></li>
    <li class="active">Edit Transfer</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Transfer Details</h3>

    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="col-md-8">
            @if (Model == null || Model.Count() == 0 || pricings.Count() == 0)
            {
                <h1><span class="fa fa-warning"></span> No Transfers Available</h1>
            }
            else
            {
                double? price = 0D;

                using (Html.BeginForm("EditTransfer", "Reservation", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="booking_id" value="@booking.booking_id" />

                    <table class="table">
                        <tr>
                            <td align="center">
                                <label>
                                    <input class="i-radio" type="radio" checked name="transfer" value="0" />
                                </label>
                            </td>
                            <td>
                                no transfer
                            </td>
                            <td>
                                No transfer booked
                            </td>
                            <td>0</td>

                        </tr>
                        @if (pricings.Count > 0)
                        {
                            foreach (var item in Model.OrderBy(x => x.transfer_id))
                            {

                                <tr>
                                    <td align="right">
                                        <label>
                                            <input class="i-radio" type="radio" @(item._isSelected ? "checked" : "") name="transfer" value="@item.transfer_id" />
                                        </label>
                                    </td>
                                    <td>
                                        @item.transfer.name
                                    </td>
                                    <td>
                                        @item.transfer.description
                                    </td>
                                    <td>

                                        @{
                                            var rate = pricings.Where(x => x.transfer_id == item.transfer_id).FirstOrDefault();
                                            double? defaultPrice = (rate.adult_price * booking.adults) + (rate.child_price * booking.children) + (rate.teen_price * booking.teens);

                                            price = defaultPrice;
                                            if(item._totalPrice.HasValue)
                                            {
                                                price = item._totalPrice;
                                            }

                                        }


                                        @ccy@price
                                    </td>

                                </tr>
                                                }
                                            }




                    </table>
                    <button type="submit" class="btn btn-default">Save</button>
                    <br />

                                            } <!-- form -->


                                            } <!-- endif -->




            <div class="gap"></div>
            @* end form *@

        </div>

    </div>



</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('body').on('click', '.booking-item', function () {

                //var price = $(this).data('price');
                //var vehicle = $(this).data('vehicle-id');

                //alert(price);


                $('.booking-item').removeClass('active-booking-item');


                $(this).addClass('active-booking-item');


                //$('#price').val($(this).data('price'));
                //$('#vehicle_id').val($(this).data('vehicle-id'));


            });

        });
    </script>

}
