﻿@model Booking_System.Models.bookingVoucher

@{
    Layout = null;
    ViewBag.Title = "GenerateVoucher";
}
<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/font-awesome.css" rel="stylesheet" />
<link href="/Content/ionicons.css" rel="stylesheet" />
<link href="/Content/front/icomoon.css" rel="stylesheet" />
<link href="/Content/AdminLTE.css" rel="stylesheet" />
<link href="/Content/skins/skin-yellow.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />

<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    html, body {
        width: 210mm;
        height: 297mm;
        display: table;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #tablecontainer {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }


    table thead td {
        padding: 10px 15px;
    }

    table tr td {
        padding: 10px 15px;
    }

    h5 {
        font-weight: bold;
    }
</style>
<html>
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="text-bold">Booking Number:</div>
            <h2>@Model.booking_id</h2>

            <div class="text-bold">Status</div>
            <div>Complete</div>



            <div class="text-bold">Hotel</div>
            <div>@Model.hotel_name</div>



            <div class="text-bold">Booking Date</div>
            <div>@Model.booking.booking_date</div>


        </div>
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <th>Hotel Name</th>
                    <td>@Model.hotel_name</td>
                </tr>
                <tr>
                    <th>Check In</th>
                    <td>@Model.check_in</td>
                </tr>
                <tr>
                    <th>Check Out</th>
                    <td>@Model.check_in</td>
                </tr>
                <tr>
                    <th>Length of Stay</th>
                    <td>@Model.num_nights night@(Model.num_nights.Value > 1 ? "s" : "")</td>
                </tr>

                <tr>
                    <th>Net Rates</th>
                    <td>@Model.total_cost</td>
                </tr>
            </table>
        </div>

    </div>

    <div id="tablecontainer">
        <table class="table table-bordered table-condensed table-striped" style="width:100%">
            <thead>
                <tr>
                    <td>
                        <table style="border:none">
                            <tr>
                                <td style="text-align:center;border:none">
                                    <img src="@Url.Content("~/Images/logo/tci-120.png")" width="75" class="">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </thead>
            <tbody class="booking-item-payment">
                <tr style="background-color:#f7f7f7">
                    <td style="text-align:center; font-size:20px"><b>Confirmation Voucher</b></td>
                </tr>
                <tr>
                    <td><h5>Booing Number:  @Model.booking_id</h5></td>
                </tr>
                <tr>
                    <td><h5>Guest Details (@Model.num_guest Guests)</h5></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px dashed #f7f7f7">
                        <ul>
                            @foreach (var g in Model.booking.booking_guest)
                            {
                                <li>
                                    <p>
                                        @string.Concat(g.firstname, " ", g.lastname)
                                        @{
                                            var age = g.age.HasValue ? g.age : (g.date_of_birth.HasValue ? DateTime.Now.Year - g.date_of_birth.Value.Year : 18);
                                        }
                                        @string.Concat(age, " y.o")
                                    </p>

                                </li>
                                            }
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td><h5>Flight Details</h5></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px dashed #f7f7f7">
                        Arrival Flight
                        <table style="border:none">
                            <tr><td>Guest name</td><td>flight no</td><td>arrival time</td></tr>

                            @foreach (var g in Model.booking.booking_guest)
                            {
                                <tr><td>@string.Concat(g.firstname, " ", g.lastname)</td><td>@g.arrival_flight_no</td><td>@g.arrival_datetime</td></tr>
                            }
                        </table>
                        Departure Flight
                        <table style="border:none">
                            <tr><td>Guest name</td><td>flight no</td><td>arrival time</td></tr>
                            @foreach (var g in Model.booking.booking_guest)
                            {
                                <tr><td>@string.Concat(g.firstname, " ", g.lastname)</td><td>@g.departure_flight_no</td><td>@g.departure_datetime</td></tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><h5>Hotel Details</h5></td>
                </tr>
                <tr>
                    <td>
                        @Model.hotel_name <br />
                        @Html.Raw(Model.hotel_address)
                    </td>
                </tr>
                <tr>
                    <td class="booking-item-payment-price-title" style="border-bottom:1px dashed #f7f7f7">
                        <table style="border:none">
                            <tr><td>Check-in<br />@Model.check_in</td><td>Check-out<br />@Model.check_out</td><td>No of nights<br />@Model.num_nights</td></tr>
                        </table>
                        <br />
                        <br />
                        Rooms booked
                        <br />
                        @Model.room_types
                    </td>
                </tr>
                <tr>
                    <td><h5>Service Details</h5></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px dashed #f7f7f7">
                        @if (Model.package_name != "")
                        {
                            @Html.Raw(Model.package_description)
                        }
                        <br />
                        @Html.Raw(Model.services_details)
                    </td>
                </tr>
                @if (Model.booking.booking_promotion.Count > 0)
                {
                    <tr>
                        <td><h5>Offers</h5></td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var p in Model.booking.booking_promotion)
                            {
                                <span>@p.promotion_name</span>
                            }

                        </td>
                    </tr>
                }
                <tr>
                    <td><h5>Remarks</h5></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px solid rgba(0,0,0,0.15);">@Model.remarks</td>
                </tr>
                <tr class="notes">
                    <td>
                        NOTE
                        <ol>
                            <li>Standard Check in time @@ 15hrs (Guaranteed early check in will be at additional cost) </li>
                            <li>Standard Check out time @@ 11hrs (Guaranteed late check /out will be at additional cost)</li>
                            <li>
                                Our Local representatives will most pleased to assist your valued guests during their entire stay and please do not hesitate to contact them for any assistance you may require, on hereunder phone number:<br />
                                Mr. Jevin: +230 5 421 7264 - Mr. Kumar: +230 5 421 7265 - Mr. Vikram: +230 5 421 7266<br />
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr class="disclaimer">
                    <td>
                        DISCLAIMER
                        <ol>
                            <li>Cancellation policy will be effective for any cancellation received after confirmation.</li>
                            <li>Any offer applicable should clearly be mentioned on the voucher.</li>
                            <li>Guests booked under the Honeymoon offer should carry along wedding certificates / card not exceeding 3 mths.</li>
                            <li>
                                For all arrivals on SIC basis (sharing basis), guests are to be informed that our local representatives and arrival transfer,
                                coaches are on standby at the airport for a maximum of ONE HOUR as from the landing time of the flight. In the event that
                                guests miss out their transfer, guest will have to call our representative to arrange for a transfer at an additional cost
                                (payable directly).
                            </li>
                            <li>Guests on SIC basis are requested to respect pick up time for tours and transfers</li>
                            <li>No refund for unused/missed services/nights</li>
                            <li>Guests are requested NOT to carry along valuable objects while being on tours.</li>
                        </ol>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <table width="100%" style="border:none">
                            <tr>
                                <td>
                                    <div class="divFooter" style="text-align:center;font-size:10px">
                                        <b>Thomas Cook Mauritius Holidays Co Ltd.</b><br />
                                        Ground Floor, Anglo Mauritius House | 4th Intendance Street | Port-Louis | Mauritius<br />
                                        <b>Tel +230 213 4141 | Fax +230 210 2983 | Business Registration No. C09051354 | VAT Reg No: 20285856</b><br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tfoot>
        </table>



    </div>
</body>

</html>
