﻿@model Booking_System.Models.bookingVoucher

@{
    Booking_System.Models.ABSDBEntities db = new Booking_System.Models.ABSDBEntities();
    Layout = null;
    ViewBag.Title = "GenerateVoucher";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/ionicons.css" rel="stylesheet" />
<link href="~/Content/front/icomoon.css" rel="stylesheet" />
<link href="~/Content/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/skins/skin-yellow.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />

<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
        height: 297mm;
        margin-bottom: 2cm;
    }

    @@media print {
        ul li, ol li {
            display: inline;
            page-break-inside: avoid;
            line-height: normal;
        }
    }

    h5 {
        margin: 0;
    }

    .bg-purple {
        padding-bottom: 5px;
    }

    html, body {
        width: 210mm;
        height: 297mm;
        /*display: table;*/
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.2em !important;
    }

    #tablecontainer {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }

    table thead td {
        padding: 10px 15px;
    }

    table tr td {
        padding: 10px 15px;
    }

    h5 {
        font-weight: bold;
    }

    .vNoBorder {
        border: none;
    }

    .v150 {
        width: 150%;
    }

    .v33 {
        width: 33%;
        float: left;
    }

    .v66 {
        width: 66%;
        float: left;
    }

    .v75 {
        width: 75%;
        float: left;
    }

    .v25 {
        width: 25%;
        float: left;
    }

    .v20 {
        width: 20%;
        float: left;
    }
</style>
<html>
<body>
    <div class="v150">
        <div class="v66">

            <div class="text-purple text-bold" style="font-size:3em">Confirmation Voucher</div>
        </div>
        <div class="v33">
            <div class="text-right">
                <img src="@Url.Content("~/Images/logo/tci-120.png")" width="100" />
                <br />
                <br />
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="clearfix"></div>
    <div class="v150">

        <div class="v66">
            <div class="text-bold">Booking Number:</div>
            <div class="text-purple text-bold" style="font-size:3em">@Model.booking_id</div>
        </div>
        <div class="v33 text-right">
            <div class="text-bold">Booking Date</div>
            <div>@Model.booking.booking_date.Value.ToString("dd MMM yyyy")</div>
            <div class="text-bold">Booking Agent Name:</div>
            <div>@Model.booking.agent_name</div>
            <br />
        </div>

    </div>

    <div class="clearfix"></div>
    <div class="v150">
        <div class="v75">
            <table style="font-size:1.1em">
                <tr>
                    <th style="width:20%">Hotel Name</th>
                    <td>@Model.hotel_name</td>
                </tr>

                <tr>
                    <th style="width:20%">No of pax</th>
                    <td>@Model.num_guest (@Model.occupation_summary)</td>
                </tr>
                <tr>
                    <th>Check In</th>
                    <td>@Model.booking.checkin_date.Value.ToString("dd MMM yyyy")</td>
                </tr>
                <tr>
                    <th>Check Out</th>
                    <td>@Model.booking.checkout_date.Value.ToString("dd MMM yyyy")</td>
                </tr>
                <tr>
                    <th>Length of Stay</th>
                    <td>@Model.num_nights night@(Model.num_nights.Value > 1 ? "s" : "")</td>
                </tr>

            </table>
        </div>
        <div class="v25">

            <table style="font-size:1.1em;float:right">
                <tr>
                    <td>
                        <div class="text-bold">Hotel Contact Details</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>@Model.hotel_name</div>
                        <div>@Html.Raw(Model.hotel_address)</div>
                    </td>
                </tr>
            </table>



        </div>

    </div>
    <div class="clearfix"></div>
    <div class="v150">
        <br />
        <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-hotel"></span> Room Details</div>
        <br />



        <div class="">
            @foreach (var room in Model.booking.booking_room)
            {
                <div class="bg-gray-light text-bold" style="padding:10px;font-size:1.2em">@room.room_name - @room.booking_guest.Count guest@(room.booking_guest.Count > 1 ? "s" : "") </div>

                <table class="table" style="border:none;font-size:1em">
                    <tr>
                        <th style="width:10%">Title</th>
                        <th style="width:15%">firstname</th>
                        <th style="width:15%">lastname</th>
                        <th colspan="3">country of passport</th>
                    </tr>
                    @foreach (var guest in room.booking_guest)
                    {
                        <tr>
                            <td class="vNoBorder">@guest.salutation</td>
                            <td class="vNoBorder">@guest.firstname</td>
                            <td class="vNoBorder">@guest.lastname</td>
                            <td colspan="3" class="vNoBorder">@guest.nationality</td>
                        </tr>
                    }
                </table>

            }
            <br />
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="v150">
        <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-plane"></span> Flight Details</div>
        <br />
        <table class="table" style="border:none;font-size:1em">
            <tr style="background:#F7f7f7">
                <th></th>
                <th colspan="3"><span class="fa fa-plane fa-rotate-90"></span>&nbsp;Arrival</th>
                <th></th>
                <th colspan="3"><span class="fa fa-plane"></span>&nbsp;Departure</th>
            </tr>
            <tr>
                <th style="width:20%">Passenger</th>
                <th style="width:10%">Flight No.</th>
                <th style="width:10%">Date</th>
                <th style="width:10%">Time</th>
                <th style="width:10%"></th>

                <th style="width:10%">Flight No.</th>
                <th style="width:10%">Date</th>
                <th style="width:10%">Time</th>
            </tr>

            @foreach (var pas in Model.booking.booking_guest)
            {
                <tr>
                    <td>@pas.firstname @pas.lastname</td>
                    <td>@pas.arrival_flight_no </td>
                    <td>@(pas.arrival_datetime.HasValue ? pas.arrival_datetime.Value.ToString("dd MMM yyyy") : "")</td>
                    <td>@(pas.arrival_datetime.HasValue ? pas.arrival_datetime.Value.ToString("HH:mm") : "")</td>
                    <td></td>
                    <td>@pas.departure_flight_no</td>
                    <td>@(pas.departure_datetime.HasValue ? pas.departure_datetime.Value.ToString("dd MMM yyyy") : "")</td>
                    <td>@(pas.departure_datetime.HasValue ? pas.departure_datetime.Value.ToString("HH:mm") : "")</td>
                </tr>
            }
        </table>

    </div>

    <div class="clearfix"></div>

    @if (Model.booking.booking_supplement.Count > 0)
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-shopping-bag"></span> Supplements</div>

            <ul style="font-size:1em">
                @foreach (var su in Model.booking.booking_supplement)
                {
                    <li>@su.supplement_name</li>
                }
            </ul>
            <br />
            <br />
        </div>
    }



    @if (Model.booking.booking_transfer.Count > 0)
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="im im-bus"></span> Airport Transfer</div>
            <ul style="font-size:1em">
                @foreach (var t in Model.booking.booking_transfer)
                {
                    <li>@t.transfer_name</li>
                }
            </ul>
            <br /><br />
        </div>
    }

    @if (Model.booking.booking_activity.Count > 0)
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-camera"></span> Activities</div>
            <ul style="font-size:1em">
                @foreach (var t in Model.booking.booking_activity)
                {
                    <li>@t.activity_name  </li>
                }
            </ul>
            <br />
            <br />
        </div>
    }


    @if (Model.booking.booking_rental.Count > 0)
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-car"></span> Car Rental</div>
            <ul style="font-size:1em">
                @foreach (var t in Model.booking.booking_rental)
                {
                    <li>@t.vehicle.vehicle_model X @t.num_days days = @Model.booking.symbol @(t.total_price * t.num_days) (@(t.has_driver ? "with driver" : "no driver")) </li>
                }
            </ul>
            <br />
            <br />
        </div>
    }


    @if (Model.booking.TotalCompulsoryAmount > 0)
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-warning"></span> Compulsory Charge</div>
            <ul style="font-size:1em">

                <li>@Model.booking.charge_name </li>

            </ul>
            <br />
            <br />
        </div>
    }



    @if (!string.IsNullOrWhiteSpace(Model.package_name))
    {
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-gift"></span> Package Inclusion</div>
            <br />
            <p style="font-size:1em !important">
                @Html.Raw(Model.package_description)
            </p>
            <br />
            <br />
        </div>


    }
    


    @if (Model.booking.booking_promotion.Count > 0)
    {
        
       
        
        <div class="v150">
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-gift"></span> Offers details</div>
            
            @foreach (var room in Model.booking.booking_room)
            {
                <strong>Room @room.room_number - @room.room_name </strong>
                if (Model.booking.booking_promotion.Where(x => x.booking_room_id == room.booking_room_id).Count() > 0)
                {
                    <ul style="font-size:1em">
                        @foreach (var p in Model.booking.booking_promotion.Where(x => x.booking_room_id == room.booking_room_id))
                        {
                            var pr = db.promotions.Where(x => x.promotion_id == p.promotion_id).FirstOrDefault();
                            //var prCat = db.configurations.Where(x => x.configuration_id == pr.promotion_group_id).FirstOrDefault();

                            <li>
                                @p.promotion_name - @Html.Raw(p.promotion_description)<br />
                                @if (pr.is_honeymoon)
                                {
                                    <span>@Html.Raw(pr.description)</span>
                                }
                            </li>
                            if(!string.IsNullOrEmpty(pr.cancellation_policy))
                            {
                                <li>
                                    <em>Cancellation Policy</em>: @pr.cancellation_policy
                                </li>
                            }

                        }
                    </ul>
                }
                
            }
            @*<ul style="font-size:1em">
                
                
                @foreach (var p in Model.booking.booking_promotion)
                {

                    
                    var pr = db.promotions.Where(x => x.promotion_id == p.promotion_id).FirstOrDefault();
                    //var prCat = db.configurations.Where(x => x.configuration_id == pr.promotion_group_id).FirstOrDefault();
                    
                    <li>
                        @p.promotion_name<br />
                        @if (pr.is_honeymoon)
                        {
                            <span>@Html.Raw(pr.description)</span>
                        }
                    </li>
                }
            </ul>*@
            <br />
            <br />
        </div>
    }



    @*<div class="clearfix"></div>

    <div class="v150">
        @if (!string.IsNullOrEmpty(Model.promotions))
        {
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-comment"></span> Offers</div>
        }
        @{ 

            string[] offers = Model.promotions.Split('~');
            foreach(var offer in offers)
            {
                string[] offerdetail = offer.Split('`');
                if(offerdetail.Count()==2)
                {
                    <b>@offerdetail[0]</b><br />
                    @Html.Raw(offerdetail[1])
                }
            }

        }

    </div>*@
    <div class="clearfix"></div>


    <div class="v150">
        @if (!string.IsNullOrWhiteSpace(Model.remarks))
        {
            <div class="bg-purple" style="padding:10px;font-size:1.2em"><span class="fa fa-comment"></span> Remarks</div>
        }
        &nbsp;@Model.remarks
        <br />
        <br />
    </div>

    <div class="clearfix"></div>
   

        <div class="v150">
            <hr />
            NOTE
            <ol>
                <li>Standard Check in time @@ 15hrs (Guaranteed early check in will be at additional cost) </li>
                <li>Standard Check out time @@ 11hrs (Guaranteed late check /out will be at additional cost)</li>
                <li>
                    Our Local representatives will most pleased to assist your valued guests during their entire stay and please do not hesitate to contact them for any assistance you may require, on hereunder phone number:<br />
                    Mr. Jevin: +230 5421 7264 / +230 5962 9464 - Mr. Kumar: +230 5421 7265 / +230 5962 9465 - Mr. Vikram: +230 5421 7266 / +230 5962 9468<br />
                </li>
            </ol>

            DISCLAIMER
            <ol>
                <li>Cancellation policy will be effective for any cancellation received after confirmation.</li>
                <li>Any offer applicable should clearly be mentioned on the voucher.</li>
                <li>Guests booked under the Honeymoon offer should carry along wedding certificates / card not exceeding 3 mths.</li>
                <li>
                    For all arrivals on SIC basis (sharing basis), guests are to be informed that our local representatives and arrival transfer,
                    coaches are on standby at the airport for a maximum of ONE HOUR as from the landing time of the flight. In the event that
                    guests miss out their transfer, guest will have to call our representative to arrange for a transfer at an additional cost
                    (payable directly).
                </li>
                <li>Guests on SIC basis are requested to respect pick up time for tours and transfers</li>
                <li>No refund for unused/missed services/nights</li>
                <li>Guests are requested NOT to carry along valuable objects while being on tours.</li>
            </ol>
        </div>
        <div class="clearfix"></div>
        @if (!String.IsNullOrEmpty(Model.cancellation_policy))
        {
            <div class="v150">
                <br />CANCELLATION POLICY
                <p>
                    @Html.Raw(Model.cancellation_policy)
                </p>
            </div>

        }
        <div class="clearfix"></div>

        <div class="v150">
            <br />
            <br />
            <hr />
            <div class="divFooter text-center" style="font-size:16px">
                <b>Thomas Cook Mauritius Holidays Co Ltd.</b><br />
                Ground Floor, Anglo Mauritius House | 4th Intendance Street | Port-Louis | Mauritius<br />
                <b>Tel +230 213 4141 | Fax +230 210 2983 | Business Registration No. C09051354 | VAT Reg No: 20285856</b><br />
            </div>

        </div>
</body>

</html>
