﻿@model Booking_System.Models.bookingProforma

@{
    Layout = null;
    ViewBag.Title = "GenerateProforma";
}
@Styles.Render("~/Content/css")
<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
    }

    .v150 { width:150%; }

    #pagenum:after {
    counter-increment: page;
    content: counter(page);
}

    html, body {
        width: 210mm;
        height: 297mm;
        display: table;
    }

    table {
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
           border-collapse: collapse;
			border-spacing: 0;
    }

    #tablecontainer {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }

    table td, table th {
        border-style: solid;
        padding: 10px;
        	  border-color:#000;
    }

    table tr th {
        background-color: #ffff00;
    }

    /*table thead tr, table tfoot tr, table thead td, table tfoot td {
        border-style: none !important;
        border-color: #fff;
    }*/

    .highlight {
        color: #ff3300;
          border-color:#000;
    }
</style>
<!DOCTYPE html>

<html>
<body class="v150">
    <div id="tablecontainer">
        <table>
            <tr>
                <td colspan="4" text-align="center" align="center" style="border-style:none">
                    <img src="@Url.Content("~/Images/logo/tci-120.png")" class="">
                </td>
            </tr>  
            <tr>
                <td colspan="2" rowspan="4">
                    Thomas Cook (Mauritius) Holidays Ltd <br />
                    Ground Floor Anglo Mauritius House <br />
                    4 Intendence St Port-Louis <br />
                    Mauritius <br />
                    VAT20285856 <br />
                    Fax: 213 4142 <br />
                    Tel: 213 4141 <br />
                    BRN: C09051354
                </td>
                <td colspan="2" style="font-weight:bold">
                    PRO FORMA INVOICE
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    Issue Date:	@Model.issue_date.Value.ToString("dd MMM yyyy")
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    Page:	<span id="pagenum"></span>
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    Invoice No: 	@Model.booking_proforma_id
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    Agent Details
                </th>
                <th colspan="2">
                    Passenger Details
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.Raw(Model.agent_details.Replace("|", "<br/>"))
                </td>
                <td colspan="2">
                   @Html.Raw(Model.booking_details.Replace("|", "<br/>"))
                </td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="2">Your Reference</tdcolspan>
                <td>Due Date </td>
                <td>Sales Person</td>
            </tr>
            <tr>
                <td colspan="2">@Model.remarks</td>
                <td>@(Model.due_date.HasValue ? Model.due_date.Value.ToString("dd MMM yyyy") : "")</td>
                <td>
                    @Model.issued_by<br />
                    Thomas Cook (Mauritius) Holidays Ltd
                </td>
            </tr>
            <tr style="font-weight:bold">
                <td colspan="2">Sales Category</td>
                <td >Description</td>
                <td>Nett Price</td>
            </tr>
            @{
                int categcnt = 0;
                foreach (var categ in Model.sales_category.Split(new string[] { "~~" }, StringSplitOptions.None))
                {

                    double price = 0;
                    switch (categ)
                    {
                        case "Accomodation":
                            price = Model.nett_price_accomodation.Value;
                            break;
                        case "Accomodation and Ground handling":
                            price = Model.nett_price_accomodation.Value;
                            break;
                        case "Supplements":
                            price = Model.nett_price_supplement.Value;
                            break;
                        case "Activities":
                            price = Model.nett_price_activity.Value;
                            break;
                        case "Transfer":
                            price = Model.nett_price_transfer.Value;
                            break;
                        case "Rental":
                            price = Model.nett_price_rental.Value;
                            break;
                         default:
                            price = 0;
                            break;
                    }


                    <tr>
                        <td colspan="2">@categ</td>
                        <td>@Html.Raw(Model.sales_description.Split(new string[] { "~~" }, StringSplitOptions.None)[categcnt].Replace("|", "<br/>"))</td>
                        <td>
                        @if (price > 0) { 
                            @Model.currency @price
                        }</td>
                    </tr>
                        ++categcnt;

                    }
                }
            <tr>
                <td colspan="2">Issued by</td>
                <td>Checked by</td>
                <td>Approved by</td>
            </tr>
            <tr>
                <td colspan="2">@Model.issued_by</td>
                <td>@Model.checked_by</td>
                <td>@Model.approved_by</td>
            </tr>
            <tr>
                <td colspan="2" rowspan="5">
                    Cheques should be made payable to Thomas Cook (Mauritius) Holidays Ltd <br />
                    Payment of this account should be made by due date 02 JUNE 2015<br />
                    Bank:                                  State Bank Of Mauritius<br />
                    Branch:                              Port Louis Head Office<br />
                    IBAN:                                  MU83STCB1170026000021713000USD<br />
                    Account Number:         61026000021713 <br />
                    Beneficiary Name:       Thomas Cook (Mauritius) Holidays Ltd<br />
                    Swift Code:                      STCBMUMU
                </td>
                <td>
                    Sub Total
                </td>
                <td>
                    @if (Model.booking.cancellation_fee > 0)
                    {
                        <span>0</span>
                    }
                    else
                    {
                        @Model.currency @(Model.nett_price - Model.booking.TotalCompulsoryAmount)
                    }
                   
                </td>
            </tr>
            <tr>
                <td>HANDLING FEES</td>
                <td>@Model.currency @Model.handling_fees</td>
            </tr>
                <tr>
                    <td>Compulsory Charge</td>
                    <td>@Model.currency @Model.booking.TotalCompulsoryAmount</td>
                </tr>
            <tr>
                <td>Cancellation Fee</td>
                <th>@Model.currency  @((decimal)Model.booking.Cancellation_fee)</th>
            </tr>
            <tr>
                <td>Total</td>
                <th>
                @if (Model.booking.Cancellation_fee > 0)
                {
                   @Model.currency  @((decimal)Model.handling_fees + (decimal)Model.booking.Cancellation_fee)
                }
                else
                {
                   @Model.currency  @((decimal)Model.handling_fees + (decimal)Model.nett_price)
                }
                
                </th>
            </tr>
            <tr>
                <td colspan="3">International Bank Charges:</td>
                <th>@Model.currency  @((decimal)Model.bankcharges)</th>
            </tr>
            <tr>
                <td colspan="3">Final Remittance to Thomas Cook Mauritius ltd Including International Bank charges:</td>
                <th>
                    @if (Model.booking.cancellation_fee > 0)
                    {
                        @Model.currency  @((decimal)Model.handling_fees + (decimal)Model.bankcharges + (decimal)Model.booking.cancellation_fee)
                    }
                    else
                    {
                       @Model.currency  @((decimal)Model.handling_fees + (decimal)Model.bankcharges + (decimal)Model.nett_price)
                    }
                </th>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <th colspan="4" style="text-align:left;font-weight:bold">IMPORTANT NOTE:</th>
            </tr>
            <tr>
                <td colspan="4" style="text-align:left">
                    Remarks: Interest of 1% over current Bank rate will be charged after due date<br />
                    A Surcharge of 10% will be added in case of recovery through an attorney.<br />
                </td>
            </tr>
            <tr>
                <th colspan="4" style="text-align:left">
                    International Bank charges is to be borne by PAYER
                </th>
            </tr>
            <tr>
                <th colspan="4" style="text-align:left">
                    Beneficiary should be paid free from your bank charges.
                </th>
            </tr>
        </table>
    </div>
</body>
</html>
