﻿@model Booking_System.Models.bookingVoucher

@{
    Layout = null;
    ViewBag.Title = "GenerateVoucher";
}

<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/font-awesome.css" rel="stylesheet" />
<link href="/Content/ionicons.css" rel="stylesheet" />
<link href="/Content/front/icomoon.css" rel="stylesheet" />
<link href="/Content/AdminLTE.css" rel="stylesheet" />
<link href="/Content/skins/skin-yellow.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />

<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
    }

    h5 {
        margin: 0;
    }

    html, body {
        width: 210mm;
        height: 297mm;
        display: table;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
    }

    #tablecontainer {
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }


    table thead td {
        padding: 10px 15px;
    }

    table tr td {
        padding: 10px 15px;
    }

    h5 {
        font-weight: bold;
    }

    .vNoBorder {
        border: none;
    }

    .v150 {
        width: 150%;
    }

    .v33 {
        width: 33%;
        float: left;
    }

    .v66 {
        width: 66%;
        float: left;
    }

    .v25 {
        width: 25%;
        float: left;
    }

    .v20 {
        width: 20%;
        float: left;
    }
</style>
<html>
<body>
    <div class="v150">
        <div class="text-center">
            <img src="@Url.Content("~/Images/logo/tci-120.png")" width="100" />
            <br />
        </div>
        <div class="text-center text-purple text-bold" style="font-size:3em">Confirmation Voucher</div>
        <br />
        <br />

        <div class="v33">
            <div class="text-bold">Booking Number:</div>
            <div class="text-purple text-bold" style="font-size:3em">@Model.booking_id</div>
            <br />
            <div class="text-bold">Status</div>
            <div>Complete</div>


            <br />

            <div class="text-bold">Booking Date</div>
            <div>@Model.booking.booking_date</div>

            <br />

            <div class="text-bold">Hotel Details</div>
            <div>@Model.hotel_name</div>
            <div>@Html.Raw(Model.hotel_address)</div>


        </div>
        <div class="v66">
            <table class="table" style="font-size:1.1em">
                <tr>
                    <th style="width:20%">Hotel Name</th>
                    <td>@Model.hotel_name</td>
                </tr>
                <tr>
                    <th>Check In</th>
                    <td>@Model.booking.checkin_date.Value.ToString("dd MMM yyyy")</td>
                </tr>
                <tr>
                    <th>Check Out</th>
                    <td>@Model.check_in</td>
                </tr>
                <tr>
                    <th>Length of Stay</th>
                    <td>@Model.num_nights night@(Model.num_nights.Value > 1 ? "s" : "")</td>
                </tr>

                <tr>
                    <th>Net Rates</th>
                    <td>@Model.booking.TotalCostWithCurrency</td>
                </tr>

                <tr><td colspan="2" class="vNoBorder">&nbsp;</td></tr>
                <tr><td colspan="2" class="vNoBorder">&nbsp;</td></tr>
                <tr><td colspan="2" class="vNoBorder"></td></tr>
                <tr>
                    <td style="background:#F7F7F7;" colspan="2">Contact Details</td>
                </tr>
                <tr>
                    <th>Booking Name</th>
                    <td>@Model.booking.booking_name</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>@Model.booking.phone_number</td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>@Model.booking.email</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
    <div class="v150">
        <div class="bg-purple" style="padding:10px;font-size:1em"><span class="fa fa-hotel"></span> Room Details</div>
        <br />



        <div class="v66">
            @foreach (var room in Model.booking.booking_room)
            {
                <div class="bg-gray-light text-bold" style="padding:10px;font-size:1em">@room.room_name - @room.booking_guest.Count guest@(room.booking_guest.Count > 1 ? "s" : "") </div>

                    <table class="table" style="border:none">
                        <tr>
                            <th style="width:10%">Title</th>
                            <th style="width:15%">firstname</th>
                            <th style="width:15%">lastname</th>
                            <th colspan="3">country of passport</th>
                        </tr>
                        @foreach (var guest in room.booking_guest)
                        {
                            <tr>
                                <td class="vNoBorder">@guest.salutation</td>
                                <td class="vNoBorder">@guest.firstname</td>
                                <td class="vNoBorder">@guest.lastname</td>
                                <td colspan="3" class="vNoBorder">@guest.nationality</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" class="vNoBorder">&nbsp;</td>
                        </tr>

                    </table>

            }
        </div>
        <div class="v25" style="margin-left:5%">

            @if (Model.booking.booking_supplement.Count > 0)
            {

                <div style="font-size:1.2em"><span class="fa fa-shopping-bag"></span> Supplements</div>
                        <ul>
                            @foreach (var su in Model.booking.booking_supplement)
                            {
                                <li>@su.supplement_name</li>
                            }
                        </ul>

            }


        </div>

    </div>
    <div class="clearfix"></div>
    <div class="v150">
        @if (Model.booking.booking_activity.Count + Model.booking.booking_rental.Count + Model.booking.booking_transfer.Count > 0)
        {
            <div class="bg-purple" style="padding:10px;font-size:1em"><span class="fa fa-shopping-cart"></span> Services</div>
            <br />
        }
        @if (Model.booking.booking_transfer.Count > 0)
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="im im-bus"></span> Airport Transfer</div>
                <ul>
                    @foreach (var t in Model.booking.booking_transfer)
                    {
                        <li>@t.transfer_name</li>
                    }
                </ul>
            </div>
        }

        @if (Model.booking.booking_activity.Count > 0)
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="fa fa-camera"></span> Activities</div>
                <ul>
                    @foreach (var t in Model.booking.booking_activity)
                    {
                        <li>@t.activity_name </li>
                    }
                </ul>
            </div>
        }


        @if (Model.booking.booking_rental.Count > 0)
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="fa fa-car"></span> Car Rental</div>
                <ul>
                    @foreach (var t in Model.booking.booking_rental)
                    {
                        <li>@t.vehicle.vehicle_model </li>
                    }
                </ul>
            </div>
        }


        @if (Model.booking.TotalCompulsoryAmount > 0)
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="fa fa-warning"></span> Compulsory Charge: @Model.booking.symbol @Model.booking.TotalCompulsoryAmount</div>
            </div>
            <br />
        }



        @if (!string.IsNullOrWhiteSpace(Model.package_name))
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="fa fa-gift"></span> Package details</div>
                @Html.Raw(Model.package_description)
            </div>


        }

        @if (Model.booking.booking_promotion.Count > 0)
        {
            <div class="v25">
                <div style="font-size:1.2em"><span class="fa fa-gift"></span> Offers details</div>
                @foreach (var p in Model.booking.booking_promotion)
                {
                    <span>@p.promotion_name</span>
                }
            </div>
        }


    </div>
    <div class="clearfix"></div>

    <div class="v150">
        <div class="bg-purple" style="padding:10px;font-size:1em"><span class="fa fa-plane"></span> Flight Details</div>
        <br />
        <table class="table" style="border:none">
            <tr style="background:#F7f7f7">
                <th></th>
                <th colspan="3"><span class="fa fa-plane fa-rotate-90"></span>&nbsp;Arrival</th>
                <th></th>
                <th colspan="3"><span class="fa fa-plane"></span>&nbsp;Departure</th>
            </tr>
            <tr>
                <th style="width:20%">Passenger</th>
                <th style="width:10%">Flight No.</th>
                <th style="width:10%">Date</th>
                <th style="width:10%">Time</th>
                <th style="width:10%"></th>

                <th style="width:10%">Flight No.</th>
                <th style="width:10%">Date</th>
                <th style="width:10%">Time</th>
            </tr>

            @foreach (var pas in Model.booking.booking_guest)
            {
                <tr>
                    <td>@pas.firstname @pas.lastname</td>
                    <td>@pas.arrival_flight_no </td>
                    <td>@(pas.arrival_datetime.HasValue ? pas.arrival_datetime.Value.ToString("dd MMM yyyy") : "")</td>
                    <td>@(pas.arrival_datetime.HasValue ? pas.arrival_datetime.Value.ToString("HH:mm") : "")</td>
                    <td></td>
                    <td>@pas.departure_flight_no</td>
                    <td>@(pas.departure_datetime.HasValue ? pas.departure_datetime.Value.ToString("dd MMM yyyy") : "")</td>
                    <td>@(pas.departure_datetime.HasValue ? pas.departure_datetime.Value.ToString("HH:mm") : "")</td>
                </tr>
            }
        </table>

    </div>


    <div class="clearfix"></div>

    <div class="v150">
        @if (!string.IsNullOrWhiteSpace(Model.remarks))
        {
            <div class="bg-purple" style="padding:10px;font-size:1em"><span class="fa fa-comment"></span> Remarks</div>
        }
        &nbsp;@Model.remarks
        <br />
        <br />
    </div>

    <div class="clearfix"></div>

    <div class="v150">
        <div class="bg-purple" style="padding:10px;font-size:1em"><span class="fa fa-exclamation-circle"></span> Conditions</div>
        NOTE
        <ol>
            <li>Standard Check in time @@ 15hrs (Guaranteed early check in will be at additional cost) </li>
            <li>Standard Check out time @@ 11hrs (Guaranteed late check /out will be at additional cost)</li>
            <li>
                Our Local representatives will most pleased to assist your valued guests during their entire stay and please do not hesitate to contact them for any assistance you may require, on hereunder phone number:<br />
                Mr. Jevin: +230 5 421 7264 - Mr. Kumar: +230 5 421 7265 - Mr. Vikram: +230 5 421 7266<br />
            </li>
        </ol>

        DISCLAIMER
        <ol>
            <li>Cancellation policy will be effective for any cancellation received after confirmation.</li>
            <li>Any offer applicable should clearly be mentioned on the voucher.</li>
            <li>Guests booked under the Honeymoon offer should carry along wedding certificates / card not exceeding 3 mths.</li>
            <li>
                For all arrivals on SIC basis (sharing basis), guests are to be informed that our local representatives and arrival transfer,
                coaches are on standby at the airport for a maximum of ONE HOUR as from the landing time of the flight. In the event that
                guests miss out their transfer, guest will have to call our representative to arrange for a transfer at an additional cost
                (payable directly).
            </li>
            <li>Guests on SIC basis are requested to respect pick up time for tours and transfers</li>
            <li>No refund for unused/missed services/nights</li>
            <li>Guests are requested NOT to carry along valuable objects while being on tours.</li>
        </ol>
    </div>


    <div class="clearfix"></div>
    <div class="v150">
        <br />
        <br />
        <hr />
        <div class="divFooter text-center" style="font-size:12px">
            <b>Thomas Cook Mauritius Holidays Co Ltd.</b><br />
            Ground Floor, Anglo Mauritius House | 4th Intendance Street | Port-Louis | Mauritius<br />
            <b>Tel +230 213 4141 | Fax +230 210 2983 | Business Registration No. C09051354 | VAT Reg No: 20285856</b><br />
        </div>

    </div>

    @*<h1>old</h1>
        <hr />

        <div id="tablecontainer">
            <table class="" style="width:100%">
                <thead>
                    <tr>
                        <td>
                            <table style="border:none">
                                <tr>
                                    <td style="text-align:center;border:none">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </thead>
                <tbody class="booking-item-payment">
                    <tr style="background-color:#f7f7f7">
                        <td style="text-align:center; font-size:20px"><b>Confirmation Voucher</b></td>
                    </tr>
                    <tr>
                        <td><h5>Booing Number:  @Model.booking_id</h5></td>
                    </tr>
                    <tr>
                        <td><h5>Guest Details (@Model.num_guest Guests)</h5></td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px dashed #f7f7f7">
                            <ul>
                                @foreach (var g in Model.booking.booking_guest)
                                {
                                    <li>
                                        <p>
                                            @string.Concat(g.firstname, " ", g.lastname)
                                            @{
                                                var age = g.age.HasValue ? g.age : (g.date_of_birth.HasValue ? DateTime.Now.Year - g.date_of_birth.Value.Year : 18);
                                            }
                                            @string.Concat(age, " y.o")
                                        </p>

                                    </li>
                                                }
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td><h5>Flight Details</h5></td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px dashed #f7f7f7">
                            Arrival Flight
                            <table style="border:none">
                                <tr><td>Guest name</td><td>flight no</td><td>arrival time</td></tr>

                                @foreach (var g in Model.booking.booking_guest)
                                {
                                    <tr><td>@string.Concat(g.firstname, " ", g.lastname)</td><td>@g.arrival_flight_no</td><td>@g.arrival_datetime</td></tr>
                                }
                            </table>
                            Departure Flight
                            <table style="border:none">
                                <tr><td>Guest name</td><td>flight no</td><td>arrival time</td></tr>
                                @foreach (var g in Model.booking.booking_guest)
                                {
                                    <tr><td>@string.Concat(g.firstname, " ", g.lastname)</td><td>@g.departure_flight_no</td><td>@g.departure_datetime</td></tr>
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Hotel Details</h5></td>
                    </tr>
                    <tr>
                        <td>
                            @Model.hotel_name <br />
                            @Html.Raw(Model.hotel_address)
                        </td>
                    </tr>
                    <tr>
                        <td class="booking-item-payment-price-title" style="border-bottom:1px dashed #f7f7f7">
                            <table style="border:none">
                                <tr><td>Check-in<br />@Model.check_in</td><td>Check-out<br />@Model.check_out</td><td>No of nights<br />@Model.num_nights</td></tr>
                            </table>
                            <br />
                            <br />
                            Rooms booked
                            <br />
                            @Model.room_types
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Service Details</h5></td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px dashed #f7f7f7">
                            @if (Model.package_name != "")
                            {
                                @Html.Raw(Model.package_description)
                            }
                            <br />
                            @Html.Raw(Model.services_details)
                        </td>
                    </tr>
                    @if (Model.booking.booking_promotion.Count > 0)
                    {
                        <tr>
                            <td><h5>Offers</h5></td>
                        </tr>
                        <tr>
                            <td>
                                @foreach (var p in Model.booking.booking_promotion)
                                {
                                    <span>@p.promotion_name</span>
                                }

                            </td>
                        </tr>
                    }
                    <tr>
                        <td><h5>Remarks</h5></td>
                    </tr>
                    <tr>
                        <td style="border-bottom:1px solid rgba(0,0,0,0.15);">@Model.remarks</td>
                    </tr>
                    <tr class="notes">
                        <td>
                            NOTE
                            <ol>
                                <li>Standard Check in time @@ 15hrs (Guaranteed early check in will be at additional cost) </li>
                                <li>Standard Check out time @@ 11hrs (Guaranteed late check /out will be at additional cost)</li>
                                <li>
                                    Our Local representatives will most pleased to assist your valued guests during their entire stay and please do not hesitate to contact them for any assistance you may require, on hereunder phone number:<br />
                                    Mr. Jevin: +230 5 421 7264 - Mr. Kumar: +230 5 421 7265 - Mr. Vikram: +230 5 421 7266<br />
                                </li>
                            </ol>
                        </td>
                    </tr>
                    <tr class="disclaimer">
                        <td>
                            DISCLAIMER
                            <ol>
                                <li>Cancellation policy will be effective for any cancellation received after confirmation.</li>
                                <li>Any offer applicable should clearly be mentioned on the voucher.</li>
                                <li>Guests booked under the Honeymoon offer should carry along wedding certificates / card not exceeding 3 mths.</li>
                                <li>
                                    For all arrivals on SIC basis (sharing basis), guests are to be informed that our local representatives and arrival transfer,
                                    coaches are on standby at the airport for a maximum of ONE HOUR as from the landing time of the flight. In the event that
                                    guests miss out their transfer, guest will have to call our representative to arrange for a transfer at an additional cost
                                    (payable directly).
                                </li>
                                <li>Guests on SIC basis are requested to respect pick up time for tours and transfers</li>
                                <li>No refund for unused/missed services/nights</li>
                                <li>Guests are requested NOT to carry along valuable objects while being on tours.</li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <table width="100%" style="border:none">
                                    <tr>
                                        <td>
                                            <div class="divFooter" style="text-align:center;font-size:10px">
                                                <b>Thomas Cook Mauritius Holidays Co Ltd.</b><br />
                                                Ground Floor, Anglo Mauritius House | 4th Intendance Street | Port-Louis | Mauritius<br />
                                                <b>Tel +230 213 4141 | Fax +230 210 2983 | Business Registration No. C09051354 | VAT Reg No: 20285856</b><br />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                        </td>
                    </tr>
                </tfoot>
            </table>



        </div>*@

</body>

</html>
