﻿@model Booking_System.Models.booking
@using enums = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "ReservationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.TreeView = "RE";

    var validationError = ViewBag.ValidationError;

    bool isCreditBased = false;
    if (Model.agent != null)
    {
        isCreditBased = Model.agent.is_credit_based;
    }

    var statusList = Booking_System.Helpers.SelectItems.GetBookingNextStatusByStatus(Model.status, isCreditBased, Model.is_timelimit);

    string backEndAdmin = "Undefined";
    if (Model != null && Model.user2 != null)
    {
        backEndAdmin = Model.user2.FullName;
    }

    var notes = ViewBag.Notes;

    var currencySymbol = string.Empty;
    if (Model.market != null && Model.market.currency != null)
    {
        currencySymbol = Model.market.currency.symbol;
    }

    bool hasVoucher = false;
    bool hasProforma = false;
    if (Model.booking_proforma != null)
    {
        hasProforma = Model.booking_proforma.Count > 0;
    }

    if (Model.booking_voucher != null)
    {
        hasVoucher = Model.booking_voucher.Count > 0;
    }


}
<h2>Reservation Details : @Model.booking_name</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewReservations","Reservation")">Reservations</a></li>
    <li class="active">@Model.booking_name</li>
</ol>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                @if (Model.booking_room != null && Model.booking_room.Count() > 0)
            {
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="ion ion-clipboard"></i>
                            <h3 class="box-title">Room Details</h3>
                            <div class="box-tools pull-right">

                            </div>


                        </div>

                        <div class="box-body">
                            @foreach (var room in Model.booking_room)
                            {
                            <div class="row">
                                @{
                                        var adults = string.Empty;

                                        string children = string.Empty;
                                        string teens = string.Empty;
                                        string infants = string.Empty;

                                }

                                @if (room.adults.HasValue && room.adults.Value > 0)
                                    {
                                        adults = String.Concat(room.adults, " adults ");
                                    }

                                @if (room.children.HasValue && room.children.Value > 0)
                                    {
                                        children = String.Concat(room.children, " children ");
                                    }

                                @if (room.teens.HasValue && room.teens.Value > 0)
                                    {
                                        teens = String.Concat(room.teens, " teens ");
                                    }

                                @if (room.infants.HasValue && room.infants.Value > 0)
                                    {
                                        infants = String.Concat(room.infants, " infants ");
                                    }


                                <div class="col-md-4">
                                    @(room != null && room.room_name != null ? room.room_name : "")  ( @string.Concat(adults, children, teens, infants).Trim() )
                                </div>

                                <div class="col-md-4">
                                    @foreach (var guest in room.booking_guest)
                                        {

                                            var age = guest.age.HasValue ? guest.age : (guest.date_of_birth.HasValue ? DateTime.Now.Year - guest.date_of_birth.Value.Year : 18);
                                            if (guest.guest_type > 3 && age < 18)
                                            {
                                                age = 18;
                                            }
                                            var _age = age == 18 ? "18+" : string.Concat(age, " y.o");

                                            if (age.HasValue && age.Value < 18)
                                            {
                                        <span class="fa fa-child"></span>
                                        <span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>
                                        

                                            }
                                            else
                                            {
                                                string cssGender = string.Empty;
                                                if (guest.gender.HasValue)
                                                {
                                                    if (guest.gender.Value == 1)
                                                    {
                                                        cssGender = "male";
                                                    }
                                                    if (guest.gender.Value == 2)
                                                    {
                                                        cssGender = "female";
                                                    }
                                                }

                                        <span class="fa fa-@cssGender"></span><span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>
                                            }
                                        @currencySymbol@((((guest.price_per_night.HasValue ? guest.price_per_night : 0) + (guest.markup_amt.HasValue ? guest.markup_amt : 0)) - (guest.promotional_discount_amt.HasValue ? guest.promotional_discount_amt : 0)) * (Model.num_nights - (Model.free_nights.HasValue ? Model.free_nights : 0)) + (guest.ground_handling_amt.HasValue ? guest.ground_handling_amt.Value : 0))
                                        <br />
                                        }


                                </div>

                            </div>
                                        }



                            <table class="table ">

                                @foreach (var room in Model.booking_room)
                                {
                                    string adults = string.Empty;
                                    if (room.adults.HasValue && room.adults.Value > 0)
                                    {
                                        adults = String.Concat(room.adults, " adults ");
                                    }

                                    string children = string.Empty;
                                    if (room.children.HasValue && room.children.Value > 0)
                                    {
                                        children = String.Concat(room.children, " children ");
                                    }

                                    string teens = string.Empty;
                                    if (room.teens.HasValue && room.teens.Value > 0)
                                    {
                                        teens = String.Concat(room.teens, " teens ");
                                    }

                                    string infants = string.Empty;
                                    if (room.infants.HasValue && room.infants.Value > 0)
                                    {
                                        infants = String.Concat(room.infants, " infants ");
                                    }


                                <tr>

                                    <th colspan="3">
                                        <span class="fa fa-bed"></span>&nbsp;@(room != null && room.room_name != null ? room.room_name : "")
                                        <span class="small">( @string.Concat(adults, children, teens, infants).Trim() )</span>
                                    </th>
                                </tr>
                                    foreach (var guest in room.booking_guest)
                                    {

                                        var age = guest.age.HasValue ? guest.age : (guest.date_of_birth.HasValue ? DateTime.Now.Year - guest.date_of_birth.Value.Year : 18);
                                        if (guest.guest_type > 3 && age < 18)
                                        {
                                            age = 18;
                                        }
                                        var _age = age == 18 ? "18+" : string.Concat(age, " y.o");

                                <tr>
                                    <td></td>
                                    <td>
                                        @if (age.HasValue && age.Value < 18)
                                                {
                                                <span class="fa fa-child"></span><span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>


                                        }
                                        else
                                        {
                                            string cssGender = string.Empty;
                                            if (guest.gender.HasValue)
                                            {
                                                if (guest.gender.Value == 1)
                                                {
                                                    cssGender = "male";
                                                }
                                                if (guest.gender.Value == 2)
                                                {
                                                    cssGender = "female";
                                                }
                                            }
                                                <span class="fa fa-@cssGender"></span><span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>
                                                }
                                    </td>
                                    <td class="pull-right">
                                        @currencySymbol@((((guest.price_per_night.HasValue ? guest.price_per_night : 0) + (guest.markup_amt.HasValue ? guest.markup_amt : 0)) - (guest.promotional_discount_amt.HasValue ? guest.promotional_discount_amt : 0)) * (Model.num_nights - (Model.free_nights.HasValue ? Model.free_nights : 0)) + (guest.ground_handling_amt.HasValue ? guest.ground_handling_amt.Value : 0))
                                    </td>
                                </tr>
                                    }



                                }

                                <tr>

                                    <th colspan="3">
                                        <div class="pull-right">
                                            <span class="fa fa-calculator"></span>&nbsp;Total
                                            <span class="small">( @string.Concat(currencySymbol, Model.TotalCostRooms))</span>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                        {
                            if (Model.StatusEnum != enums.BookingStatus.CANCELED  && Model.StatusEnum != enums.BookingStatus.EXPIRED && Model.StatusEnum != enums.BookingStatus.NEW)
                            {
                                <div class="box-footer">
                                    @Html.ActionLink("Edit Booking Information", "EditBookingDetails", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                                </div>
                            }
                        }
                    </div>
                                    }
            </div>

            <!-- supplements -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Supplements</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_room != null && Model.booking_room.Count() > 0)
                    {
                    <div class="box-body">
                        <table class="table ">
                            @foreach (var room in Model.booking_room)
                                {
                                    if (room.booking_supplement != null && room.booking_supplement.Count > 0)
                                    {
                                <tr>
                                    <th colspan="3"><span class="fa fa-plus"></span>&nbsp;Supplement on @room.room_name</th>
                                </tr>
                                        foreach (var supplement in room.booking_supplement)
                                        {
                                <tr>
                                    <th></th>
                                    <td>
                                        @supplement.supplement_name
                                    </td>
                                    <td class="pull-right">
                                        @string.Concat(currencySymbol, supplement.price)
                                    </td>
                                </tr>
                                        }
                                    }
                                }

                            <tr>

                                <th colspan="3">
                                    <div class="pull-right">
                                        <span class="fa fa-calculator"></span>&nbsp;Total
                                        <span class="small">( @string.Concat(currencySymbol, Model.TotalCostSupps))</span>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>

                    }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        if (Model.status == 1 || Model.status == 2 || Model.status == 4 || Model.status == 5 || Model.status == 6)
                        {
                    <div class="box-footer">
                        @Html.ActionLink("Edit Supplement", "EditSupplement", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>
                        }
                    }

                </div>
            </div>
            <!-- tranfers-->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-cab"></i>
                        <h3 class="box-title">Transfers</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_transfer != null && Model.booking_transfer.Count() > 0)
                    {


                    <div class="box-body">
                        <table class="table ">

                            @foreach (var transfer in Model.booking_transfer)
                {


                                <tr>
                                    <td>
                                        @transfer.transfer_name
                                    </td>
                                    <td class="pull-right">
                                        @string.Concat(currencySymbol, transfer.total_price)
                                    </td>
                                </tr>
                                }


                        </table>
                    </div>
                    }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        if (Model.status == 1 || Model.status == 2 || Model.status == 4 || Model.status == 5 || Model.status == 6)
                        {
                    <div class="box-footer">
                        @Html.ActionLink("Edit Transfer", "EditTransfer", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>
                        }
                    }

                </div>
            </div>

            <!-- activities -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa  fa-futbol-o"></i>
                        <h3 class="box-title">Activities</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_activity != null && Model.booking_activity.Count() > 0)
                    {
                        string prevActivityProviderName = string.Empty;

                    <div class="box-body">
                        <table class="table ">

                            @foreach (var activity in Model.booking_activity.OrderBy(e => e.provider_name))
                                {
                                    if (prevActivityProviderName != activity.provider_name)
                                    {
                                <tr>

                                    <th colspan="5">
                                        <span class="fa  fa-futbol-o "></span>&nbsp;@activity.provider_name
                                    </th>

                                </tr>
                                        prevActivityProviderName = activity.provider_name;
                                    }
                                <tr>
                                    <th></th>
                                    <td>@activity.activity_name</td>
                                    <td>
                                        @{ int numAdults = 0;}
                                        @if (activity.adults.HasValue && activity.adults.Value > 0)
                                            {
                                                numAdults = activity.adults.Value;
                                            }


                                        @numAdults adults

                                    </td>

                                    <td>
                                        @{ int numChildren = 0;}
                                        @if (activity.children.HasValue && activity.children.Value > 0)
                                            {
                                                numChildren = activity.children.Value;
                                            }
                                        @numChildren children

                                    </td>
                                    <td class="pull-right">
                                        @string.Concat(currencySymbol, activity.total_price)
                                    </td>
                                </tr>
                                                }

                            <tr>

                                <th colspan="5">
                                    <div class="pull-right">
                                        <span class="fa fa-calculator"></span>&nbsp;Total
                                        <span class="small">( @string.Concat(currencySymbol, Model.TotalCostActivityWithAfterSales))</span>
                                    </div>
                                </th>
                            </tr>
                        </table>

                    </div>
                                                }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        if (Model.status == 1 || Model.status == 2 || Model.status == 4 || Model.status == 5 || Model.status == 6)
                        {
                    <div class="box-footer">
                        @Html.ActionLink("Edit Activities", "EditActivities", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>
                        }
                    }

                </div>
            </div>

            <!-- car rentals -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-car"></i>
                        <h3 class="box-title">Car Rentals</h3>
                        <div class="box-tools pull-right">

                        </div>


                    </div>
                    @if (Model.booking_rental != null && Model.booking_rental.Count() > 0)
                    {


                    <div class="box-body">
                        <table class="table ">

                            @foreach (var rental in Model.booking_rental)
                                {

                                <tr>
                                    <td>@rental.vehicle.vehicle_model</td>
                                    <td>
                                        @rental.num_days days
                                    </td>
                                    <td class="pull-right">
                                        @string.Concat(currencySymbol, rental.total_price)
                                    </td>
                                </tr>
                                }

                            <tr>

                                <th colspan="3">
                                    <div class="pull-right">
                                        <span class="fa fa-calculator"></span>&nbsp;Total
                                        <span class="small">( @string.Concat(currencySymbol, Model.TotalCostRentalWithAfterSales))</span>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        if (Model.status == 1 || Model.status == 2 || Model.status == 4 || Model.status == 5 || Model.status == 6)
                        {
                    <div class="box-footer">
                        @Html.ActionLink("Edit Rental", "EditRental", new { id = Model.booking_id }, new { @class = "btn btn-default" })
                    </div>
                        }
                    }

                </div>
            </div>

            @* Remarks *@
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Remarks</h3>
                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <div class="box-body">
                        @Model.remarks
                    </div>
                </div>
            </div>

            <!-- documents -->


            @if (Model.status >= (int)enums.BookingStatus.AWAITING_CONFIRMATION)
            {
                if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.Sales, Booking_System.Models.UserRoles.SuperAdministrator }))
                {
                    <div class="col-md-12">
                        <div class="box box-warning box-solid">
                            <div class="box-header">
                                <i class="fa fa-newspaper-o"></i>
                                <h3 class="box-title">Documents</h3>
                                <div class="box-tools pull-right">

                                </div>
                            </div>

                            @if (Model.status.Value >= (int)enums.BookingStatus.AWAITING_CONFIRMATION)
                            {


                                <div class="box-body">
                                    
                                    @using (Html.BeginForm("GenerateDocument", "Reservation", FormMethod.Post))
                                    {
                                    <input type="hidden" name="id" value="@Model.booking_id" />
                                    <input type="hidden" name="doctype" value="P" />
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                <input type="text" name="proformaExpiryDate" placeholder="due date" class="form-control datepicker" />
                                            </div>
                                            <div class="col-md-3">
                                                <input type="number" name="proformaHandlingFee" placeholder="Handling fee" class="form-control" />
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" name="proformaIBFee" placeholder="International Banking charges" class="form-control" />
                                            </div>
                                                                                  
                                        </div>
                                    </div>
                                        <br/>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <input type="text" name="comments" class="form-control" placeholder="Comments (optional)" />
                                                </div>  
                                                <div class="col-md-3">
                                                    <input type="submit" class="btn btn-info" value="Generate Proforma">
                                                </div>
                                            </div>
                                        </div>
                                    





                                    }
                                </div>


                                <hr />
                                    

                                    }

                                    @if (Model.status.Value >= (int)enums.BookingStatus.CONFIRMED)
                                    {
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                       <span class="fa fa-info-circle"></span>&nbsp;The booking has been confirmed, Generate and Send a Voucher to the agent.
                                                    </div>
                                                    <div class="col-md-3">

                                                        <a class="btn btn-warning" href="@Url.Action("GenerateDocument", new { id=Model.booking_id, doctype="V" })">Generate Voucher</a>
                                                    </div>
                                                </div>
                                        </div>
                                    }
                                

                                    @if (hasProforma || hasVoucher)
                                    {
                                        <div class="box-footer">
                                            <div class="row">
                                                @if (hasProforma)
                                                {
                                                    <div class="col-md-6">
                                                        <a class="btn btn-default" href="@Url.Action("ViewProforma", new { id=Model.booking_id })" target="_blank">View Proforma</a>
                                                        @if (Model.ProformaExpiryDate.HasValue)
                                                        {
                                                            <small>Proforma Expiry date : @Model.ProformaExpiryDate.Value.ToShortDateString()</small>
                                                        }
                                                    </div>
                                                }
                                                @if (hasVoucher)
                                                {
                                                    <div class="col-md-6">
                                                        <a class="btn btn-default" href="@Url.Action("ViewVoucher", new { id=Model.booking_id })" target="_blank">View Voucher</a>

                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                    </div>
                }

            }
        </div>
</div>
    <div class="col-md-4">

        <!-- agent details-->

        <div class="row">

        <div class="col-md-12">
            @if (Model.is_timelimit)
            {
                <h5><span class="label label-danger">Time Limit Booking</span>
            @if(Model.timelimit_date.HasValue){<span>@Model.timelimit_date.Value.ToString("dd MMM yyyy")</span>}
            </h5>

            }
            else
            {
                <h5>
                    <span class="label label-success">CONFIRM</span></h5>
                    }
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h4 class="mb0">Agent Details</h4>
                        </header>
                        <ul class="booking-item-payment-details" style="background:#FFF">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">

                                        <ul class="booking-item-payment-price">
                                            <li>
                                                <p class="booking-item-payment-price-title">Name</p>
                                                <p class="booking-item-payment-price-amount">
                                                    @Model.agent.Salutation  @Model.agent.FullName
                                                </p>
                                            </li>
                                            <li>
                                                <p class="booking-item-payment-price-title">Company</p>
                                                <p class="booking-item-payment-price-amount">
                                                    @Model.agent.company
                                                </p>
                                            </li>
                                            @if (Model.agent.is_credit_based) { 
                                            <li>
                                                <p class="booking-item-payment-price-title">Credit Limit</p> @Model.agent.is_credit_based
                                                <p class="booking-item-payment-price-amount">
                                                    USD @(Model.agent.credit_limit.HasValue ? Model.agent.credit_limit.Value.ToString("N2") : "")
                                                </p>
                                            </li>
                                            <li>
                                                <p class="booking-item-payment-price-title">Available Limit</p>
                                                <p class="booking-item-payment-price-amount">
                                                    <strong>USD @(Model.agent.credit_remaining.HasValue ? Model.agent.credit_remaining.Value.ToString("N2") : "")</strong>
                                                </p>
                                            </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <p class="booking-item-payment-price-title">Credit Limit</p>
                                                    <p class="booking-item-payment-price-amount">
                                                       NON CREDIT AGENT
                                                    </p>
                                                </li>
                                            }

                                        </ul>
                                    </div>

                                </div>

                            </li>
                        </ul>

                    </div>
                    <br />
</div>

                
            

        
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">

                        @Html.Partial("~/Views/Reservation/_BookingSummaryBox.cshtml", Model)
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                @if (Model.StatusEnum ==enums.BookingStatus.PROCESSING )
                {
                    using (Html.BeginForm("AddDiscountToBooking", "Reservation", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.booking_id)
                        <div class="box box-primary">
                            <div class="box-header">
                                <i class="fa fa-dollar"></i>
                                @if (Model.user1 != null && Model.discount_amt.HasValue && Model.discount_amt.Value != 0)
                                {
                                    <h3 class="box-title">Discount <small>last updated by @Model.user1.FullName</small></h3>
                                }
                                else
                                {
                                    <h3 class="box-title">Discount</h3>
                                }
                                <div class="box-tools pull-right">

                                </div>
                            </div>
                            <div class="box-body">
                                <table class="table ">
                                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator }))
                                    {
                                        <tr>
                                            <td>Discount Amount</td>
                                            <td>
                                                @Html.EditorFor(model => model.discount_amt, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Discount Reason</td>
                                            <td>
                                                @Html.EditorFor(model => model.discount_reason, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>Discount Amount</td>
                                            <td>
                                                @Html.DisplayFor(model => model.discount_amt, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Discount Reason</td>
                                            <td>
                                                @Html.DisplayFor(model => model.discount_reason, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator }))
                    {
                                <div class="box-footer">
                                    <input type="submit" name="Save" class="btn btn-default" value="Save Discount" />
                                </div>
                            }
                        </div>
                    }
                }
            </div>
            @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
            {
                <div class="col-md-12">
                    @if (Model.status != 0)
                    {
                        using (Html.BeginForm("UpdateReservationStatus", "Reservation", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.booking_id)
                            <div class="box box-primary">
                                <div class="box-header">
                                    <i class="fa fa-book"></i>
                                    <h3 class="box-title">Booking Status <span class="text-red">(
                                        @if (Model.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.CONFIRMED)
                                        {
                                            <span>CONFIRMED REQUEST</span>
                                        }
                                        else if (Model.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.COMPLETED)
                                        {
                                            <span>CONFIRMED</span>
                                        }
                                        else
                                        {

                                        @Model.statusDesc
                                        }

                                        
                                        
                                        )</span>
                                    <br /> <small>last processed by @backEndAdmin</small></h3>
                                    <div class="box-tools pull-right">

                                    </div>
                                </div>

                                @if (Model.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.CONFIRMED)
                                {

                                    <div class="box-body">                                    
                                            @Html.DropDownListFor(model => model.status, statusList, htmlAttributes: new { @class = "form-control changestatus" ,@required ="required" })
                                    </div>

                                    @*if (Model.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.PROFORMA_GENERATED)
                                    {
                                        <div class="box-body">
                                            <a class="btn btn-default" href="@Url.Action("GenerateVoucher", new { id=Model.booking_id })" target="_blank">Generate Voucher</a>
                                            
                                        </div>
                                    }*@
                                    @*<div class="box-body">
                                        <input type="submit" name="Save" class="btn btn-default" value="Save" />
                                    </div>*@
                                }
                                else
                                {
                                        <div class="box-body">
                                            @Html.DropDownListFor(model => model.status, statusList, htmlAttributes: new { @class = "form-control changestatus" })
                                        </div>

                                        <section class="showtimelimit" style="display:none">
                                            @if ((Model.is_timelimit && Model.status.Value == (int)enums.BookingStatus.PROCESSING) || (Model.is_timelimit && Model.status.Value == (int)enums.BookingStatus.PROCESSING_NEW_TIMELIMIT))
                                            {
                                                <table class="table">
                                                    <tr>
                                                        <td>Time Limit</td>
                                                        <td>
                                                            <input type="text" name="timelimitdate" @(Model.is_timelimit?"required":"")  value="" class="form-control datepicker" />
                                                        </td>
                                                    </tr>
                                                </table>
                                                if (!string.IsNullOrWhiteSpace(validationError))
                                                {
                                                    <span class="red">@validationError</span>
                                                }
                                            }
                                        </section>                                                                                           
                                }
                                
                                <section class="showcancelfee" style="display:none">
                                    <table class="table">
                                        <tr>
                                            <td>Cancellation fee</td>
                                            <td>
                                                <input type="number" min="0" name="cancelfee" required value="" class="form-control" />
                                            </td>
                                        </tr>
                                    </table>
                                    @if (!string.IsNullOrWhiteSpace(validationError))
                                    {
                                        <span class="red">@validationError</span>
                                    }
                                </section>

                                <div class="box-footer">
                                    <input type="submit" name="Save" class="btn btn-default" value="Save" />

                                    @*<input type="reset" class="btn btn-default" value="Reset" />*@
                                </div>

                                    </div>
                                }
                    }
                </div>
            }

            @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator }))
            {
                if (!isCreditBased)
                {
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <div class="box-header">
                                <i class="fa fa-dollar"></i>
                                <h3 class="box-title">Booking Payments</h3>
                                <div class="box-tools pull-right">
                                </div>
                            </div>
                            @if (Model.booking_payment != null && Model.booking_payment.Count() > 0)
                            {
                                <div class="box-body">
                                    <table class="table">
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Note
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.booking_payment)
                                        {

                                            <tr>
                                                <td>
                                                    @item.payment_date.Value.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    @item.payment_details
                                                </td>
                                                <td align="right">
                                                    @String.Format("{0:n}", item.payment_amt)
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <th colspan="2">
                                                Total Booking Cost
                                            </th>
                                            <th align="right">
                                                @String.Format("{0:n}", Model.TotalCostWithAfterSalesWithoutDiscount)
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">
                                                Total Paid Amount
                                            </th>
                                            <th align="right">
                                                @String.Format("{0:n}", (Model.TotalPaidAmount * -1))
                                            </th>
                                        </tr>
                                        @if (Model != null && Model.discount_amt.HasValue && Model.discount_amt.Value > 0)
                                        {
                                            <tr>
                                                <th colspan="2">
                                                    Discount Amount
                                                </th>
                                                <th align="right">
                                                    @String.Format("{0:n}", (Model.discount_amt.Value * -1))
                                                </th>
                                            </tr>
                                        }

                                        <tr>
                                            <th colspan="2">
                                                Remaining Amount
                                            </th>
                                            <th align="right">
                                                @String.Format("{0:n}", Model.RemainingAmount)
                                            </th>
                                        </tr>
                                    </table>


                                </div>
                            }

                            @if (Model.status.HasValue && (Model.StatusEnum== enums.BookingStatus.AWAITING_PAYMENT))
                            {

                                <div class="box-footer">
                                    @using (Html.BeginForm("AddReservationPayment", "Reservation", FormMethod.Post))
                                    {
                                        @Html.HiddenFor(model => model.booking_id)
                                        <table class="table">
                                            <tr>
                                                <th colspan="2">
                                                    New Payment
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Payment Method
                                                </td>
                                                <td>
                                                    @{var paymentMethods = Booking_System.Helpers.SelectItems.GetBookingPaymentMethodsListItem(null);
                                                    }
                                                    @Html.DropDownList("paymentMethod", paymentMethods, htmlAttributes: new { @class = "form-control select2" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Payment Details
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="details" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Payment Date
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="paymentDate" value="@DateTime.Today.Date.ToShortDateString()" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Payment Amount
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="payment" value="" />
                                                </td>
                                            </tr>
                                        </table>
                                        <input type="submit" name="Save" class="btn btn-default" value="Add Payment" />
                                                        }

                                </div>
                                                        }



                        </div>
                    </div>
                                                            }
                                                        }
            @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
            {
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <i class="fa fa-book"></i>
                            <h3 class="box-title">Booking Discussions</h3>
                            <div class="box-tools pull-right">

                            </div>
                            <div class="box-body">
                                @if (notes != null)
                                {
                                    foreach (var item in notes)
                                    {
                                        <div>
                                            @{
                                                string usr = "undefined";
                                                if (item.user != null)
                                                {
                                                    usr = item.user.FullName;
                                                }
                                            }
                                            <small>@String.Concat(usr, " added @ ", item.create_date)</small>
                                        </div>
                                        <div>
                                            @Html.Raw(item.detail)
                                        </div>
                                                    }
                                                }
                            </div>
                        </div>
                        @using (Html.BeginForm("AddReservationNote", "Reservation", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.booking_id)
                            <input type="hidden" name="sender" value="admin" />

                            <div class="box-body">
                                <textarea name="note" class="form-control"></textarea>
                            </div>

                            <div class="box-footer">
                                <input type="submit" name="Save" class="btn btn-default" value="Add Note" />
                            </div>

                        }
                    </div>



                </div>
                                                }
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    @using (Html.BeginForm("GenerateProforma", "Reservation", FormMethod.Post, new { target = "_blank" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Generate ProForma</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.booking_id" />
                    <div class="row">
                        <div class="col-md-4">
                            Valid Until
                        </div>
                        <div class="col-md-4">
                            <input type="date" class="form-control datepicker" required name="expiryDate" value="" />
                        </div>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            Comments
                        </div>
                        <div class="col-md-7">
                            <textarea class="form-control" name="comments" value=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnRefreshScreen" class="btn btn-default" style="display:none;" href="#">Close</a>
                    <input type="submit" class="btn btn-default" id="btnSendProforma" name="SendProforma" value="Generate Proforma" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    }
</div>



@section scripts{
<script>
    $('#btnSendProforma').click(function () {
        $(this).hide();
        $('#btnRefreshScreen').show();
    });

    $('body').on('change', '.changestatus', function () {

        var status = $(this).val();
        if (status == 13)
        {
            $('.showcancelfee').show();
        }
        else if (status == 5)
        {
            $('.showtimelimit').show();
        }
        else
        {
            $('.showtimelimit').hide();
            $('.showcancelfee').hide();
        }
        

    });
    
    $('body').on('change', '.changestatusConf', function () {

        var status = $(this).val();

        if (status == 5) {
            $('.showtimelimit').show();
        } else {
            $('.showtimelimit').hide();
        }


    });



        $('#btnRefreshScreen').click(function () {
            location.reload();
        });
</script>
}