﻿@model Booking_System.Models.booking

@{
    ViewBag.Title = "ReservationDetails2";

    var totCostRooms = (Model.booking_room.Where(e => e.booking_guest != null).Sum(e => e.booking_guest.Sum(p => p.price_per_night + p.markup_amt))) * Model.num_nights;
    var totCostActivity = (Model.booking_activity.Where(e => !e.is_aftersales).Sum(p => p.total_price));
    double? totCostSupps = null;
    if (Model.booking_room != null)
    {
        totCostSupps = Model.booking_room.Where(e => e.booking_supplement != null).Sum(e => e.booking_supplement.Sum(f => f.price));
    }
    var totCostTransfer = (Model.booking_transfer.Where(e => !e.is_aftersales).Sum(p => p.total_price));
    var totCostRental = (Model.booking_rental.Where(e => !e.is_aftersales).Sum(p => p.total_price * p.num_days));

    var totCost = (totCostRooms.HasValue ? totCostRooms.Value : 0) +
        (totCostActivity.HasValue ? totCostActivity.Value : 0) +
        (totCostSupps.HasValue ? totCostSupps.Value : 0) +
        (totCostTransfer.HasValue ? totCostTransfer.Value : 0) +
        (totCostRental.HasValue ? totCostRental.Value : 0) -
    (Model.discount_amt.HasValue ? Model.discount_amt.Value : 0);

    var notes = ViewBag.Notes;



}

<h2>Reservation Details2</h2>


<h2>Reservation Details : @Model.booking_name</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ViewReservations","Reservation")">Reservations</a></li>
    <li class="active">@Model.booking_name</li>
</ol>

<div class="row">
    <div class="col-md-8">


<div class="box box-primary">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Room Details</h3>
        <div class="box-tools pull-right">

        </div>


    </div>


    <div class="row row-wrap">
        <div class="col-md-8">
            <h3>Booking Summary (@Model.booking_name)</h3>
            <ul class="list booking-item-passengers">
                <li>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <h5>Rooms</h5>

                            </div>
                        </div>
                    </div>
                    @foreach (var room in Model.booking_room)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>#@room.room_number @room.room.name </label>
                            </div>
                            <div class="col-md-5">
                                @foreach (var guest in room.booking_guest)
                                {


                                    <div class="row @(guest.Equals(room.booking_guest.Last())?"dashed-bottom":"")">
                                        <div class="col-md-9">
                                            <label>

                                                @{
                                    var age = guest.age.HasValue ? guest.age : (guest.date_of_birth.HasValue ? DateTime.Now.Year - guest.date_of_birth.Value.Year : 18);
                                    if (guest.guest_type > 3 && age < 18)
                                    {
                                        age = 18;
                                    }
                                    var _age = age == 18 ? "18+" : string.Concat(age, " y.o");

                                                }
                                                @if (age.HasValue && age.Value < 18)
                                                {
                                                    <span class="fa fa-child"></span>@_age
                                                }
                                                else
                                                {
                                                    string gender = string.Empty;
                                                    if (guest.gender.HasValue)
                                                    {
                                                        if (guest.gender.Value == 1)
                                                        {
                                                            gender = "male";
                                                        }
                                                        if (guest.gender.Value == 2)
                                                        {
                                                            gender = "female";
                                                        }
                                                    }
                                                    <span class="fa fa-@gender"></span><span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>
                                                }

                                            </label>
                                        </div>


                                        <div class="col-md-3 text-right">
                                            <label>
                                                @Model.market.currency.symbol@((guest.price_per_night + guest.markup_amt) * Model.num_nights)
                                            </label>
                                        </div>
                                    </div>


                                }


                            </div>

                            <div class="col-md-3 text-right">

                                @if (room.Equals(Model.booking_room.Last()))
                                {
                                    if (totCostRooms.HasValue)
                                    {
                                        <h4>@Model.market.currency.symbol@totCostRooms.Value.ToString("N2")</h4>

                                    }
                                }
                            </div>
                        </div>
                    }

                </li>
                @if (totCostSupps.HasValue && totCostSupps.Value > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Supplements</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var room in Model.booking_room)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label>#@room.room_number @room.room.name </label>

                                    </div>
                                </div>
                                <div class="col-md-5">

                                    @foreach (var supp in room.booking_supplement)
                                    {
                                        <div class="row @(supp.Equals(Model.booking_supplement.Last()) ? " dashed-bottom":"")">
                                            <div class="col-md-9">
                                                <label>
                                                    @supp.supplement.name
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(supp.price)
                                                </label>
                                            </div>
                                        </div>
                                    }


                                </div>

                                <div class="col-md-3 text-right">

                                    @if (room.Equals(Model.booking_room.Last()))
                                    {
                                        if (totCostSupps.HasValue)
                                        {
                                            <h4>@Model.market.currency.symbol@totCostSupps.Value.ToString("N2")</h4>

                                        }
                                    }
                                </div>
                            </div>
                        }

                    </li>
                }

                @if (totCostTransfer.HasValue && totCostTransfer.Value > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Transfer</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.booking_transfer)
                        {
                            if (!item.is_aftersales)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label>Aiport Transfer </label>

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.transfer_name
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price)
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (totCostTransfer.HasValue)
                                        {
                                            <h4>@Model.market.currency.symbol@totCostTransfer.Value.ToString("N2")</h4>

                                        }

                                    </div>
                                </div>
                            }
                        }

                    </li>
                }

                @if (totCostRental.HasValue && totCostRental.Value > 0)
                {

                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Car Rental</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.booking_rental)
                        {
                            if (!item.is_aftersales)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label>@item.vehicle.vehicle_model </label>

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row dashed-bottom">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.vehicle.provider.name (@item.num_days days)
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price * item.num_days)
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (item.Equals(Model.booking_rental.Last()))
                                        {
                                            if (totCostRental.HasValue)
                                            {
                                                <h4>@Model.market.currency.symbol@totCostRental.Value.ToString("N2")</h4>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </li>
                }


                @if (totCostActivity.HasValue && totCostActivity.Value > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Activities</h5>

                                </div>
                            </div>
                        </div>
                        @{string prevProviderName = string.Empty;}
                        @foreach (var item in Model.booking_activity)
                        {
                            bool newProvider = false;
                            if (!item.is_aftersales)
                            {

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @if (prevProviderName != item.provider_name)
                                            {
                                                newProvider = true;
                                                prevProviderName = item.provider_name;

                                                <label>@item.provider_name</label>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row @(newProvider ? " dashed-bottom":"")">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.activity_name (@item.adults adults @item.children children)
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price)
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (item.Equals(Model.booking_activity.Last()))
                                        {
                                            if (totCostActivity.HasValue)
                                            {
                                                <h4>@Model.market.currency.symbol@totCostActivity.Value.ToString("N2")</h4>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </li>
                }

                @if (Model.discount_amt.HasValue)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">

                                    <h5>Discount</h5>

                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-3 text-right">
                                <h4>@Model.market.currency.symbol @Model.discount_amt.Value.ToString("N2")</h4>
                            </div>
                        </div>


                    </li>
                }



                <li>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Total Booking Cost</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <h3>@Model.market.currency.symbol@totCost.ToString("N2")</h3>
                        </div>
                    </div>
                </li>







            </ul>
            <div class="gap gap-small"></div>

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h5 class="mb0">@Model.provider.name</h5>
                        </header>
                        <ul class="booking-item-payment-details">
                            <li>


                                <div class="booking-item-payment-flight">

                                    <h5>Travel Details</h5>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="booking-item-flight-details">
                                                <div class="booking-item-departure">
                                                    <i class="fa fa-plane fa-flip-vertical"></i>

                                                    <h5>@Model.checkin_date.Value.ToString("dddd dd, MMM yyyy")</h5>
                                                    <p class="booking-item-date">Check In</p>
                                                    @*<p class="booking-item-destination">London, England, United Kingdom (LHR)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                                                </div>
                                                <div class="booking-item-arrival">
                                                    <i class="fa fa-plane"></i>
                                                    <h5>@Model.checkout_date.Value.ToString("dddd, MMM dd yyyy")</h5>
                                                    <p class="booking-item-date">Check Out</p>
                                                    @*<p class="booking-item-destination">Charlotte, CA, United States (CLT)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="booking-item-flight-duration">
                                                <p>Nights</p>
                                                <h5 class="text-center">@Model.num_nights</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </li>
                            <li>
                                <h5>Booking  (@Model._totalGuests Guests)</h5>
                                <ul class="booking-item-payment-price">
                                    <li>
                                        <p class="booking-item-payment-price-title">Rooms</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-hotel fa-"></span> x @Model.rooms
                                        </p>
                                    </li>
                                    <li>
                                        <p class="booking-item-payment-price-title">Adults</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-male"></span> x @Model.adults
                                        </p>
                                    </li>
                                    <li>
                                        <p class="booking-item-payment-price-title">Children</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-child"></span> x @Model._totalChildren
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            @if (Model.discount_amt.HasValue)
                            {
                                <li>
                                    <ul class="booking-item-payment-price">

                                        <li>
                                            <p class="booking-item-payment-price-title">Discount amount</p>
                                            <p class="booking-item-payment-price-amount">
                                                @Model.market.currency.symbol @Model.discount_amt.Value
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                        <p class="booking-item-payment-total">
                            Total trip: <span>@Model.market.currency.symbol@totCost</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">

                                <h4 class="box-title"><i class="fa fa-commenting-o fa-flip-horizontal"></i> Discussions</h4>
                                <div class="box-tools pull-right">

                                </div>
                                <div class="box-body">
                                    @if (notes != null)
                                    {
                                        foreach (var item in notes)
                                        {
                                            <div class="bold">

                                                @{
                                            string usr = "undefined";
                                            if (item.user != null)
                                            {
                                                usr = item.user.FullName;
                                            }
                                                }
                                                <small><span class="fa fa-comment fa-flip-horizontal"></span>&nbsp;@String.Concat(usr, " added @ ", item.create_date)</small>
                                            </div>
                                            <div class="bg-gray" style="padding:10px">
                                                @Html.Raw(item.detail)
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <a href="#notessection" class="showsection"><span class="fa fa-plus"></span> New Note</a>

                            <section style="display:none" id="notessection">
                                <br />
                                @using (Html.BeginForm("AddReservationNote", "Front", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.booking_id)

                                    <div class="box-body">
                                        <textarea name="note" class="form-control"></textarea>
                                    </div>
                                    <br />
                                    <div class="box-footer">
                                        <input type="submit" name="Save" class="btn btn-primary" value="Add Note" />
                                        <input type="button" name="Close" class="btn btn-primary closesection" value="Close" />
                                    </div>

                                }
                            </section>
                        </div>



                    </div>
                </div>

            </div>

        </div>
    </div>



    <div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Booking Details</dt>
                <dd>@Model.booking_name (@Model.booking_id)</dd>

                <dt>Hotel</dt>
                <dd>@Model.provider_name</dd>


                <dt>Package</dt>
                <dd>@Model.package_name</dd>

            @if(Model.checkin_date.HasValue)
            { 
                            <dt>
                Checkin
            </dt>
                <dd>@Model.checkin_date.Value.ToString("ddd dd MMM yyyy")</dd>
            }
               @if(Model.checkout_date.HasValue)
               {
                   
                 <dt>
                    Checkout
                </dt>
                <dd>@Model.checkout_date.Value.ToString("ddd dd MMM yyyy")</dd>
               }

            <dt>Agent</dt>
            <dd>@Model.agent.FullName (@Model.agent.username) </dd>

                <dt>booking date</dt>
                <dd>@Model.booking_date.Value </dd>

                <dt>Number Nights</dt>
                <dd>@Model.num_nights nights</dd>

                <dt>Currency</dt>
                <dd>@Model.currency.currency_code (@Model.market.market_name)</dd>

            </dl>

            <h2>Rooms :@Model.booking_room.Count</h2>

            @foreach(var room in Model.booking_room)
            {
                <div class="row">
                    <div class="col-md-4">
                        @room.room_name
                    </div>
                    <div class="col-md-6">
                            <table class="table">
                        @foreach(var guest in room.booking_guest)
                        {
                                <tr>
                                    <td>@guest.salutation @guest.firstname @guest.lastname</td>
                                    <td>@guest.age</td>
                                    <td>@guest.nationality</td>
                                </tr>
                            
                        }
                            </table>
                    </div>

                </div>
            }
              
            <h3>Supplements</h3>
                <table>
            @foreach(var supp in Model.booking_supplement)
            {
             <tr>
                 <td>@supp.supplement_name</td>
                 <td>@supp.supplement_name</td>
                 <td>@supp.price</td>
             </tr>
                    
                
            }
                </table>

        </div>
    </div>




    </div> <!-- body-->
</div> <!-- box-->
    </div>
    <div class="col-md-4">

    </div>
</div>

