﻿@model IEnumerable<Booking_System.Models.booking>

@{
    ViewBag.Title = "View Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Menu = "List";
    ViewBag.TreeView = "RE";

    var filterapplied = ViewBag.FilterApplied;

    if(filterapplied == null)
    {
        filterapplied = false;
    }

    Booking_System.Models.ViewModel.SearchItem SearchItem = Booking_System.Helpers.UserSession.Current.SearchItem;
    if(SearchItem == null)
    {
        SearchItem = new Booking_System.Models.ViewModel.SearchItem();
    }
}
<meta http-equiv="refresh" content="60">
<h2>View Reservations @(filterapplied?"(Filter Applied)":"")</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Reservations</li>
</ol>

    <a href="#" class="shownextsection">Search Reservations</a>

<section style="display:@(filterapplied?"block":"none")">
@Html.Partial("_ReservationSearch", SearchItem)
</section>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Reservations List</h3>

    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding" style="overflow-x:scroll">


        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.booking_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_file_number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.agent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.booking_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.checkin_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.checkout_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.num_nights)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._totalGuests)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCostWithCurrency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discount_amt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.statusDesc)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderByDescending(x => x.booking_id))
            {
                <tr>
                    <td>
                           @Html.DisplayFor(modelItem => item.booking_id)
                     </td>
                    <td>
                       @Html.DisplayFor(modelItem => item.booking_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.booking_file_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.agent_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.booking_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkin_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.checkout_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_nights)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._totalGuests)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCostWithAfterSales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount_amt)
                    </td>
                    <td>
                        @if (item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.CONFIRMED)
                        {
                            <span>CONFIRMED REQUEST</span>
                        }
                        else if (item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.COMPLETED)
                        {
                            <span>CONFIRMED</span>
                        }
                        else
                        {
                            if (item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.PROCESSING_NEW_TIMELIMIT)
                            {
                                <span>PROCESSING</span>
                            }
                            else
                            {
                                if (item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.NEW)
                                {
                                    @Html.DisplayFor(modelItem => item.statusDesc) 
                                    if(!item.is_timelimit)
                                    {
                                        <span class="small">(CONFIRMED REQUEST)</span>
                                    }
                                    else
                                    {
                                        <span class="small">(Time-limit)</span>
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.statusDesc)
                                }

                            }

                            if (item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.PROCESSING_NEW_TIMELIMIT || item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.PROCESSING || item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.AWAITING_CONFIRMATION)
                            {
                                if (item.is_new_timelimit)
                                {
                                    <span class="small">

                                        ( New Time-limit
                                        @if (item.timelimit_date.HasValue)
                                        {
                                            <span>- @item.timelimit_date.Value.ToString("dd MMM yyyy")</span>
                                        }
                                        )
                                    </span>
                                }
                                else if (item.is_timelimit)
                                {
                                    <span class="small">

                                        ( @(item.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.PROCESSING_NEW_TIMELIMIT ? "New Time-limit" : "Time-limit  ")
                                        @if (item.timelimit_date.HasValue)
                                        {
                                            <span>- @item.timelimit_date.Value.ToString("dd MMM yyyy")</span>
                                        }
                                        )
                                    </span>
                                }
                                else
                                {
                                    <span class="small">
                                        (CONFIRMED REQUEST)
                                    </span>
                                }
                            }

                        }
                        
                        

                    </td>
                    <td>
                        <a href="@Url.Action("ReservationDetails", new { id = item.booking_id})" title="view Reservation"><span class="fa fa-tv"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>  <!-- .box-body-->
</div> <!-- .box-->

@section Scripts {
    <script>
        $(document).ready(function () {

            $('body').on('click', '.shownextsection', function () {
                
                $(this).next('section').toggle();

            });

            $('body').on('click', '.close-search-reservation', function () {
                
                $(this).closest('section').hide();

            });
            

        });
    </script>

    }