﻿@model Booking_System.Models.room
@{
    
    List<Booking_System.Models.occupancy> occupancies = ViewBag.Occupancies;
}
<div class="box-body">
    <table class="table light-grey">
        <thead>
            <tr>
                <th>Description</th>
                <th>Definition</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var occ in Model.occupancies.OrderBy(x=>x.DisplayOrder))
            {
                <tr>
                    <td>
                        @occ.description
                    </td>
                    <td>
                        @occ.occupancyDesc
                    </td>
                    <td>
                        
                        @{
                int adult = occ.adult.Value + occ.senior.Value;
                int child = occ.child.Value;
                int infant = occ.infant.Value;
                int teen = occ.teen.Value;
                        }
                        @for (var i = 1; i <= adult; i++)
                        {
                            if (i == 2)
                            {
                                <span style="font-size:1.3em"><span class="fa fa-female"></span></span>

                            }
                            else
                            {
                                <span style="font-size:1.3em"><span class="fa fa-male"></span></span>

                            }
                        }
                        @for (var i = 1; i <= child; i++)
                        {
                            <small style="color:green"><span class="fa fa-male"></span></small>
                        }

                        @for (var i = 1; i <= teen; i++)
                        {
                            <span style="font-size:1.1em ;color:red"><span class="fa fa-male"></span></span>
                        }

                        @for (var i = 1; i <= infant; i++)
                        {
                            <span style="font-size:0.7em ;color:blue"><span class="fa fa-male "></span></span>
                        }

                    </td>

                    <td align="right">

                        @*<a href="@Url.Action("Details", new { id = item.hotel_id})" title="view Hotel"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                        @*<a href="@Url.Action("Edit", new { id = item.hotel_id})" title="Edit Hotel"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                        <a href="@Url.Action("DeleteRoomOccupancy","Rooms", new { occupancyId = occ.occupancy_id, roomId = Model.room_id})" title="Delete Occupacy" onclick="return confirm('Are you sure you wish to delete this occupancy?');"><span class="fa fa-trash"></span></a>

                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

<div class="box-footer clearfix no-border">
    <div class="row">
        <div class="col-md-offset-6 col-md-6 pull-right">

        <a href="#" class="showsection pull-right"><span class="fa fa-plus-circle"></span> add occupancy</a>
        </div>
    </div>
    <section style="display:none">
        <hr />

        @using (Html.BeginForm("AddRoomOccupancy", "Rooms", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="roomId" value="@Model.room_id" />


            <div class="col-md-11">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span class="badge">2</span>&nbsp;Room Occupancy</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        @{
                            var i = 0;
                        }
                        <input type="checkbox" value="true" id="checkall" /> Select/Deselect All <br />
                        @{var firstsectionheader = "";}
                        @foreach (var occ in occupancies.OrderBy(x => x.DisplayOrder))
                        {

                            if (occ.SectionHeader != firstsectionheader)
                            {
                                    <h3>@occ.SectionHeader</h3>
                            }

                                <input type="checkbox" class="occupancy" name="occupancies[@i]" value="@occ.occupancy_id" /> <b>@occ.occupancyDesc</b> @:(@occ.name) <br />
                                <input type="hidden" name="occupancies[@i]" value="" />

                            firstsectionheader = occ.SectionHeader;



                            {i++;}
                        }
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right"> Add Occupancies</button>
                        </div>

                    </div>
                </div>
            </div>


            @*<div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="control-label">Occupancy</label>
                        <select class="form-control" style="width:100%" name="occupancyId">
                           
                            @foreach (var occ in occupancies.OrderBy(x => x.occupancyCode))
                            {
                                <option value="@occ.occupancy_id">@occ.name - @occ.occupancyDesc</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default"> Save</button>
                    </div>
                </div>
            </div>*@

        }
    </section>
</div>