﻿@model Booking_System.Models.room

@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab


@{
    ViewBag.Title = "Create";
    var hotel =  ViewBag.Hotel as Booking_System.Models.provider;
    var occupancies = ViewBag.Occupancies as List<Booking_System.Models.occupancy>;
}

<h2>Create Room for @hotel.name</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotel.provider_id, tab = hotelTab.ROOMS  })">@hotel.name</a></li>      
    <li class="active">Create Room</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Hotel Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <input type="hidden" name="provider_id" value="@hotel.provider_id" />

                    <div class="form-group">
                        <input type="text" class="form-control" value="@hotel.name" readonly="readonly" />

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>



                    <div class="row">


                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.min_adult, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.min_adult, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.min_adult, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.max_adult, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.max_adult, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.max_adult, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="form-group">


                        @Html.LabelFor(model => model.room_size, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">
                            @Html.EditorFor(model => model.room_size, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">Meter<sup>2</sup></span>
                        </div>
                        @Html.ValidationMessageFor(model => model.room_size, "", new { @class = "text-danger" })
                    </div>

                    <div class="box-footer text-center">
                        <a href="@Url.Action("HotelDetails", "Hotels", new { id = hotel.provider_id, tab = hotelTab.ROOMS })" class="btn btn-primary">Back</a>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>

                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Room Occupancy</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @{
                        var i = 0;
                        }
                    <input type="checkbox" value="true" id="checkall" /> Select/Deselect All <br />
                     @foreach (var occ in occupancies.OrderBy(x=>x.occupancyCode))
                    {
                        <input type="checkbox" class="occupancy" name="occupancies[@i]" value="true" /> @occ.name @:(@occ.occupancyDesc) <br />
                        <input type="hidden" name="occupancies[@i]" value="false" />
                       
                        i++;
                    }


                </div>
            </div>
                </div>

                </div> <!-- row-->
                }
                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('body').on('change', '#checkall', function () {


                                if ($(this).prop('checked'))
                                {
                                    $('.occupancy').prop('checked', true);
                                } else 
                                {
                                    $('.occupancy').prop('checked', false);
                                }

                            });

                        });
                    </script>
                }
