﻿@model Booking_System.Models.room

@{
    ViewBag.Title = "Delete";

    Booking_System.Models.provider hotel = ViewBag.Hotel ;

}


<h2><span class="fa fa-trash"></span> Delete Room</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("Details","Hotels", new { id=Model.provider_id, tab = 1 })">@hotel.name</a></li>
    <li class="active">Delete Room</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Room: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.min_adult)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.min_adult)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.max_adult)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.max_adult)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.room_size)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.room_size)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.provider.provider_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider.provider_id)
                        </dd>

                    </dl>


                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider_id, tab = 1 } )" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->

