﻿@model Booking_System.Models.room

@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab


@{
    ViewBag.Title = "Edit";
    Booking_System.Models.provider hotel = ViewBag.Hotel;
}

<h2>Edit Room <small>@Model.name</small></h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">@hotel.name</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotel.provider_id, tab = hotelTab.ROOMS  })">Rooms</a></li>
    
    <li class="active">Edit Room</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Update Room Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.room_id)
                    @Html.HiddenFor(model => model.provider_id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.provider_id, "hotel_id", htmlAttributes: new { @class = "control-label " })
                     
                            <input type="text" class="form-control" value="@hotel.name" readonly disabled />
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })
                        </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })
                     
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })
                     
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.min_adult, htmlAttributes: new { @class = "control-label " })

                            @Html.TextBoxFor(model => model.min_adult, new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.min_adult, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.max_adult, htmlAttributes: new { @class = "control-label " })

                            @Html.TextBoxFor(model => model.max_adult, new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.max_adult, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.room_size, htmlAttributes: new { @class = "control-label " })
                        <div class="input-group">

                            @Html.EditorFor(model => model.room_size, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">Meter<sup>2</sup></span>

                            </div>
                            @Html.ValidationMessageFor(model => model.room_size, "", new { @class = "text-danger" })
                        </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.is_active)
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action("RoomDetails","Rooms", new { id = Model.room_id, tab=hotelTab.ROOMS  })" class="btn btn-default">Cancel</a>&nbsp;
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->
    </div> <!-- row-->

}


@section Scripts {

}

