﻿@model Booking_System.Models.room
@using Tab = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "RoomOccupancy";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Room Occupancy</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new {id= Model.provider_id , tab = Tab.HotelTab.ROOMS })">@Model.provider.name</a></li>
    <li class="active">@Model.name</li>
</ol>

<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>


            </div>


            @Html.Partial("_RoomOccupancy", Model)

        </div>
    </div>
        </div>



    <div class="box-footer clearfix no-border">
        <div class="box-footer clearfix no-border">
            <a href="@Url.Action("HotelDetails","Hotels", new {id= Model.provider_id , tab = Tab.HotelTab.ROOMS })" class="btn btn-default text-center">Back to Room @Model.provider.name</a>&nbsp;
            @*<a href="@Url.Action("EditRoom", new { id = Model.room_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit Room </a> &nbsp;*@

        </div>

    </div>




            @section Scripts {

                <script>
                    $(document).ready(function () {
                        $('body').on('click', '.showsection', function () {
                            $(this).parent().parent().next('section').toggle();
                        });
                    });

                </script>
            }
