﻿@model Booking_System.Models.room
@using Tab = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "Details";
    ViewBag.TreeView = "H";
    Tab.RoomTab tab = ViewBag.Tab;

    var hasmarket = Model.provider.markets.Count > 0;
    var imgCount = Model.room_picture.Count();
    List<Booking_System.Models.occupancy> occupancies = ViewBag.Occupancies;
    List<Booking_System.Models.feature> roomFeatures = ViewBag.RoomFeatures;
}

<h2>Details</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new {id= Model.provider_id , tab = Tab.HotelTab.ROOMS })">@Model.provider.name</a></li>
    <li class="active">@Model.name</li>
</ol>


<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>


            </div>

            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:35%">
                            <span class=""></span>&nbsp;Hotel
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.provider.name)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class=""></span>&nbsp;Room
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Description
                        </th>
                        <td>
                            @Html.Raw(Model.description)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Min Adult
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.min_adult)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Max Adult
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.max_adult)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Room Size
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.room_size)
                        </td>
                    </tr>
                </table>
            </div>

            <div class="box-footer clearfix no-border">
                <div class="box-footer clearfix no-border">
                    <a href="@Url.Action("EditRoom", new { id = Model.room_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit Room </a> &nbsp;

                </div>

            </div>


        </div>
    </div>



    <div class="col-md-8">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">


                <li class="@(tab==Tab.RoomTab.OCCUPANCIES?"active":"")"><a href="#tab_@Tab.RoomTab.OCCUPANCIES" data-toggle="tab"><i class="fa fa-user-plus"></i>&nbsp;Occupancies</a></li>
                <li class="@(tab==Tab.RoomTab.GALLERY?"active":"")"><a href="#tab_@Tab.RoomTab.GALLERY" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;Gallery</a></li>
                <li class="@(tab==Tab.RoomTab.FEATURES?"active":"")"><a href="#tab_@Tab.RoomTab.FEATURES" data-toggle="tab"><i class="fa fa-user-plus"></i>&nbsp;Features</a></li>
                <li class="@(tab==Tab.RoomTab.UNAVAILABILITY?"active":"")"><a href="#tab_@Tab.RoomTab.UNAVAILABILITY" data-toggle="tab"><i class="fa fa-unlock-alt"></i>&nbsp;Stop Sale</a></li>
                @*<li class="@(tab==Tab.RoomTab.BASE_PRICE?"active":"")"><a href="#tab_@Tab.RoomTab.BASE_PRICE" data-toggle="tab"><i class="fa fa-dollar"></i>&nbsp;Base Price</a></li>*@
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(tab==Tab.RoomTab.OCCUPANCIES?"active":"")" id="tab_@Tab.RoomTab.OCCUPANCIES">
                @Html.Partial("_RoomOccupancy", Model)

                

                </div> <!-- pane 3-->

                <div class="tab-pane @(tab==Tab.RoomTab.GALLERY?"active":"")" id="tab_@Tab.RoomTab.GALLERY">
                    <div class="box-body">
                        <div class="row">
                            <div> <!-- do not remove div else wont work-->
                            <a class="showsection pull-right" href="#"><span class="fa fa-plus-circle"></span> Upload Image</a>

                            </div>
                        </div>

                        <section style="display:none">
                            <hr />
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                    {

                                        <input type="hidden" name="SectionId" value="@Model.room_id" />
                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Room.ToString()" />
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-4 col-md-4">
                                                        <label for="file">Upload Image:</label>
                                                    </div>
                                                    <div class="col-sm-8 col-md-8">
                                                        <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Title</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Description</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="description" value="" class="form-control" placeholder="description" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Image Section</label>
                                                    @{
                                                        var imgType = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

                                                    }
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control select2">
                                                            @foreach (var item in imgType)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-4 col-md-8">
                                                        <input type="submit" name="Save" value="Upload Image" class="btn btn-default pull-left" />
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                                        }
                                </div>
                            </div>
                            <hr />
                        </section>

                        @if (Model.room_picture.Count == 0)
                        {
                            <h3>No picture, use <b>Upload Image</b> to start loading pictures</h3>
                        }
                        else
                        {
                            <div class="row">
                                @{ var ic = 1;
                                }
                                <hr />
                                @foreach (var item in Model.room_picture)
                                {

                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-thumbnail">
                                                    <div class="img-wrap">
                                                        <span class="deleteimage">
                                                            <a href="@Url.Action("DeleteImage", "Providers", new { id = item.picture_id, sectionId = Model.room_id, type = Booking_System.Models.ImagesType.Room.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                        </span>
                                                        <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetRoomImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                                    </div>
                                                    <div class="caption">
                                                        @item.picture.DisplayImageFileName
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        @using (Html.BeginForm("EditImage", "Providers"))
                    {
                                            <input type="hidden" name="picture_id" value="@item.picture_id" />
                                            <input type="hidden" name="SectionId" value="@Model.room_id" />
                                            <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Room.ToString()" />

                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), item.section);}
                                                        <label class="control-label">Section</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control" title="Image Section">
                                                            @foreach (var imgSecs in sec)
                                                            {
                                                                <option value="@imgSecs.Value" @(imgSecs.Selected ? "selected" : "")>@imgSecs.Text</option>
                                                            }
                                                        </select>


                                                    </div>


                                                </div>

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label class="control-label">Order</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="display_order" class="form-control" title="Image Order">
                                                            @for (int i = -1; i <= imgCount; i++)
                                                            {
                                                                if (i != 0)
                                                                {
                                                                    <option value="@i" @(i == item.display_order ? "selected" : "")>@i.ToString()</option>
                                                                }
                                                            }


                                                            @if (item.display_order > imgCount)
                                                            {
                                                                <option value="@item.display_order" selected="selected">@item.display_order.ToString()</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-offset-4 col-md-8">
                                                        <button type="submit" name="Save" class="btn btn-sm btn-default" style="width:100%"><span class="fa fa-save"></span> Save</button>
                                                        @*&nbsp; <a href="@Url.Action("DeleteImage", "Hotels", new { id = item.picture_id, hotelId = Model.provider_id })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>*@
                                                    </div>
                                                </div>





                                                            } <!-- form-->

                                    </div>

                                                            if (ic % 4 == 0)
                                                            {
                                                                <br />
                                                                <div style="clear:both"></div>
                                                                <hr />

                                                            }
                                                            {
                                                                ic++;
                                                            }
                                                            <div style="clear:right"></div>

                                                            }
                            </div>
                                                            } <!-- else-->







                    </div><!-- /.box-body -->
                </div><!-- -pane 2-->

                <div class="tab-pane @(tab==Tab.RoomTab.FEATURES?"active":"")" id="tab_@Tab.RoomTab.FEATURES">
                    <div class="box-body">
                        <table class="table light-grey table-hover">
                            <tr>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Icon
                                </th>


                                <th>
                                    Name
                                </th>

                                <th>
                                    Desc
                                </th>

                                <th>
                                    Category
                                </th>
                                <th>
                                </th>

                            </tr>

                            @foreach (var item in Model.room_feature)
                            {
                                <tr>
                                    <td class="">
                                        @item.quantity x

                                    </td>
                                    <td>
                                        <span class="@item.feature.icon iconframe"></span>
                                    </td>
                                    <td>
                                        @item.feature.name
                                    </td>
                                    <td>
                                        @item.feature.description
                                    </td>

                                    <td>
                                        @item.feature.category.ToLower()
                                    </td>
                                    <td align="right">
                                        @*<a href="@Url.Action("Edit", "RoomFeatures",new { id = item.feature_id, roomId = item.room_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                        <a href="@Url.Action("DeleteRoomFeature", "Rooms",new { id = item.feature_id, roomId = item.room_id})" onclick="return confirm('Remove Room Feature?');" title="Delete"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>


                            }

                        </table>
                        @if (roomFeatures != null && roomFeatures.Count > 0)
                        {
                            <div class="box-footer clearfix no-border">
                            <div>
                                    <div>
                                        <a href="#" class="showsection pull-right"><span class="fa fa-plus-circle"></span> add feature</a>
                                    </div>
                                </div>
                                <section style="display:none">
                                    <hr />

                                    @using (Html.BeginForm("AddRoomFeature", "Rooms", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="room_id" value="@Model.room_id" />
                                        <div class="row">

                                            <div class="col-md-2" style="width:70px">
                                                <label class="control-label ">Quantity</label>
                                                <input type="text" name="quantity" class="form-control" value="1" />
                                            </div>

                                            <div class="col-md-7 ">
                                                <div class="form-group">
                                                    <label class="control-label">Room Feature</label>
                                                    <select style="width:100%" name="feature_id">
                                                        @foreach (var rf in roomFeatures)
                                                        {
                                                            <option value="@rf.feature_id">@rf.name </option>
                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">&nbsp;</label>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default"> Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </section>
                            </div>
                        }
                    </div><!-- /.box-body -->


                </div> <!-- pane 4-->

                <div class="tab-pane @(tab==Tab.RoomTab.UNAVAILABILITY?"active":"")" id="tab_@Tab.RoomTab.UNAVAILABILITY">
                    <div class="box-body">

                    @if(Model.room_unavailability != null && Model.room_unavailability.Count > 0)
                    {
                        <table class="table light-grey table-hover">
                            <tr>
                                <th>
                                    From Date
                                </th>
                                <th>
                                    To Date
                                </th>
                                <th>Number of Days</th>
                                <th>
                                </th>

                            </tr>

                            @foreach (var item in Model.room_unavailability)
                            {
                                <tr>
                                    <td class="">
                                        @item.start_date.ToString("dd MMM yyyy")

                                    </td>
                                    <td>
                                        @item.end_date.ToString("dd MMM yyyy")
                                    </td>
                                    <td>
                                        @item.numDays @(item.numDays>1?" Days":"Day")
                                    </td>
                                    <td align="right">
                                        <a href="@Url.Action("DeleteRoomUnavailability", "Rooms",new { id = item.room_unavailability_id, roomid = item.room_id})" onclick="return confirm('Remove Room Unavailability Date?');" title="Delete"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>


                            }

                        </table>

                    } else
                    {
                        <h2 class="text-muted">No Unavailabilities</h2>
                        <h5>Add date periods between which the room will be unavailable</h5>
                    }

                        @if ( true )
                        {
                            <div class="box-footer clearfix no-border">
                                <div>
                                    <div>
                                        <a href="#" class="showsection pull-right"><span class="fa fa-plus-circle"></span> add unavailability</a>
                                    </div>
                                </div>
                                <section style="display:none">
                                    <hr />
                                    <h4>Input Unavailability Period</h4>
                                    @using (Html.BeginForm("AddRoomUnavailability", "Rooms", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" name="room_id" value="@Model.room_id" />
                                        <div class="row">

                                            <div class="col-md-1" >
                                                <label class="control-label ">From</label>
                                            </div>

                                            <div class="col-md-3" >
                                                <input type="text" id="startDate" required name="start_date" class="form-control unavdt datepicker" />
                                            </div>

                                            <div class="col-md-1" >
                                                <label class="control-label ">To</label>
                                            </div>


                                            <div class="col-md-3" >
                                                <input type="text" id="endDate" required name="end_date" class="form-control unavdt datepicker"  />
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-default"> Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </section>
                            </div>
                        }
                    </div><!-- /.box-body -->


                </div> <!-- pane 4-->
            
            </div>

        </div> <!-- col 8 -->
    </div> <!-- row -->
    </div>

    @section Scripts {
      
        <script>
            $(document).ready(function () {
                $('body').on('click', '.showsection', function () {
                    $(this).parent().parent().next('section').toggle();
                });

                $('body').on('change', '.unavdt', function () {
                    
                    var sd = $('#startDate').val();
                    var ed = $('#endDate').val();


                    if(sd && ed)
                    {
                        //alert(sd + ' to ' + ed);

                        if(sd>ed)
                        {
                            alert('Validation Error - Start Date is greater than End Date');

                            $(this).val('');
                        }


                    }

                });


                $('body').on('change', '#checkall', function () {


                    if ($(this).prop('checked')) {
                        $('.occupancy').prop('checked', true);
                    } else {
                        $('.occupancy').prop('checked', false);
                    }

                });


            });

        </script>
    }

