﻿@model IEnumerable<Booking_System.Models.contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Index";
    ViewBag.Menu = "List";
    ViewBag.TreeView = "Contacts";
}

<h2>Contacts</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Contacts</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Contact List</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateContact","providers")" class="pull-right"><span class="fa fa-plus-circle"></span> New Contact</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div id="contactfilter">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-1">
                            <input class="search form-control" placeholder="Filter Contacts" />
                        </div>
                        <div class="col-md-4">
                            Sort By &nbsp;
                            <div class="btn-group" role="toolbar">
                                <button class="sort btn btn-default btn-group " data-sort="fullname">
                                    Full Name
                                </button>
                                <button class="sort btn btn-default btn-group  " data-sort="providername">
                                    Provider
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </div>
            <div id="table_filter">               
                    <div class="btn-group" role="toolbar">
                        <a id="show_all" href="#" class="btn  btn-default btn-group  btn-group-xs">All</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >A</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >B</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >C</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >D</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >E</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >F</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >G</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >H</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >I</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >J</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >K</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >L</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >M</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >N</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >O</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >P</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >Q</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >R</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >S</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >T</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >U</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >V</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >W</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >X</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >Y</a>
                        <a href="#" class="btn btn-default btn-group  btn-group-xs" role="group" >Z</a>
                    </div>  
                </div>                  
                    <p id="message"></p>
                    <table class="table table-hover contacttable">
                        <thead>
                            <tr class="bg-light-blue">
                                <th>
                                    @Html.DisplayNameFor(model => model.salutation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.job_title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.office_phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mobile)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.notes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.provider.name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list">

                            @foreach (var item in Model)
                            {

                                <tr data-id="@item.provider_id">
                                    <td class="fullname" style="display:none">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.salutation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastname)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.job_title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.office_phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mobile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.Raw(item.notes)
                                    </td>
                                    <td class="providername" >
                                        @Html.DisplayFor(modelItem => item.provider.name)
                                    </td>
                                    <td align="right">

                                        <a href="@Url.Action("ContactDetails", new { id = item.contact_id})" title="View Contact"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        @*<a href="@Url.Action("Edit", new { id = item.hotel_id})" title="Edit Hotel"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                        <a href="@Url.Action("DeleteContact", new { id = item.contact_id })" title="Delete Contact"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>

    </div>  <!-- .box-body-->
</div> <!-- .box-->

@section scripts{

    <script>
        $(document).ready(function () {

/*
            var alphas = 'abcdefghijklmnopqrstuvwxyz';
            var tmp = '';
            for (var x = 0; x < 26; x++) tmp += '<a href="#" class="btn btn-secondary" >' + alphas[x].toUpperCase() + '</a>&nbsp;&nbsp;';
            $('#table_filter .btn-toolbar .btn-group').append(tmp);
*/

            //logic for alphabetic filter
            $('#table_filter a').click(function () {

                if ($(this).attr('id') == 'show_all') {
                    $('.contacttable tbody tr').css('display', 'table-row');
                    $('#message').html('displaying all rows');
                    return false;
                }

                var alpha = $(this).html();
                
                $('.contacttable tbody tr').hide().filter(function () {
                    var td = $('td:first', $(this));                   
                    return td.length && td.html() && new RegExp('^' + alpha + '.*$', 'i').test(td.html().trim().toLowerCase());
                }).css('display', 'table-row');
                $('#message').html('displaying rows with "' + alpha + '"');
                return false;
            })
            //end of alphabetic filter

//logic for list filter and sorter (non alphabetic)

            var options = {
                valueNames: ['fullname','providername']
            };
            var contactlist = new List('contactfilter', options);




            //others
            $('body').on('dblclick', '.trlinkhotel', function () {
                var id = $(this).data('id');
                //alert(id);


                // similar behavior as clicking on a link
                window.location.href = getVirtualDir()+"Providers/ContactDetails/"+id;

            })
        });


        function getVirtualDir() {
            var path = $('#svrpath').val();
            return path;
        }

    </script>
}