﻿@model Booking_System.Models.contact
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@using provTab = Booking_System.Helpers.AppEnums.ProviderTab

@{
    ViewBag.Title = "Details";
    var hotelid = Model.provider_id;

    var _id = Model.provider.IsHotel ? hotelid : Model.provider.provider_id;
    var _controller = Model.provider.IsHotel ? "Hotels" : "Providers";
    var _provider = Model.provider.IsHotel ? "Hotel" : (Model.provider.IsRental ? "Car Rental" : (Model.provider.IsTourOperator ? "Tour Operator" : ""));
    var _methodList = Model.provider.IsHotel ? "ListHotels" : (Model.provider.IsRental ? "ListCarRentals" : (Model.provider.IsTourOperator ? "ListTourOperators" : ""));
    var _tab = Model.provider.IsHotel ? (int)hotelTab.CONTACTS : (Model.provider.IsRental ? (int)provTab.VEHICLES : (Model.provider.IsTourOperator ? (int)provTab.ACTIVITIES : (int)provTab.TRANSFER));
    var _methodDetails = Model.provider.IsHotel ? "HotelDetails" : "ProviderDetails";


}

<h2>Contact Details</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    
        <li><a href="@Url.Action(_methodList,_controller)">@_provider</a></li>
        <li><a href="@Url.Action(_methodDetails,_controller,new { id = _id, tab = _tab})">@Model.provider.name</a></li>
    
    <li class="active">@Model.TitleFullName</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-gray">
                
                <h3 class="widget-user-username">@Model.firstname @Model.lastname</h3>
                <h5 class="widget-user-desc">@Model.job_title</h5>
                <h4 class="widget-user-desc">@Model.provider.name</h4>
            </div>
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th style="width:30%">
                            <span class="fa fa-user"></span>&nbsp;name
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TitleFullName)
                        </td>
                    </tr><tr>
    <th>
        <span class="fa fa-mobile-phone"></span>&nbsp;mobile
    </th>
    <td>
        @Html.DisplayFor(model => model.mobile)
    </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-phone"></span>&nbsp;office </th>
                        <td>
                            @Html.DisplayFor(model => model.office_phone)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-envelope"></span>&nbsp;email
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.email)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-comment"></span>&nbsp;notes
                        </th>
                        <td>
                            @Html.Raw(Model.notes)
                        </td>


                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab   })" class="btn btn-default">Back</a>                            
                        </td>
                    </tr>

                </table>
           
            </div>
        </div><!-- /.widget-user -->
    
        
          
            

        
    
    </div><!-- /.col -->
</div>



@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contact_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
