﻿@model Booking_System.Models.contact
@using provTab = Booking_System.Helpers.AppEnums.ProviderTab
@using hotelTab =  Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Create";


    List<SelectListItem> titleListItem = Booking_System.Helpers.SelectItems.GetTitleListItem();

    var  provider = ViewBag.Provider as Booking_System.Models.provider;


    var _id =  provider.provider_id;
    var _controller = provider.IsHotel ? "Hotels" : "Providers";
    var _provider = provider.IsHotel ? "Hotel" : (provider.IsRental ? "Car Rental" : (provider.IsTourOperator ? "Tour Operator" : ""));
    var _methodList = provider.IsHotel ? "ListHotels" : (provider.IsRental ? "ListCarRentals" : (provider.IsTourOperator ? "ListTourOperators" : ""));


    var _tab = provider.IsHotel ? (int)hotelTab.CONTACTS : (provider.IsRental ? (int)provTab.VEHICLES : (provider.IsTourOperator ? (int)provTab.ACTIVITIES : (int)provTab.TRANSFER));
    var _methodDetails = provider.IsHotel ? "HotelDetails" : "ProviderDetails";

}

        <h2>Create Contact</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@provider.name</a></li>

    <li class="active">Create Contact</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge"><span class="fa fa-plus"></span></span>&nbsp;Create Contact </h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })                    
                
                    <input type="hidden" name="provider_id" value="@provider.provider_id" />
                    <div class="form-group">

                        <label class="control-label">Company</label>
                        <input type="text" class="form-control" readonly="readonly" value="@provider.name" />
                         

                    </div>

                

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">

                                @Html.LabelFor(model => model.salutation, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.salutation, titleListItem, "--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.salutation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5">


                            <div class="form-group">
                                @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>





                    <div class="form-group">
                        @Html.LabelFor(model => model.job_title, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.job_title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.job_title, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.office_phone, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.office_phone, new { htmlAttributes = new { @class = "form-control phonenum" } })
                                @Html.ValidationMessageFor(model => model.office_phone, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control phonenum" } })
                                @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Back</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body-->
            </div> <!-- box -->
        </div> <!-- col -->
    </div> <!-- row -->

}

@section Scripts {
  @*@Scripts.Render("~/bundles/phonevalidation")*@
}
