﻿@model Booking_System.Models.contact
@using provTab = Booking_System.Helpers.AppEnums.ProviderTab
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Delete";

    var hotelid = ViewBag.HotelId;
    TempData["HotelId"] = hotelid;

    var _id = Model.provider.IsHotel ? hotelid : Model.provider.provider_id;
    var _controller = Model.provider.IsHotel ? "Hotels" : "Providers";
    var _provider = Model.provider.IsHotel ? "Hotels" : (Model.provider.IsRental ? "Car Rentals" : (Model.provider.IsTourOperator ? "Tour Operators" : ""));
    var _methodList = Model.provider.IsHotel ? "ListHotels" : ( Model.provider.IsRental ? "ListCarRentals" : (Model.provider.IsTourOperator ? "ListTourOperators" : ""));
    var _tab = Model.provider.IsHotel ? (int)hotelTab.CONTACTS : (Model.provider.IsRental ? (int)provTab.VEHICLES : (Model.provider.IsTourOperator ? (int)provTab.CONTACTS : (int)provTab.TRANSFER));
    var _methodDetails = Model.provider.IsHotel ? "HotelDetails" : "ProviderDetails";

}




<h2><span class="fa fa-trash"></span> Delete Contact</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    
        <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
        <li><a href="@Url.Action(_methodDetails, _controller, new { id = hotelid, tab = _tab })">@Model.provider.name</a></li>
    
    <li class="active">Delete Contact</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Contact: @Model.TitleFullName</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.salutation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.salutation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.firstname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.firstname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.lastname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.lastname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.job_title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.job_title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.office_phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.office_phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mobile)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mobile)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.notes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.notes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider.name)
                        </dd>

                    </dl>


                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Do not delete</a>
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->

