﻿@model Booking_System.Models.provider


@{
    ViewBag.Title = "Delete";
    ViewBag.TreeView = Model.provider_type;
    ViewBag.Menu = "Delete";

    var providertype = (Model.IsTourOperator ? "Tour Operator" : (Model.IsRental ? "Car Rental" : ""));

    var method = (Model.IsTourOperator ? "ListTourOperators" : (Model.IsRental ? "ListCarRentals" : ""));
    }

<h2><span class="fa fa-trash"></span> Delete @providertype</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    @if (Model.IsTourOperator)
    {
        <li><a href="@Url.Action(method)">Tour Operators</a></li>
    }

    @if (Model.IsRental)
    {
        <li><a href="@Url.Action(method)">Car Rentals</a></li>
    }

    <li class="active">Delete @providertype</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>@providertype: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.location)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.location)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.company)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.company)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.website)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.website)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.commission_rate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.commission_rate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.street1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.street1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.street2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.street2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.town)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.town)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.phone1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.phone1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.phone2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.phone2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fax)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fax)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.google_location)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.google_location)
                        </dd>

                        @*<dt>
                            @Html.DisplayNameFor(model => model.provider_type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider_type)
                        </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.is_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_active)
                        </dd>

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action(method)" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->


