﻿@model Booking_System.Models.contact
@using provTab = Booking_System.Helpers.AppEnums.ProviderTab
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Edit";

    List<SelectListItem> titleListItem = Booking_System.Helpers.SelectItems.GetTitleListItem(Model.salutation);

    var provider = ViewBag.Provider as Booking_System.Models.provider;




    var _id = Model.provider.provider_id;
    var _controller = Model.provider.IsHotel ? "Hotels" : "Providers";
    var _provider = Model.provider.IsHotel ? "Hotel" : (Model.provider.IsRental ? "Car Rental" : (Model.provider.IsTourOperator ? "Tour Operator" : ""));
    var _methodList = Model.provider.IsHotel ? "ListHotels" : (Model.provider.IsRental ? "ListCarRentals" : (Model.provider.IsTourOperator ? "ListTourOperators" : ""));
    var _tab = Model.provider.IsHotel ? (int)hotelTab.CONTACTS : (Model.provider.IsRental ? (int)provTab.VEHICLES : (Model.provider.IsTourOperator ? (int)provTab.CONTACTS : (int)provTab.TRANSFER));
    var _methodDetails = Model.provider.IsHotel ? "HotelDetails" : "ProviderDetails";

}

<h2>Edit Contact</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@Model.provider.name</a></li>

    <li class="active">Edit Contact</li>
</ol>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Edit Contact Details of <b>@Model.TitleFullName</b></h3>
                </div><!-- /.box-header -->
                <div class="box-body">



                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.contact_id)
                    @Html.HiddenFor(model => model.provider_id)

                    <div class="form-group">
                        
                        <label class="control-label">Company</label>

                        @Html.DropDownList("provider_id", null, htmlAttributes: new { @class = "form-control" , @disabled= "disabled" })
                        @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })

                    </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">

                            @Html.LabelFor(model => model.salutation, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownListFor(model => model.salutation, titleListItem, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.salutation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-5">


                        <div class="form-group">
                            @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                 

          

                    <div class="form-group">
                        @Html.LabelFor(model => model.job_title, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.job_title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.job_title, "", new { @class = "text-danger" })
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.office_phone, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.office_phone, new { htmlAttributes = new { @class = "form-control phonenum" } })
                            @Html.ValidationMessageFor(model => model.office_phone, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control phonenum" } })
                            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Back</a>                    
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body-->
            </div> <!-- box -->
        </div> <!-- col -->
                </div> <!-- row -->
                }

                

                @section Scripts {
                    @*@Scripts.Render("~/bundles/phonevalidation")*@
                }
