﻿@model Booking_System.Models.provider
@{

    var type = Model.provider_type;

    //var _id = Model.IsHotel ? hotel.hotel_id : Model.provider_id;
    var _controller = Model.IsHotel ? "Hotels" : "Providers";
    var _provider = Model.IsHotel ? "Hotel" : (Model.IsRental ? "Car Rental" : (Model.IsTourOperator ? "Tour Operators" : ""));
    var _methodList = Model.IsHotel ? "ListHotels" : (Model.IsRental ? "ListCarRentals" : (Model.IsTourOperator ? "ListTourOperators" : ""));
    var _tab = Model.IsHotel ? 2 : (Model.IsRental ? 2 : (Model.IsTourOperator ? 2 : 1));
    var _methodDetails = Model.IsHotel ? "HotelDetails" : "ProviderDetails";


    ViewBag.Title = string.Concat("Edit ", _provider);


    var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "Edit";
    ViewBag.TreeView = type;


}

<h2>Editing @_provider<small>(@Model.name)</small></h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action(_methodList)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails,_controller, new { id = Model.provider_id, tab = "1"})">@Model.name</a></li>
    <li class="active">Edit @_provider (@Model.name)</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.provider_id)
    @Html.HiddenFor(model => model.provider_type)

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;@_provider Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.commission_rate, htmlAttributes: new { @class = "control-label " })

                                <div class="input-group">
                                    @Html.EditorFor(model => model.commission_rate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">%</span>
                                </div>

                                @Html.ValidationMessageFor(model => model.commission_rate, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">

                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.is_active)
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Address</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.location, htmlAttributes: new { @class = "control-label " })

                        @*@Html.EditorFor(model => model.location, new { htmlAttributes = new { @class = "form-control" } })*@

                        @Html.DropDownListFor(model => model.location, locationListItem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.street1, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.street1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.street1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.street2, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.street2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.street2, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.town, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.town, new { htmlAttributes = new { @class = "form-control town-autocomplete" } })
                        @Html.ValidationMessageFor(model => model.town, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control country-autocomplete" } })
                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Contact Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.phone1, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.phone1, new { htmlAttributes = new { @class = "form-control phonenum" } })
                                @Html.ValidationMessageFor(model => model.phone1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.phone2, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.phone2, new { htmlAttributes = new { @class = "form-control phonenum" } })
                                @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control phonenum" } })
                        @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.google_location, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.google_location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.google_location, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
                    </div>




                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->


    </div> <!-- ./row -->


    <div class="box-footer text-center">

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-default">Reset</button>
        <a href="@Url.Action(_methodDetails,_controller, new { id = Model.provider_id, tab=0 })" class="btn btn-default">Cancel</a>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
@*Scripts.Render("~/bundles/phonevalidation")*@
}
