﻿@model IEnumerable<Booking_System.Models.provider>

@{
    ViewBag.Title = "Car Rental Providers";
    ViewBag.TreeView = "R";
    ViewBag.Menu = "ListProviders";

}
<h2>Car Rental Providers</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Car Rental Providers</li>
</ol>

<style>
    .celloverflow {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Car Rental List</h3>
        <div class="box-tools">


            <a href="@Url.Action("CreateProvider","Providers", new { type="R"})" class="btn btn-default pull-right"><span class="fa fa-plus"></span> New Car Rental</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div class="box">

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th style="width:25%">
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.location)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.country)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @*<a href="@Url.Action("Index","Vehicles", new { id = item.provider_id })">@item.name</a>*@
                                @item.name

                            </td>
                            <td class="celloverflow" title="@item.description">
                                @Html.Raw(item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.country)
                            </td>


                            <td align="right">


                                @*<a href="@Url.Action("Index","Vehicles", new { id = item.provider_id})" title="View Car Rental"><span class="ion ion-android-boat"></span></a>*@
                                <a href="@Url.Action("ProviderDetails", new { id = item.provider_id})" title="View Car Rental"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                @*<a href="@Url.Action("EditProvider", new { id = item.provider_id})" title="Edit Car Rental"><span class="fa fa-pencil"></span></a>*@
                                <a href="@Url.Action("DeleteProvider", new { id = item.provider_id})" title="Delete Car Rental"><span class="fa fa-trash"></span></a>

                            </td>

                        </tr>
                    }

                </table>

            </div>
        </div>
    </div> <!-- box body-->
</div> <!-- box -->
