﻿@model IEnumerable<Booking_System.Models.provider>

@{
    ViewBag.Title = "Activity Suppliers";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "List";

}
<h2>Activities</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Activities</li>
</ol>

<style>
    .celloverflow {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Activity Suppliers List</h3>
        <div class="box-tools">


            <a href="@Url.Action("CreateProvider","Providers", new { type = "A" })" class="btn btn-default pull-right"><span class="fa fa-plus"></span> New Tour Operator</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div class="box">

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.name)
                        </th>
                        <th style="width:25%">
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th >
                            @Html.DisplayNameFor(model => model.phone1)
                        </th>

                        
                        <th>Activities</th>
                        <th>Add</th>
                        <th></th>
                        <th>Edit</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="@item.name">
                            <td class="open expandActivities" data-id="@item.provider_id" >
                                <a href="#@item.name"> <span class="fa fa-plus"></span></a>                                
                            </td>
                        
                            <td>
                                <strong>
                                @Html.DisplayFor(modelItem => item.name)

                                </strong>
                            </td>
                            <td class="celloverflow" title="@item.description">
                                @Html.Raw(item.description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone1)
                            </td>
                            <td>
                                @{
                                    int cnt = 0;
                                    if (item.activities != null && item.activities.Count() > 0)
                                    {
                                        cnt = item.activities.Count();
                                    }
                                }

                                @String.Concat(cnt.ToString(), " activities")
                            </td>

                            <td colspan="2"><a href="@Url.Action("CreateActivity", "Activities",new { providerId = item.provider_id})"><span class="fa fa-plus-circle"></span>&nbsp; New Activity</a></td>
                            <td align="right">


                                @*<a href="@Url.Action("Index","Activities", new { id = item.provider_id })" title="View Tour operator"><span class="fa fa-camera-retro" ></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                <a href="@Url.Action("ProviderDetails", new { id = item.provider_id})" title="View Tour operator"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                @*<a href="@Url.Action("Edit", new { id = item.provider_id})" title="Edit Tour operator"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                <a href="@Url.Action("DeleteProvider", new { id = item.provider_id})" title="Delete Tour operator"><span class="fa fa-trash"></span></a>

                            </td>

                        </tr>
                                    if (item.activities != null && item.activities.Count() > 0)
                                    {
                                        
                                            foreach (var activity in item.activities)
                                            {
                                            int count = activity.activity_pricing.Count();
                                            string adultPrices = string.Empty;
                                            string childPrices = string.Empty;

                                            List
                                            <Booking_System.Models.activityPricing>
                                                activityPrices = new List<Booking_System.Models.activityPricing>
                                                    ();
                                                    if (count > 0)
                                                    {
                                                    if (count > 1)
                                                    {
                                                    activityPrices = activity.activity_pricing.Take(2).ToList();
                                                    adultPrices = String.Concat(activityPrices[0].currency.currency_code, " ", activityPrices[0].price_adult, " / ", activityPrices[1].currency.currency_code, " ", activityPrices[1].price_adult);
                                                    childPrices = String.Concat(activityPrices[0].currency.currency_code, " ", activityPrices[0].price_child, " / ", activityPrices[1].currency.currency_code, " ", activityPrices[1].price_child);

                                                    }
                                                    else
                                                    {
                                                    activityPrices = activity.activity_pricing.Take(1).ToList();
                                                    adultPrices = String.Concat(activityPrices[0].currency.currency_code, " ", activityPrices[0].price_adult);
                                                    childPrices = String.Concat(activityPrices[0].currency.currency_code, " ", activityPrices[0].price_child);

                                                    }
                                                    }

                        <tr data-id="@String.Concat(item.provider_id, "_activity")" style="display:none;background:#FEFEFE">
                                    <td></td>
                                    <td>
                                        @activity.activity_name
                                    </td>
                                    <td>
                                        @activity.description
                                    </td>
                                    <td>
                                        @activity.duration
                                    </td>
                                    <td>

                                        Min. Age: @(activity.min_age > 0? activity.min_age.ToString(): "N/A")
                                    </td>
                                    <td style="font-size:0.9em; line-height:1em">
                                        @foreach (var p in activity.activity_pricing.OrderBy(x => x.currency_id))
                                        {

                                                if (p.price_adult == p.price_child)
                                                {
                                                <p style="border-bottom:1px solid #777">@p.currency.currency_code @p.price_adult per pax </p>
                                                } else
                                                {
                                                <p style="border-bottom:1px solid #777">@p.currency.currency_code: @(p.price_adult > 0 ? @p.price_adult+ " (Adult) " : "") @(p.price_child>0?"/ "+@p.price_child+" (Child)":"") </p>

                                            }
                                            }


                                    </td>
                                    <td>
                                        @*@foreach (var p in activity.activity_pricing)
                                        {
                                            @p.currency.currency_code @p.price_child<br />
                                        }*@
                                    </td>
                                    
                                    <td>
                                        <a href="@Url.Action("ActivityDetails", "Activities", new { id = activity.activity_id})" title="View Activity"><span class="fa fa-tv"></span></a>
                                    </td>
                                </tr>
                            }

                        }
                    }

                </table>

            </div>
        </div>
    </div> <!-- box body-->
</div> <!-- box -->


@section Scripts {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.expandActivities', function () {
                var id = $(this).data('id');
                if(id != null)
                {
                    $('*[data-id="' + id + '_activity"]').toggle();
                    if ($(this).hasClass("selectedTr"))
                    {
                        $(this).removeClass("selectedTr");
                        $(this).find('.fa').removeClass('fa-minus').addClass('fa-plus');
                    }
                    else
                    {
                        $(this).addClass("selectedTr");
                        $(this).find('.fa').removeClass('fa-plus').addClass('fa-minus');
                    }
                }
            });
        });

    </script>
}

