﻿    @model Booking_System.Models.provider
@using Tab = Booking_System.Helpers.AppEnums
@using provTab = Booking_System.Helpers.AppEnums.ProviderTab
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Details";
    var type = Model.provider_type;
    Tab.ProviderTab tab = ViewBag.Tab;
    var desc = "";

    if (type == "A")
    {
        desc = "Tour Operator";
    }
    else if (type == "R")
    {
        desc = "Car Rental";
         tab = provTab.VEHICLES;
    }

    var IsCarRental = type == "R";
    var IsActivity = type == "A";

    ViewBag.Title = string.Concat("Create ", desc);

    var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "Create";
    ViewBag.TreeView = type;



    //var _id = Model.IsHotel ? hotelid : Model.provider_id;
    var _controller = Model.IsHotel ? "Hotels" : "Providers";
    var _provider = Model.IsHotel ? "Hotel" : (Model.IsRental ? "Car Rental" : (Model.IsTourOperator ? "Tour Operators" : ""));
    var _methodList = Model.IsHotel ? "ListHotels" : (Model.IsRental ? "ListCarRentals" : (Model.IsTourOperator ? "ListTourOperators" : ""));
    var _tab = Model.IsHotel ? (int)hotelTab.CONTACTS : (Model.IsRental ? (int)provTab.VEHICLES : (Model.IsTourOperator ? (int)provTab.ACTIVITIES : (int)provTab.TRANSFER));
    var _methodDetails = Model.IsHotel ? "HotelDetails" : "ProviderDetails";

    var imgCount = Model.provider_picture.Count();

}
<h2>@desc Details</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action(_methodList,_controller)">@_provider</a></li>
    <li class="active">@Model.name</li>
</ol>


<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">

            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:25%">
                            <span class="fa fa-building"></span>&nbsp;@desc
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.name)
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <span class="fa fa-home"></span>&nbsp;Address
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.street1)&nbsp;@Html.DisplayFor(model => model.street2)
                            <br />@Html.DisplayFor(model => model.town)
                            <br />@Html.DisplayFor(model => model.country)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-envelope"></span>&nbsp;Contact
                        </th>
                        <td>

                            <span class="fa fa-phone"></span>:
                            @if (string.IsNullOrWhiteSpace(Model.phone1))
                            {
                                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" title="Edit Hotel"><em>Add Detail</em></a>

                            } @Model.phone1


                            <br /><span class="fa fa-phone"></span>: @if (string.IsNullOrWhiteSpace(Model.phone2))
                            {
                                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" title="Edit Hotel"><em>Add Detail</em></a>
                            } @Model.phone2


                            <br /><span class="fa fa-fax"></span>:
                            @if (string.IsNullOrWhiteSpace(Model.fax))
                            {
                                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" title="Edit Hotel"><em>Add Detail</em></a>
                            } @Model.fax


                            <br /><span class="fa fa-envelope"></span>:
                            @if (string.IsNullOrWhiteSpace(Model.email))
                            {
                                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" title="Edit Hotel"><em>Add Detail</em></a>
                            } @Model.email


                            <br /><span class="fa fa-globe"></span>:
                            @if (string.IsNullOrWhiteSpace(Model.website))
                            {
                                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" title="Edit Hotel"><em>Add Detail</em></a>
                            } @Model.website




                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-comment"></span>&nbsp;Details
                        </th>
                        <td>
                            @Html.Raw(Model.description)
                        </td>


                    </tr>

                </table>

            </div>
            <div class="box-footer clearfix no-border">
                <a href="@Url.Action("EditProvider", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit @desc </a>
            </div>

        </div>
    </div>



    <div class="col-md-8">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                
                @if (Model.IsTourOperator)
                {
                    <li class="@(tab==Tab.ProviderTab.GALLERY?"active":"")"><a href="#tab_@Tab.ProviderTab.GALLERY" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;Gallery</a></li>
                    <li class="@(tab==Tab.ProviderTab.FILEUPLOAD?"active":"")"><a href="#tab_@Tab.ProviderTab.FILEUPLOAD" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;File Upload</a></li>

                    <li class="@(tab==Tab.ProviderTab.ACTIVITIES?"active":"")"><a href="#tab_@Tab.ProviderTab.ACTIVITIES" data-toggle="tab"><i class="fa fa-safari"></i>&nbsp;Activities</a></li>
                }
                else if (Model.IsRental)
                {
                    <li class="@(tab==Tab.ProviderTab.VEHICLES?"active":"")"><a href="#tab_@Tab.ProviderTab.VEHICLES" data-toggle="tab"><i class="fa fa-car"></i>&nbsp;Vehicles</a></li>
                    @*<li class="@(tab==Tab.ProviderTab.TRANSFER?"active":"")"><a href="#tab_@Tab.ProviderTab.TRANSFER" data-toggle="tab"><i class="fa fa-car"></i>&nbsp;Transfer</a></li>*@

                }
                <li class="@(tab==Tab.ProviderTab.CONTACTS?"active":"")"><a href="#tab_@Tab.ProviderTab.CONTACTS" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;Contacts</a></li>


            </ul>
            <div class="tab-content">
                <div class="tab-pane @(tab==Tab.ProviderTab.GALLERY?"active":"")" id="tab_@Tab.ProviderTab.GALLERY">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post,
new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                {

                                    <input type="hidden" name="SectionId" value="@Model.provider_id" />
                                    <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Provider.ToString()" />

                                    <div class="col-md-6">

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Image</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                            </div>

                                        </div>
                                        <div class="form-group">

                                            <label class="control-label col-md-4">Title</label>
                                            <div class="col-md-8">
                                                <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Description</label>
                                            <div class="col-md-8">
                                                <input type="text" name="description" value="" class="form-control" placeholder="description" maxlength="149" />

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Image Section</label>
                                            @{
                                                var imgType = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

                                            }
                                            <div class="col-md-8">
                                                <select name="Section" class="form-control select2">
                                                    @foreach (var item in imgType)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>


                                        <div class="form-group">

                                            <label class="control-label col-md-4"></label>
                                            <div class="col-md-8">
                                                <input type="submit" name="Save" value="Add Image" class="btn btn-default" />
                                            </div>
                                        </div>

                                    </div>

                                                }
                            </div>
                            <hr />
                            <div class="col-md-12">


                                <div class="row">
                                    @{ var ic = 1;
                                    }
                                    <hr />
                                    @foreach (var item in Model.provider_picture)
                                    {

                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-thumbnail">
                                                    <div class="img-wrap">
                                                        <span class="deleteimage">
                                                            <a href="@Url.Action("DeleteImage", "Providers", new { id = item.picture_id, sectionId = Model.provider_id, type = Booking_System.Models.ImagesType.Provider.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                        </span>
                                                        <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                                    </div>
                                                    <div class="caption">
                                                        @item.picture.DisplayImageFileName
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        @using (Html.BeginForm("EditImage", "Providers"))
                                            {
                                        <input type="hidden" name="picture_id" value="@item.picture_id" />
                                        <input type="hidden" name="SectionId" value="@Model.provider_id" />
                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Provider.ToString()" />




                                        <div class="row">
                                            <div class="col-md-4">
                                                @{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), item.section);}
                                                <label class="control-label">Section</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="Section" class="form-control" title="Image Section">
                                                    @foreach (var imgSecs in sec)
                                                                    {
                                                        <option value="@imgSecs.Value" @(imgSecs.Selected ? "selected" : "")>@imgSecs.Text</option>
                                                                    }
                                                </select>


                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <label class="control-label">Order</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select name="display_order" class="form-control" title="Image Order">
                                                    @for (int i = -1; i <= imgCount; i++)
                                                                        {
                                                                            if (i != 0)
                                                                            {
                                                        <option value="@i" @(i == item.display_order ? "selected" : "")>@i.ToString()</option>
                                                                            }
                                                                        }


                                                    @if (item.display_order > imgCount)
                                                                        {
                                                        <option value="@item.display_order" selected="selected">@item.display_order.ToString()</option>
                                                                        }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-8">
                                                <button type="submit" name="Save" class="btn btn-sm btn-default" style="width:100%"><span class="fa fa-save"></span> Save</button>
                                                @*&nbsp; <a href="@Url.Action("DeleteImage", "Hotels", new { id = item.picture_id, hotelId = Model.provider_id })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>*@
                                            </div>
                                        </div>





                                                                    } <!-- form-->

                                    </div>

                                                                    if (ic % 4 == 0)
                                                                    {
                                    <br />
                                    <div style="clear:both"></div>
                                    <hr />

                                                                    }
                                                                    {
                                                                        ic++;
                                                                    }
                                    <div style="clear:right"></div>

                                                                    }
                                </div>
                            </div>

                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->



                <div class="tab-pane @(tab==Tab.ProviderTab.FILEUPLOAD?"active":"")" id="tab_@Tab.ProviderTab.FILEUPLOAD">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("AddFile", "Providers", FormMethod.Post,
new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                {

                                    <input type="hidden" name="provider_id" value="@Model.provider_id" />
                                    <input type="hidden" name="Source" value="@Booking_System.Models.FileSource.Provider.ToString()" />

                                    <div class="col-md-6">

                                        <div class="form-group">

                                            <label class="control-label col-md-4">File</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedUploadsExtAcceptAttr()" />
                                            </div>

                                        </div>
                                        <div class="form-group">

                                            <label class="control-label col-md-4">Title</label>
                                            <div class="col-md-8">
                                                <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Description</label>
                                            <div class="col-md-8">
                                                <input type="text" name="description" value="" class="form-control" placeholder="description" maxlength="149" />

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4"></label>
                                            <div class="col-md-8">
                                                <input type="submit" name="Save" value="Add File" class="btn btn-default" />
                                            </div>
                                        </div>

                                    </div>

                                }
                            </div>
                            <hr />
                            <div class="col-md-12">


                                <div class="row">
                                    @{ ic = 1;
                                    }
                                    <hr />
                                    @foreach (var item in Model.file_upload)
                                    {

                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="img-thumbnail">
                                                        <div class="img-wrap">
                                                            <span class="deleteimage">
                                                                <a href="@Url.Action("DeleteFile", "Providers", new { id = item.file_id, providerId = Model.provider_id, type = Booking_System.Models.FileSource.Provider.ToString() })" onclick="return confirm('Are you sure you wish to delete this file?');" class="btn btn-danger btn-sm" title="Delete File"><span class="fa fa-trash"></span> </a>
                                                            </span>
                                                            <a target="_blank" href="@Url.Action("DownloadFile", "Providers", new { id = item.file_id })" title="Download File"><span class="fa fa-5x fa-file"></span>@item.filename</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        if (ic % 4 == 0)
                                        {
                                            <br />
                                                                <div style="clear:both"></div>
                                                                <hr />

                                        }
                                        {
                                            ic++;
                                        }
                                        <div style="clear:right"></div>

                                    }
                                </div>
                            </div>

                        </div>

                    </div><!-- /.box-body -->
                </div>




@*
                @if (Model.IsTourOperator)
                {
                    <div class="tab-pane @(tab==Tab.ProviderTab.ACTIVITIES?"active":"")" id="tab_@Tab.ProviderTab.ACTIVITIES">
                        <div class="box-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        Activity Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Valid From
                                    </th>
                                    <th>
                                        Valid To
                                    </th>
                                    <th>
                                        Is Active
                                    </th>
                                    <th></th>

                                </tr>
                                @foreach (var item in Model.)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.activity_name)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.description)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.valid_from)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.valid_to)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.is_active)
                                        </td>

                                        <td align="right">

                                            <a href="@Url.Action("Details", "Vehicles", new { id = item.vehicle_id})" title="view Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                            <a href="@Url.Action("ActivityDetails", "Activities", new { id = item.activity_id})" title="View Activity"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                            <a href="@Url.Action("EditActivity", "Activities",new { id = item.activity_id})" title="Edit Activity"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                            <a href="@Url.Action("DeleteActivity","Activities", new { id = item.activity_id})" title="Delete Activity"><span class="fa fa-trash"></span></a>

                                        </td>
                                    </tr>
                                }
                            </table>
                            <div class="box-footer clearfix no-border">
                                <a href="@Url.Action("CreateActivity", "Activities", new { providerId = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Activity</a>

                            </div>
                        </div>
                    </div> <!--eo tab-pane-->
                }
    *@
                 @if (Model.IsRental)
                {
                    <div class="tab-pane @(tab==Tab.ProviderTab.VEHICLES?"active":"")" id="tab_@Tab.ProviderTab.VEHICLES">
                        <div class="box-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Model
                                    </th>
                                    <th>
                                        Seats
                                    </th>
                                    <th>
                                        With driver
                                    </th>
                                    <th>
                                        Engine
                                    </th>
                                    <th>
                                        Transmission
                                    </th>
                                    <th>
                                        Year
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.vehicles)
                                {
                                    if ((item.is_transfer == false) && (item.is_active))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.vehicle_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.vehicle_model)
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.max_seat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.includes_driver)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.engine_size)
                                            </td>
                                            <td>
                                                @(item.is_automatic?"A":"M")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.year)
                                            </td>

                                            <td align="right">

                                                @*<a href="@Url.Action("Details", "Vehicles", new { id = item.vehicle_id})" title="view Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                                <a href="@Url.Action("EditVehicle", "Vehicles",new { id = item.vehicle_id })" title="Edit Vehicle"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                <a href="@Url.Action("DeleteVehicle","Vehicles", new { id = item.vehicle_id })" title="Delete Vehicle"><span class="fa fa-trash"></span></a>

                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                            <div class="box-footer clearfix no-border">
                                <a href="@Url.Action("CreateVehicleOrTransfer", "Vehicles", new { id = Model.provider_id, hotelid = Model.provider_id, tab=1 })" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Vehicle</a>

                            </div>
                        </div>
                    </div> <!--eo tab-pane-->

                    <div class="tab-pane @(tab==Tab.ProviderTab.TRANSFER?"active":"")" id="tab_@Tab.ProviderTab.TRANSFER">
                        <div class="box-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        Service
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Model
                                    </th>
                                    <th>
                                        Service Description
                                    </th>
                                    <th>
                                        Min. Seats
                                    </th>
                                    <th>
                                        Max. Seats
                                    </th>
                                    <th>
                                        With driver
                                    </th>

                                </tr>

                                @foreach (var item in Model.vehicles)
                                {
                                    if ((item.is_transfer == true) && (item.is_active))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.service_name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.vehicle_type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.vehicle_model)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.service_description)
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.max_seat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.includes_driver)
                                            </td>

                                            <td align="right">

                                                @*<a href="@Url.Action("Details", "Vehicles", new { id = item.vehicle_id})" title="view Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                                <a href="@Url.Action("VehicleOrTransferDetails", "Vehicles", new { id = item.vehicle_id, hotelid = Model.provider_id,tab=2})" title="view Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                <a href="@Url.Action("EditVehicleOrTransfer", "Vehicles",new { id = item.vehicle_id, hotelid = Model.provider_id,tab=2})" title="Edit Vehicle"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                <a href="@Url.Action("DeleteVehicleOrTransfer","Vehicles", new { id = item.vehicle_id, hotelid = Model.provider_id,tab=2})" title="Delete Vehicle"><span class="fa fa-trash"></span></a>

                                            </td>

                                        </tr>
                                    }

                                }

                            </table>
                            <div class="box-footer clearfix no-border">
                                <a href="@Url.Action("CreateVehicleOrTransfer", "Vehicles", new { id = Model.provider_id, hotelid = Model.provider_id, tab=2})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Vehicle</a>

                            </div>
                        </div>
                    </div> <!--eo tab-pane-->
                }
                <div class="tab-pane @(tab==Tab.ProviderTab.CONTACTS?"active":"")" id="tab_@Tab.ProviderTab.CONTACTS">
                    <div class="box-body">
                        <table class="table light-grey table-hover">
                            <tr>
                                <th>
                                    Name
                                </th>

                                <th>
                                    Job Position
                                </th>

                                <th>
                                    <i class="fa fa-phone"></i>&nbsp; Phone
                                </th>

                                <th>
                                    <i class="fa fa-envelope"></i>   Email
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model.contacts)
                            {
                                <tr>

                                    <td class="">
                                        <b>@item.TitleFullName</b>

                                    </td>
                                    <td title="@item.notes">
                                        <em>@item.job_title</em>
                                    </td>
                                    <td>
                                        @item.office_phone
                                    </td>
                                    <td>
                                        @item.email
                                    </td>

                                    <td align="right">


                                        <a href="@Url.Action("ContactDetails", new { id = item.contact_id, hotelid = Model.provider_id})" title="view"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="@Url.Action("EditContact", new { id = item.contact_id, hotelid = Model.provider_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="@Url.Action("DeleteContact", new { id = item.contact_id, hotelid = Model.provider_id})" title="Delete"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>
                            }

                        </table>
                        <div class="box-footer clearfix no-border">
                            <a href="@Url.Action("CreateContact", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Contact</a>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->


            </div> <!-- tab content -->

        </div>

    </div> <!-- col 8 -->
</div> <!-- row -->
