﻿@model IEnumerable<Booking_System.Models.vehicle>

@{
    ViewBag.Title = "Vehicules";
    var providername = ViewBag.ProviderName;
}


<style>
    .box-header {
        background: #8CC440;
        color: #fff;
    }
</style>

<h2>Vehicles</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("CarRentalProviders","Providers")">Car Rental Providers</a></li>
    <li class="active">Activities</li>
</ol>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Vehicle List for <b>@providername</b></h3>
        <div class="box-tools">


            <a href="@Url.Action("Create","Vehicles")" class="btn btn-default pull-right"><span class="fa fa-plus-circle"></span> New Activity</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div class="box">

            <div class="box-body table-responsive no-padding">

                <table class="table table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.service_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vehicle_model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vehicle_type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.service_description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.min_seat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.max_seat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.includes_driver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.is_active)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.is_transfer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.service_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vehicle_model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vehicle_type)
                            </td>
                            <td>
                                @Html.Raw(item.service_description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.min_seat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.max_seat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.includes_driver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.is_active)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.is_transfer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provider.name)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Activities", new { id = item.vehicle_id})" title="View Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                <a href="@Url.Action("Edit", "Activities", new { id = item.vehicle_id})" title="Edit Vehicle"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                <a href="@Url.Action("Delete", "Activities", new { id = item.vehicle_id})" title="Delete Vehicle"><span class="fa fa-trash"></span></a
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div