﻿@model Booking_System.Models.featuredHotel

@{
    ViewBag.Title = "Create";
    ViewBag.Menu = "List";
    ViewBag.TreeView = "FH";

    var featuredhotellist = ViewBag.provider_id;
    var featuredSectionList = Booking_System.Helpers.SelectItems.GetFeaturedSectionListItem();
    var duplicateErr = ViewBag.Duplicate;
}

<h2><span class="fa fa-room"></span>Create Featured Hotel</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListFeaturedHotels","FeaturedHotels")">Featured Hotels</a></li>
    <li class="active">Create Featured Hotel</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Featured Hotel Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @*@{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), Model.section);}*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.provider, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.provider_id, (SelectList)featuredhotellist, "select", new { @class = "form-control" })
                       
                        
                        @Html.ValidationMessageFor(model => model.featured_hotel_id, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.section, featuredSectionList, "select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                    </div>

                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.from_date, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.from_date, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.to_date, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.to_date, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.picture_id, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.picture_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.picture_id, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="form-group">
                        <div class="text-center">
                            <a href="@Url.Action("ListFeaturedHotels","FeaturedHotels")" class="btn btn-default">Back</a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- ./box body -->
            </div> <!-- ./ box -->
        </div><!-- /.col -->
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
