﻿@model Booking_System.Models.featuredHotel

@{
    ViewBag.Title = "DeleteFeatruedHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span class="fa fa-trash"></span> Delete Featured Hotel</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListFeaturedHotels","FeaturedHotels")">Featured Hotels</a></li>
    <li class="active">Delete Featured Hotel</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Feature Hotel: @Model.featured_hotel_id</h4>
                    <hr />

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.featured_hotel_id)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.featured_hotel_id)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.from_date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.from_date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.to_date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.to_date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.picture.file_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.picture.file_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider.name)
                        </dd>

                    </dl>
                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("ListFeaturedHotels")" type="button" class="btn btn-default">Do not delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

