﻿@model Booking_System.Models.featuredHotel

@{
    ViewBag.Title = "Edit";
    ViewBag.Menu = "List";
    ViewBag.TreeView = "FH";

    var featuredhotellist = ViewBag.provider_id;
    var featuredSectionList = Booking_System.Helpers.SelectItems.GetFeaturedSectionListItem();
    var providerImages = ViewBag.hotelpictures;

}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListFeaturedHotels","FeaturedHotels")">Featured Hotels</a></li>
    <li class="active">Edit Featured Hotel</li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    @Html.HiddenFor(model => model.featured_hotel_id)
    @Html.HiddenFor(model => model.provider_id)
    @Html.HiddenFor(model => model.picture_id)

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Featured Hotel Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.provider, "Provider", htmlAttributes: new { @class = "control-label" })
                        @*@Html.DropDownListFor(model => model.provider_id, (SelectList)featuredhotellist, "", htmlAttributes: new { @class = "form-control" })*@ 
                        @Html.TextBox("provider",Model.provider.name,htmlAttributes: new { @class = "form-control" , @disabled = "disabled"})
                        @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.section, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.section, featuredSectionList, "select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.section, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.from_date, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.from_date, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.to_date, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.to_date, "", new { @class = "text-danger" })

                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.picture_id, "picture_id", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("picture_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picture_id, "", new { @class = "text-danger" })
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("ListFeaturedHotels","FeaturedHotels")" class="btn btn-default">Back</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- ./box body -->
            </div> <!-- ./ box -->
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="badge"><span class="fa fa-image"></span></span>&nbsp;Image
                    </h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    @foreach (var pic in Model.provider.provider_picture)
                    {
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="img-thumbnail">
                                        <div class="img-wrap">
                                            <span class="deleteimage">
                                                <a href="@Url.Action("UpdateFeatureImage", "FeaturedHotels", new { id = Model.featured_hotel_id, pictureId = pic.picture_id, type = Booking_System.Models.ImagesType.Provider.ToString() })" onclick="return confirm('Are you sure you wish to set this image as Featured Image?');" class="btn btn-danger btn-sm" title="Set As Featured Image"><span class="fa fa-star"></span> </a>
                                            </span>
                                            <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), pic.picture.FullFileName)" alt="@pic.picture.DisplayImageTitle" />
                                        </div>
                                        <div class="caption">
                                            @if (Model.picture_id == pic.picture_id)
                                            {
                                                <span class="fa 	fa-star"></span> }  @pic.picture.DisplayImageFileName
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
</div>
}
