﻿@model IEnumerable<Booking_System.Models.featuredHotel>

@{
    ViewBag.Title = "List Featured Hotels";
    ViewBag.Menu = "List";
    ViewBag.TreeView = "FH";
}

<h2>List Featured Hotels</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Featured Hotels</li>
</ol>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Featured Hotel List</h3>
        <div class="box-tools">
            <a href="@Url.Action("Create", "FeaturedHotels")" class="pull-right"><span class="fa fa-plus-circle"></span> New Featured Hotel</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

        <table class="table table-hover">
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.featured_hotel_id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.provider_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.from_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.to_date)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.picture_id)
                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.featured_hotel_id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.provider.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.from_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.to_date)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.picture_id)
                    </td>*@
                    <td align="right">
                        <a href="@Url.Action("EditFeaturedHotel", new { id = item.featured_hotel_id})" title="View Featured Hotel"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        <a href="@Url.Action("DeleteFeaturedHotel", new { id = item.featured_hotel_id })" title="Delete Featured Hotel"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }

        </table>
    </div>  <!-- .box-body-->
</div> <!-- .box-->
