﻿@model Booking_System.Models.vehiclePricing


    @using (Html.BeginForm("SaveVehiclePricing","Vehicles", FormMethod.Post ))
    {
        @Html.AntiForgeryToken()

        <div class="">
            <h4>vehiclePricing</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.vehicle_id)

            <div class="form-group">
                @Html.LabelFor(model => model.currency_id, "currency_id", htmlAttributes: new { @class = "control-label " })
                    @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.half_day_price, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.half_day_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.half_day_price, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.half_day_price_with_driver, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.half_day_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.half_day_price_with_driver, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.daily_price, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.daily_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.daily_price, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.daily_price_with_driver, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.daily_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.daily_price_with_driver, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>


            


            @*<div class="form-group">
                @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.is_active)
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
            </div>*@

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }