﻿@model Booking_System.Models.vehiclePricing


@using (Html.BeginForm("SaveVehiclePricing", "Vehicles", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="box box-warning">
        <div class="box-header with-border">
            <h4>Edit Pricing for @Model.currency.currency_code</h4>
        </div><!-- /.box-header -->


        <div class="box-body">            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.vehicle_pricing_id)
            @Html.HiddenFor(model => model.vehicle_id)
            @Html.HiddenFor(model => model.currency_id)

        <div class="row">
            <div class="col-md-3">

                <div class="form-group">
                    @Html.LabelFor(model => model.daily_price, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.daily_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.daily_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.daily_price_with_driver, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.daily_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.daily_price_with_driver, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    
                    @Html.LabelFor(model => model.half_day_price, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.half_day_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.half_day_price, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.half_day_price_with_driver, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.half_day_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.half_day_price_with_driver, "", new { @class = "text-danger" })
                </div>

            </div>
            
        </div>

                @*<div class="form-group">
                    @Html.EditorFor(model => model.is_active) &nbsp;&nbsp;&nbsp;
                    @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                    @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })


                </div>*@

                <div class="form-group">
                    <div class="text-center">
                        <input type="button" value="Close" class="btn btn-default closeeditpricing" />
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div> <!-- body-->
    </div> <!-- box-->
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
