﻿@model Booking_System.Models.vehicle
@using Tab = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "Create";

    List<SelectListItem> titleListItem = Booking_System.Helpers.SelectItems.GetTitleListItem();

    var vehicleTypeList = Booking_System.Helpers.SelectItems.GetVehicleType();

    var provider = ViewBag.Provider as Booking_System.Models.provider;
    var imgCount = Model.vehicle_picture.Count();

    var _id = provider.provider_id;
    var _controller = "Providers";
    var _provider = "Car Rental";
    var _methodList = "ListCarRentals";

    var _methodDetails = "ProviderDetails";

    var _tab = ViewBag.Tab;
}

<h2>Create Vehicle</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@provider.name</a></li>

    <li class="active">Create Vehicle</li>
</ol>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="row">

        <input type="hidden" name="provider_id" value="@provider.provider_id" />
        
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Create Vehicle Details
                            </h3>

                        </div><!-- /.box-header -->

                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.service_name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.service_name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.service_name, "", new { @class = "text-danger" })
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.vehicle_type, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.vehicle_type, vehicleTypeList, "select", new { @class = "form-control" })
                                
                                @Html.ValidationMessageFor(model => model.vehicle_type, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.vehicle_model, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.vehicle_model, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vehicle_model, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.service_description, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.service_description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.service_description, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.max_seat, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.max_seat,  new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.max_seat, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.includes_driver, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.includes_driver)
                                @Html.ValidationMessageFor(model => model.includes_driver, "", new { @class = "text-danger" })
                            </div>
                            @Html.HiddenFor(model => model.is_transfer, htmlAttributes: new { @value = true })

                           
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Back</a>
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                 </div>

 


            </div>
            }

            <div>
                

            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/plugins")
            }
