﻿@model Booking_System.Models.ViewModel.VehicleViewModel

@{
    ViewBag.Title = "Add Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.Menu = "CreateVehicle";
    //H(otel), R(ental), U(ser), A(ctivity), S(ystem)
    ViewBag.TreeView = "R";

    var providers = ViewBag.provider_id as List<SelectListItem>;

    var _controller = "Vehicles";
    var _provider = "Car Rental";
    var _methodList = "ListVehicles";

    

    var _tab = ViewBag.Tab;

    var vehicleTypeList = Booking_System.Helpers.SelectItems.GetVehicleType();

    var fuelTypeList = Booking_System.Helpers.SelectItems.GetFuelTypeListItem();
    var imageTypeList = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");
}

<h2>Create Vehicle</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>

    @*<li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@provider.name</a></li>*@

    <li class="active">Create Vehicle</li>
</ol>



@using (Html.BeginForm("CreateVehicle","Vehicles",FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()

    <div class="row">


        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Create Vehicle Details
                    </h3>

                </div><!-- /.box-header -->

                <div class="box-body">

                    <input type="hidden" name="Vehicle.is_active" value="true" />
                    <input type="hidden" name="Vehicle.is_transfer" value="false" />
                    <input type="hidden" name="VehiclePicture.imgType" value="@Booking_System.Models.ImagesType.Vehicle.ToString()" />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Vehicle.provider_id, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownList("provider_id", null, htmlAttributes: new { @class = "form-control", @required = "required" } )                        
                        @Html.ValidationMessageFor(model => model.Vehicle.provider_id, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.vehicle_model, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.Vehicle.vehicle_model, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.vehicle_model, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.vehicle_type, htmlAttributes: new { @class = "control-label " })

                                @Html.DropDownListFor(model => model.Vehicle.vehicle_type, vehicleTypeList, "select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.vehicle_type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.max_seat, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.Vehicle.max_seat, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.max_seat, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.doors, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.Vehicle.doors, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.doors, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.year, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.Vehicle.year, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.year, "", new { @class = "text-danger" })
                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.engine_size, htmlAttributes: new { @class = "control-label " })
                                @Html.TextBoxFor(model => model.Vehicle.engine_size, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.engine_size, "", new { @class = "text-danger" })
                            </div>


                        </div>

                        <div class="col-md-6">


                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle.fuel_type, htmlAttributes: new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.Vehicle.fuel_type, fuelTypeList, "select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Vehicle.fuel_type, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Vehicle.is_automatic) &nbsp;&nbsp;&nbsp;
                                @Html.LabelFor(model => model.Vehicle.is_automatic, htmlAttributes: new { @class = "control-label " })
                                @Html.ValidationMessageFor(model => model.Vehicle.is_automatic, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Vehicle.includes_driver) &nbsp;&nbsp;&nbsp;
                                @Html.LabelFor(model => model.Vehicle.includes_driver, htmlAttributes: new { @class = "control-label " })
                                @Html.ValidationMessageFor(model => model.Vehicle.includes_driver, "", new { @class = "text-danger" })
                            </div>


                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Vehicle.service_description, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.Vehicle.service_description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Vehicle.service_description, "", new { @class = "text-danger" })
                    </div>


                </div>
            </div> <!-- body-->



        </div> <!-- col -->

        <div class="col-md-4">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="badge"><span class="fa fa-dollar"></span></span>&nbsp;Vehicle Pricing
                    </h3>

                </div><!-- /.box-header -->

                <div class="box-body">
                    
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehiclePricing.currency_id, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.VehiclePricing.currency_id, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VehiclePricing.half_day_price_with_driver, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehiclePricing.half_day_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehiclePricing.half_day_price_with_driver, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VehiclePricing.half_day_price, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehiclePricing.half_day_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehiclePricing.half_day_price, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VehiclePricing.daily_price_with_driver, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehiclePricing.daily_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehiclePricing.daily_price_with_driver, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.VehiclePricing.daily_price, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.VehiclePricing.daily_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VehiclePricing.daily_price, "", new { @class = "text-danger" })
                        </div>


                    
                </div> <!-- box-->


            </div><!-- /.col -->


        </div> <!-- col-4-->

    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="badge"><span class="fa fa-image"></span></span>&nbsp;Vehicle Image
                </h3>

            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />                    
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.VehiclePicture.title, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.VehiclePicture.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehiclePicture.title, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VehiclePicture.description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.VehiclePicture.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehiclePicture.description, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.VehiclePicture.Section, htmlAttributes: new { @class = "control-label" })
                    @*@Html.EditorFor(model => model.VehiclePicture.Section, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.VehiclePicture.Section, imageTypeList, "select", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VehiclePicture.Section, "", new { @class = "text-danger" })
                </div>


            </div>
            </div>
</div> <!-- row-->

        </div> <!-- row -->








            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
