﻿@model Booking_System.Models.vehicle

@{
    ViewBag.Title = "DeleteVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2><span class="fa fa-trash"></span> Delete Vehicle</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action("ListVehicles")">Vehicles</a></li>
    

    <li class="active">Delete Vehicle</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Vehicle: @Model.vehicle_model</h4>
                    <hr />


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.service_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.service_name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.vehicle_model)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.vehicle_model)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.vehicle_type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.vehicle_type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.service_description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.service_description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.max_seat)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.max_seat)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.is_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.is_transfer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_transfer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.includes_driver)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.includes_driver)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.engine_size)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.engine_size)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.year)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.year)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.is_automatic)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_automatic)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.doors)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.doors)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fuel_type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fuel_type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider.name)
                        </dd>

                    </dl>
                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("ListVehicles")" type="button" class="btn btn-default">Do not delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
                </div>
