﻿@model Booking_System.Models.vehicle

@{
    ViewBag.Title = "Delete";

    var _id = Model.provider.provider_id;
    var _controller = "Providers";
    var _provider = "Car Rental";
    var _methodList = "ListCarRentals";
    var _tab = 1;
    var _methodDetails = "ProviderDetails";
}

<h2><span class="fa fa-trash"></span> Delete Vehicle</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@Model.provider.name</a></li>

    <li class="active">Delete Vehicle</li>
</ol>

<div class="col-md-offset-4 col-md-4">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
        </div><!-- /.box-header -->
        <div class="box-body">

            <div>
                <h4>vehicle : @Model.service_name</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.service_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.service_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle_type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle_type)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.vehicle_model)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.vehicle_model)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.service_description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.service_description)
                    </dd>

                   
                    <dt>
                        @Html.DisplayNameFor(model => model.max_seat)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.max_seat)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.includes_driver)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.includes_driver)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.is_active)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.is_active)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.provider.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.provider.name)
                    </dd>

                </dl>

                <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Do not delete</a>
                    </div>
                }
            </div>
