﻿@model Booking_System.Models.vehiclePricing
@using tab = Booking_System.Helpers.AppEnums.VehicleTab

@{
    ViewBag.Title = "EditVehiclePricing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vehiclename = ViewBag.VehicleName;
    var serviceName = ViewBag.ServiceName;
    var vehicleid = ViewBag.VehicleId;
    var hasactivity = (vehicleid != null);
    var provid = ViewBag.providerid;
    var provname = ViewBag.providername;
}

<h2>Edit Vehicle Pricing</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListCarRentals", "Providers")">Car Rentals</a></li>
    <li><a href="@Url.Action("ProviderDetails","Providers", new { id = provid, tab = Booking_System.Helpers.AppEnums.ProviderTab.VEHICLES})">@provname details</a></li>
    <li><a href="@Url.Action("VehicleOrTransferDetails","Vehicles", new { id = provid})">@serviceName details</a></li>
    <li class="active">Edit pricing for @serviceName</li>
</ol>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Pricing</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.vehicle_pricing_id, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.vehicle_pricing_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vehicle_pricing_id, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.vehicle_id, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.vehicle_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vehicle_id, "", new { @class = "text-danger" })
                        </div>*@

                    @Html.HiddenFor(model => model.vehicle_pricing_id)
                    @Html.HiddenFor(model => model.vehicle_id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.half_day_price_with_driver, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.half_day_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.half_day_price_with_driver, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.half_day_price, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.half_day_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.half_day_price, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.daily_price_with_driver, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.daily_price_with_driver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.daily_price_with_driver, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.daily_price, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.daily_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.daily_price, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.is_active)
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
