﻿@model Booking_System.Models.vehicle

@{
    ViewBag.Title = "Edit";
    ViewBag.TreeView = "R";
    ViewBag.Menu = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _id = Model.provider.provider_id;
    var _controller = "Providers";
    var _provider = "Car Rental";
    var _methodList = "ListCarRentals";
    var _tab = 1;
    var _methodDetails = "ProviderDetails";

    var vehicleTypeList = Booking_System.Helpers.SelectItems.GetVehicleType();



}

<h2>Edit Vehicle <small>@Model.service_name</small></h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })">@Model.provider.name</a></li>

    <li class="active">Edit Vehicle</li>
</ol>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Edit Vehicle Details of <b>@Model.vehicle_model</b>
                    </h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.vehicle_id)
                    @Html.HiddenFor(model => model.provider_id)

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.service_name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.service_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.service_name, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.vehicle_type, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.vehicle_type, vehicleTypeList, new { @class = "form-control" })
                        
                        @Html.ValidationMessageFor(model => model.vehicle_type, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.vehicle_model, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.vehicle_model, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.vehicle_model, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.service_description, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.service_description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.service_description, "", new { @class = "text-danger" })
                    </div>

                
                    <div class="form-group">
                        @Html.LabelFor(model => model.max_seat, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.max_seat,new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.max_seat, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.includes_driver, htmlAttributes: new { @class = "control-label" })
                        @*@Html.EditorFor(model => model.includes_driver, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.EditorFor(model => model.includes_driver)
                        @Html.ValidationMessageFor(model => model.includes_driver, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.is_active)
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.is_transfer)
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            @*<a href="@Url.Action("Details","Vehicles", new { id = Model.vehicle_id, tab=1 })" class="btn btn-default">Cancel</a>*@&nbsp;
                            <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab })" type="button" class="btn btn-default">Back</a>

                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div> <!-- body -->
            </div> <!-- box -->
        </div> <!-- col -->
    </div> <!-- row-->
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
