﻿@model Booking_System.Models.vehicle

@{
    ViewBag.Title = "EditVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Menu = "CreateVehicle";
    //H(otel), R(ental), U(ser), A(ctivity), S(ystem)
    ViewBag.TreeView = "R";

    var providers = ViewBag.provider_id as List<SelectListItem>;

    var _controller = "Vehicles";
    var _provider = "Car Rental";
    var _methodList = "ListVehicles";



    var _tab = ViewBag.Tab;

    var vehicleTypeList = Booking_System.Helpers.SelectItems.GetVehicleType(Model.vehicle_type);

    var fuelTypeList = Booking_System.Helpers.SelectItems.GetFuelTypeListItem(Model.fuel_type.ToString());
    var imageTypeList = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

}



<h2>Edit Vehicle</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>

    <li><a href="@Url.Action(_methodList, _controller)">@_provider</a></li>

    <li class="active">Edit Vehicle</li>
</ol>


<div class="row">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()




        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Create Vehicle Details
                    </h3>

                </div><!-- /.box-header -->

                <div class="box-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.vehicle_id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.provider_id, "provider_id", htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("provider_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.vehicle_model, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.vehicle_model, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vehicle_model, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.vehicle_type, htmlAttributes: new { @class = "control-label " })


                                @Html.DropDownListFor(model => model.vehicle_type, vehicleTypeList, "select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.vehicle_type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.max_seat, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.max_seat, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.max_seat, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.doors, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.doors, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.doors, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.engine_size, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.engine_size, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.engine_size, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.year, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.is_automatic) &nbsp;&nbsp;
                                @Html.LabelFor(model => model.is_automatic, htmlAttributes: new { @class = "control-label " })
                                @Html.ValidationMessageFor(model => model.is_automatic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.includes_driver) &nbsp;&nbsp;
                                @Html.LabelFor(model => model.includes_driver, htmlAttributes: new { @class = "control-label " })
                                @Html.ValidationMessageFor(model => model.includes_driver, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fuel_type, htmlAttributes: new { @class = "control-label " })

                                @Html.DropDownListFor(model => model.fuel_type, fuelTypeList, "select", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fuel_type, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.service_description, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.service_description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.service_description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.is_active) &nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <a href="@Url.Action("ListVehicles","Vehicles")" class="btn btn-default">Back</a>
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="badge"><span class="fa fa-edit"></span></span>&nbsp;Create Vehicle Details
                </h3>

            </div><!-- /.box-header -->

            <a href="#" class="shownextsection pull-right"><span class="fa fa-plus-circle"></span>&nbsp;Add Pricing&nbsp;&nbsp;&nbsp;</a>
            <section style="display:none">
                <div class="box-body">
                    @Html.Partial("_CreateVehiclePricing", new Booking_System.Models.vehiclePricing { vehicle_id = Model.vehicle_id })
                </div>
            </section>


            @if (Model.vehicle_pricing.Count > 0)
            {
                <div class="box-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Daily</th>
                                <th>Daily w/Driver</th>
                                <th>Half-Day</th>
                                <th>Half-Day w/Driver</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var price in Model.vehicle_pricing)
                {
                                <tr>
                                    <td>
                                        @price.currency.currency_code
                                    </td>
                                    <td>
                                        @price.currency.symbol@price.daily_price
                                    </td>
                                    <td>
                                        @price.currency.symbol@price.daily_price_with_driver
                                    </td>
                                    <td>
                                        @price.currency.symbol@price.half_day_price
                                    </td>
                                    <td>
                                        @price.currency.symbol@price.half_day_price_with_driver
                                    </td>
                                    <td align="right" style="width:15%">

                                        @*<a href="@Url.Action("EditVehiclePricing","Vehicles", new { id = price.vehicle_pricing_id})" title="View/Edit Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                        <a href="#" class="showeditpricing" title="View/Edit Vehicle"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="@Url.Action("DeleteVehiclePricing", new { id = price.vehicle_pricing_id })" onclick="return confirm('Are you sure?');" title="Delete Car Rental"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>
                                <tr class="editpricing" style="display:none">
                                    <td colspan="5">
                                        @Html.Partial("_EditVehiclePricing", price)
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>


                </div>
            }

        </div>
    </div>


    <div class="col-md-2">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="badge"><span class="fa fa-image"></span></span>&nbsp;Image
                </h3>

            </div><!-- /.box-header -->
            <div class="box-body">

                @if (Model.vehicle_picture.Count > 0)
                        {
                            var pic = Model.vehicle_picture.FirstOrDefault();
                    <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetVehicleImgPath()), pic.picture.FullFileName)" alt="@pic.picture.DisplayImageTitle" />
                }

                <a href="#" class="shownextsection"><span class="fa fa-edit"></span> @(Model.vehicle_picture.Count >0 ?"Replace":"Add") Vehicle Image</a>
                <section style="display:none">
                    @using (Html.BeginForm("ReplaceVehicleImage", "Vehicles", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name="vehicleId" value="@Model.vehicle_id" />
                        <div class="form-group">
                            <label class="control-label">Image</label>
                            <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                        </div>


                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </section>


    </div>
        </div>
</div>


        </div> <!-- row -->


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script>
                $(document).ready(function () {
                    $('body').on('click', '.shownextsection', function () {

                        $(this).next('section').toggle();
                    });


                    $('body').on('click', '.showeditpricing', function () {

                        $(this).parent().parent().next('.editpricing').toggle();
                    });



                    $('body').on('click', '.closeeditpricing', function () {

                        $(this).closest('tr').toggle();
                    });
                });
            </script>
        }
