﻿@model IEnumerable<Booking_System.Models.vehicle>

@{
    ViewBag.Title = "ListVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Menu = "ListVehicles";
    ViewBag.TreeView = "R";
}

<h2>Car Rental</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Car Rental Providers</li>
</ol>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">Car Rental List</h3>
        <div class="box-tools">
            <div class="box-tools">
                <a href="@Url.Action("CreateVehicle","Vehicles")" class="pull-right"><span class="fa fa-plus-circle"></span> Add Vehicle</a>
            </div>

            
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <div class="box">

            <div class="box-body table-responsive no-padding">

                <table class="table table-hover">
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.vehicle_model)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vehicle_type)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.max_seat)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.is_automatic)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.doors)
                        </th>
                        <th>
                            Daily Rate
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fuel_type)
                        </th>
                    

                        <th>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>
                                
                                <a href="@Url.Action("EditVehicle","Vehicles", new { id = item.vehicle_id})" title="View/Edit Vehicle">@Html.DisplayFor(modelItem => item.vehicle_model)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vehicle_type)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.max_seat)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.is_automatic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.doors)
                            </td>
                            <td>
                                @{var price = "NA";
                                }
                                @if (item.vehicle_pricing.Count >0)
                                {
                                    price = string.Concat(item.vehicle_pricing.FirstOrDefault().currency.symbol, item.vehicle_pricing.FirstOrDefault().daily_price);
                                }
                                @price

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.fuel_type)
                            </td>
                            <td>
                                <a href="@Url.Action("ProviderDetails","Providers", new { id = item.provider.provider_id })">@Html.DisplayFor(modelItem => item.provider.name)</a>
                                
                            </td>
                            <td align="right">


                                
                                <a href="@Url.Action("EditVehicle","Vehicles", new { id = item.vehicle_id})" title="View/Edit Vehicle"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;                                
                                <a href="@Url.Action("DeleteVehicle","Vehicles", new { id = item.vehicle_id})" title="Delete Vehicle"><span class="fa fa-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    </div>


