﻿@model Booking_System.Models.vehicle
@using Tab = Booking_System.Helpers.AppEnums
@{
    //ViewBag.Title = "Details";
    ViewBag.TreeView = "A";
    ViewBag.Menu = "Details";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var imgCount = Model.vehicle_picture.Count();

    ViewBag.Title = "Details";

    var _id = Model.provider.provider_id;
    var _controller = "Providers";
    var _provider = "Car Rental";
    var _methodList = "ListCarRentals";
    var _tab = ViewBag.Tab;
    var _methodDetails = "ProviderDetails";

    Tab.VehicleTab tab = ViewBag.Tab;

}
<h2>Details</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    @*<li><a href="@Url.Action("CarRentalProviders", "Providers")">Car Rental Providers</a></li>*@
    @*<li><a href="@Url.Action("Index","Vehicles", new {id= Model.provider_id})">Vehicles</a></li>*@
    @*<li class="active">@Model.service_name</li>*@

    <li><a href="@Url.Action(_methodList,_controller)">@_provider</a></li>
    <li><a href="@Url.Action(_methodDetails,_controller,new { id = _id, tab = _tab})">@Model.provider.name</a></li>
    <li class="active">@Model.service_name</li>


</ol>


<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>


            </div>

            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:35%">
                            <span class=""></span>&nbsp;Service
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.service_name)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class=""></span>&nbsp;Vehicule
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.vehicle_type)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Model
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.vehicle_model)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Service
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.service_description)
                        </td>
                    </tr>
            
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Max. Seat
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.max_seat)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;With Driver
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.includes_driver)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Is Active
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_active)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class=""></span>&nbsp;Company
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.provider.name)
                        </td>
                    </tr>
                </table>
            </div>

            <div class="box-footer clearfix no-border">
                <div class="box-footer clearfix no-border">
                    <a href="@Url.Action("EditVehicleOrTransfer", new { id = Model.vehicle_id })" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit Car Vehicule </a> &nbsp;
                </div>
                @*<a href="@Url.Action("Index", "Vehicles", new { id = Model.provider_id })" class="btn btn-default pull-left"><i class="fa fa-backward"></i> Back</a>*@
                <a href="@Url.Action(_methodDetails, _controller, new { id = _id, tab = _tab   })" class="btn btn-default">Back</a>

            </div>


        </div>
    </div>

    <div class="col-md-8">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_@Tab.VehicleTab.GALLERY" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Gallery</a></li>
                <li class="@(tab==Tab.VehicleTab.PRICING?"active":"")"><a href="#tab_@Tab.VehicleTab.PRICING" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Pricings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_@Tab.VehicleTab.GALLERY">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("AddImage", "Vehicles", FormMethod.Post,
new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                {

                                    <input type="hidden" name="SectionId" value="@Model.vehicle_id" />
                                    <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Vehicle.ToString()" />


                                    <div class="col-md-6">

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Image</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                            </div>

                                        </div>
                                        <div class="form-group">

                                            <label class="control-label col-md-4">Title</label>
                                            <div class="col-md-8">
                                                <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Description</label>
                                            <div class="col-md-8">
                                                <input type="text" name="description" value="" class="form-control" placeholder="description" maxlength="149" />

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <label class="control-label col-md-4">Image Section</label>
                                            @{
                                                var imgType = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

                                            }
                                            <div class="col-md-8">
                                                <select name="Section" class="form-control select2">
                                                    @foreach (var item in imgType)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>


                                        <div class="form-group">

                                            <label class="control-label col-md-4"></label>
                                            <div class="col-md-8">
                                                <input type="submit" name="Save" value="Add Image" class="btn btn-default" />
                                            </div>
                                        </div>

                                    </div>

                                                }
                            </div>
                            <hr />
                            <div class="col-md-12">


                                <div class="row">
                                    @{ var ic = 1;
                                    }
                                    <hr />
                                    @foreach (var item in Model.vehicle_picture)
                                    {

                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="img-thumbnail">
                                                        <div class="img-wrap">
                                                            <span class="deleteimage">
                                                                <a href="@Url.Action("DeleteImage", "Vehicles", new { id = item.picture_id, sectionId = Model.vehicle_id, type = Booking_System.Models.ImagesType.Vehicle.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                            </span>
                                                            <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetVehicleImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                                        </div>
                                                        <div class="caption">
                                                            @item.picture.DisplayImageFileName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            @using (Html.BeginForm("EditImage", "Providers"))
                                            {
                                                <input type="hidden" name="picture_id" value="@item.picture_id" />
                                                <input type="hidden" name="SectionId" value="@Model.vehicle_id" />
                                                <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Vehicle.ToString()" />


                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), item.section);}
                                                        <label class="control-label">Section</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control" title="Image Section">
                                                            @foreach (var imgSecs in sec)
                                                            {
                                                                <option value="@imgSecs.Value" @(imgSecs.Selected ? "selected" : "")>@imgSecs.Text</option>
                                                            }
                                                        </select>


                                                    </div>


                                                </div>

                                                <div class="row">

                                                    <div class="col-md-4">
                                                        <label class="control-label">Order</label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select name="display_order" class="form-control" title="Image Order">
                                                            @for (int i = -1; i <= imgCount; i++)
                                                            {
                                                                if (i != 0)
                                                                {
                                                                    <option value="@i" @(i == item.display_order ? "selected" : "")>@i.ToString()</option>
                                                                }
                                                            }


                                                            @if (item.display_order > imgCount)
                                                            {
                                                                <option value="@item.display_order" selected="selected">@item.display_order.ToString()</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                            <div class="row">
                                                                <div class="col-md-offset-4 col-md-8">
                                                                    <button type="submit" name="Save" class="btn btn-sm btn-default" style="width:100%"><span class="fa fa-save"></span> Save</button>
                                                                    @*&nbsp; <a href="@Url.Action("DeleteImage", "Hotels", new { id = item.picture_id, hotelId = Model.provider_id })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>*@
                                                                </div>
                                                            </div>
                                                            } <!-- form-->

                                        </div>

                                                            if (ic % 4 == 0)
                                                            {
                                                                <br />
                                                                <div style="clear:both"></div>

                                                            }
                                                            {
                                                                ic++;
                                                            }
                                                            <div style="clear:right"></div>

                                                            }
                                </div>
                            </div>

                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->


                <div class="tab-pane @(tab==Tab.VehicleTab.PRICING?"active":"")" id="tab_@Tab.VehicleTab.PRICING">
                    <div class="box-body">


                        <table class="table light-grey table-hover">
                            <tr>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Half Day Price With Driver
                                </th>

                                <th>
                                    Half Day Price
                                </th>
                                <th>
                                    Daily Price With Driver
                                </th>
                                <th>
                                    Daily Price
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.vehicle_pricing)
            {
                                <tr>

                                    <td class="">
                                        @item.currency.currency_code

                                    </td>
                                    <td class="">
                                        @item.half_day_price_with_driver

                                    </td>
                                    <td class="">
                                        @item.half_day_price

                                    </td>
                                    <td class="">
                                        @item.daily_price_with_driver

                                    </td>
                                    <td class="">
                                        @item.daily_price

                                    </td>
                                    <td align="right">



                                        <a href="@Url.Action("EditVehiclePricing", "Vehicles",new { id= item.vehicle_pricing_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="@Url.Action("DeleteVehiclePricing", "Vehicles", new {  id= item.vehicle_pricing_id})" title="Delete"><span class="fa fa-trash"></span></a>

                                    </td>
                                </tr>
                            }

                        </table>
                        <div class="box-footer clearfix no-border">
                            <a href="@Url.Action("CreateVehiclePricing", "Vehicles", new { id = Model.vehicle_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add pricing</a>
                        </div>





                    </div><!-- /.box-body -->
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('body').on('click', '.showsection', function () {
                $(this).next('section').toggle();
            });
        });

    </script>
}

