﻿@model Booking_System.Helpers.LoginState

@{
    Layout = null;
    var browser = Request.Browser.Browser + Request.Browser.MajorVersion;
    var browser_type = Request.Browser.Browser;
    var browser_version = Request.Browser.MajorVersion;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login TCI</title>
    <link rel="icon" href="@Url.Content("~/favicon.ico?v=2")" />
</head>
<body class="hold-transition login-page">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")






    <div class="login-box ">
        @*<div class="login-logo" style="position:absolute;margin-top:10px;margin-left:-15px;z-index:100">
                <img class="img-responsive" src="@Url.Content("~/Images/logo/tci-120.png")" />
            </div>*@<!-- /.login-logo -->

        <div class="login-box-body shadow" style="position:absolute;width:400px; margin-top:50px;">

            <div class="login-box-msg" style="margin-left:15px;">

                <img class="" src="@Url.Content("~/Images/logo/tci-120.png")" />

            </div>

            @if (Model.LoginStateEnum != Booking_System.Helpers.LoginStateEnum.Password_Reset)
            {

                <section id="login">
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        @Html.AntiForgeryToken()


                        <input type="hidden" name="browser" value="@browser" />

                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Username" name="Username">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control" placeholder="Password" name="Password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6">

                                <div class="checkbox form-control pull-left" style="border:none">
                                    <label>
                                        <input type="checkbox" name="IsFront" value="true"> front end
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox form-control pull-left" style="border:none">
                                    <label>
                                        <input type="checkbox" class="forgotpassword" value="true"> forgot password
                                    </label>

                                </div>
                            </div>


                        </div><!-- /.col -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" style="background:#F38434;border:none">Sign In</button>
                        </div>

                        if (Model.LoginStateEnum != Booking_System.Helpers.LoginStateEnum.Not_Set)
                        {
                            <div class="text-center red"> <span class="glyphicon glyphicon-ban-circle"></span> @Model.LoginStateEnum.ToString().Replace('_', ' ') </div>
                        }
                    }
                </section>

                <section id="resetpassword" style="display:none">
                    <div>

                        @using (Html.BeginForm("ResetPassword", "Login"))
                        {
                            @Html.AntiForgeryToken()


                            <input type="hidden" name="browser" value="@browser" />
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Email" name="Email">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>

                            <div class="col-md-offset-6 col-md-6">
                                <div class="checkbox form-control pull-left" style="border:none">
                                    <label>
                                        <input type="checkbox" class="forgotpassword" checked="checked" value="true"> forgot password
                                    </label>

                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block btn-flat">Reset Password</button>
                            </div>
                        }
                    </div>
                </section>
            }
            else
            {
                <section id="changepassword">
                    <div>

                        @using (Html.BeginForm("ChangePassword", "Login"))
                        {
                            @Html.AntiForgeryToken()


                            <input type="hidden" name="browser" value="@browser" />

                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Username" name="Username" value="@Model.Username">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Email" name="Email" value="@Model.Email">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            if (!String.IsNullOrWhiteSpace(Model.OldPassword))
                            {
                                <div class="form-group has-feedback">
                                    <input type="password" class="form-control" placeholder="Old Password" name="OldPassword" value="@Model.OldPassword" @(!String.IsNullOrWhiteSpace(Model.OldPassword) ? "readonly='readonly'" : "")>
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                            }
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="New Password" name="NewPassword">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>
                            </div>
                        }
                    </div>
                </section>
            }

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {

            $('body').on('click', '.forgotpassword', function () {

                if ($(this).is(':checked')) {

                    $('#login').hide();
                    $('#resetpassword').show();
                    $('.forgotpassword').prop('checked', true);


                } else {

                    $('#login').show();
                    $('#resetpassword').hide();
                    $('.forgotpassword').prop('checked', false);
                }
            });
        });
    </script>

</body>
</html>
