﻿@model Booking_System.Models.transferPricing

@using (Html.BeginForm("EditTransferPricing","Transfers",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Pricing of @Model.currency.currency_code</h4>       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.transfer_pricing_id)
        @Html.HiddenFor(model => model.transfer_id)
        @Html.HiddenFor(model => model.currency_id)

        <div class="row">
            <div class="col-md-3">
                
                    @Html.LabelFor(model => model.child_price, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.child_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.child_price, "", new { @class = "text-danger" })
                

            </div>
            <div class="col-md-3">
                <div>
                    @Html.LabelFor(model => model.teen_price, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.teen_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.teen_price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">

                <div>
                    @Html.LabelFor(model => model.adult_price, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.adult_price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adult_price, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-3 pull-down">
                <div class="pull-down">
                        
                        <input type="submit" value="Save" class="btn btn-default" />
                    
                </div>

            </div>
            </div>
        
        


        
        
    </div>
}
