﻿@model Booking_System.Models.ViewModel.TransferViewModel
    

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.TreeView = "T";
    ViewBag.Menu = "Transfers";

}

<h2>Create Transfer</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListTransfers")">Transfers</a></li>
    <li class="active">Create Transfer</li>
</ol>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Transfer</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Transfer.name, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.Transfer.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Transfer.name, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Transfer.description, htmlAttributes: new { @class = "control-label " })
                        
                            @Html.EditorFor(model => model.Transfer.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Transfer.description, "", new { @class = "text-danger" })
                        
                    </div>

                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.Transfer.category, htmlAttributes: new { @class = "control-label " })

                        @Html.TextBoxFor(model => model.Transfer.category, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Transfer.category, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.Transfer.is_upgrade)
                        @Html.LabelFor(model => model.Transfer.is_upgrade, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.Transfer.category, "", new { @class = "text-danger" })

                    </div>


                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                    
                </div>
            </div> <!-- box -->


        </div> <!-- row -->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Transfer Pricing</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.InitialTransferPricing.currency_id, "currency_id", htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InitialTransferPricing.currency_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InitialTransferPricing.child_price, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.InitialTransferPricing.child_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InitialTransferPricing.child_price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InitialTransferPricing.teen_price, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.InitialTransferPricing.teen_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InitialTransferPricing.teen_price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InitialTransferPricing.adult_price, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.InitialTransferPricing.adult_price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.InitialTransferPricing.adult_price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        
                </div> <!-- row -->

            </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
