﻿@model Booking_System.Models.transfer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "T";
}

<h2><span class="fa fa-trash"></span> Delete Transfer</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListTransfers")">Transfers</a></li>

    <li class="active">Delete Transfer</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Transfer: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>


                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("ListTransfers")" type="button" class="btn btn-default">Do not delete</a>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    </div>
