﻿@model Booking_System.Models.transfer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "T";
    ViewBag.Menu = "Transfers";

    ViewBag.TransferId = Model.transfer_id;
}

<h2>Edit Transfer</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListTransfers")">Transfers</a></li>
    <li class="active">Edit Transfer</li>
</ol>



    <div class="row">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Transfer</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.transfer_id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.TextBoxFor(model => model.category, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.is_upgrade)
                        @Html.LabelFor(model => model.is_upgrade, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_upgrade, "", new { @class = "text-danger" })

                        @Html.CheckBoxFor(model => model.is_active)
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })






                    </div>



                    
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-body">

                    <a href="#" class="show-next-section"><span class="fa fa-plus-circle"></span>&nbsp;Add Transfer Pricing</a>
                    <section style="display:none">
                        @Html.Partial("_addTransferPricing", new Booking_System.Models.transferPricing())
                    </section>

                    <table class="table">
                        <tr>
                            <th>Currency</th>
                            <th>Child</th>
                            <th>Teen</th>
                            <th>Adult</th>
                            <th style="width:15%"></th>
                        </tr>
                        @foreach (var pricing in Model.transfer_pricing)
                {
                            <tr>
                                <td>@pricing.currency.currency_code</td>
                                <td>@pricing.child_price</td>
                                <td>@pricing.teen_price</td>
                                <td>@pricing.adult_price</td>
                                <th>

                                    <a href="#" title="Edit Transfer" class="show-next-tr"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                    <a href="@Url.Action("DeleteTransferPricing", new { id = pricing.transfer_pricing_id})" title="Delete Transfer Pricing" onclick="return confirm('Are you sure?');"><span class="fa fa-trash"></span></a>

                                </th>
                            </tr>
                            <tr style="display:none">
                                <td colspan="5">
                                    @Html.Partial("_editTransferPricing",pricing)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                </div>
            </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('body').on('click', '.show-next-section', function () {
            $(this).next('section').toggle();
        });

        $('body').on('click', '.show-next-tr', function () {
            $(this).parents("tr").next().toggle();
            //return false;
        });



        $('.pull-down, .show-next-tr').each(function () {
            var $this = $(this);
            $this.css('margin-top', $this.parent().height() - $this.height())
        });

    });
    </script>
}
