﻿@model IEnumerable<Booking_System.Models.transfer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.TreeView = "T";
    ViewBag.Menu = "List";


}

<h2>Transfers</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Transfers</li>
</ol>

<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">Transfer Services List</h3>
        <div class="box-tools">
            <div class="input-group pull-right" style="width: 150px;">
                <a href="@Url.Action("CreateTransfer","Transfers")"><span class="fa fa-plus-circle"></span> New Transfer Service</a>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    <span class="readmore">  @Html.DisplayNameFor(model => model.description)</span>
                </th>
                <th>Currency</th>
                <th>Price (Adult)</th>
                <th>Price (Teen)</th>
                <th>Price (Child)</th>
                <th>Upgrade</th>
            </tr>
            <tbody>
    @foreach (var item in Model)
    {

        
        
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td align="center">
                @if (item.transfer_pricing.Count > 0)
                {
                    foreach (var pr in item.transfer_pricing)
                    {
                        @pr.currency.currency_code<br />
                    }

                }

            </td>

            <td align="center">
                @if(item.transfer_pricing.Count > 0)
                {
                    foreach(var pr in item.transfer_pricing)
                    {                    
                        @pr.currency.symbol@pr.adult_price<br />
                    }

                }
        
            </td>
            <td align="center">
                @if (item.transfer_pricing.Count > 0)
                {
                    foreach (var pr in item.transfer_pricing)
                    {
                        @pr.currency.symbol@pr.teen_price<br />
                    }
                }

            </td>
            <td align="center">
                @if (item.transfer_pricing.Count > 0)
                {
                    foreach (var pr in item.transfer_pricing)
                    {
                        @pr.currency.symbol@pr.child_price<br />
                    }
                }


            </td>
            <td>
                <span class="fa fa-@(item.is_upgrade?"check":"")"></span>
            </td>
            <td align="right">


                <a href="@Url.Action("EditTransfer", new { id = item.transfer_id})" title="Edit Transfer"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                <a href="@Url.Action("DeleteTransfer", new { id = item.transfer_id})" title="Delete Transfer"><span class="fa fa-trash"></span></a>

            </td>
        </tr>
    }
        </tbody>

        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
          


            $('.readmore').readmore({
                speed: 75,
                collapsedHeight: 100,
                lessLink: '<a href="#">Read less</a>'
            });

        });

    </script>
}