﻿@model Booking_System.Models.errorLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h2>Details</h2>

<div>
    <h4>errorLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inner_exception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inner_exception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stack_trace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stack_trace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_date_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.log_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
