﻿
@{
    Layout = null;
    var errorMsg = ViewBag.Msg;

    string errorCode = ViewBag.ErrorCode;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="text-center">
        @if (errorCode == "401")
        {
            <div style="margin:auto; text-align:center">
                <h1>Session Expired.</h1>
                <h2>The page requested can't be displayed due inactivity timeout.</h2>
                <img src="@Url.Content("~/Images/401.jpg")" />
                <h2><a href="@Url.Action("Index", "Login" )" class="btn btn-default"> Click here to relogin </a></h2>

            </div>
        }
        else if (errorCode == "403")
        {
            <div style="margin:auto; text-align:center">
                <h1>Unauthorised Access.</h1>
                <h2>The page requested can't be displayed due to insufficient priviledges.</h2>


                <img src="@Url.Content("~/Images/401.jpg")" />
            </div>
        }
        else
        {<div style="margin:auto; text-align:center">
            <h1>Error.</h1>
            <h2>An error occurred while processing your request.</h2>
            <img src="@Url.Content("~/Images/error.jpg")" />
        </div>
        }
    </div>
</body>
</html>
