﻿<!DOCTYPE html>
@{
     Layout = "~/Views/Shared/_LayoutError.cshtml";
    var exception = ViewBag.Exception;
}
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="box box-danger box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">General Error</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body"> @exception </div>
        </div>
    </div>
</div>
