﻿@model IEnumerable<Booking_System.Models.errorLog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<h2>Errors</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.error_date_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.error_date_time)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.log_id }) 
        </td>
    </tr>
}

</table>
