﻿@model Booking_System.Models.provider
@using utils = Booking_System.Helpers.Utils
@using conf = Booking_System.Helpers.ConfigurationHelper
<div class="box-body">
         <div class="row">
            <div class="col-md-12">
                <table class="table light-grey table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                Title
                            </th>

                            <th>
                                <i class="fa fa-phone"></i>&nbsp; Phone
                            </th>

                            <th>
                                <i class="fa fa-envelope"></i>   Email
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model.contacts)
            {
                            <tr>

                                <td class="fullname">
                                    <b>@item.TitleFullName</b>

                                </td>
                                <td title="@item.notes">
                                    <em>@item.job_title</em>
                                </td>
                                <td>
                                    @item.office_phone
                                </td>
                                <td>
                                    @item.email
                                </td>

                                <td align="right">


                                    <a href="@Url.Action("ContactDetails", "Providers", new { id = item.contact_id, hotelid = Model.provider_id })" title="view"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                    <a href="@Url.Action("EditContact", "Providers", new { id = item.contact_id, hotelid = Model.provider_id })" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                    <a href="@Url.Action("DeleteContact", "Providers", new { id = item.contact_id, hotelid = Model.provider_id })" title="Delete"><span class="fa fa-trash"></span></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    <div class="box-footer clearfix no-border">
        <a href="@Url.Action("CreateContact", "Providers", new { id = Model.provider_id, hotelid = Model.provider_id })" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Contact</a>
    </div>

</div><!-- /.box-body -->