﻿@model Booking_System.Models.provider
@using utils = Booking_System.Helpers.Utils
@using conf = Booking_System.Helpers.ConfigurationHelper
<div class="box-body">
    <div class="row">
        <div class="col-md-4">
            <fieldset>
                <legend>Hotel Details
                    <span class="pull-right font12"><a href="@Url.Action("EditHotel", new { id = Model.provider_id })" class="pull-right"><i class="fa fa-pencil"></i> Edit Hotel </a></span></legend>

                <table class="table ">
                    <tr>
                        <th style="width:25%">
                            <span class="fa fa-building-o"></span>&nbsp;Hotel
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-star-half-o"></span>&nbsp;Rating
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.star_rating) <span class="fa fa-star"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-home"></span>&nbsp;Address
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.street1)&nbsp;@Html.DisplayFor(model => model.street2)
                            <br />@Html.DisplayFor(model => model.town)
                            <br />@Html.DisplayFor(model => model.country)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-envelope"></span>&nbsp;Contact
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.email)
                            <span class="fa fa-phone"></span>:
                            @if (string.IsNullOrWhiteSpace(Model.phone1))
                        {
                                <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" title="Edit Hotel"><em>Add Detail</em></a>
                        } @Model.phone1


                        <br /><span class="fa fa-phone"></span>: @if (string.IsNullOrWhiteSpace(Model.phone2))
                        {
                            <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" title="Edit Hotel"><em>Add Detail</em></a>
                        } @Model.phone2


                        <br /><span class="fa fa-fax"></span>:
                        @if (string.IsNullOrWhiteSpace(Model.fax))
                        {
                            <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" title="Edit Hotel"><em>Add Detail</em></a>
                        } @Model.fax


                        <br /><span class="fa fa-envelope"></span>:
                        @if (string.IsNullOrWhiteSpace(Model.email))
                        {
                            <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" title="Edit Hotel"><em>Add Detail</em></a>
                        } @Model.email


                        <br /><span class="fa fa-globe"></span>:
                        @if (string.IsNullOrWhiteSpace(Model.website))
                        {
                            <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" title="Edit Hotel"><em>Add Detail</em></a>
                        } @Model.website




                    </td>
                </tr>
                <tr>
                    <th>
                        <span class="fa fa-comment"></span>&nbsp;Details
                    </th>
                    <td>
                        @Html.Raw(Model.description)
                    </td>


                </tr>

            </table>
            @*<div class="box-footer clearfix no-border text-center">
            <a href="@Url.Action("EditHotel", new { id = Model.provider_id })" class="btn btn-default "><i class="fa fa-pencil"></i> Edit Hotel </a>
        </div>*@
        </fieldset>
        </div> <!-- col1-->

        <div class="col-md-4">
            <fieldset>
                <legend>Market Details <span class="pull-right font12"><a href="@Url.Action("CreateMarket", "Markets", new { id = Model.provider_id })"><i class="fa fa-plus-circle"></i> Add Market</a></span></legend>

                <div class="box-body">
                    <table class="table light-grey table-hover">

                        <tr>
                            <th style="width:30%">
                                Market
                            </th>

                            <th title="Currency" style="width:15%">
                                CCY
                            </th>

                            <th style="width:50%">
                                Countries
                            </th>
                            <th style="width:5%" title="is Active">
                                <span class="fa fa-check"></span>
                            </th>
                            <th>
                            </th>

                        </tr>

                        @foreach (var item in Model.markets)
                        {
                            <tr>

                                <td class="">
                                    <a href="@Url.Action("EditMarket", "Markets", new { id = item.market_id })" title="Edit">
                                        <b>@item.market_name</b>
                                    </a>

                                </td>
                                <td title="@item.currency.currency_desc">
                                    @item.currency.currency_code
                                </td>
                                <td>
                                    @{ var cnt = 1; var qty = item.countries.Count; }
                                    @foreach (var c in item.countries)
                                    {
                                        { cnt++; }
                                        <span class="label label-default">@utils.ToTitleCase(c.name)</span>


                                    }

                                </td>
                                <td>@Html.DisplayFor(modelitem => item.is_active)</td>
                                <td align="right">
                                    <a href="@Url.Action("DeleteMarket", "Markets", new { id = item.market_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                </td>
                            </tr>
                        }

                    </table>
                    @*<div class="box-footer clearfix no-border">
                    <a href="@Url.Action("CreateMarket", "Markets", new { id = Model.provider_id })" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Market</a>
                </div>*@
                </div><!-- /.box-body -->

            </fieldset>
        </div> <!-- col2-->

    <div class="col-md-4">
        <fieldset>
            <legend>Guest Definition
                <span class="pull-right font12">
                    @if (Model.guest_type.Count > 0)
                    {
                        <a href="@Url.Action("EditGuestType", "Hotels", new { id = Model.guest_type.FirstOrDefault().guest_type_id })" class="pull-right"><span class="fa fa-pencil"></span>&nbsp;Edit Guest Definition</a>
                    }
                    else
                    {
                        <a href="@Url.Action("CreateGuestType", "Hotels", new { id = Model.provider_id })" class="pull-right"><span class="fa fa-plus-circle"></span>&nbsp;Add Guest Definition</a>
                    }
                </span>
</legend>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.guest_type.Count > 0)
                        {
                            <table class="table">
                                <tr style="border:none">
                                    <td style="border:none" colspan="3" class="title-td">
                                        

                                  

                                    </td>

                                </tr>

                                <tr class="bg-gray-light">
                                    <th>Guest</th>
                                    <th class="text-center">Min Age</th>
                                    <th class="text-center">Max Age</th>
                                </tr>
                                <tr>
                                    <td>Infant</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().infant_min_age</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().infant_max_age</td>
                                </tr>
                                <tr>
                                    <td>Child</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().child_min_age</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().child_max_age</td>
                                </tr>
                                <tr>
                                    <td>Teen</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().teen_min_age</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().teen_max_age</td>
                                </tr>
                                <tr>
                                    <td>Adult</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().adult_min_age</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().adult_max_age</td>
                                </tr>
                                @*<tr>
                                    <td>Senior</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().senior_min_age</td>
                                    <td align="center">@Model.guest_type.FirstOrDefault().senior_max_age</td>
                                </tr>*@

                            </table>
                        }
                    </div>
                </div>

                @*<div class="box-footer clearfix no-border">
                    @if (Model.guest_type.Count > 0)
                    {
                        <a href="@Url.Action("EditGuestType", "Hotels", new { id = Model.guest_type.FirstOrDefault().guest_type_id })"><span class="fa fa-pencil"></span>&nbsp;Edit Guest Definition</a>
                    }
                    else
                    {
                        <a href="@Url.Action("CreateGuestType", "Hotels", new { id = Model.provider_id })"><span class="fa fa-plus-circle"></span>&nbsp;Add Guest Definition</a>
                    }
                </div>*@

            </div>
        </fieldset>

    </div>
        

    </div> <!-- row-->
    <div class="box-body">
        <div class="row">
            <div class="=col-md-8">
                <fieldset>
                    <legend>Cancellation Policy</legend>
                    <p>@Html.Raw(Model.cancellation_policy)</p>
                </fieldset>
            </div>
        </div>
        </div>

    </div>