﻿@model Booking_System.Models.provider
@using utils = Booking_System.Helpers.Utils
@using conf = Booking_System.Helpers.ConfigurationHelper
<div class="box-body">
    <table class="table light-grey table-hover">
        <tr>
            <th>
                Room Name
            </th>
            <th> Description</th>
            <th>Occupancy</th>
            <th>Active</th>
            <th></th>
        </tr>

        @foreach (var item in Model.rooms.OrderBy(x => x.room_id))
        {
            <tr data-id="@item.room_id" class="@(item.is_active?"":"grey")">
                <td style="width:15%">
                    
                    <a href="@Url.Action("RoomDetails", "Rooms", new { id = item.room_id })" style="color:#F39C12" title="Click to view Room Details">
                        <b>@item.name</b>
                        </a>
                        @if (item.is_active)
                        {
                            <br /> <a href="@Url.Action("CreateBasePrice", "Hotels", new { id = item.room_id })" title="Create Base price for Room"><i class="fa fa-plus-circle"></i> Add Price</a>

                        }
</td>
                <td>
                    @Html.Raw(item.description)
                </td>
                <td>
                    @item.min_adult - @item.max_adult adults
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.is_active)
                </td>
                <td align="right" style="width:10%">


                    <a href="@Url.Action("RoomDetails", "Rooms", new { id = item.room_id })" title="view"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                    @*<a href="@Url.Action("EditRoom", "Rooms",new { id = item.room_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                    <a href="@Url.Action("DeleteRoom", "Rooms", new { id = item.room_id })" title="Delete"><span class="fa fa-trash"></span></a>

                </td>

            </tr>
            if (item.base_price.Count() > 0 && item.is_active)
            {
                <tr>

                    <td colspan="4">
                        <table class="table noheadercolor"> 
                            <tr>
                                <th>start - end</th>
                                <th>
                                    Meal Plan
                                </th>
                                <th>
                                    Market
                                </th>
                                <th>
                                    Twin
                                </th>
                                <th>
                                    Single
                                </th>
                                <th>
                                    Triple
                                </th>
                                <th>
                                    Quadruple
                                </th>
                                <th>
                                    Infant
                                </th>
                                <th>
                                    Child
                                </th>

                                <th>
                                    Teen
                                </th>
                                <th>
                                    Honeymoon
                                </th>
                                <th>
                                    Active
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var baseprice in item.base_price.OrderBy(x => x.market_id).ThenBy(x=>x.start_date))
                            {
                                <tr>
                                    <td>
                                        @baseprice.start_date.ToString("dd-MM-yyyy")  -  @baseprice.end_date.ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        @baseprice.meal_plan.name
                                    </td>
                                    <td>
                                        @baseprice.market.market_name
                                    </td>
                                    <td>
                                        @baseprice.price_twin
                                    </td>
                                    <td>
                                        @baseprice.price_single
                                    </td>

                                    <td>
                                        @baseprice.price_triple
                                    </td>
                                    <td>
                                        @baseprice.price_quadruple
                                    </td>
                                    <td>
                                        @baseprice.price_infant
                                    </td>
                                    <td>
                                        @baseprice.price_child
                                    </td>
                                    <td>
                                        @baseprice.price_teen
                                    </td>
                                    
                                    <td>
                                        @baseprice.price_honeymoon
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => baseprice.is_active)
                                    </td>
                                    <td align="right">
                                        <a href="@Url.Action("EditBasePrice", "Hotels", new { id = baseprice.base_price_id })" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <a href="@Url.Action("DeleteBasePrice", "Hotels", new { id = baseprice.base_price_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>


            }


        }
    </table>


    <div class="box-footer clearfix no-border">
        <a href="@Url.Action("CreateRoom", "Rooms", new { id = Model.provider_id })" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Room</a>
    </div>
</div><!-- /.box-body -->

