﻿@model Booking_System.Models.supplement
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Details";
    ViewBag.TreeView = "H";

}

<h2>package: @Model.name </h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels",new {id=Model.provider_id, tab = Model.hoteltab })">Hotel (@Model.provider.name)</a></li>
    <li class="active">@(!Model.is_compulsory ? "Supplements" : "Charges") ( @Model.name ) Details</li>
</ol>


<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:25%">
                            <span class="fa fa-shopping-bag"></span>&nbsp;@(!Model.is_compulsory ? "Supplements" : "Charges")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-comment"></span>&nbsp;Description
                        </th>
                        <td>
                            @Html.Raw(Html.DisplayFor(model => model.description))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-circle-o"></span>&nbsp;Per item
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_per_item)
                        </td>


                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Per person
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_per_person)
                        </td>


                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Per Night
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_per_night)
                        </td>


                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Per Room
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_per_room)
                        </td>


                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Valid for all rooms 
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.valid_all_rooms)
                        </td>


                    </tr>
                   
                </table>


            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <a href="@Url.Action("EditChargeSupplement","Hotels", new { id = Model.supplement_id, type=Model.is_compulsory?"C":"S"})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit @(Model.is_compulsory ?  "Charges" : "Supplements"  )</a>
            </div>
        </div><!-- /.box -->
    </div> <!--/col -->
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Pricing Info</h3>
                <div class="box-tools pull-right">

                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table light-grey table-hover">
                    <tr>
                        <th>
                           Market
                        </th>
                        <th>
                            Adult Price
                        </th>

                        <th>
                           Child Price
                        </th>

                        <th>
                            Infant Price
                        </th>

                        @*<th>
                            Senior Price
                        </th>*@
                        <th>
                            Teen Price
                        </th>
                        <th>
                            Item Price
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.supplement_pricing)
            {
                        <tr>
                            <td>@item.market.market_name</td>
                            <td class="">
                                @item.price_adult

                            </td>
                            <td>
                                @item.price_child
                            </td>
                            <td>
                                @item.price_infant
                            </td>

                            @*<td>
                                @item.price_senior
                            </td>*@
                            <td>
                                @item.price_teen
                            </td>
                            <td>
                                @item.price_per_item
                            </td>
                            <td align="right">



                                <a href="@Url.Action("EditChargeSupplementPricing", "Hotels",new { id= item.supplement_pricing_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                <a href="@Url.Action("DeleteChargeSupplementPricing", "Hotels",new {  id= item.supplement_pricing_id })" title="Delete"><span class="fa fa-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
                <div class="box-footer clearfix no-border">
                    <a href="@Url.Action("CreateChargeSupplementPricing", "Hotels", new { id = Model.supplement_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add pricing</a>
                </div>
            </div><!-- /.box-body -->
        </div>
    </div> <!--/col -->
</div> <!--/row -->
