﻿@model Booking_System.Models.provider

@{
    ViewBag.Title = "Create Hotel";
    var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "Create";
    ViewBag.TreeView = "H";

}

<h2><span class="fa fa-room"></span>Create Hotel</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li class="active">Create Hotel</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.provider_type)
    @Html.HiddenFor(model => model.is_active)
        <!-- form start -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Hotel Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">

                        @Html.LabelFor(model => model.name)
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.description)
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.star_rating, htmlAttributes: new { @class = "control-label " })
                                <div class="input-group">

                                    @Html.EditorFor(model => model.star_rating, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon"><span class="fa fa-star"></span></span>

                                </div>

                                @Html.ValidationMessageFor(model => model.star_rating, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.commission_rate, htmlAttributes: new { @class = "control-label " })

                                <div class="input-group">
                                    @Html.EditorFor(model => model.commission_rate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">%</span>
                                </div>

                                @Html.ValidationMessageFor(model => model.commission_rate, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.location, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.location, locationListItem, "select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })

                    </div>


                </div> <!-- ./box body -->
            </div> <!-- ./ box -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Address</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.street1, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.street1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.street1, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.street2, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.street2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.street2, "", new { @class = "text-danger" })
                    </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.town, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.town, new { htmlAttributes = new { @class = "form-control town-autocomplete", placeholder = "Town Search", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.town, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">

                            @Html.LabelFor(model => model.postcode, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.postcode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.postcode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control country-autocomplete", placeholder = "Country Search", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group">

                        @Html.LabelFor(model => model.google_location, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.google_location, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.google_location, "", new { @class = "text-danger" })
                    </div>


                    
            </div> <!-- /.box body-->
        </div> <!-- /.box  -->
                </div> <!-- /.  col -->


        <div class="col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Electronic Address</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                
                    <div class="form-group">

                        @Html.LabelFor(model => model.phone1, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.phone1, new { htmlAttributes = new { @class = "form-control phonenum" } })
                        @Html.ValidationMessageFor(model => model.phone1, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phone2, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.phone2, new { htmlAttributes = new { @class = "form-control phonenum" } })
                        @Html.ValidationMessageFor(model => model.phone2, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control phonenum" } })
                        @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
                    </div>

                


                </div> <!-- .body-->
            </div> <!-- box primary -->
        </div> <!-- row -->
    </div> <!-- /.col-->

    
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary" style="width:100%;overflow-y: auto;height: 300px;">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span class="badge">4</span>&nbsp;Conditions</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group" style="height:100px;">
                            @Html.LabelFor(model => model.cancellation_policy, htmlAttributes: new { @class = "control-label " })
                            @Html.EditorFor(model => model.cancellation_policy, new { htmlAttributes = new { @class = "form-control richtext" } })
                            @Html.ValidationMessageFor(model => model.cancellation_policy, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div> <!-- /.body-->
                </div> <!-- /.box-->
            </div><!-- /.col-->
        </div>


    

                <div class="box-footer text-center">
                    <a  href="@Url.Action("ListHotels")" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>

                }

   @section Scripts {
    
@*Scripts.Render("~/bundles/phonevalidation")*@
   }
