﻿@model Booking_System.Models.ViewModel.RoomAllotmentViewModel
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Create Room Allotment";
    ViewBag.TreeView = "H";
    var provider = ViewBag.Package as Booking_System.Models.provider;
}

<h2>Create Room Allotment</h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = provider.provider_id, tab = hotelTab.ROOM_ALLOTMENT})">Hotel (@provider.name)</a></li>
    <li class="active">Create Room Allotment</li>
</ol>
@{
    ViewBag.Title = "Create Room Allotment";
}


@using (Html.BeginForm("CreateRoomAllotment", "Hotels", FormMethod.Post, new { id = "CreateAllotmentForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ProviderId" value="@provider.provider_id" />



    <div class="form-horizontal">
        <h4>Define Room Allotment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><span class="badge">1</span>&nbsp;Room Allotment</h3>
                <p class="text-muted">
                    Set an allotment value for one or more room(s) for the range of date selected
                    <br />Allotments can be edited for each room and date from the package allotment menu.
                </p>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div class="form-group">
                    <label class="control-label col-md-2" for="allotment_date">Select Room(s)</label>
                    <div class="col-md-3">
                        <div class="form-group">                            
                                @foreach (var p in provider.rooms)
                                {
                                    <input type="checkbox" name="Rooms" value="@p.room_id" class="{rooms:true}" />@:&nbsp; @p.name<br />                            
                                }                           
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label class="control-label col-md-2" for="allotment_date">Choose Date(s)</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control datepicker chosendate"  data-date-start-date = "0d" />
                            

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MultipleDates, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <div class="form-group">

                            @Html.TextAreaFor(model => model.MultipleDates, new { @class = "form-control", id = "multipleDates" })
                            @Html.ValidationMessageFor(model => model.MultipleDates, "", new { @class = "text-danger" })
                            <br /><span class="text-muted">Manually remove dates, all dates should be in the format dd-mm-yyyy and separated by a semi-colon (;) </span>

                        </div>
                    </div>
                </div>



                @*<div class="form-group">
                    <label class="control-label col-md-2" for="allotment_date">Start Date</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" , @required="required", @data_date_start_date = "0d" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="allotment_date">End Date</label>
                    <div class="col-md-3">
                        <div class="form-group">
                            
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required", @data_date_start_date = "0d" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@


                <div class="form-group">
                    @Html.LabelFor(model => model.NumberAllotments, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NumberAllotments, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.NumberAllotments, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" id="submitCreateAllotment" />
                        <input type="reset" value="Reset" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

                $(function () {
                    $("#submitCreateAllotment").click(function (event) {
                        event.preventDefault();
                        var $form = $(this).closest("form");

                        if (ValidateRoomSelected())
                        {
                            $($form).submit();
                        }
                    });
                });



                function ValidateRoomSelected()
                {
                    if ($('#CreateAllotmentForm').find('input[type=checkbox]:checked').length == 0) {
                        alert('Please select at least one room');
                        return false;
                    }
                    return true;
                }


                $(document).ready(function () {

                    $('body').on('change', '.chosendate', function () {

                        var dt = $(this).val();

                        var ln = dt.length;

                        if(ln==10)
                        {
                            var curr = $('#multipleDates').val();

                            var added = curr + dt + ';';
                            $('#multipleDates').val(added);
                        }


                        //alert(dt);
                    });
                });
</script>
}
