﻿@model Booking_System.Models.guestType
@using tab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Create Guest";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TreeView = "H";
    ViewBag.Menu = "Details";
    //var hotel = ViewBag.Hotel as Booking_System.Models.provider;
    var haserrors = ViewBag.HasValidationErrors == null ? false : ViewBag.HasValidationErrors;
    var errors = ViewBag.ValidationErrors == null ? new List<String>() : ViewBag.ValidationErrors;

}

<h2>Create Guest</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider_id, tab = tab.DETAILS })">@Model.provider.name</a></li>
    <li class="active">Create Guest Definition</li>
</ol>

@if (haserrors)
{

    <div class="alert alert-danger alert-dismissable">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <h4>
            <i class="icon fa fa-ban"></i>
            Validation Errors Found!
        </h4>
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>

    </div>

}




@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Guest Type Definition</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


    
                    <input type="hidden" name="provider_id" value="@Model.provider.provider_id" />

                    <div class="form-group">
                        <label class="control-label">Hotel</label>
                        <input type="text" value="@Model.provider.name" disabled readonly class="form-control"/>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.infant_min_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.infant_min_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.infant_min_age, "", new { @class = "text-danger" })

                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.infant_max_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.infant_max_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.infant_max_age, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.child_min_age, htmlAttributes: new { @class = "control-label " })

            @Html.TextBoxFor(model => model.child_min_age, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.child_min_age, "", new { @class = "text-danger" })

        </div>


    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.child_max_age, htmlAttributes: new { @class = "control-label " })

            @Html.TextBoxFor(model => model.child_max_age, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.child_max_age, "", new { @class = "text-danger" })

        </div>

    </div>
</div>                    

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.teen_min_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.teen_min_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.teen_min_age, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.teen_max_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.teen_max_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.teen_max_age, "", new { @class = "text-danger" })

                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.adult_min_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.adult_min_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.adult_min_age, "", new { @class = "text-danger" })

                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.adult_max_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.adult_max_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.adult_max_age, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.senior_min_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.senior_min_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.senior_min_age, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.senior_max_age, htmlAttributes: new { @class = "control-label " })

                                @Html.TextBoxFor(model => model.senior_max_age, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.senior_max_age, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>*@






                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-12">
                            <a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider.provider_id, tab = tab.DETAILS})" class="btn btn-default" >Cancel </a>
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            </div>
                </div>
                }

                @section Scripts {
                    
                }
