﻿@model Booking_System.Models.basePrice

@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{

    Booking_System.Models.room room = ViewBag.Room;

}

<h2>Add Base Price</h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = room.provider_id , tab = hotelTab.ROOMS })">@room.provider.name</a></li>
   
    <li class="active">Create Base Price for @room.name</li>
</ol>






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    
                        <input type="hidden" name="room_id" value="@room.room_id" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.room_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@room.name" disabled />
                            @Html.ValidationMessageFor(model => model.room_id, "", new { @class = "text-danger" })

                        </div>

                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.market_id, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownListFor(model=>model.market_id,(SelectList)ViewBag.market_id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.market_id, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.meal_plan_id, htmlAttributes: new { @class = "control-label " })

                        @*@Html.DropDownListfor(model => model.meal_plan_id, (SelectList)ViewBag.meal_plan_id, new { @class = "form-control" })*@
                        @Html.DropDownList("meal_plan_id",null, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.meal_plan_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })

                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Prices</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_single, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_single, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_single, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_twin, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_twin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_twin, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_triple, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_triple, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_triple, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_quadruple, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_quadruple, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_quadruple, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_honeymoon, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.price_honeymoon, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_honeymoon, "", new { @class = "text-danger" })

                            </div>
                        </div>

                       
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row">


                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_infant, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_infant, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_infant, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_child, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_child, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_child, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.price_teen, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.price_teen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_teen, "", new { @class = "text-danger" })
                            </div>


                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Without bed</label>
                                @Html.EditorFor(model => model.price_without_bed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price_without_bed, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="row">
                
                    </div>
                    <div class="row">
                        <div class="col-md-4">
          
                        </div>
                    </div>
           
                </div>
                    </div>
                </div>
        </div> <!-- ./row -->
    @*<div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Associated Promotions</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.LabelFor(model => model.promotions, htmlAttributes: new { @class = "control-label " })

                    @Html.DropDownList("promotion_id", null, htmlAttributes: new { @name = "promotion_id", @class = "form-control select2", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.promotions, "", new { @class = "text-danger" })
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
    </div>*@
    <div class="row">


    <div class="col-md-8 box-footer text-center">
        <a href="@Url.Action("RoomDetails","Rooms", new {id= room.room_id, tab=5 })" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>

    </div>

        
    
}


@section Scripts {
   

}