﻿@model Booking_System.Models.promotionSet



@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    var hotelname = ViewBag.providerName;
    var hotelid = ViewBag.providerId;
    var hashotel = ViewBag.Hasprovider;
    ViewBag.TreeView = "H";

}


<h2>Create Promotion Set @(hashotel ? "for " + hotelname : "")</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = hotelTab.PROMOTION_SETS})">Hotel (@hotelname)</a></li>
    <li class="active">Create promotion set</li>
</ol>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Set Info</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <input type="hidden" name="provider_id" value="@hotelid" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                      
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                   
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                      
                            @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                       
                    </div>


                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Promotions</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group marketsselection">
                        @Html.LabelFor(model => model.promotions, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("promotion_id", null, htmlAttributes: new { @name = "market_id", @class = " form-control select2", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.promotions, "", new { @class = "text-danger" })
                    </div> <!-- /.body-->

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
   </div>
<div class="box-footer text-center">
    <button type="submit" class="btn btn-primary text-center">Save</button>
</div>
}

       