﻿@model Booking_System.Models.package
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    var hotelname = ViewBag.providerName;
    var hotelid = ViewBag.providerId;
    var hashotel = ViewBag.Hasprovider == null? false : ViewBag.Hasprovider;
    ViewBag.TreeView = "H";

}

<h2>Create Package @(hashotel ? "for " + hotelname : "")</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = hotelTab.PACKAGES})">Hotel (@hotelname)</a></li>
    <li class="active">Create Package </li>
</ol>



@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Package Info</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    @if (hashotel)
                    {
                        <input type="hidden" name="provider_id" value="@hotelid" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@hotelname" disabled />
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })

                        </div>

                    }
                    else
                    {


                        <div class="form-group">
                            @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("provider_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                         
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })
                        </div>

                    }


                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })

                    </div>
                  <div class="form-group">
                        @Html.LabelFor(model => model.valid_from, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.valid_from, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.valid_to, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.valid_to, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.valid_to, "", new { @class = "text-danger" })

                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Package Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.number_nights, htmlAttributes: new { @class = "control-label " })
                        @Html.TextBoxFor(model => model.number_nights, new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.number_nights, "", new { @class = "text-danger" })
                    </div>               
                     
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_ground_handling_adult, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.price_ground_handling_adult, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_ground_handling_adult, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_ground_handling_child, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.price_ground_handling_child, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_ground_handling_child, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.price_ground_handling_teen, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.price_ground_handling_teen, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.price_ground_handling_teen, "", new { @class = "text-danger" })
                    </div>
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->


    </div> <!-- ./row -->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Markets  </h3>
                </div><!-- /.box-header -->
                <div class="box-body">                  

                    <div class="form-group marketsselection">
                        @Html.LabelFor(model => model.market_id, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("market_id", null, htmlAttributes: new { @name = "market_id", @class = " form-control select2" })
                        @Html.ValidationMessageFor(model => model.market_id, "", new { @class = "text-danger" })
                    </div> <!-- /.body-->
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">4</span>&nbsp;Rooms </h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.apply_all_rooms, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.apply_all_rooms, new { htmlAttributes = new { @class = "allroomsapply" } })
                        @Html.ValidationMessageFor(model => model.apply_all_rooms, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group roomsselection">
                        @Html.LabelFor(model => model.rooms, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("room_id", null, htmlAttributes: new { @name = "room_id", @class = " form-control select2 roomsselection", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.rooms, "", new { @class = "text-danger" })
                    </div> <!-- /.body-->
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->

    </div>
    <div class="row">    
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">5</span>&nbsp;Conditions</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.contracted_offer, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.contracted_offer, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.contracted_offer  , "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cancellation_policy, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.cancellation_policy, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.cancellation_policy, "", new { @class = "text-danger" })
                    </div>
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        
    </div>
        <div class="box-footer text-center">
            <button type="submit" name="SaveAndPricing" value="SaveOnly" class="btn btn-primary text-center">Save</button>
        </div>




        }


        @section Scripts {
          @Scripts.Render("~/bundles/package-custom")

        }
