﻿@model Booking_System.Models.supplement
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Create";
    //   var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "CreateSupplement";
    ViewBag.TreeView = "H";


    var hotelname = ViewBag.providerName;
    var hotelid = ViewBag.providerId;
    var hashotel = ViewBag.Hasprovider;
    var isCharge = ViewBag.IsCharge;

    
}

<h2>Create @(isCharge?"Charge":"Supplement") @(hashotel ? "for " + hotelname : "")</h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = isCharge?hotelTab.CHARGES:hotelTab.SUPPLEMENTS })">Hotel (@hotelname)</a></li>
    <li class="active">Create @(isCharge ? "Charge" : "Supplement")</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <!-- form start -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;@(isCharge ? "Charge" : "Supplement") Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                <input type="hidden" name="type" value="@(isCharge?"C":"S")"/>
                    @if (hashotel)
                    {
                        <input type="hidden" name="provider_id" value="@hotelid" />
                        <div class="form-group">
                            @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@hotelname" disabled />
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })

                        </div>

                    }
                    else
                    {


                        <div class="form-group">
                            @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("provider_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })                           
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })
                        </div>

                    }
                 
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meal_plan_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("meal_plan_id", null, htmlAttributes: new { @class = "form-control" ,@required="required"})
                        @Html.ValidationMessageFor(model => model.meal_plan_id, "", new { @class = "text-danger" })
                    </div>
             

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->




        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Select Validity</h3>
                                    

                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                                @Html.EditorFor(model => model.is_per_person)&nbsp;
                        @Html.LabelFor(model => model.is_per_person, htmlAttributes: new { @class = "control-label " })
                        
                            
                                @Html.ValidationMessageFor(model => model.is_per_person, "", new { @class = "text-danger" })
                            
                      
                    </div>

                    <div class="form-group">
                                @Html.EditorFor(model => model.is_per_room, new { htmlAttributes = new { @class = "" } })&nbsp;
                        @Html.LabelFor(model => model.is_per_room, htmlAttributes: new { @class = "control-label" })
                      
                           
                                @Html.ValidationMessageFor(model => model.is_per_room, "", new { @class = "text-danger" })                          
                      
                    </div>
                
                    <div class="form-group">
                       
                           
                                @Html.EditorFor(model => model.is_per_night)&nbsp;
                        @Html.LabelFor(model => model.is_per_night, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationMessageFor(model => model.is_per_night, "", new { @class = "text-danger" })
                           
                     
                    </div>

                    <div class="form-group">
                                @Html.EditorFor(model => model.is_per_item)&nbsp;
                        @Html.LabelFor(model => model.is_per_item, htmlAttributes: new { @class = "control-label" })
                   
                           
                                @Html.ValidationMessageFor(model => model.is_per_item, "", new { @class = "text-danger" })                          
                    </div>
<hr />                   
                    <div class="form-group">
                        @Html.EditorFor(model => model.valid_all_rooms, new { htmlAttributes = new { @class = "allrooms" } })&nbsp;
                        @Html.LabelFor(model => model.valid_all_rooms, htmlAttributes: new { @class = "control-label " })


                        @Html.ValidationMessageFor(model => model.valid_all_rooms, "", new { @class = "text-danger" })


                    </div>


                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-4">
            <div class="box box-primary roomtypes">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Select Room Types</h3>


                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.rooms, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("room_id", null, htmlAttributes: new { @name = "room_id", @class = "form-control select2", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.rooms, "", new { @class = "text-danger" })

                    </div>
                   

                
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
    </div> <!-- ./row -->
    <div class="box-footer text-center">
        <button type="submit" name="SaveAndPricing"  value="SaveOnly" class="btn btn-primary text-center">Save</button>
        <button type="submit"  name="SaveAndPricing" value="SaveAndCreatePrice" class="btn btn-primary text-center">Save and Add Pricing </button>
    </div>
}


@section Scripts {
   @Scripts.Render("~/bundles/supplement-custom")


}
