﻿@model Booking_System.Models.basePrice
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Delete Base Price";
    ViewBag.Menu = "Delete";
    ViewBag.TreeView = "H";
}

<h2><span class="fa fa-trash"></span> Delete Base Price</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new {id= Model.room.provider_id, tab = hotelTab.ROOMS })">@Model.room.provider.name</a></li>
    <li class="active">Delete Base Price for  @Model.room.name</li>
</ol>
<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.price_single)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_single)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_twin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_twin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_triple)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_triple)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_infant)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_infant)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_child)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_child)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_teen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_teen)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_quadruple)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_quadruple)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_without_bed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_without_bed)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.market.market_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.market.market_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.room.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.room.name)
                    </dd>

                </dl>
                <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                @using (Html.BeginForm("DeleteBasePrice", "Hotels", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.base_price_id)



                    <div class="form-actions no-color text-center">
                        
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a href="@Url.Action("HotelDetails","Hotels", new {id= Model.room_id, tab=5 })" class="btn btn-default">Back</a>

                    </div>
                }
            </div>
        </div>  <!-- body-->
    </div>  <!-- box -->
</div>  <!-- col -->