﻿@model Booking_System.Models.supplementPricing
@{ 
    var supplementName = Model.supplement.name;
    var supplementid = Model.supplement_id;
    var suptype = Model.supplement.is_compulsory ? "Charge" : "Supplement";
    var hotelid = Model.supplement.provider_id;
    ViewBag.TreeView = "H";
}
<h2><span class="fa fa-trash"></span> Delete @(Model.supplement.is_compulsory ? "Charges" : "Supplements"  )</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = Model.supplement.hoteltab })"> Hotel (@Model.supplement.provider.name)</a></li>
    <li><a href="@Url.Action("ChargeSupplementDetails","Hotels",new {id= supplementid })">@suptype ( @supplementName ) Details</a></li>
    <li class="active">Delete @(Model.supplement.is_compulsory ? "Charges" : "Supplements"  )</li>
</ol>
<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.market.market_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.market.market_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.supplement.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.valid_from)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.valid_from)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.valid_to)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.valid_to)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.supplement.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_per_item)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_per_item)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_infant)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_infant)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_child)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_child)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_teen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_teen)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.price_adult)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_adult)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.price_senior)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price_senior)
                    </dd>*@



                </dl>

                <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                @using (Html.BeginForm("DeleteChargeSupplementPricing", "Hotels", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.supplement_pricing_id)



                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                        <a href="@Url.Action("ChargeSupplementDetails","Hotels",new { id = Model.supplement_id })" type="button" class="btn btn-default">Do not delete</a> 
                    </div>
                }
        
        </div>  <!-- body-->
    </div>  <!-- box -->
</div>  <!-- col -->
</div> <!-- row -->






