﻿@model Booking_System.Models.provider

@{
    ViewBag.Title = "Delete";
    ViewBag.TreeView = "H";
    ViewBag.Menu = "Delete";
}

<h2><span class="fa fa-trash"></span> Delete Hotel</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li class="active">Delete Hotel</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>hotel: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.star_rating)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.star_rating)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a  href ="@Url.Action("ListHotels")" type="button" class="btn btn-default" >Do not delete</a> 
                            
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
    </div> <!-- row -->
