﻿@model Booking_System.Models.package
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Delete Package";
    ViewBag.TreeView = "H";
}
<h2><span class="fa fa-trash"></span> Delete Package</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider_id, tab = hotelTab.PACKAGES})">Hotel (@Model.provider.name)</a></li>
    <li class="active">Delete package @Model.name</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Package: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>
                       *<dt>
                            @Html.DisplayNameFor(model => model.valid_from)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valid_from)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.valid_to)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.valid_to)
                        </dd>
                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm("DeletePackage", "Hotels", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> 
                            <a href="@Url.Action("HotelDetails","Hotels",new { id = Model.provider_id, tab =hotelTab.PACKAGES })" type="button" class="btn btn-default">Do not delete</a> 
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->
