﻿@model Booking_System.Models.promotion
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Delete Promotion";
    ViewBag.TreeView = "H";
}
<h2><span class="fa fa-trash"></span> Delete Promotion</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider_id, tab = hotelTab.PROMOTIONS})">Hotel (@Model.provider.name)</a></li>
    <li class="active">Delete promotion @Model.name</li>
</ol>
<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Promotion: @Model.name</h4>
                    <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.description)
                            </dd>
                            @*<dt>
                                @Html.DisplayNameFor(model => model.market.market_name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.market.market_name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.room.name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.room.name)
                            </dd>*@
                            <dt>
                                @Html.DisplayNameFor(model => model.contracted_offer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.contracted_offer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.cancellation_policy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cancellation_policy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.book_before_days_min)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.book_before_days_min)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.book_before_days_max)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.book_before_days_max)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.book_from_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.book_from_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.book_until_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.book_until_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.travel_from_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.travel_from_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.travel_until_date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.travel_until_date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.valid_from)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.valid_from)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.valid_to)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.valid_to)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.min_nights)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.min_nights)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.discount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.discount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.is_active)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.is_active)
                            </dd>



                        </dl>
                        <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>
                        @using (Html.BeginForm("DeletePromotion", "Hotels", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model=>model.promotion_id)
                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                                <a href="@Url.Action("HotelDetails","Hotels",new { id = Model.provider_id, tab =hotelTab.PROMOTIONS })" type="button" class="btn btn-default">Do not delete</a>
                            </div>
                        }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->