﻿@model Booking_System.Models.supplement

@{
    ViewBag.Title = "Delete Charge";
    ViewBag.TreeView = "H";

    var hotelname = Model.provider.name;
    var hotelid = ViewBag.provider_id;
 
}
<h2><span class="fa fa-trash"></span> Delete @(Model.is_compulsory ? "Charges": "Supplements"  )</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = Model.hoteltab })">Hotel (@hotelname)</a></li>
    <li class="active">Delete @(Model.is_compulsory ? "Charges" : "Supplements"  )</li>
</ol>
<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>hotel: @Model.name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm("DeleteChargeSupplement", "Hotels", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                             @Html.HiddenFor(model=>model.supplement_id)
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> 
                            <a href="@Url.Action("HotelDetails","Hotels",new { id = Model.provider_id, tab = Model.hoteltab })" type="button" class="btn btn-default">Do not delete</a> 
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->
