﻿@model Booking_System.Models.supplement

@{
    ViewBag.Title = "Edit Supplement";
    //   var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "EditSupplement";
    ViewBag.TreeView = "H";

    

    var isCharge = Model.valid_all_rooms;

}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider_id, tab = Model.hoteltab })">Hotel (@Model.provider.name)</a></li>
    <li class="active">Edit @(isCharge ? "Charge" : "Supplement")</li>
</ol>


<h2>Editing @(isCharge ? "Charge" : "Supplement") <small>@Model.name</small></h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

        <!-- form start -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.provider_id)
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;@(isCharge ? "Charge" : "Supplement") Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.supplement_id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                        <input type="text" class="form-control" value="@Model.provider.name" disabled />
                        @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })

                    </div>

                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.meal_plan_id, htmlAttributes: new { @class = "control-label" })                        
                        @Html.DropDownList("meal_plan_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.meal_plan_id, "", new { @class = "text-danger" })
                    </div>



                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->




        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Select Validity</h3>


                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">


                        @Html.EditorFor(model => model.is_per_person)&nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_per_person, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_per_person, "", new { @class = "text-danger" })


                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.is_per_room, new { htmlAttributes = new { @class = "perroom" } })&nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_per_room, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_per_room, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.valid_all_rooms, new { htmlAttributes = new { @class = "allrooms" } })&nbsp;&nbsp;
                        @Html.LabelFor(model => model.valid_all_rooms, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.valid_all_rooms, "", new { @class = "text-danger" })


                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.is_per_night)&nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_per_night, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_per_night, "", new { @class = "text-danger" })


                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.is_per_item) &nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_per_item, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_per_item, "", new { @class = "text-danger" })


                    </div>
                   
                    <div class="form-group">
                        @Html.EditorFor(model => model.is_active)&nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-4">
            <div class="box box-primary roomtypes">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Select Room Types</h3>


                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.rooms, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("room_id", null, htmlAttributes: new { @name = "room_id", @class = "form-control select2", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.rooms, "", new { @class = "text-danger" })

                    </div>


                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
    </div> <!-- ./row -->
    <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>








    
}

@section Scripts {
@Scripts.Render("~/bundles/supplement-custom")
    

}
