﻿@model Booking_System.Models.promotion

@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    var hotelname = Model.provider.name;
    var hotelid = Model.provider_id;
    var hashotel = (Model.provider_id != 0);
    ViewBag.TreeView = "H";

}


<h2>Edit Promotion @(hashotel ? "for " + hotelname : "")</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = hotelid, tab = hotelTab.PROMOTIONS})">Hotel (@hotelname)</a></li>
    <li class="active">Edit promotion </li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }

    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Promotion Info</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @Html.HiddenFor(model => model.provider_id)
                    @Html.HiddenFor(model => model.promotion_id)


                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control richtext" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_from, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.valid_from, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_to, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.valid_to, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_to, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.promotion_group_id, htmlAttributes: new { @class = "control-label " })

                                @Html.DropDownList("promotion_group_id", null, htmlAttributes: new { @name = "promotion_group_id", @class = " form-control select2" })
                                @Html.ValidationMessageFor(model => model.promotion_group_id, "", new { @class = "text-danger" })
                        </div>
                            </div>
                        </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Conditions</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.book_before_days_min, htmlAttributes: new { @class = "control-label " }) <a href="#" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Number of days booking is made before travel arrival date"></a>

                                @Html.EditorFor(model => model.book_before_days_min, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.book_before_days_min, "", new { @class = "text-danger" })

                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.book_before_days_max, htmlAttributes: new { @class = "control-label " }) <a href="#" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Number of days booking is made before travel arrival date"></a>

                                    @Html.EditorFor(model => model.book_before_days_max, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.book_before_days_max, "", new { @class = "text-danger" })

                                </div>
                            </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.min_nights, htmlAttributes: new { @class = "control-label " }) <a href="#" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Minimum stay for promotion to apply"></a>
                                    @Html.EditorFor(model => model.min_nights, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.min_nights, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>


                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.book_from_date, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.book_from_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.book_from_date, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.book_until_date, htmlAttributes: new { @class = "control-label " })  <a href="#" class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Booking Date between period"></a>

                                @Html.EditorFor(model => model.book_until_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.book_until_date, "", new { @class = "text-danger" })

                            </div>

                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.travel_from_date, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.travel_from_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.travel_from_date, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.travel_until_date, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.travel_until_date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.travel_until_date, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>





                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.free_nights, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.free_nights, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.free_nights, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.discount, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.discount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.discount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_single, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_single, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_single, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_twin, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_twin, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_twin, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_triple, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_triple, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_triple, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_quadruple, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_quadruple, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_quadruple, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_child1, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_child1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_child1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_child2, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_child2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_child2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_teen1, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_teen1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_teen1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flat_teen2, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.flat_teen2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.flat_teen2, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.is_active)
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.is_honeymoon, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.is_honeymoon)
                        @Html.ValidationMessageFor(model => model.is_honeymoon, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
        <div class="col-md-4">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;Markets  </h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.apply_all_markets, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.apply_all_markets, new { htmlAttributes = new { @class = "allmarketsapply" } })
                        @Html.ValidationMessageFor(model => model.apply_all_markets, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group marketsselection">
                        @Html.LabelFor(model => model.markets, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("market_id", null, htmlAttributes: new { @name = "market_id", @class = " form-control select2", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.markets, "", new { @class = "text-danger" })
                    </div> <!-- /.body-->
                </div> <!-- /.body-->
            </div> <!-- /.box-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">4</span>&nbsp;Rooms </h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.apply_all_rooms, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.apply_all_rooms, new { htmlAttributes = new { @class = "allroomsapply" } })
                        @Html.ValidationMessageFor(model => model.apply_all_rooms, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group roomsselection">
                        @Html.LabelFor(model => model.rooms, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownList("room_id", null, htmlAttributes: new { @name = "room_id", @class = " form-control select2", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.rooms, "", new { @class = "text-danger" })
                    </div> <!-- /.body-->
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div>

    </div> <!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">5</span>&nbsp;Offers and Policy</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.contracted_offer, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.contracted_offer, new { htmlAttributes = new { @class = "form-control richtext" } })
                                @Html.ValidationMessageFor(model => model.contracted_offer, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.cancellation_policy, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.cancellation_policy, new { htmlAttributes = new { @class = "form-control richtext" } })
                                @Html.ValidationMessageFor(model => model.cancellation_policy, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->
    </div>
    <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/promotion-custom")
}
