﻿@model Booking_System.Models.supplementPricing

@{
    var supplementname = Model.supplement.name;
    var supplementid = Model.supplement_id;
    var hassupplement = (Model.supplement_id >0);
    var suptype = Model.supplement.is_compulsory ? "C" : "S";
    var hotelid = Model.supplement.provider_id;
    var Providername = Model.supplement.provider.name;
    var hoteltab = Model.supplement.hoteltab;
    ViewBag.TreeView = "H";


    var isperperson = Model.supplement.is_per_person;

}




<h2>Edit Pricing for @Model.supplement.name </h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels",new {id=hotelid, tab =Model.supplement.hoteltab})">Hotel (@Model.supplement.provider.name)</a></li>
    <li><a href="@Url.Action("ChargeSupplementDetails","Hotels",new {id= supplementid })">@suptype ( @Model.supplement.name ) Details</a></li>
    <li class="active">Create @suptype Pricing</li>
</ol>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;Pricing Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    @if (hassupplement)
                    {
                        @Html.HiddenFor(model => model.supplement_pricing_id)
                        @Html.HiddenFor(model => model.supplement_id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.supplement_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@supplementname" disabled />
                            @Html.ValidationMessageFor(model => model.supplement_id, "", new { @class = "text-danger" })

                        </div>

                    }
                    else
                    {


                        <div class="form-group">
                            @Html.LabelFor(model => model.supplement_id, htmlAttributes: new { @class = "control-label " })
                            @Html.DropDownList("meal_plan_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })

                            @Html.ValidationMessageFor(model => model.supplement_id, "", new { @class = "text-danger" })
                        </div>

                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.market_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("market_id", null, htmlAttributes: new { @class = "form-control", @required = "required" })

                        @Html.ValidationMessageFor(model => model.market_id, "", new { @class = "text-danger" })

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_from, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.valid_from, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_from, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.valid_to, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.valid_to, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                @Html.ValidationMessageFor(model => model.valid_to, "", new { @class = "text-danger" })
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(model => model.is_active)&nbsp;&nbsp;
                                @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                           
                        </div>

                </div>
            </div> <!-- /.body-->
        </div> <!-- /.box-->

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">

                    @if (isperperson)
                {

                        <div class="row">

                            <div class="col-md-4">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_infant, htmlAttributes: new { @class = "control-label " })

                                    @Html.EditorFor(model => model.price_infant, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_infant, "", new { @class = "text-danger" })

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_child, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.price_child, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_child, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_teen, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.price_teen, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_teen, "", new { @class = "text-danger" })

                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_adult, htmlAttributes: new { @class = "control-label " })

                                    @Html.EditorFor(model => model.price_adult, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_adult, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_honeymoon, htmlAttributes: new { @class = "control-label " })

                                    @Html.EditorFor(model => model.price_honeymoon, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_honeymoon, "", new { @class = "text-danger" })

                                </div>
                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.price_senior, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.price_senior, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>*@
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.price_per_item, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.price_per_item, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.price_per_item, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                    }


                </div> <!-- /.body-->
            </div> <!-- /.box-->
        </div><!-- /.col-->


    </div> <!-- ./row -->
    <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary text-center">Save</button>
    </div>
}



@section Scripts {

}










