﻿@model Booking_System.Models.provider

@using utils = Booking_System.Helpers.Utils
@using conf = Booking_System.Helpers.ConfigurationHelper
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Details";
    ViewBag.TreeView = "H";
    ViewBag.Menu = "Details";
    var tab = ViewBag.Tab;

    List<Booking_System.Models.feature> hotelFeatures = ViewBag.HotelFeatures;

    var imgCount = Model.provider_picture.Count();
    var hasmarket = Model.markets.Count > 0;

    var totAllotments = 0;
    foreach (var rm in Model.rooms)
    {
        foreach(var a in rm.room_allotment)
        {
            totAllotments += a.allotment_amount;
        }

    }

    var hasAllotments = totAllotments > 0;



        }

@Styles.Render("~/Content/scrollnav-css")
<h2>Hotel: @Model.name </h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu", "Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels", "Hotels")">Hotels</a></li>
    <li class="active">@Model.name</li>
</ol>

<div class="row">

    <div class="col-md-12">
     
            <div class="nav-tabs-custom">
               
                    <ul class="nav nav-tabs"  role="tablist" style="font-size:.9em;">
                        <li class="@(tab == hotelTab.DETAILS ? "active" : "")"><a href="#tab_@hotelTab.DETAILS" data-toggle="tab"><i class="ion ion-clipboard"></i>&nbsp;Details</a></li>
                        <li class="@(tab == hotelTab.ROOMS ? "active" : "")"><a href="#tab_@hotelTab.ROOMS" data-toggle="tab"><i class="fa fa-hotel"></i>&nbsp;Rooms</a></li>
                        
                        <li class="@(tab == hotelTab.CONTACTS ? "active" : "")"><a href="#tab_@hotelTab.CONTACTS" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;Contacts</a></li>
                        
                        <li class="@(tab == hotelTab.FEATURES ? "active" : "")"><a href="#tab_@hotelTab.FEATURES" data-toggle="tab"><i class="fa fa-cart-plus"></i>&nbsp;Features</a></li>
                        <li class="@(tab == hotelTab.GALLERY ? "active" : "")"><a href="#tab_@hotelTab.GALLERY" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;Gallery</a></li>
                        <li class="@(tab==hotelTab.FILEUPLOAD?"active":"")"><a href="#tab_@hotelTab.FILEUPLOAD" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;File Upload</a></li>
                        <li class="@(tab == hotelTab.SUPPLEMENTS ? "active" : "")"><a href="#tab_@hotelTab.SUPPLEMENTS" data-toggle="tab"><i class="fa fa-cubes"></i>&nbsp;Supplements</a></li>
                        <li class="@(tab == hotelTab.CHARGES ? "active" : "")"><a href="#tab_@hotelTab.CHARGES" data-toggle="tab"><i class="fa fa-money"></i>&nbsp;Charges</a></li>
                        <li class="@(tab == hotelTab.PACKAGES ? "active" : "")"><a href="#tab_@hotelTab.PACKAGES" data-toggle="tab"><i class="fa  fa-shopping-basket"></i>&nbsp;Packages</a></li>
                        <li class="@(tab == hotelTab.PROMOTIONS ? "active" : "")"><a class="promotab" href="#tab_@hotelTab.PROMOTIONS" data-toggle="tab"><i class="ion-ios-pricetags-outline"></i>&nbsp;Promotions</a></li>
                        <li class="@(tab == hotelTab.PROMOTION_SETS ? "active" : "")"><a href="#tab_@hotelTab.PROMOTION_SETS" data-toggle="tab"><i class="ion-ios-albums-outline"></i>&nbsp;Promotion Sets</a></li>
                        <li class="@(tab == hotelTab.ROOM_ALLOTMENT? "active" : "")"><a href="#tab_@hotelTab.ROOM_ALLOTMENT" data-toggle="tab"><i class="fa fa-calendar-check-o"></i>&nbsp;Room Allotments</a></li>

                        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                    </ul>
                

                    <div class="tab-content">
                        <div class="tab-pane @(tab ==  hotelTab.DETAILS  ? "active" : "")" id="tab_@hotelTab.DETAILS">

                            @Html.Partial("_detailsTab", Model)

                        </div> <!-- /.tab-pane -->
                        <div class="tab-pane @(tab == hotelTab.ROOMS ? "active" : "")" id="tab_@hotelTab.ROOMS">
                            @Html.Partial("_roomsTab", Model)
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane @(tab == hotelTab.CONTACTS ? "active" : "")" id="tab_@hotelTab.CONTACTS">
                        @Html.Partial("_contactsTab", Model)    
                       
                        </div><!-- /.tab-pane -->                       
                        <div class="tab-pane @(tab == hotelTab.FEATURES ? "active" : "")" id="tab_@hotelTab.FEATURES">
                            <div class="box-body">
                                @if (Model.hotel_feature.Count == 0)
                                {
                                    <h3 class="text-muted"><span class="fa fa-info-circle"></span> No Hotel Features defined, Add one</h3>
                                }
                                else
                                {
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Qty
                                            </th>
                                            <th>
                                                Icon
                                            </th>


                                            <th>
                                                Name
                                            </th>

                                            <th>
                                                Desc
                                            </th>

                                            <th>
                                                Category
                                            </th>
                                            <th>
                                            </th>

                                        </tr>

                                        @foreach (var item in Model.hotel_feature)
                                        {
                                            <tr>

                                                <td class="">
                                                    <b>@item.quantity x</b>

                                                </td>
                                                <td>
                                                    <span class="@item.feature.icon iconframe"></span>
                                                </td>
                                                <td>
                                                    @item.feature.name
                                                </td>
                                                <td>
                                                    @item.feature.description
                                                </td>

                                                <td>
                                                    @item.feature.category.ToLower()
                                                </td>
                                                <td align="right">
                                                    @*<a href="@Url.Action("Edit", "HotelFeatures",new { id = item.feature_id, hotelid = item.provider_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                                    <a href="@Url.Action("DeleteHotelFeature", new { id = item.feature_id, provider_id = item.provider_id})" onclick="return confirm('Remove Hotel Feature?');" title="Delete"><span class="fa fa-trash"></span></a>

                                                </td>
                                            </tr>
                                        }

                                    </table>
                                }
                                @if (hotelFeatures != null && hotelFeatures.Count() > 0)
                                {
                                    <div class="box-footer clearfix no-border">


                                        <a href="#" class="showsection pull-right"><span class="fa fa-plus-circle"></span> add feature</a>


                                        <section style="display:none">
                                            <hr />

                                            @using (Html.BeginForm("AddHotelFeature", "Hotels", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <input type="hidden" name="provider_id" value="@Model.provider_id" />
                                                <div class="row">
                                                    <div class="col-md-2" >
                                                        <div class="form-group">
                                                            <label class="control-label ">Quantity</label>
                                                            <input type="text" name="quantity" class="form-control hotelquantity" value="1" />
                                                        </div>
                                                        </div>
                                                    <div class="col-md-8 ">
                                                        <div class="form-group">
                                                            <label class="control-label" for="feature_id">hotel Feature</label>
                                                            <select class="form-control noselect2" name="feature_id">
                                                                @foreach (var rf in hotelFeatures)
                                                                {
                                                                    <option value="@rf.feature_id">@rf.name </option>
                                                                }
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label class="control-label">&nbsp;</label>
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-default nodisable"> Save</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </div>

                                            }
                                        </section>





                                    </div>
                                }
                            </div><!-- /.box-body -->
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane @(tab==hotelTab.GALLERY?"active":"")" id="tab_@hotelTab.GALLERY">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post,
new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                        {

                                            <input type="hidden" name="SectionId" value="@Model.provider_id" />
                                            <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Hotel.ToString()" />

                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Image</label>
                                                    <div class="col-sm-8 col-md-8">
                                                        <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Title</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Description</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="description" value="" class="form-control" placeholder="description" maxlength="149" />

                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Image Section</label>
                                                    @{
                                                        var imgType = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), "");

                                                    }
                                                    <div class="col-md-8">
                                                        <select name="Section" class="form-control select2">
                                                            @foreach (var item in imgType)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>

                                                    </div>
                                                </div>


                                                <div class="form-group">

                                                    <label class="control-label col-md-4"></label>
                                                    <div class="col-md-8">
                                                        <input type="submit" name="Save" value="Add Image" class="btn btn-default" />
                                                    </div>
                                                </div>

                                            </div>

                                                        }
                                    </div>
                                    <hr />
                                    <div class="col-md-12">


                                        <div class="row">
                                            @{ var ic = 1;
                                            }
                                            <hr />
                                            @foreach (var item in Model.provider_picture)
                                            {

                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="img-thumbnail">
                                                                <div class="img-wrap">
                                                                    <span class="deleteimage">
                                                                        <a href="@Url.Action("DeleteImage", "Providers", new { id = item.picture_id, sectionId = Model.provider_id, type = Booking_System.Models.ImagesType.Hotel.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                                    </span>
                                                                    <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                                                </div>
                                                                <div class="caption">
                                                                    @item.picture.DisplayImageFileName
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    @using (Html.BeginForm("EditImage", "Providers"))
                                                    {
                                                        <input type="hidden" name="picture_id" value="@item.picture_id" />
                                                        <input type="hidden" name="SectionId" value="@Model.provider_id" />
                                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.Hotel.ToString()" />

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                @{ var sec = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.ImgSection), item.section);}
                                                                <label class="control-label">Section</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="Section" class="form-control" title="Image Section">
                                                                    @foreach (var imgSecs in sec)
                                                                    {
                                                                        <option value="@imgSecs.Value" @(imgSecs.Selected ? "selected" : "")>@imgSecs.Text</option>
                                                                    }
                                                                </select>


                                                            </div>


                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-4">
                                                                <label class="control-label">Order</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select name="display_order" class="form-control" title="Image Order">
                                                                    @for (int i = -1; i <= imgCount; i++)
                                                                    {
                                                                        if (i != 0)
                                                                        {
                                                                            <option value="@i" @(i == item.display_order ? "selected" : "")>@i.ToString()</option>
                                                                        }
                                                                    }


                                                                    @if (item.display_order > imgCount)
                                                                    {
                                                                        <option value="@item.display_order" selected="selected">@item.display_order.ToString()</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-offset-4 col-md-8">
                                                                <button type="submit" name="Save" class="btn btn-sm btn-default" style="width:100%"><span class="fa fa-save"></span> Save</button>
                                                                @*&nbsp; <a href="@Url.Action("DeleteImage", "Hotels", new { id = item.picture_id, hotelId = Model.provider_id })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>*@
                                                            </div>
                                                        </div>
                                                                    } <!-- form-->

                                                </div>

                                                                    if (ic % 4 == 0)
                                                                    {
                                                                        <br />
                                                                        <div style="clear:both"></div>

                                                                    }
                                                                    {
                                                                        ic++;
                                                                    }
                                                                    <div style="clear:right"></div>

                                                                    }
                                        </div>
                                    </div>

                                </div>

                            </div><!-- /.box-body -->
                        </div><!-- /.tab-pane -->


                        <div class="tab-pane @(tab==hotelTab.FILEUPLOAD?"active":"")" id="tab_@hotelTab.FILEUPLOAD">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.BeginForm("AddFile", "Providers", FormMethod.Post,
new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                        {

                                            <input type="hidden" name="provider_id" value="@Model.provider_id" />
                                            <input type="hidden" name="Source" value="@Booking_System.Models.FileSource.Hotel.ToString()" />

                                            <div class="col-md-6">

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">File</label>
                                                    <div class="col-sm-8 col-md-8">
                                                        <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedUploadsExtAcceptAttr()" />
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Title</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Description</label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="description" value="" class="form-control" placeholder="description" maxlength="149" />

                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-4"></label>
                                                    <div class="col-md-8">
                                                        <input type="submit" name="Save" value="Add File" class="btn btn-default" />
                                                    </div>
                                                </div>

                                            </div>

                                        }
                                    </div>
                                    <hr />
                                    <div class="col-md-12">


                                        <div class="row">
                                            @{ ic = 1;
                                            }
                                            <hr />
                                            @foreach (var item in Model.file_upload)
                                            {

                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="img-thumbnail">
                                                                <div class="img-wrap">
                                                                    <span class="deleteimage">
                                                                        <a href="@Url.Action("DeleteFile", "Providers", new { id = item.file_id, providerId = Model.provider_id, type = Booking_System.Models.FileSource.Hotel.ToString() })" onclick="return confirm('Are you sure you wish to delete this file?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                                    </span>
                                                                    <a target="_blank" href="@Url.Action("DownloadFile", "Providers", new { id = item.file_id })" title="Download File"><span class="fa fa-5x fa-file"></span>@item.filename</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                if (ic % 4 == 0)
                                                {
                                                    <br />
                                                    <div style="clear:both"></div>
                                                    <hr />

                                                }
                                                {
                                                    ic++;
                                                }
                                                <div style="clear:right"></div>

                                            }
                                        </div>
                                    </div>

                                </div>

                            </div><!-- /.box-body -->
                        </div>



                        <div class="tab-pane @(tab == hotelTab.SUPPLEMENTS ? "active" : "")" id="tab_@hotelTab.SUPPLEMENTS">

                            @if (hasmarket)
                            {
                                <div class="box-body">
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Name
                                            </th>

                                            <th>
                                                Description
                                            </th>
                                           
                                            <th>
                                                Per Night
                                            </th>
                                            <th> Per Person</th>
                                            <th>
                                                Per Room
                                            </th>    
                                                                                   
                                            <th>
                                                Rooms
                                            </th>
                                            <th>
                                                Per item
                                            </th>
                                            <th>Active</th>


                                            <th>
                                            </th>

                                        </tr>

                                        @foreach (var item in Model.supplements.Where(x => x.is_compulsory == false).ToList())
                                        {
                                            <tr>

                                                <td class="">
                                                    <b>@item.name</b>
                                                    &nbsp;&nbsp; <a href="@Url.Action("CreateChargeSupplementPricing", "Hotels", new { id = item.supplement_id })" title="Create Base price for Room"><i class="fa fa-plus-circle"></i> Add Price</a>
                                                </td>
                                                <td>
                                                    @Html.Raw(item.description)
                                                </td>
                                               
                           
                                                <td>@Html.DisplayFor(modelitem => item.is_per_night)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_person)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_room)</td>
                                                <td>
                                                    @if (@item.valid_all_rooms )
                                                    {
                                                        <span>All Rooms</span>
                                                    }
                                                    else
                                                    {
                                                        if (@item.is_per_room)
                                                        {
                                                        <ul>
                                                            @foreach (var rm in item.rooms)
                                                            {
                                                                <li> @rm.name</li>
                                                            }
                                                        </ul>
                                                        }
                                                        else
                                                        {
                                                            <span>Not Applicable</span>
                                                        }
                                                    }

                                                </td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_item)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_active)</td>
                                                <td align="right">
                                                    <a href="@Url.Action("ChargeSupplementDetails", "Hotels",new { id = item.supplement_id})" title="Details"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("EditChargeSupplement", "Hotels",new { id = item.supplement_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("DeleteChargeSupplement", "Hotels",new { id = item.supplement_id})" title="Delete"><span class="fa fa-trash"></span></a>
                                                   
                                                </td>
                                            </tr>
                                            if (item.supplement_pricing.Count() > 0)
                                            {
                                                <tr>

                                                    <td colspan="9">
                                                        <table class="table noheadercolor">
                                                            <tr>
                                                                <th></th>                                                                                                                                       
                                                                <th>
                                                                    Market
                                                                </th>
                                                                
                                                                <th>
                                                                    Infant
                                                                </th>
                                                                <th>
                                                                    Child
                                                                </th>
                                                                <th>
                                                                    Teen
                                                                </th>
                                                                <th>
                                                                    Adult
                                                                </th> 
                                                                <th>
                                                                    Honeymoon
                                                                </th>     
                                                                <th>
                                                                    Item
                                                                </th>                                                              
                                                                <th>
                                                                    Active
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            @foreach (var supplement in item.supplement_pricing.OrderBy(x => x.market_id))
                                                            {
                                                                <tr>                                                                    
                                                                    <td>
                                                                        @(supplement.valid_from.HasValue?supplement.valid_from.Value.ToString("dd-MM-yyyy"):"") -                                                                    
                                                                       @(supplement.valid_to.HasValue ? supplement.valid_to.Value.ToString("dd-MM-yyyy") : "")
                                                                    </td>                                                                        
                                                                    <td>
                                                                        @supplement.market.market_name
                                                                    </td>
                                                                    
                                                                    <td>
                                                                        @supplement.price_infant
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_child
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_teen
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_adult
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_honeymoon
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_per_item
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelitem => supplement.is_active)
                                                                    </td>
                                                                    <td align="right">
                                                                        <a href="@Url.Action("EditChargeSupplementPricing", "Hotels",new { id= supplement.supplement_pricing_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                                        <a href="@Url.Action("DeleteChargeSupplementPricing", "Hotels",new {  id= supplement.supplement_pricing_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>


                                            }
                                        }

                                    </table>
                                    <div class="box-footer clearfix no-border">
                                        <a href="@Url.Action("CreateChargeSupplement", new { id = Model.provider_id, type="S"})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Supplement</a>
                                    </div>
                                </div><!-- /.box-body -->
                            }
                            else
                            {
                                <h3 class="text-center text-danger"><span class="fa fa-warning"></span>&nbsp;Please define a market to create supplements</h3>


                            }

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane @(tab==hotelTab.CHARGES?"active":"")" id="tab_@hotelTab.CHARGES">
                            @if (hasmarket)
                            {
                                <div class="box-body">
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Name
                                            </th>

                                            <th>
                                                Description
                                            </th>

                                            <th>
                                                Per Night
                                            </th>
                                            <th> Per Person</th>
                                            <th>
                                                Per Room
                                            </th>

                                            <th>
                                                Rooms
                                            </th>
                                            <th>
                                                Per item
                                            </th>
                                            <th>Active</th>


                                            <th>
                                            </th>

                                        </tr>

                                        @foreach (var item in Model.supplements.Where(x => x.is_compulsory == true).ToList())
                                        {
                                            <tr>

                                                <td class="">
                                                    <b>@item.name</b>
                                                    &nbsp;&nbsp; <a href="@Url.Action("CreateChargeSupplementPricing", "Hotels", new { id = item.supplement_id })" title="Create Base price for Room"><i class="fa fa-plus-circle"></i> Add Price</a>
                                                </td>
                                                <td>
                                                    @Html.Raw(item.description)
                                                </td>


                                                <td>@Html.DisplayFor(modelitem => item.is_per_night)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_person)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_room)</td>
                                                <td>
                                                    @if (@item.valid_all_rooms)
                                                    {
                                                        <span>All Rooms</span>
                                                    }
                                                    else
                                                    {
                                                        if (@item.is_per_room)
                                                        {
                                                            <ul>
                                                                @foreach (var rm in item.rooms)
                                                                {
                                                                    <li> @rm.name</li>
                                                                }
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <span>Not Applicable</span>
                                                        }
                                                    }

                                                </td>
                                                <td>@Html.DisplayFor(modelitem => item.is_per_item)</td>
                                                <td>@Html.DisplayFor(modelitem => item.is_active)</td>
                                                <td align="right">
                                                    <a href="@Url.Action("ChargeSupplementDetails", "Hotels",new { id = item.supplement_id})" title="Details"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("EditChargeSupplement", "Hotels",new { id = item.supplement_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("DeleteChargeSupplement", "Hotels",new { id = item.supplement_id})" title="Delete"><span class="fa fa-trash"></span></a>

                                                </td>
                                            </tr>
                                            if (item.supplement_pricing.Count() > 0)
                                            {
                                                <tr>

                                                    <td colspan="9">
                                                        <table class="table noheadercolor">
                                                            <tr>
                                                                <th></th>
                                                                <th>
                                                                    Market
                                                                </th>

                                                                <th>
                                                                    Infant
                                                                </th>
                                                                <th>
                                                                    Child
                                                                </th>
                                                                <th>
                                                                    Teen
                                                                </th>
                                                                <th>
                                                                    Adult
                                                                </th>
                                                                <th>
                                                                    Honeymoon
                                                                </th>
                                                                <th>
                                                                    Item
                                                                </th>
                                                                <th>
                                                                    Active
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            @foreach (var supplement in item.supplement_pricing.OrderBy(x => x.market_id))
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @(supplement.valid_from.HasValue ? supplement.valid_from.Value.ToString("dd-MM-yyyy") : "") -
                                                                        @(supplement.valid_to.HasValue ? supplement.valid_to.Value.ToString("dd-MM-yyyy") : "")
                                                                    </td>
                                                                    <td>
                                                                        @supplement.market.market_name
                                                                    </td>

                                                                    <td>
                                                                        @supplement.price_infant
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_child
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_teen
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_adult
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_honeymoon
                                                                    </td>
                                                                    <td>
                                                                        @supplement.price_per_item
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelitem => supplement.is_active)
                                                                    </td>
                                                                    <td align="right">
                                                                        <a href="@Url.Action("EditChargeSupplementPricing", "Hotels",new { id= supplement.supplement_pricing_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                                        <a href="@Url.Action("DeleteChargeSupplementPricing", "Hotels",new {  id= supplement.supplement_pricing_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                </tr>


                                            }
                                        }

                                    </table>
                                    <div class="box-footer clearfix no-border">
                                        <a href="@Url.Action("CreateChargeSupplement", new { id = Model.provider_id, type="C"})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Charge</a>
                                    </div>
                                </div><!-- /.box-body -->
                            }
                            else
                            {
                                <h3 class="text-center text-danger"><span class="fa fa-warning"></span>&nbsp;Please define a market to create Charges</h3>


                            }

                        </div><!-- /.tab-pane -->
                        <div class="tab-pane @(tab==hotelTab.PACKAGES?"active":"")" id="tab_@hotelTab.PACKAGES">

                            @if (hasmarket)
                            {
                                <div class="box-body">
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            
                                            <th title="market">
                                                <span class="fa fa-globe"></span>
                                            </th>
                                            <th title="room">
                                                <span class="fa fa-bed"></span>
                                            </th>

                                            <th title="No. Nights">
                                                <span class="fa fa-moon-o"></span>
                                            </th>

                                            <th title="Ground Handling">
                                                <span class="fa fa-bus"></span> &nbsp;
                                                <span class="fa fa-male" title="Adult"></span> &bull;
                                                <span class="fa fa-male" style="font-size:.9em" title="Teen"></span> &bull;
                                                <span class="fa fa-male" style="font-size:.7em"title="Child"></span> 
                                            </th>
                                            <th title="valid dates">
                                                <span class="fa fa-calendar"></span>
                                            </th>
                                            <th>
                                                Active
                                            </th>
                                            <th>
                                            </th>

                                        </tr>

                                        @foreach (var item in Model.packages)
                                        {
                                            <tr>

                                                <td title="@item.name">
                                                    <b>@item.name</b>
                                                </td>

                                                
                                                <td>@item.market.market_name</td>
                                                <td>
                                                    @if (@item.apply_all_rooms)
                                                    {
                                                        <span>All Rooms</span>
                                                    }
                                                    else
                                                    {
                                                        <ul>
                                                            @foreach (var rm in item.rooms)
                                                            {
                                                                <li> @rm.name</li>
                                                            }
                                                        </ul>
                                                    }
                                                    
                                                </td>

                                                <td>
                                                    @item.number_nights
                                                </td>
                                                <td>
                                                    @item.market.currency.symbol
                                                    @item.price_ground_handling_adult &nbsp;&bull;&nbsp;
                                                  @item.market.currency.symbol
                                                    @item.price_ground_handling_teen &nbsp;&bull;&nbsp;
                                                 @item.market.currency.symbol
                                                    @item.price_ground_handling_child 
                                                </td>
                                                <td>
                                                    @item.valid_from.ToString("dd-MM-yyyy") /
                                                    @item.valid_to.ToString("dd-MM-yyyy")

                                                </td>
                                                <td>@Html.DisplayFor(modelitem => item.is_active)</td>
                                                <td align="right">

                                                    <a href="@Url.Action("PackageDetails", "Hotels", new { id = item.package_id })" title="view"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("EditPackage", "Hotels",new { id = item.package_id})" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("Deletepackage", "Hotels",new { id = item.package_id})" title="Delete"><span class="fa fa-trash"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;

                                                </td>
                                            </tr>
                                        }

                                    </table>
                                    <div class="box-footer clearfix no-border">
                                        <a href="@Url.Action("CreatePackage", "Hotels", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add package</a>
                                    </div>
                                </div><!-- /.box-body -->
                            }
                            else
                            {

                                <h3 class="text-center text-danger"><span class="fa fa-warning"></span>&nbsp;Please define a market to create packages</h3>
                            }

                        </div><!-- /.tab-pane -->

                        <div class="tab-pane @(tab==hotelTab.PROMOTIONS?"active":"")" id="tab_@hotelTab.PROMOTIONS">

                            @if (Model.markets.Count() > 0)
                            {
                                <div class="box-body">
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <th style="width:200px;">Valid</th>
                                            @*<th>
                                                Market
                                            </th>
                                            <th>
                                                Room
                                            </th>*@
                                            <th>Code</th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Active
                                            </th>

                                            <th>
                                            </th>

                                        </tr>

                                        @foreach (var promo in Model.promotions)
                                        {

                                            <tr>

                                                <td title="@promo.name">
                                                    <b>@promo.name</b>
                                                </td>
                                                <td>@promo.valid_from.ToString("dd MMM yyyy") - @promo.valid_to.ToString("dd MMM yyyy")</td>
                                                @*<td>
                                                    @promo.market.market_name
                                                </td>
                                                <td>
                                                    @((promo.room == null) ? "All Rooms" : promo.room.name)
                                                </td>*@
                                                <td>@promo.code</td>
                                                <td><div class="readmore">@Html.Raw(promo.description)</div></td>
                                                <td>@Html.DisplayFor(modelitem => promo.is_active)</td>
                                                <td align="right">
                                                    <a href="@Url.Action("EditPromotion", "Hotels", new { id = promo.promotion_id })" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("DeletePromotion", "Hotels", new { id = promo.promotion_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                                </td>
                                            </tr>

                                        }

                                    </table>
                                    <div class="box-footer clearfix no-border">
                                        <a href="@Url.Action("CreatePromotion", "Hotels", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Promotion</a>
                                    </div>
                                </div><!-- /.box-body -->
                            }
                            else
                            {
                                <h3 class="text-center text-danger"><span class="fa fa-warning"></span>&nbsp;Please define a market to create promotions</h3>

                            }


                        </div><!-- /.tab-pane -->

                       <div class="tab-pane @(tab==hotelTab.PROMOTION_SETS?"active":"")" id="tab_@hotelTab.PROMOTION_SETS">

                            
                                <div class="box-body">
                                    <table class="table light-grey table-hover">
                                        <tr>
                                            <th>
                                                Name
                                            </th>                               
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Active
                                            </th>    
                                            <th>

                                            </th>                                    
                                        </tr>

                                        @foreach (var promo in Model.promotion_set)
                                        {

                                            <tr>

                                                <td title="@promo.name">
                                                    <b>@promo.name</b>
                                                </td>                                           
                                                <td>@Html.Raw(promo.description)</td>
                                                <td>@Html.DisplayFor(modelitem => promo.is_active)</td>
                                                <td align="right">
                                                    <a href="@Url.Action("EditPromotionSet", "Hotels", new { id = promo.promotion_set_id })" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                                    <a href="@Url.Action("DeletePromotionSet", "Hotels", new { id = promo.promotion_set_id })" title="Delete"><span class="fa fa-trash"></span></a>
                                                </td>
                                            </tr>

                                        }

                                    </table>
                                    <div class="box-footer clearfix no-border">
                                        <a href="@Url.Action("CreatePromotionSet", "Hotels", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Promotion Set</a>
                                    </div>
                                </div><!-- /.box-body -->
                            
                          


                        </div><!-- /.tab-pane -->

                        <div class="tab-pane @(tab==hotelTab.ROOM_ALLOTMENT?"active":"")" id="tab_@hotelTab.ROOM_ALLOTMENT">

                            <div class="box-body">
                            <div class="row">
                                <div class="col-md-4"><h3>Manage Room allotments</h3>
                                    <p class="text-muted">
                                        <span class="fa fa-info-circle"></span>
                                        Room allotments are number of available rooms per date.
                                    </p>
                                  </div>
                                <div class="col-md-5">
                           
                                </div>
                                <div class="col-md-3">

                                
                                <div class="box-footer clearfix no-border">
                                    <a href="@Url.Action("CreateRoomAllotment", "Hotels", new { id = Model.provider_id})" class="btn btn-default pull-right"><i class="fa fa-plus-circle"></i> Add Allotment</a>
                                </div>

                                </div>
                            </div>
                            </div><!-- /.box-body -->
                        
                        @if (hasAllotments)
                        {


                            if (hasmarket)
                            {

                                <div class="box-body">
                                    <table class="table light-grey table-hover dtable" >
                                        <thead>
                                            <tr>


                                                <th title="room">
                                                    Room
                                                </th>
                                                <th title="date">
                                                    Date
                                                </th>

                                                <th title="alloment">
                                                    Allotments
                                                </th>
                                                <th>Update</th>
                                                <th> Delete
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var room in Model.rooms)
                                            {
                                                foreach (var allotment in room.room_allotment)
                                                {
                                                    <tr>

                                                        <td>@allotment.room.name</td>
                                                        <td>@allotment.allotment_date.ToString("dd MMM yyyy")</td>
                                                        <td>@allotment.allotment_amount</td>


                                                        <td>
                                                            @using (Html.BeginForm("EditRoomAllotment", "Hotels", FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()

                                                             <input name="id" type="hidden" value="@allotment.room_allotment_id" />
                                                                <input type="text" class="form-control" name="amount" style="width:50px;" value="@allotment.allotment_amount" />
                                                                <button type="submit" class="btn-link" title="udpate amount"><span class="fa fa-floppy-o"></span></button>
                                                            }

                                                        </td>

                                                        <td>

@*                                                            <a href="@Url.Action("EditRoomAllotment", "Hotels", new { id = allotment.room_allotment_id })" title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                                                            <a href="@Url.Action("DeleteRoomAllotment", "Hotels", new { id = allotment.room_allotment_id })" title="Delete" onclick="return confirm('Delete Allotment! Are you sure?')"><span class="fa fa-trash"></span></a>

                                                        </td>



                                                    </tr>

                                                }

                                            }
                                        </tbody>

                                    </table>
                                    
                                </div><!-- /.box-body -->
                            }
                            else
                            {

                                <h3 class="text-center text-danger"><span class="fa fa-warning"></span>&nbsp;Please define a market and package to create package allotments</h3>
                            }

                        } else
                        {
                            @*<h3>No allotments defined, <a href="@Url.Action("CreateRoomAllotment", "Hotels", new { id = Model.provider_id})">Add One</a></h3>*@
                        }
                        </div><!-- /.tab-pane -->



                    </div><!-- /.tab-content -->
                </div><!-- nav-tabs-custom -->


        </div> <!--/col -->


</div> <!--/row -->



<p>

    @Html.ActionLink("Back to List", "ListHotels")
</p>


@section Scripts {

@Scripts.Render("~/bundles/scrollnav")


@Scripts.Render("~/bundles/jqueryval")
     
@Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function () {

            $('.dtable').DataTable();

            $(document).on('shown.bs.tab', 'a[data-toggle=\'tab\']', function (e) {
                $('.readmore').readmore({
                    moreLink: '<a href="#">Expand</a>',
                    maxHeight: 100
                });
            })

            $('.nav-tabs').scrollingTabs();
          

            $('body').on('click', '.showsection', function () {
                $(this).next('section').toggle();
            });

            $('body').on('dblclick', '.trroomlink', function () {
                var id = $(this).data('id');
                //alert(id);


                // similar behavior as clicking on a link
                window.location.href = getVirtualDir() + "Rooms/RoomDetails/" + id;

            })

            $('.hotelquantity').on('focusout', function () {
                var val = $(this).val();
                if (val < 0 || !isNumeric(val))
                {
                    alert('Only positive numbers are allowed');
                    $(this).val(1)
                }
            });
     

        });

       
        //activate scrollable tabs 
        //$('.nav-tabs').scrollingTabs({ scrollToTabEdge: true });  


        function getVirtualDir() {
            var path = $('#svrpath').val();
            return path;
        }

        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

    </script>




}

