﻿@model IEnumerable<Booking_System.Models.provider>

@{
    ViewBag.Title = "Index";
    ViewBag.Menu = "List";
    ViewBag.TreeView = "H";
}

<h2>Hotels</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Hotels</li>
</ol>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Hotel List</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateHotel","Hotels")" class="pull-right"><span class="fa fa-plus-circle"></span> New Hotel</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">



        <table class="table table-hover">
            <tr class="">
        

                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.location)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.phone1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.star_rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_active)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.OrderBy(x => x.name.Trim()))
            {
                
                    <tr class="trlinkhotel" data-id="@item.provider_id">


                        <td>                  
                              <a href="@Url.Action("HotelDetails", new { id = item.provider_id})">
                            
                             <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.name)</span> 
                            </a> 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone1)
                        </td>
                        <td class="small" style="color:#F39C12">
                            @for (int i = 0; i < item.star_rating; i++)
                            {
                                <span class="fa fa-star"></span>
                            }

                            @for (int i = 0; i < 5 - item.star_rating; i++)
                            {
                                <span class="fa fa-star-o"></span>
                            }


                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.is_active)
                        </td>
                        <td align="right">

                            <a href="@Url.Action("HotelDetails", new { id = item.provider_id})" title="view Hotel"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                            @*<a href="@Url.Action("Edit", new { id = item.hotel_id})" title="Edit Hotel"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                            <a href="@Url.Action("DeleteHotel", new { id = item.provider_id })" title="Delete Hotel"><span class="fa fa-trash"></span></a>

                        </td>
                    </tr>
                
            }

        </table>
        </div>  <!-- .box-body-->
</div> <!-- .box-->

@section scripts{

    <script>
        $(document).ready(function () {

            $('body').on('dblclick', '.trlinkhotel', function () {
                var id = $(this).data('id');
                //alert(id);

                
                // similar behavior as clicking on a link
                window.location.href = getVirtualDir()+"Hotels/HotelDetails/"+id;

            })
        });


        function getVirtualDir() {
            var path = $('#svrpath').val();
            return path;
        }

    </script>
    }