﻿@model IEnumerable<Booking_System.Models.packageAllotment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.package_allotment_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.allotment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.package_allotment_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.allotment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.package.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
