﻿@model Booking_System.Models.packageAllotment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>packageAllotment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.package_allotment_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.package_allotment_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allotment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allotment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.package.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.package.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
