﻿@model Booking_System.Models.package
@using utils = Booking_System.Helpers.Utils
@using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "Details";
    ViewBag.TreeView = "H";
    
}

<h2>package: @Model.name </h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels",new {id=Model.provider_id, tab = hotelTab.PACKAGES })">Hotel @(Model.provider.name)</a></li>
    <li class="active">Package ( @Model.name ) Details</li>
</ol>


<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:25%">
                            <span class="fa fa-shopping-bag"></span>&nbsp;Package
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa fa-comment"></span>&nbsp;Description
                        </th>
                        <td>
                            @Html.Raw(Model.description)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Number of Nights
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.number_nights)
                        </td>
                    </tr>
                    @*<tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Room
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.room.name)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span class="fa  fa-globe"></span>&nbsp;Market
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.market.market_name)
                        </td>
                    </tr>*@
                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;Ground Handling
                        </th>
                        <td>
                            (adult) @Html.DisplayFor(model => model.price_ground_handling_adult)
                            (teen)  @Html.DisplayFor(model => model.price_ground_handling_teen)
                            (child) @Html.DisplayFor(model => model.price_ground_handling_child)
                        </td>
                    </tr>
                 
                </table>


            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <a href="@Url.Action("EditPackage","Hotels", new { id = Model.package_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit package </a>
            </div>
        </div><!-- /.box -->
    </div> <!--/col -->
</div> <!--/row -->


