﻿@model Booking_System.Models.promotion
    @using utils = Booking_System.Helpers.Utils
    @using hotelTab = Booking_System.Helpers.AppEnums.HotelTab
    @{
        ViewBag.Title = "Promotion Details";
        ViewBag.TreeView = "H";

    }

    <h2>package: @Model.name </h2>

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
        <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
        <li><a href="@Url.Action("HotelDetails","Hotels",new {id=Model.provider_id, tab = hotelTab.PROMOTIONS })">Hotel @(Model.provider.name)</a></li>
        <li class="active">Promotion ( @Model.name ) Details</li>
    </ol>

    <div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table ">
                   <tr><th>
                        <span class="fa  fa-circle-o"></span> @Html.DisplayNameFor(model => model.name)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.name)
                    </td></tr>

                   <tr><th>
                        <span class="fa   fa-comment"></span>&nbsp;@Html.DisplayNameFor(model => model.description)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.description)
                    </td></tr>
                    @*<tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp;@Html.DisplayNameFor(model => model.market.market_name)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.market.market_name)
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <span class="fa  fa-circle-o"></span>&nbsp; @Html.DisplayNameFor(model => model.room.name)
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.room.name)
                        </td>
                    </tr>*@

                   <tr><th>
                        <span class="fa fa-comments"></span>&nbsp;@Html.DisplayNameFor(model => model.contracted_offer)
                    </th>

                    <td>
                        @Html.Raw(Html.DisplayFor(model => model.contracted_offer))
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-comments"></span>&nbsp;@Html.DisplayNameFor(model => model.cancellation_policy)
                    </th>

                    <td>
                        @Html.Raw(Html.DisplayFor(model => model.cancellation_policy))
                    </td></tr>

                   <tr><th>
                        <span class="fa   fa-exclamation-circle "></span>&nbsp;@Html.DisplayNameFor(model => model.book_before_days)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.book_before_days)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-calendar-check-o"></span>&nbsp;@Html.DisplayNameFor(model => model.book_from_date)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.book_from_date)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-calendar-check-o"></span>&nbsp;@Html.DisplayNameFor(model => model.book_until_date)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.book_until_date)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-plane"></span>&nbsp;@Html.DisplayNameFor(model => model.travel_from_date)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.travel_from_date)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-plane"></span>&nbsp;@Html.DisplayNameFor(model => model.travel_until_date)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.travel_until_date)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-calendar-check-o"></span>&nbsp;@Html.DisplayNameFor(model => model.valid_from)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.valid_from)
                    </td></tr>

                   <tr><th>
                           <span class="fa fa-calendar-check-o"></span>&nbsp; @Html.DisplayNameFor(model => model.valid_to)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.valid_to)
                    </td></tr>

                   <tr><th>
                        <span class="fa  fa-bed"></span>&nbsp;@Html.DisplayNameFor(model => model.min_nights)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.min_nights)
                    </td></tr>

                   <tr><th>
                        <span class="fa  fa-percent"></span>&nbsp;@Html.DisplayNameFor(model => model.discount)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.discount)
                    </td></tr>

                   <tr><th>
                        <span class="fa fa-power-off"></span>&nbsp;@Html.DisplayNameFor(model => model.is_active)
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.is_active)
                    </td></tr>

                   


                </table>
            </div><!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <a href="@Url.Action("EditPromotion","Hotels", new { id = Model.promotion_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit Promotion </a>
                    </div>

            </div><!-- /.box -->
        </div> <!--/col -->
    </div> <!--/row -->
