﻿@model IEnumerable<Booking_System.Models.booking>


@{
    ViewBag.Title = "Departures";
    ViewBag.TreeView = "R";
    ViewBag.Menu = "DEP";
    var range = ViewBag.Range;
    DateTime noDate = new DateTime(1900, 1, 1);

}



<h2>Departures @range</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Departures</li>
</ol>
    <a href="#" class="showSection"><span class="fa fa-search-plus"></span> search</a>
    <section style="display: @(Model.Count() >0?"none":"block")">
<div class="box">
    <div class="box-header box-danger ">
    <div class="row">
        <div class="col-md-11"><h3 class="box-title">Search </h3></div>
        <div class="col-md-1 text-right closesearch"><a href="#"><span class="text-muted fa fa-close"></span></a></div>
    </div>
        
    </div><!-- /.box-header -->
    
    <div class="box-body">

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="startdate" class="control-label ">Check-in Date</label>
                <input type="text" class="form-control datepickerdown" required name="startdate" value="@ViewBag.start" />
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="enddate" class="control-label ">Check-out Date</label>
                <input type="text" class="form-control datepickerdown" required name="enddate" value="@ViewBag.end" />
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="submit" value="Search" class="form-control btn btn-default" />
            </div>

        </div>
    </div>

}

    </div> <!-- box body-->

</div> <!-- box -->
    </section>
@if (Model.Count() > 0)
{
<div class="box">
    <div class="box-header box-danger ">
        <h3 class="box-title">
            @*<a href="#" id="btnExportToExcel" class="btn btn-default">Export to excel</a>*@
            <a href="@Url.Action("DeparturesExport","Reports",new { startdate = ViewBag.Start, enddate = ViewBag.end })" id="btnExportExcel" class="btn btn-default">Export to Excel </a>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">

            <table class="table" id="departures" data-tableName="Departures">
                <thead>
                    <tr>
                        <th>
                            Booking File Number
                        </th>
                        <th>
                            Booking Name
                        </th>
                        <th>
                            Agent Name
                        </th>
                        <th>
                            Hotel
                        </th>
                        <th>
                            Market
                        </th>
                        <th>
                            Check-in Date
                        </th>
                        <th>
                            Check-out Date
                        </th>
                        <th>
                            No of Pax
                        </th>
                        <th>Departure Date</th>
                        <th>Departure Time</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.booking_file_number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.booking_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.agent_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.provider_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.market_name)
                            </td>                          
                            <td>
                                @Html.DisplayFor(modelItem => item.checkin_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.checkout_date)
                            </td>
                            <td>
                                @item.booking_guest.Count()
                            </td>
                            <td>
                                @{DateTime dt = item.booking_guest.Min(x => x.departure_datetime).HasValue ? item.booking_guest.Min(x => x.departure_datetime).Value : noDate; }
                                @(dt == noDate ? "N/A" : dt.ToString("dd-MM-yyyy"))
                            </td>
                            <td>
                                @(dt == noDate ? "N/A" : dt.ToString("HH:mm"))
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
       
    </div> <!-- box body-->
</div> <!-- box -->
}


@section Scripts {
@Scripts.Render("~/bundles/table2excel")
    <script>

       
        $(document).ready(function () {
            $('.showSection').click(function () {
                $(this).next('section').show();

            });

            $('.closesearch').click(function () {
                $(this).closest('section').hide();
            });
        });

    </script>
}
