﻿@model IEnumerable<Booking_System.Models.rateSheet>

@{
    ViewBag.Title = "RateSheet";
    ViewBag.TreeView = "R";
    ViewBag.Menu = "Rs";

}
<style>
    tr{
        border:solid 1px;
    }
     
</style>


<h2>Rate Sheet</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Rate Sheet</li>
</ol>  


    <div class="box">
        <div class="box-header box-danger ">
            <h3 class="box-title">
                <a href="#" id="btnExportToExcel" class="btn btn-default">Export to excel</a>
            </h3>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-responsive"  id="RateSheet">
                @{ 
                    var Hotels = Model.Select(x => new { x.provider_id, x.provider_name }).Distinct(); //get all hotels 
                }
                    @foreach (var ht in Hotels) //for every hotel in the list
                    {
                        @*first build the header*@
                        <tr>
                            <th colspan="15" style="text-align:center;font-size:120%;font-weight:bold;background-color:#b9b9b9">
                                @ht.provider_name
                            </th>
                           
                        </tr>
                        <tr>
                            <th colspan="4">
                                
                            </th>
                            <th colspan="7" style="text-align:center;font-size:110%;font-weight:bold;background-color:#e2e2e2">Prices</th>
                            <th colspan="3" style="text-align:center;font-size:110%;font-weight:bold;background-color:#efda72">Ground handling</th>                     
                        </tr>
                        <tr>
                            <th>
                                Room
                            </th>
                            <th>
                                Price Name
                            </th>
                            @*<th>
                                Offer
                            </th>*@
                            <th>
                                Start Date
                            </th>                          
                            <th>
                                End Date
                            </th>
                            <th>
                               Sg
                            </th>
                            <th>
                                Dbl
                            </th>
                            <th>
                               Tpl
                            </th>
                            <th>
                               Quad
                            </th>
                            @*<th>
                                @Html.DisplayNameFor(model => model.price_honeymoon)
                            </th>*@
                            <th>
                                Infant
                            </th>
                            <th>
                                Child
                            </th>
                            <th>
                                Teen
                            </th>
                            <th>
                               adult
                            </th>
                            <th>
                                Teen
                            </th>
                            <th>
                                Child
                            </th>
                            
                        </tr>

                        //get all records in the ist
                        var listing = Model.Where(x => x.provider_id == ht.provider_id).Distinct();
                        var currroom = 0;
                        foreach (var rec in listing)
                        {
                            
                                    <tr>
                                        <td>
                                            @if (rec.room_id != currroom)
                                            {
                                @rec.room_name
                                            }

                                        </td>
                                       
                                        <td>
                                            @rec.package_name
                                        </td>
                                        @*<td>
                                            @Html.Raw(rec.contracted_offer)
                                        </td>*@
                                        <td>
                                            @rec.start_date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @rec.end_date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_single*rec.number_nights)+rec.price_ground_handling_adult)</span>
                                            }
                                            else
                                            { 
                                                @rec.price_single
                                            }
                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_twin * rec.number_nights) + rec.price_ground_handling_adult)</span>
                                            }
                                            else
                                            {
                                                @rec.price_twin
                                            }
                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_triple * rec.number_nights) + rec.price_ground_handling_adult)</span>
                                            }
                                            else
                                            {
                                                @rec.price_triple
                                            }

                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_quadruple * rec.number_nights) + rec.price_ground_handling_adult)</span>
                                            }
                                            else
                                            {
                                                @rec.price_quadruple
                                            }
                                        </td>
                                        @*<td>
                                            @rec.price_honeymoon
                                        </td>*@
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@(rec.price_infant * rec.number_nights)</span>
                                            }
                                            else
                                            {
                                                @rec.price_infant
                                            }
                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_child * rec.number_nights) + rec.price_ground_handling_child)</span>
                                            }
                                            else
                                            {
                                                @rec.price_child
                                            }
                                        </td>
                                        <td>
                                            @if (rec.number_nights > 0)
                                            {
                                                <span>@((rec.price_teen * rec.number_nights) + rec.price_ground_handling_teen)</span>
                                            }
                                            else
                                            {
                                                @rec.price_teen
                                            }

                                        </td>
                                        <td>
                                            @rec.price_ground_handling_adult
                                        </td>
                                        <td>
                                            @rec.price_ground_handling_teen
                                        </td>
                                        <td>
                                            @rec.price_ground_handling_child
                                        </td>
                                    </tr>

                                    currroom = rec.room_id;
                        }



                    }          


             

            </table>


        </div> <!-- box body-->
    </div> <!-- box -->

@section Scripts {
    @Scripts.Render("~/bundles/table2excel")
    <script>

        $(function () {
            $('#btnExportToExcel').click(function () {
                $("#RateSheet").table2excel({
                    exclude: ".excludeThisClass",
                    name: "Rate Sheet",
                    filename: "rate_sheet" //do not include extension,

                });
            })
        })

    </script>
}