﻿@model IEnumerable<Booking_System.Models.booking>

@{
    ViewBag.Title = "Sales Report";
    ViewBag.TreeView = "R";
    ViewBag.Menu = "SR";
   
}

<style>

    .subheader{
         background-color:#e8e8e8;
    }
    .subsection{
        font-size:90%;
    }

    .subdetails
    {
         background-color:#ebebeb;
    }

    .mainheader{
        background-color:#808080;
        color:#fff;
    }
</style>

<h2>Sales Report</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Sales Report</li>
</ol>
<a href="#" class="showSection"><span class="fa fa-search-plus"></span> search</a>
<section style="display: @(Model.Count() >0?"none":"block")">
    <div class="box">
        <div class="box-header box-danger ">
            <div class="row">
                <div class="col-md-11"><h3 class="box-title">Search </h3></div>
                <div class="col-md-1 text-right closesearch"><a href="#"><span class="text-muted fa fa-close"></span></a></div>
            </div>

        </div><!-- /.box-header -->
        <div class="box-body">

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="startdate" class="control-label ">Start Date</label>
                            <input type="text" class="form-control datepickerdown" required name="startdate" value="@ViewBag.start" />
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="enddate" class="control-label ">End Date</label>
                            <input type="text" class="form-control datepickerdown" required name="enddate" value="@ViewBag.end" />
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <input type="submit" value="Search" class="form-control btn btn-default" />
                        </div>

                    </div>
                </div>

            }

        </div> <!-- box body-->
    </div> <!-- box -->
    </section>
    @if (Model.Count() > 0)
    {
        <div class="box">
            <div class="box-header box-danger ">
                <h3 class="box-title">
                    @*<a href="#" id="btnExportToExcel" class="btn btn-default">Export to excel</a>*@
<a href="@Url.Action("SalesReportExport","Reports",new { startdate=ViewBag.Start, enddate=ViewBag.end })" id="btnExportExcel" class="btn btn-default">Export to Excel </a>
                </h3>
            </div><!-- /.box-header -->

            <div class="box-body table-responsive no-padding">

                <table class="table" id="salesreport" data-tableName="Sales Report">
                    <thead class="mainheader">
                        <tr>
                            <th>
                                Hotel
                            </th>

                            <th>
                                Check-in Date
                            </th>
                            <th>
                                Check-out Date
                            </th>
                            <th>
                                Adults
                            </th>
                            <th>
                                Children
                            </th>
                            <th>
                                Number of Rooms
                            </th>
                            <th>
                                Number of Nights
                            </th>
                            <th>
                                Currency
                            </th>
                            <th>
                                Selling Price Hotel
                            </th>
                            <th>
                                Supplement Sales
                            </th>
                            <th>
                                Is Package
                            </th>
                            <th>
                                Transfer Type
                            </th>
                            <th>
                                Total Transport Sales
                            </th>
                            <th>
                                Total Activity Sales
                            </th>
                            <th>
                                Total Car rental Sales
                            </th>
                            <th>
                                Total Sales
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.provider_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.checkin_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.checkout_date)
                                </td>
                                <td>
                                    @item.adults
                                </td>
                                <td>
                                    @item._totalChildrenAndTeens
                                </td>
                                <td>
                                    @item.booking_room.Count()
                                </td>
                                <td>
                                    @item.num_nights
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.currency.currency_code)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCostRooms)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCostSupps)
                                </td>
                                <td>
                                    @((item.isPackage) ? "Y" : "N")
                                </td>
                                <td>
                                    Data not available
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCostTransferWithAfterSales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCostActivityWithAfterSales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCostRentalWithAfterSales)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCost)
                                </td>
                            </tr>


                        }

                    </tbody>
                </table>

            </div> <!-- box body-->
        </div> <!-- box -->
    }


    @section Scripts {
        @Scripts.Render("~/bundles/table2excel")
        <script>

        //$(function () {
        //    $('#btnExportToExcel').click(function () {
        //        $("#salesreport").table2excel({
        //            exclude: ".excludeThisClass",
        //            name: "Sales Report",
        //            filename: "sales_report" //do not include extension,

        //        });
        //    })
        //})

        $(document).ready(function () {
            $('.showSection').click(function () {
                $(this).next('section').show();

            });

            $('.closesearch').click(function () {
                $(this).closest('section').hide();
            });
        });

        </script>
    }
