﻿@model Booking_System.Models.user

@{
    ViewBag.Title = "Create User";

    var locationListItem = Booking_System.Helpers.SelectItems.GetLocationListItem();
    ViewBag.Menu = "Create";
    ViewBag.TreeView = "U";


    var CategoryList = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.UserRoles), Booking_System.Models.UserRoles.None.ToString());
    var titleList = Booking_System.Helpers.SelectItems.GetTitleListItem();

    var genderList = Booking_System.Helpers.SelectItems.GetGenderListItem(null);
}

<h2><span class="fa fa-user"></span>Create User</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Index","Users")">Users</a></li>
    <li class="active">Create User</li>
</ol>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;User Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">

                        @Html.LabelFor(model => model.Salutation, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.Salutation, titleList, "-select-", htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.date_of_birth, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.date_of_birth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.gender, genderList, "-select-", htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                    </div>


                </div><!-- ./box body -->


            </div> <!-- ./ box -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Electronic Address</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.officephone, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.officephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.officephone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.box body-->
            </div> <!-- /.box  -->
        </div> <!-- /.  col -->


        <div class="col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;User Attributes</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                <input type="hidden" name="is_active" value="true" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label " })

                        @Html.DropDownListFor(model => model.role, CategoryList, htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.job_title, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.job_title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.job_title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.markup_percentage, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.markup_percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.markup_percentage, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.markup_fixed, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.markup_fixed, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.markup_fixed, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.credit_limit, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.credit_limit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.credit_limit, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.credit_remaining, htmlAttributes: new { @class = "control-label " })

                        @Html.EditorFor(model => model.credit_remaining, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.credit_remaining, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                    </div>*@

                </div> <!-- .body-->
            </div> <!-- box primary -->
        </div> <!-- row -->
    </div> <!-- /.col-->




    <div class="box-footer text-center">
        <a href="@Url.Action("Index", "Users")" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/plugins")

<script>
            $(document).ready(function () {

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy'

                    });
            });
</script>
}
