﻿@model Booking_System.Models.user

@{
    ViewBag.Title = "Delete User";
    ViewBag.TreeView = "U";
    ViewBag.Menu = "Delete";
}


<h2><span class="fa fa-trash"></span> Delete User</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Index","Users")">Users</a></li>
    <li class="active">Delete User</li>
</ol>

<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>@String.Concat("User: ", Model.FullName, " (", Model.username, ")")</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Salutation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Salutation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.firstname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.firstname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.lastname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.lastname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.date_of_birth)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.date_of_birth)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.nationality)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nationality)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.role)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.role)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.officephone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.officephone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mobile)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mobile)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.company)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.company)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.job_title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.job_title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.is_active)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.is_active)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.markup_percentage)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.markup_percentage)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.markup_fixed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.markup_fixed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.username)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.credit_limit)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.credit_limit)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.credit_remaining)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.credit_remaining)
                        </dd>

                    </dl>


                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default">Do not delete</a>

                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->