﻿@model Booking_System.Models.user
@using Tab = Booking_System.Helpers.AppEnums.UserTab
@{
    ViewBag.Title = "Edit";
    List<SelectListItem> titleListItem = Booking_System.Helpers.SelectItems.GetTitleListItem(Model.title);
    ViewBag.Menu = "Edit";
    ViewBag.TreeView = "U";

    var genderList = Booking_System.Helpers.SelectItems.GetGenderListItem(Model.gender);
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Index","Users")">Users</a></li>
    <li class="active">@Model.username</li>
</ol>

<h2>Edit @Model.username</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.user_id)

    
    <div class="row">

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">1</span>&nbsp;User Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">

                        @Html.LabelFor(model => model.Salutation, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Salutation, titleListItem, "-select-", htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.Salutation, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.date_of_birth, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.date_of_birth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.date_of_birth, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.gender, genderList, "-select-", htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nationality, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.nationality, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nationality, "", new { @class = "text-danger" })
                    </div>


                </div><!-- ./box body -->


            </div> <!-- ./ box -->
        </div><!-- /.col -->

        <div class="col-md-4">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">2</span>&nbsp;Electronic Address</h3>
                </div><!-- /.box-header -->
                <div class="box-body">


                    <div class="form-group">
                        @Html.LabelFor(model => model.officephone, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.officephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.officephone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- /.box body-->
            </div> <!-- /.box  -->
        </div> <!-- /.  col -->


        <div class="col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="badge">3</span>&nbsp;User Attributes</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.job_title, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.job_title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.job_title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.markup_percentage, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.markup_percentage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.markup_percentage, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.credit_limit, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.credit_limit, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.credit_limit, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.credit_remaining, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.credit_remaining, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.credit_remaining, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.is_active) &nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.is_credit_based) &nbsp;&nbsp;
                        @Html.LabelFor(model => model.is_credit_based, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.is_credit_based, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- .body-->
            </div> <!-- box primary -->
        </div> <!-- row -->
    </div> <!-- /.col-->




    <div class="box-footer text-center">

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-default">Reset</button>
        <a href="@Url.Action("UserDetails","Users", new { id = Model.user_id, tab= Tab.GALLERY })" class="btn btn-default">Cancel</a>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")

    <script>
            $(document).ready(function () {

                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy'

                    });
            });
    </script>
}
