﻿@model IEnumerable<Booking_System.Models.user>

@{
    ViewBag.Title = "Index";

    ViewBag.Menu = "List";
    ViewBag.TreeView = "U";
}

<h2>User Management</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li class="active">Users</li>
</ol>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">User List</h3>
        <div class="box-tools">
            <a href="@Url.Action("CreateUser","Users")" class="btn btn-default pull-right"><span class="fa fa-plus"></span> New User</a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">




        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                Name
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.nationality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.officephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.job_title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.is_active)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("UserDetails","Users", new { id = item.user_id })">@Html.DisplayFor(modelItem => item.username)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salutation)
                        @Html.DisplayFor(modelItem => item.firstname)
                        <strong>@Html.DisplayFor(modelItem => item.lastname)</strong>
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.nationality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.officephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.is_active)
                    </td>

                    @*<td>
                        @Html.DisplayFor(modelItem => item.markup_percentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.markup_fixed)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.credit_limit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.credit_remaining)
                    </td>*@
                    <td align="right">
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.user_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.user_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.user_id })*@


                        <a href="@Url.Action("UserDetails", new { id = item.user_id})" title="view User"><span class="fa fa-tv"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
                        @*<a href="@Url.Action("Edit", new { id = item.hotel_id})" title="Edit Hotel"><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;*@
                        @if (Booking_System.Helpers.UserSession.Current.Username != item.username)
                        {
                            <a href="@Url.Action("DeleteUser", new { id = item.user_id})" title="Delete User"><span class="fa fa-trash"></span></a>
                        }

                    </td>
                </tr>
            }

        </table>
    </div>
</div>