﻿@model Booking_System.Models.user
@using Tab = Booking_System.Helpers.AppEnums
@{
    ViewBag.Title = "Details";

    ViewBag.TreeView = "Users";
    Tab.UserTab tab = ViewBag.Tab;

    var CategoryList = Booking_System.Helpers.SelectItems.GetEnumSelectList(typeof(Booking_System.Models.UserRoles), Model.role.ToString());

    bool passwordResetSuccessful = false;
    if(TempData["PasswordResetSuccess"] != null)
    {
        passwordResetSuccessful = Convert.ToBoolean(TempData["PasswordResetSuccess"]);
    }
}
<style>
</style>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("Index","Users")">Users</a></li>
    <li class="active">@Model.FullName</li>
</ol>

<div class="container">
    <div class="row">       
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.FullName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> 
                            @if(Model.user_picture.Count>0)
                            {
                            <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), Model.user_picture.FirstOrDefault().picture.FullFileName)" alt="@Model.user_picture.FirstOrDefault().picture.DisplayImageTitle" />

                            } else
                            {
                        <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive">

                            }
                            
                            <section class="">
                                @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
                                {
                                    <input type="hidden" name="SectionId" value="@Model.user_id" />
                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.User.ToString()" />
                                        <input type="hidden" name="title" value="@Model.FullName" />
                                        <input type="hidden" name="description" value="user profile picture" />


                                    <div class="fileUpload btn btn-primary btn-xs">
                                        <span>Change</span>
                                        <input type="file" class="upload" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" onchange="this.form.submit()"/>
                                    </div>

                                   
                                }
                            </section>
                            <hr />
                            <p>Password Reset</p>
                            <a href="@Url.Action("ResetUserPassword", new { id = Model.user_id })" class="btn btn-danger btn-xs">Reset Password</a>
       
@if (passwordResetSuccessful)
{
    <p>
        Mail sent to @Model.email
    </p>
}

                            <hr />
                            <p>Change Role:</p>
                            @using (Html.BeginForm("EditUserRole", "Users", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="@Model.user_id" />
                                @Html.DropDownListFor(model => model.role, CategoryList, htmlAttributes: new { @class = "form-control select2", @onchange = "this.form.submit()" })
                            }
                        
</div>
                        <div class="col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Role:</td>
                                        <td>@Model.RoleText</td>
                                    </tr>
                                    <tr>
                                        <td>Username:</td>
                                        <td>@Model.username</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>@(Model.date_of_birth.HasValue? Model.date_of_birth.Value.ToString("dd/MM/yyyy"):"")</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>@Model.GenderText</td>
                                    </tr>
                                    <tr>
                                        <td>Job/Company</td>
                                        <td>@Model.job_title, @Model.company</td>
                                    </tr>
                                    <tr>
                                        <td>Nationality</td>
                                        <td>@Model.nationality</td>
                                    </tr>
                                    <tr>
                                        <td>Markup</td>
                                        <td>@Model.markup_percentage %</td>
                                    </tr>

                                    <tr>
                                        <td>Total/Remaining Credit</td>
                                        <td>@Model.currency.currency_code @Model.credit_limit / @Model.credit_remaining</td>
                                    </tr>

                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:Model.email">@Model.email</a></td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>
                                            @Model.officephone (Landline)<br><br>@Model.mobile (Mobile)
                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                            @*<a href="@Url.Action("EditUser", new { id = Model.user_id})" class="btn btn-primary">Edit</a>*@
                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip"  class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="@Url.Action("EditUser", new { id = Model.user_id})" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i> Edit User</a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete User</a>
                    </span>
                </div>

            </div>
        </div>
   
    </div>
</div>


@*<h2>User: @Model.FullName </h2>



<div class="row">
    <div class="col-md-4">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Details</h3>
                <div class="box-tools pull-right">

                </div>


            </div>

            <div class="box-body">
                <table class="table ">
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-user"></span>&nbsp;Name
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.FullName)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-user"></span>&nbsp;UserName
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.username)
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-calendar"></span>&nbsp;Date of Birth
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.date_of_birth)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-male"></span><span class="fa fa-female"></span>&nbsp;Gender
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.GenderText)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-user"></span>&nbsp;Nationality
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.nationality)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-fax"></span>&nbsp;Office Phone
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.officephone)
                        </td>
                    </tr>


                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-mobile-phone"></span>&nbsp;Mobile Phone
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.mobile)
                        </td>
                    </tr>


                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-mail-reply"></span>&nbsp;Email
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.email)
                        </td>
                    </tr>

                    
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-question"></span>&nbsp;Role
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.RoleText)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-home"></span>&nbsp;Company
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.company)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-user"></span>&nbsp;Job Title
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.job_title)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-money"></span>&nbsp;Markup Percentage
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.markup_percentage)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-money"></span>&nbsp;Markup Fixed
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.markup_fixed)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-money"></span>&nbsp;Credit Limit
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.credit_limit)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-money"></span>&nbsp;Credit remaining
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.credit_remaining)
                        </td>
                    </tr>
                    <tr>
                        <th style="width:35%">
                            <span class="fa fa-question"></span>&nbsp;Is Active
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.is_active)
                        </td>
                    </tr>

                </table>
            </div>

            <div class="box-footer clearfix no-border">
                <a href="@Url.Action("EditUser", new { id = Model.user_id})" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> Edit User </a>
            </div>


        </div>
    </div>

    <div class="col-md-8">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="@(tab==Tab.UserTab.GALLERY ? "active":"")"><a href="#tab_@Tab.UserTab.GALLERY" data-toggle="tab"><i class="fa fa-image"></i>&nbsp;Gallery</a></li>

                @if (Booking_System.Helpers.UserSession.Current.Username.ToUpper() != Model.username.ToUpper())
                {
                    <li class="@(tab==Tab.UserTab.PASSWORD?"active":"")"><a href="#tab_@Tab.UserTab.PASSWORD" data-toggle="tab"><i class="fa fa-key"></i>&nbsp;Reset Password</a></li>
                    <li class="@(tab==Tab.UserTab.ROLE?"active":"")"><a href="#tab_@Tab.UserTab.ROLE" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Edit Role</a></li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane @(tab==Tab.UserTab.GALLERY?"active":"")" id="tab_@Tab.UserTab.GALLERY">
                    <div class="box-body">
                        <div class="row">
                            @if (Model.user_picture.Count == 0)
                            {
                                <div class="col-md-12">

                                    @using (Html.BeginForm("AddImage", "Providers", FormMethod.Post,
new { enctype = "multipart/form-data" }))
                                    {

                                        <input type="hidden" name="SectionId" value="@Model.user_id" />
                                        <input type="hidden" name="imgType" value="@Booking_System.Models.ImagesType.User.ToString()" />
                                        <div class="col-md-6">

                                            <div class="form-group">

                                                <label class="control-label col-md-4">Image</label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="file" name="file" id="file" style="width:100%" accept="@Booking_System.Helpers.ConfigurationHelper.AuthorizedImagesExtAcceptAttr()" />
                                                </div>

                                            </div>
                                            <div class="form-group">

                                                <label class="control-label col-md-4">Title</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="title" value="" class="form-control" placeholder="add a title (optional)" />
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <label class="control-label col-md-4">Description</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="description" value="" class="form-control" placeholder="description" />
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <label class="control-label col-md-4"></label>
                                                <div class="col-md-8">
                                                    <input type="submit" name="Save" value="Add Image" class="btn btn-default" />
                                                </div>
                                            </div>


                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="col-md-12">

                                    <div class="row">
                                        @foreach (var item in Model.user_picture)
                                        {

                                            <div class="col-md-12">
                                                <div class="img-thumbnail">
                                                    <div class="img-wrap">
                                                        <span class="deleteimage">
                                                            <a href="@Url.Action("DeleteImage", "Providers", new { id = item.picture_id, sectionId = Model.user_id, type = Booking_System.Models.ImagesType.User.ToString() })" onclick="return confirm('Are you sure you wish to delete this image?');" class="btn btn-danger btn-sm" title="Delete Image"><span class="fa fa-trash"></span> </a>
                                                        </span>
                                                        <img class="img-responsive adminImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" />
                                                    </div>
                                                    <div class="caption">
                                                        @item.picture.DisplayImageFileName
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            }

                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.tab-pane -->

               
                    <div class="tab-pane @(tab == Tab.UserTab.PASSWORD ? "active" : "")" id="tab_@Tab.UserTab.PASSWORD">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.ActionLink("Reset Password", "ResetUserPassword", new { id = Model.user_id })
                                </div>
                                @if (passwordResetSuccessful)
                                {
                                    <div class="col-md-12">
                                        <div class="small">
                                            Mail sent to @Model.email
                                        </div>
                                    </div>
                                }

                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.tab-pane -->

                    <div class="tab-pane @(tab == Tab.UserTab.ROLE ? "active" : "")" id="tab_@Tab.UserTab.ROLE">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("EditUserRole", "Users", FormMethod.Post))
                                    {
                                        <input type="hidden" name="id" value="@Model.user_id" />
                                        @Html.DropDownListFor(model => model.role, CategoryList, htmlAttributes: new { @class = "form-control select2", @onchange = "this.form.submit()" })
                                    }
                                </div>


                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.tab-pane -->
                
            </div>
        </div>
    </div>
</div>*@

<p>

    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script>
   

    </script>

    }