﻿@model Booking_System.Models.market
    @using tab = Booking_System.Helpers.AppEnums.HotelTab
@{
    ViewBag.Title = "DeleteMarket";
    ViewBag.TreeView = "Accomodations";
    //Booking_System.Models.provider hotel = ViewBag.Hotel;
}
<h2><span class="fa fa-trash"></span> Delete Market</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails", "Hotels", new { id = Model.provider.provider_id, tab = tab.DETAILS})">@Model.provider.name</a></li>
    <li class="active">Delete Market</li>
</ol>
<div class="row">

    <div class="col-md-offset-4 col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">Are you sure you want to <b>delete </b>this?</h3>
            </div><!-- /.box-header -->
            <div class="box-body">

                <div>
                    <h4>Market: @Model.market_name</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.market_name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.market_name)
                        </dd>                      

                        <dt>
                            @Html.DisplayNameFor(model => model.provider.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provider.name)
                        </dd>

                    </dl>

                    <p class="text-center text-danger"><em>Note:</em> Once deleted item cannot be recovered.</p>

                    @using (Html.BeginForm("DeleteMarket", "Markets", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color text-center">
                            
                            <a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider.provider_id, tab = tab.DETAILS})" class="btn btn-default">Back Do not Delete</a>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            
                        </div>
                    }
                </div>
            </div>  <!-- body-->
        </div>  <!-- box -->
    </div>  <!-- col -->
</div> <!-- row -->

