﻿@model Booking_System.Models.market
@using tab = Booking_System.Helpers.AppEnums.HotelTab
@{ 
   //Booking_System.Models.provider hotel = ViewBag.Hotel;

   
}

    <h2>Editing Market <small>@Model.market_name</small></h2>


<ol class="breadcrumb">
    <li><a href="@Url.Action("Menu","Home")">Menu</a></li>
    <li><a href="@Url.Action("ListHotels","Hotels")">Hotels</a></li>
    <li><a href="@Url.Action("HotelDetails","Hotels", new { id = Model.provider.provider_id, tab = tab.DETAILS })">@Model.provider.name</a></li>
    <li class="active">Edit Market </li>
</ol>





    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }


       
        @Html.HiddenFor(model => model.market_id)
        @Html.HiddenFor(model => model.provider_id)

        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span class="badge">1</span>&nbsp;Market Details</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.provider_id, htmlAttributes: new { @class = "control-label " })
                            <input type="text" class="form-control" value="@Model.provider.name" disabled />
                            @Html.ValidationMessageFor(model => model.provider_id, "", new { @class = "text-danger" })

                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.market_name, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.market_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.market_name, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label " })

                            @Html.DropDownList("currency_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.is_default, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.is_default, new { htmlAttributes = new { @class = "defaultmarket" } })
                            @Html.ValidationMessageFor(model => model.is_default, "", new { @class = "text-danger" })

                        </div>

                

                        <div class="form-group">
                            @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label " })

                            @Html.EditorFor(model => model.is_active/*, new { htmlAttributes = new { @class = "defaultmarket" } }*/)
                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })

                        </div>

                    

                    </div> <!-- /.body-->
                </div> <!-- /.box-->
            </div><!-- /.col-->


            <div class="col-md-4 countrybox">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span class="badge">2</span>&nbsp;Select Countries</h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.countries, htmlAttributes: new { @class = "control-label " })

                            @Html.DropDownList("country_id", null, htmlAttributes: new { @name = "country_id", @class = "form-control select2", @multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.countries, "", new { @class = "text-danger" })

                        </div>

                    </div><!-- /.box-header -->
                    <div class="box-body">
                    </div> <!-- /.body-->
                </div> <!-- /.box-->
            </div><!-- /.col-->


        </div> <!-- ./row -->


        <div class="box-footer text-center">
            <button type="submit" class="btn btn-primary text-center">Save</button>
        </div>
    }

@section Scripts {
   @Scripts.Render("~/bundles/market-custom")
}
