﻿

.red {
    color: #ff0000;
}

.grey{
    color:#CCC;
}

.subtext {
    font-style: oblique;
    color: #8D97A0;
    text-align: center;
    font-size: 1.1em;
    padding: 0 20px;
}

.large {
    font-size: 1.4em;
}

.bg-grey > .row {
    margin-bottom: 40px;
}

h2.admin {
    color: #5FB0E9;
    border-bottom: 1px dotted #4B5A6A;
}

bg-grey {
    background: #425162;
    color: white;
    margin-top: 50px;
    padding: 30px;
}

.content {
    padding: 1px 15px;
}


table.orange tr > th {
    background: #F39C12;
    color: #FFF;
}

table.light-grey tr > th {
    background: #E7E7E7;
    color: #111;
}

table.noheadercolor tr > th {
    background: transparent;
    color: #111;
}


/* override select 2*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #EEEEEE;
    border-color: #367fa9;
    color: #222;
    padding: 1px 10px;
}

img.img-fit {
    height: 100px;
    width: 150px;
    object-fit: contain;
}

a.plain:active,
a.plain:hover,
a.plain:focus,
a.plain:visited {
    text-decoration: none;
    color: #333;
}

.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-wrap > img.adminImgs {
    width: 210px;
    height: 140px;
}

.img-wrap > img.roomImgs {
    width: 120px;
    height: 80px;
}



.img-wrap {
    position: relative;
}

    .img-wrap .deleteimage {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
    }

.iconframe {
    border: 1px solid #CCC;
    padding: 5px;
}


.shadow {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}


.trlinkhotel {
    cursor: pointer;
}

/* test borders*/
.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.border-black {
    border: 1px solid black;
}

.border-green {
    border: 1px solid green;
}

.border-orange {
    border: 1px solid orange;
}


.select-style {
    width: 13%;
    margin-left: 2%;
    float: left;
    padding: 8px 2px;
    border: 1px #ccc solid;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    border-radius: 5px;
    background: url(../Images/arrow2.png) no-repeat right;
}


/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    #progressbar li {
        list-style-type: none;
        color: #ccc;
        text-transform: uppercase;
        font-size: 9px;
        width: 33.33%;
        float: left;
        position: relative;
    }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: #ccc;
            border-radius: 3px;
            margin: 0 auto 5px auto;
        }
        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }
        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #27AE60;
            color: #fff;
        }


.top-area {
    height: auto;
}


/*
    http://stackoverflow.com/questions/18531959/how-to-create-triangle-shape-in-the-top-right-angle-of-another-div-to-look-divid
    http://stackoverflow.com/questions/14736496/use-font-awesome-icons-in-css
*/
.booking-item.active-booking-item {
    /*width: 10em;
    height: 6em;*/
    border: 4px solid #0c0;
    background-color: #fff;
    position: relative;
}

    .booking-item.active-booking-item::before,
    .booking-item.active-booking-item::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-color: transparent;
        border-style: solid;
    }

    .booking-item.active-booking-item::before {
        border-width: 1.5em;
        border-right-color: #0c0;
        border-top-color: #0c0;
    }


    .booking-item.active-booking-item::after {
        border-radius: 0.4em;
        border-width: 1.35em;
        color: #fff;
        content: "\f00c";
        font-family: FontAwesome;
        right: -15px;
        position: absolute;
        top: -15px;
    }

.icon-border {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0px 4px;
    border-radius: 3px;
}
/* dotted line http://stackoverflow.com/questions/4978090/3-divs-middle-div-needs-to-be-a-variable-length-dotted-line */


.item-container {
    width: 90%;
    /*border:1px solid #AAA;*/
    display: block;
    padding: 5px;
    margin: 2px;
    clear: both;
}

.item {
    float: left;
    margin: 2px;
}

.score {
    float: right;
    margin: 2px;
    width: 30px;
    text-align: right;
}

.fill {
    border: none;
    border-bottom: 1px dotted #000;
    display: inline-block;
    overflow-x: hidden;
}


.clear {
    clear: both;
}



.celloverflow {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.selectedTr {
    background-color: lightgray;
}


.ellipsis {
    text-overflow: ellipsis;
}

.activity-selected, .supplement-selected {
    border-left: 9px solid #0c0;
}




.booking-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

    .booking-list > li {
        margin-bottom: 15px;
        position: relative;
    }

.booking-item {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 17px;
    border: 1px solid #e6e6e6;
    color: #737373;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

    .booking-item:hover,
    .booking-item.active {
        color: #737373;
        border: 1px solid #ed8323;
        -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    }

        .booking-item:hover .booking-item-number,
        .booking-item.active .booking-item-number {
            background: #808080;
        }

        .booking-item:hover .booking-item-img-wrap .booking-item-img-num,
        .booking-item.active .booking-item-img-wrap .booking-item-img-num {
            opacity: 1;
            -ms-filter: none;
            filter: none;
            background: rgba(0,0,0,0.5);
        }

    .booking-item.booking-item-small {
        padding: 11px;
    }

        .booking-item.booking-item-small .booking-item-title {
            font-size: 14px;
            margin-bottom: 0;
        }

        .booking-item.booking-item-small .booking-item-rating-stars {
            font-size: 12px;
            margin-bottom: 0;
            color: #ed8323;
        }

        .booking-item.booking-item-small .booking-item-price {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 2px;
            display: inline;
        }

        .booking-item.booking-item-small .booking-item-price-from {
            font-size: 12px;
            margin-bottom: 2px;
        }

.booking-item-title {
    margin-bottom: 7px;
}

.booking-item-description {
    font-size: 13px;
    line-height: 1.5em;
}

.booking-item-img-wrap {
    position: relative;
}

    .booking-item-img-wrap .booking-item-img-num {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s;
        transition: 0.2s;
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
        background: rgba(0,0,0,0.01);
        padding: 5px 7px;
        font-size: 13px;
        line-height: 1em;
    }

        .booking-item-img-wrap .booking-item-img-num > .fa {
            margin-right: 3px;
        }

.booking-item-last-booked {
    font-size: 11px;
}

.booking-item-rating {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f7f7f7;
    display: inline-block;
}

    .booking-item-rating .booking-item-rating-stars {
        display: inline-block;
        margin-right: 17px;
        margin-bottom: -5px;
        color: #ed8323;
    }

        .booking-item-rating .booking-item-rating-stars .fa {
            margin-right: 0;
        }

    .booking-item-rating .booking-item-rating-number {
        margin-right: 7px;
    }

        .booking-item-rating .booking-item-rating-number > b {
            font-size: 25px;
        }

.booking-item-address {
    line-height: 1em;
    font-size: 13px;
}

.booking-item-price-from {
    display: block;
    font-size: 12px;
    line-height: 1em;
}

.booking-item-price {
    font-size: 35px;
    color: #626262;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 12px;
}

.booking-item-number {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #e6e6e6;
    text-align: center;
    color: #fff;
    display: block;
    top: 2px;
    right: 2px;
    font-size: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}

.booking-item-flight-details {
    overflow: hidden;
}

    .booking-item-flight-details .booking-item-departure,
    .booking-item-flight-details .booking-item-arrival {
        float: left;
        width: 47%;
    }

        .booking-item-flight-details .booking-item-departure .fa-plane,
        .booking-item-flight-details .booking-item-arrival .fa-plane {
            float: left;
            display: block;
            font-size: 30px;
            margin-right: 5px;
            position: relative;
            top: 4px;
        }

        .booking-item-flight-details .booking-item-departure h5,
        .booking-item-flight-details .booking-item-arrival h5 {
            margin-bottom: 0;
        }

        .booking-item-flight-details .booking-item-departure .booking-item-date,
        .booking-item-flight-details .booking-item-arrival .booking-item-date {
            margin-bottom: 7px;
            font-size: 12px;
            line-height: 1em;
            padding-left: 32px;
        }

    .booking-item-flight-details .booking-item-departure {
        margin-right: 6%;
    }

    .booking-item-flight-details .booking-item-destination {
        font-size: 12px;
        line-height: 1.3em;
    }

.booking-item-airline-logo > p {
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.3em;
}

.booking-item-airline-logo > img {
    width: 40px;
}

.booking-item-flight-class {
    margin-bottom: 7px;
    margin-top: -5px;
    font-size: 11px;
    color: #8f8f8f;
    line-height: 1em;
}

.booking-item-features {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .booking-item-features > li {
        float: left;
        position: relative;
        margin-right: 7px;
        margin-bottom: 7px;
    }

        .booking-item-features > li:hover > i {
            border-color: #d66f11;
        }

        .booking-item-features > li .booking-item-feature-sign {
            position: absolute;
            bottom: 2px;
            left: 0;
            display: block;
            text-align: center;
            font-size: 10px;
            line-height: 1em;
            width: 100%;
        }

        .booking-item-features > li > i {
            height: 35px;
            width: 35px;
            text-align: center;
            line-height: 35px;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -ms-transition: 0.3s;
            transition: 0.3s;
            font-size: 23px;
            display: block;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            color: #686868;
        }

.booking-item-features-dark > li > i {
    background: #4d4d4d;
    border: 1px solid #333;
    color: #fff;
}

.booking-item-features-rentals {
    margin-top: 10px;
}

    .booking-item-features-rentals > li {
        margin-bottom: 0;
    }

.booking-item-car-title {
    margin-top: 7px;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 0;
}

.booking-item-features-sign > li {
    padding-bottom: 15px;
}

.booking-item-features-small > li {
    margin-right: 5px;
    margin-bottom: 5px;
}

    .booking-item-features-small > li > i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 17px;
    }

        .booking-item-features-small > li > i > img {
            width: 20px;
        }

.booking-item-features-expand {
    display: block;
}

    .booking-item-features-expand .booking-item-feature-title {
        position: relative;
        line-height: 37px;
        margin-left: 7px;
        color: #686868;
    }

    .booking-item-features-expand > li {
        float: none;
        display: block;
        overflow: hidden;
    }

        .booking-item-features-expand > li:after {
            content: '.';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .booking-item-features-expand > li > i {
            float: left;
        }

.booking-item-features-2-col > li {
    float: left;
    width: 50%;
    margin-right: 0;
}

.booking-item-container .booking-item-details {
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s, height 0.3s;
    -o-transition: opacity 0.3s, -o-transform 0.3s, height 0.3s;
    -ms-transition: opacity 0.3s, -ms-transform 0.3s, height 0.3s;
    transition: opacity 0.3s, transform 0.3s, height 0.3s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

    .booking-item-container .booking-item-details h5 {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 20px;
    }

        .booking-item-container .booking-item-details h5.list-title {
            margin-bottom: 0;
        }

    .booking-item-container .booking-item-details .list {
        margin-bottom: 20px;
    }

.booking-item-container.active .booking-item-details {
    height: auto;
    overflow: auto;
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-top: none;
    position: relative;
    font-size: 11px;
    line-height: 1.6em;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.booking-title {
    margin-bottom: 25px;
    margin-top: 15px;
}

    .booking-title > small {
        font-size: 12px;
        margin-left: 5px;
    }

.booking-filters {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 11px;
    background: #4d4d4d;
    color: #fff;
    padding: 15px 0;
    width: 263px;
    border: 1px solid #262626;
}

    .booking-filters > h3 {
        padding: 0 20px;
    }

    .booking-filters .booking-filters-list > li {
        margin-top: 15px;
        padding: 15px 20px 0 20px;
        border-top: 1px solid #3b3b3b;
    }

        .booking-filters .booking-filters-list > li .booking-filters-title {
            margin-bottom: 5px;
        }

            .booking-filters .booking-filters-list > li .booking-filters-title small {
                font-size: 11px;
                font-weight: 400;
                position: relative;
                top: 10px;
                float: right;
                line-height: 1.3em;
                color: #ccc;
            }

        .booking-filters .booking-filters-list > li .booking-filters-sub-title {
            font-size: 15px;
            line-height: 1em;
            margin-top: 10px;
        }

    .booking-filters .irs-from,
    .booking-filters .irs-to,
    .booking-filters .irs-single {
        color: #fff;
    }

    .booking-filters .irs-grid-text {
        color: #d9d9d9;
    }

    .booking-filters.booking-filters-white {
        color: #737373;
        background: #fafafa;
        border-color: #ccc;
    }

        .booking-filters.booking-filters-white .irs-from,
        .booking-filters.booking-filters-white .irs-to,
        .booking-filters.booking-filters-white .irs-single {
            color: #737373;
        }

        .booking-filters.booking-filters-white .booking-filters-list > li {
            border-color: #ccc;
        }

.booking-sort {
    font-size: 10px;
}

    .booking-sort .booking-sort-title {
        font-size: 14px;
    }

        .booking-sort .booking-sort-title > a {
            color: #737373;
        }

.booking-item-meta .booking-item-rating {
    border: none;
    padding: 0;
    margin-bottom: 30px;
    display: block;
}

.booking-item-meta .booking-item-rating-stars {
    font-size: 30px;
    margin-bottom: -3px;
    margin-right: 10px;
}

.booking-item-meta .booking-item-rating-number {
    font-size: 20px;
}

    .booking-item-meta .booking-item-rating-number b {
        font-size: 30px;
    }

.booking-item-raiting-list,
.booking-item-raiting-summary-list {
    font-size: 13px;
    margin-bottom: 30px;
}

    .booking-item-raiting-list > li,
    .booking-item-raiting-summary-list > li {
        margin-bottom: 5px;
        overflow: hidden;
    }

        .booking-item-raiting-list > li > div,
        .booking-item-raiting-summary-list > li > div {
            height: 26px;
            float: left;
            line-height: 26px;
        }

            .booking-item-raiting-list > li > div.booking-item-raiting-list-title,
            .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-title {
                width: 24%;
            }

            .booking-item-raiting-list > li > div.booking-item-raiting-list-bar,
            .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-bar {
                width: 60%;
                background: #e6e6e6;
                height: 20px;
                margin-top: 3px;
            }

                .booking-item-raiting-list > li > div.booking-item-raiting-list-bar > div,
                .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-bar > div {
                    background: #ed8323;
                    height: 100%;
                }

            .booking-item-raiting-list > li > div.booking-item-raiting-list-number,
            .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-number {
                margin-left: 2%;
                width: 10%;
            }

            .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-title {
                width: 48%;
            }

        .booking-item-raiting-summary-list > li .booking-item-rating-stars {
            font-size: 14px;
            line-height: 26px;
            margin: 0;
            color: #ed8323;
        }

.booking-item-reviews > li {
    margin-bottom: 20px;
}

    .booking-item-reviews > li .booking-item-review-person p {
        line-height: 1em;
    }

    .booking-item-reviews > li .booking-item-review-person-avatar {
        display: table;
        margin-bottom: 8px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
    }

        .booking-item-reviews > li .booking-item-review-person-avatar:hover {
            -webkit-box-shadow: 0 0 0 2px #ed8323;
            box-shadow: 0 0 0 2px #ed8323;
        }

        .booking-item-reviews > li .booking-item-review-person-avatar > img {
            max-width: 70px;
        }

    .booking-item-reviews > li .booking-item-review-person-name {
        margin-bottom: 5px;
    }

    .booking-item-reviews > li .booking-item-review-person-loc {
        margin-bottom: 0px;
        font-size: 11px;
    }

    .booking-item-reviews > li .booking-item-review-content {
        padding: 15px 17px;
        border: 1px solid #e6e6e6;
        position: relative;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -ms-transition: 0.2s;
        transition: 0.2s;
    }

        .booking-item-reviews > li .booking-item-review-content:before {
            z-index: 2;
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-right: 20px solid #ededed;
            border-bottom: 15px solid transparent;
            left: -20px;
            top: 14px;
        }

        .booking-item-reviews > li .booking-item-review-content > h5 {
            margin-bottom: 0;
        }

        .booking-item-reviews > li .booking-item-review-content .booking-item-raiting-summary-list > li > div.booking-item-raiting-list-title {
            width: 75px;
        }

        .booking-item-reviews > li .booking-item-review-content .booking-item-raiting-summary-list > li .booking-item-rating-stars {
            margin-bottom: 0;
        }

        .booking-item-reviews > li .booking-item-review-content .booking-item-review-more,
        .booking-item-reviews > li .booking-item-review-content .booking-item-review-more-content {
            display: none;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
        }

        .booking-item-reviews > li .booking-item-review-content .booking-item-review-expand {
            position: relative;
            height: 30px;
            cursor: pointer;
        }

            .booking-item-reviews > li .booking-item-review-content .booking-item-review-expand span {
                color: #ed8323;
                line-height: 30px;
                height: 30px;
                display: block;
                position: absolute;
                font-size: 14px;
            }

                .booking-item-reviews > li .booking-item-review-content .booking-item-review-expand span.booking-item-review-expand-less {
                    display: none;
                }

        .booking-item-reviews > li .booking-item-review-content.expanded .booking-item-review-more {
            display: inline;
        }

        .booking-item-reviews > li .booking-item-review-content.expanded .booking-item-review-more-content {
            display: block;
        }

        .booking-item-reviews > li .booking-item-review-content.expanded .booking-item-review-expand span.booking-item-review-expand-less {
            display: block;
        }

        .booking-item-reviews > li .booking-item-review-content.expanded .booking-item-review-expand span.booking-item-review-expand-more {
            display: none;
        }

    .booking-item-reviews > li .booking-item-raiting-summary-list {
        margin-bottom: 10px;
    }

    .booking-item-reviews > li .booking-item-rating-stars {
        font-size: 14px;
        color: #ed8323;
        margin-bottom: 5px;
    }

    .booking-item-reviews > li .booking-item-review-rate {
        line-height: 30px;
        font-size: 12px;
        margin-bottom: 0;
    }

        .booking-item-reviews > li .booking-item-review-rate .fa {
            margin-left: 7px;
        }

.booking-item-raiting-summary-list.stats-list-select > li .booking-item-rating-stars {
    color: #b3b3b3;
}

    .booking-item-raiting-summary-list.stats-list-select > li .booking-item-rating-stars > li {
        cursor: pointer;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
    }

        .booking-item-raiting-summary-list.stats-list-select > li .booking-item-rating-stars > li.hovered {
            color: #808080;
        }

        .booking-item-raiting-summary-list.stats-list-select > li .booking-item-rating-stars > li.selected {
            color: #ed8323;
        }

.booking-item-deails-date-location {
    padding: 15px 17px;
    background: #f7f7f7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ed8323;
}

    .booking-item-deails-date-location > ul {
        font-size: 12px;
        list-style: none;
        margin: 0 0 30px 0;
        padding: 0;
    }

        .booking-item-deails-date-location > ul > li {
            margin-bottom: 15px;
        }

            .booking-item-deails-date-location > ul > li p {
                margin-bottom: 5px;
            }

                .booking-item-deails-date-location > ul > li p > i {
                    margin-right: 7px;
                    height: 23px;
                    width: 23px;
                    line-height: 23px;
                    font-size: 11px;
                }

            .booking-item-deails-date-location > ul > li h5 {
                font-size: 14px;
                margin-bottom: 5px;
                color: #515151;
            }

.booking-item-price-calc {
    font-size: 13px;
}

    .booking-item-price-calc .checkbox {
        margin-bottom: 5px;
        margin-top: 0;
    }

        .booking-item-price-calc .checkbox label {
            font-weight: 100;
        }

    .booking-item-price-calc .icheck {
        width: 20px;
        height: 20px;
        line-height: 18px;
        top: 2px;
    }

    .booking-item-price-calc .list {
        margin-bottom: 10px;
    }

        .booking-item-price-calc .list > li {
            margin-bottom: 7px;
        }

            .booking-item-price-calc .list > li > small {
                display: block;
                font-size: 11px;
            }

            .booking-item-price-calc .list > li > p {
                height: 25px;
                line-height: 25px;
                margin-bottom: 0;
            }

                .booking-item-price-calc .list > li > p span {
                    float: right;
                }

            .booking-item-price-calc .list > li:last-child {
                padding-top: 7px;
                border-top: 1px solid #ccc;
                color: #5c5c5c;
            }

                .booking-item-price-calc .list > li:last-child > p > span {
                    font-size: 15px;
                    font-weight: 600;
                }

.booking-item-passengers > li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px dashed #e6e6e6;
}

    .booking-item-passengers > li:last-child {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px dashed #e6e6e6;
    }

.booking-item-passengers label {
    font-weight: 100;
    font-size: 13px;
}

.booking-item-payment-total-flight {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    margin-right: 30px;
}

    .booking-item-payment-total-flight > li {
        padding: 10px 15px;
        background: #4d4d4d;
        color: #e6e6e6;
    }

        .booking-item-payment-total-flight > li:first-child {
            border-bottom: 1px dashed #1a1a1a;
            -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }

            .booking-item-payment-total-flight > li:first-child > h5 {
                line-height: 1em;
                margin: 3px 0;
                color: #f09644;
            }

        .booking-item-payment-total-flight > li:last-child {
            -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
        }

        .booking-item-payment-total-flight > li.booking-item-payment-total-flight-wait {
            background: #333;
        }

            .booking-item-payment-total-flight > li.booking-item-payment-total-flight-wait > p {
                font-size: 13px;
                line-height: 1.4em;
                margin: 0;
                text-align: center;
            }

        .booking-item-payment-total-flight > li h5 {
            color: #fff;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-departure .fa-plane,
        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-arrival .fa-plane {
            font-size: 20px;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-departure h5,
        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-arrival h5 {
            font-size: 14px;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-departure .booking-item-date,
        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-arrival .booking-item-date {
            padding-left: 23px;
            font-size: 11px;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-details .booking-item-destination {
            font-size: 12px;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-duration > p {
            margin-bottom: 5px;
            line-height: 1em;
            font-size: 13px;
        }

        .booking-item-payment-total-flight > li .booking-item-flight-duration > h5 {
            font-weight: 400;
        }

.booking-item-payment-flight .booking-item-flight-details .booking-item-departure .fa-plane,
.booking-item-payment-flight .booking-item-flight-details .booking-item-arrival .fa-plane {
    font-size: 20px;
}

.booking-item-payment-flight .booking-item-flight-details .booking-item-departure h5,
.booking-item-payment-flight .booking-item-flight-details .booking-item-arrival h5 {
    font-size: 14px;
}

.booking-item-payment-flight .booking-item-flight-details .booking-item-departure .booking-item-date,
.booking-item-payment-flight .booking-item-flight-details .booking-item-arrival .booking-item-date {
    padding-left: 23px;
    font-size: 11px;
}

.booking-item-payment-flight .booking-item-flight-details .booking-item-destination {
    font-size: 12px;
}

.booking-item-payment-flight .booking-item-flight-duration > p {
    margin-bottom: 5px;
    line-height: 1em;
    font-size: 13px;
}

.booking-item-payment-flight .booking-item-flight-duration > h5 {
    font-weight: 400;
}

.booking-item-dates-change {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    border: 1px solid #ed8323;
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}

.booking-item-payment {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
}

    .booking-item-payment > header {
        padding: 10px 15px;
        background: #f7f7f7;
    }

        .booking-item-payment > header .booking-item-payment-img {
            float: left;
            display: block;
            width: 30%;
            margin-right: 5%;
        }

        .booking-item-payment > header .booking-item-payment-title {
            font-size: 14px;
            margin-bottom: 0;
        }

        .booking-item-payment > header .booking-item-rating-stars {
            font-size: 11px;
        }

    .booking-item-payment .booking-item-payment-total {
        margin-bottom: 0;
        padding: 8px 30px 8px 15px;
        font-size: 12px;
    }

        .booking-item-payment .booking-item-payment-total > span {
            font-size: 24px;
            color: #686868;
            font-weight: 400;
            letter-spacing: -2px;
        }

    .booking-item-payment .booking-item-payment-details {
        list-style: none;
        margin: 0;
        padding: 15px;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
    }

        .booking-item-payment .booking-item-payment-details > li {
            margin-bottom: 20px;
            overflow: hidden;
        }

            .booking-item-payment .booking-item-payment-details > li:last-child {
                margin-bottom: 0;
            }

            .booking-item-payment .booking-item-payment-details > li > h5 {
                line-height: 1em;
            }

            .booking-item-payment .booking-item-payment-details > li > p {
                margin-bottom: 0;
                color: #686868;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-item-title {
                color: #515151;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-date,
            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-date-separator {
                float: left;
                display: block;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-date-separator {
                width: 15%;
                text-align: center;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-date .booking-item-payment-date-day {
                margin-bottom: 5px;
                line-height: 1em;
                color: #686868;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-date .booking-item-payment-date-weekday {
                font-size: 12px;
                margin-bottom: 0;
                line-height: 1em;
                color: #7a7a7a;
            }

            .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price {
                margin: 0;
                padding: 0;
                list-style: none;
            }

                .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price > li {
                    width: 99%;
                    overflow: hidden;
                    font-size: 12px;
                    border-bottom: 1px dashed #d9d9d9;
                }

                    .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price > li .booking-item-payment-price-title,
                    .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price > li .booking-item-payment-price-amount {
                        float: left;
                        margin: 0;
                    }

                    .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price > li .booking-item-payment-price-amount {
                        float: right;
                    }

                        .booking-item-payment .booking-item-payment-details > li .booking-item-payment-price > li .booking-item-payment-price-amount > small {
                            margin-left: 3px;
                        }

.booking-item-details .booking-item-header {
    margin-bottom: 20px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #f2f2f2;
}

.booking-item-details .booking-item-header-price {
    font-size: 19px;
    text-align: right;
    line-height: 1em;
}

    .booking-item-details .booking-item-header-price .text-lg {
        font-size: 42px;
        line-height: 1em;
    }

    .booking-item-details .booking-item-header-price small {
        font-size: 13px;
    }

.booking-details-tabbable .nav > li > a > .fa {
    margin-right: 5px;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    font-size: 13px;
    position: relative;
    top: -1px;
}

.booking-details-tabbable .nav > li.active > a > .fa {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.booking-list-wishlist > li {
    padding-top: 30px;
    padding-right: 25px;
}

    .booking-list-wishlist > li .booking-item-wishlist-title {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid #f2f2f2;
        background: #f7f7f7;
        border-bottom: none;
        font-size: 12px;
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

        .booking-list-wishlist > li .booking-item-wishlist-title > span {
            font-size: 9px;
            color: #8f8f8f;
            margin-left: 5px;
        }

    .booking-list-wishlist > li .booking-item-wishlist-remove {
        position: absolute;
        top: 30px;
        right: 0;
        display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background: #e6e6e6;
        color: #737373;
        text-align: center;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -o-transition: 0.1s;
        -ms-transition: 0.1s;
        transition: 0.1s;
    }

        .booking-list-wishlist > li .booking-item-wishlist-remove:hover {
            background: #4d4d4d;
            color: #fff;
        }

.dashed-bottom {
    border-bottom: 1px dashed #d9d9d9;
    font-size: 12px;
    overflow: hidden;
}

/*--override to add scrollbar to box body*/
.box-body-scroll {
    overflow: auto;
}

/*---override for tabs color -----*/
.nav-tabs > li a {
    color: #444;
}


.small-item {
    width:100px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* user details screen */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{
    margin-top:20px;
}


table td.title-td  { 
  display: table-cell;
  vertical-align: bottom!important; 
}

.intl-tel-input {width: 100% !important;}

/* miscellaneous */
.font12
{
    font-size:12px;
}

.border-bottom {
    border-bottom:1px solid #333;
}
.border-bottom-blue {
    border-bottom:1px solid blue;
}

.bold {
    font-weight:bold;
}

.activityheading
{
    padding: 0;
    height: 41px;
    vertical-align: middle;
    background-color: #cccccc;
}
.activityheading h4
{
    margin-bottom: 0;
}
.activitytablehead
{
background-color:#eeeeee;
}

.slashed
{
    text-decoration:line-through;
}
.font15
{
    font-size:1.5em;
}

/* https://css-tricks.com/snippets/css/corner-ribbon/ */
/* corner ribbon */
/*.box {
  width: 100%; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}*/
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon.red span{
    background:#b51b17;
    background:linear-gradient(#ec3e3a 0%, #b51b17 100%);
}

.ribbon.red span::before
{
      border-left: 3px solid #b51b17;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #b51b17;
}
.ribbon.red span::after
{
      border-left: 3px solid #b51b17;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #b51b17;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}