﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background:#EEEEEE">
    <div class="container">
        @*<h1 style="color:#ff6a00"><span class="fa fa-warning"></span> Something went wrong!</h1>*@

        @RenderBody()
    
        
        @*<div>Please contact your admin</div>*@
    
    
    </div>

</body>
</html>
