﻿@using session = Booking_System.Helpers.UserSession;
@{
    var m = ViewBag.Menu;
    //H(otel), R(ental), U(ser), A(ctivity), S(ystem)
    var t = ViewBag.TreeView;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Agent Booking System</title>
    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon" href="@Url.Content("~/favicon.ico?v=2")" />
</head>

<body class="hold-transition skin-yellow sidebar-mini" style="background:#EEE">
    <input type="hidden" id="svrpath" value="@Url.Content("~")" />
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="@Url.Action("Index","Home")" class="logo" style="background:#222D32">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="@Url.Content("~/Images/logo/tci-symbol-40.png")" alt="Image Alternative text" title="Booking System" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img class="img-responsive" height="10" src="@Url.Content("~/Images/logo/tci-logo-backend.png")" alt="Image Alternative text" title="Booking System" /></span>

            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu" style="width:200px;">
                            <!-- Menu Toggle Button -->
                            <style>
                                .username {
                                    color: #fff;
                                    padding: 15px 0;
                                }
                            </style>

                            <span class="hidden-xs username pull-right"> Hello <b>@session.Current.Username (@session.Current.UserRole.ToString())</b></span>



                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="@Url.Action("Logout","Home")"><i class="fa fa-power-off"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header"><a href="@Url.Action("Menu","Home")">MENU</a></li>
                    <!-- Optionally, you can add icons to the links -->
                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator }))
                    {
                        <li class="treeview @(t == "S" ? "active" : "none")">
                            <a href="#"><i class="fa fa-cogs"></i> <span>System Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m == "Hotel" ? "active" : "")"><a href="@Url.Action("Features", "SystemSettings", new { id = "H" })">Hotel Features</a></li>
                                <li class="@(m == "Room" ? "active" : "")"> <a href="@Url.Action("Features", "SystemSettings", new { id = "R" })">Room Features</a></li>
                                <li class="@(m == "Vehicle" ? "active" : "")"> <a href="@Url.Action("Features", "SystemSettings", new { id = "V" })">Vehicle Features</a></li>
                                <li class="@(m == "Occupancy" ? "active" : "")"><a href="@Url.Action("Occupancies", "SystemSettings")">Occupancy</a></li>
                                <li class="@(m == "Currency" ? "active" : "")"><a href="@Url.Action("Currencies", "SystemSettings")">Currencies</a></li>
                                <li class="@(m == "MealPlan" ? "active" : "")"><a href="@Url.Action("MealPlans", "SystemSettings")">Meal Plans</a></li>
                                <li class="@(m == "Country" ? "active" : "")"><a href="@Url.Action("Countries", "SystemSettings")">Countries</a></li>
                                <li class="@(m == "Configuration" ? "active" : "")"><a href="@Url.Action("Configurations", "SystemSettings")">Configurations</a></li>
                            </ul>
                        </li>



                        <li class="treeview @(t=="H"?"active":"none")">
                            <a href="#"><i class="fa fa-building-o"></i> <span>Accommodation</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m=="List"?"active":"")"><a href="@Url.Action("ListHotels","Hotels")"><span class="ion ion-ios-list-outline"></span>&nbsp;List</a></li>
                                <li class="@(m=="Create"?"active":"")"><a href="@Url.Action("CreateHotel","Hotels")"><span class="ion ion-plus"></span>&nbsp;Create</a></li>
                            </ul>
                        </li>
                        <li class="treeview @(t=="A"?"active":"none")">
                            <a href="#"><i class="ion ion-camera"></i> <span>Activity Suppliers</span> <i class="fa  fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m=="List"?"active":"")"><a href="@Url.Action("ListActivities","Activities")"><span class="ion ion-ios-list-outline"></span>&nbsp;List</a></li>
                                @*<li class="@(m=="Create"?"active":"")"><a href="@Url.Action("CreateProvider","Providers", new { type = "A" })"><span class="ion ion-plus"></span>&nbsp;Create</a></li>*@
                            </ul>
                        </li>


                        <li class="treeview @(t=="R"?"active":"none")">
                            <a href="#"><i class="ion ion-android-car"></i> <span>Car Rental</span> <i class="fa  fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m=="ListVehicles"?"active":"")"><a href="@Url.Action("ListVehicles","Vehicles")"><span class="ion ion-ios-list-outline"></span>&nbsp;List Vehicles</a></li>
                                <li class="@(m=="ListProviders"?"active":"")"><a href="@Url.Action("ListCarRentals","Providers")"><span class="ion ion-ios-list-outline"></span>&nbsp;List Car Providers</a></li>
                                <li class="@(m=="Create"?"active":"")"><a href="@Url.Action("CreateProvider","Providers", new { type="R" })"><span class="ion ion-plus"></span>&nbsp;Create Car Provider</a></li>
                                <li class="@(m=="CreateVehicle"?"active":"")"><a href="@Url.Action("CreateVehicle","Vehicles")"><span class="ion ion-plus"></span>&nbsp;Add Vehicle</a></li>
                            </ul>
                        </li>

                        <li class="treeview @(t=="T"?"active":"none")">
                            <a href="#"><i class="ion ion-android-plane"></i> <span>Airport Transfer</span> <i class="fa  fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m=="List"?"active":"")"><a href="@Url.Action("ListTransfers","Transfers")"><span class="ion ion-ios-list-outline"></span>&nbsp;List Transfers</a></li>
                                <li class="@(m=="Create"?"active":"")"><a href="@Url.Action("CreateTransfer","Transfers")"><span class="ion ion-plus"></span>&nbsp;Create Transfer</a></li>

                            </ul>
                        </li>

                        <li class="treeview @(t == "U" ? "active" : "none")">
                            <a href="#"><i class="fa fa-user"></i> <span>User Management</span> <i class="fa  fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m == "List" ? "active" : "")"><a href="@Url.Action("ListUsers", "Users")"><span class="ion ion-ios-list-outline"></span>&nbsp;List</a></li>
                                <li class="@(m == "Create" ? "active" : "")"><a href="@Url.Action("CreateUser", "Users")"><span class="ion ion-plus"></span>&nbsp;Create</a></li>
                            </ul>
                        </li>
                    }
                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        <li class="treeview @(t == "R" ? "active" : "none")">
                            <a href="#"><i class="fa fa-file-excel-o"></i> <span>Reports</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li class="@(m == "ARR" ? "active" : "")"><a href="@Url.Action("Arrivals", "Reports")">Arrivals</a></li>
                                <li class="@(m == "DEP" ? "active" : "")"><a href="@Url.Action("Departures", "Reports")">Departures</a></li>
                                <li class="@(m == "SR" ? "active" : "")"><a href="@Url.Action("SalesReport", "Reports")">Sales Report</a></li>
                                <li class="@(m == "RS" ? "active" : "")"><a href="@Url.Action("RateSheet", "Reports")">Rate Sheet</a></li>
                            </ul>
                        </li>
                    }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Planning, Booking_System.Models.UserRoles.Sales }))
                    {
                        <li class="treeview @(t == "RE" ? "active" : "none")"><a href="@Url.Action("ViewReservations", "Reservation")"><i class="fa fa-book"></i> <span>Reservations</span></a></li>
                    }


                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        <li class="treeview @(t == "AS" ? "active" : "none")"><a href="@Url.Action("ViewAfterSales", "AfterSales")"><i class="fa fa-shopping-cart"></i> <span>After Sales</span></a></li>
                    }

                    @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                    {
                        <li class="treeview @(t == "FH" ? "active" : "none")"><a href="@Url.Action("ListFeaturedHotels", "FeaturedHotels")"><i class="fa fa-star"></i> <span>Featured Hotels</span></a></li>    
                    }

                @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Agent, Booking_System.Models.UserRoles.Sales }))
                    {
                        <li class=""><a href="@Url.Action("Index", "Front")" target="_blank"><i class="fa fa-globe"></i> <span>Website</span></a></li>
                    }

                    @*<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>*@
                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background:#EEE">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
                <!-- Your Page Content Here -->

            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">

                <img class="img-responsive" width="20" src="@Url.Content("~/Images/logo/tci-symbol-40.png")" />

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @System.DateTime.Now.Year <a href="#">TCI</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")  
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/listjs")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/Scripts/front/magnific.js")
    @Scripts.Render("~/bundles/front-custom");
    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
