﻿@using Booking_System.Helpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    

<title>@ViewBag.Title - TCI</title>

    <link rel="icon" href="@Url.Content("~/favicon.ico?v=2")" />
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="Template, html, premium, themeforest" />
<meta name="description" content="Traveler - Premium template for travel companies">
<meta name="author" content="Tsoy">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
    @Styles.Render("~/Content/front-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/ionicons.css" rel="stylesheet" />
</head>

<body>
    <input type="hidden" id="svrpath" value="@Url.Content("~")" />
    <div class="global-wrap">
        <header id="main-header">
            <div class="container">
              
                <div class="nav">
                     <div class="col-md-1">
                            <a class="logo" href="@Url.Action("Index")">
                                <img src="@Url.Content("~/Images/logo/tci-logo-invert.png")" alt="Image Alternative text" title="Booking System" />
                            </a>
                        </div>
                    <div class="col-md-4">
                        <ul class="slimmenu" id="slimmenu">
                            @Html.NavigationLink("Home", "Home", "Front")
                            @Html.NavigationLink("Hotels", "ListHotels", "Front")
                            @Html.NavigationLink("Promotions", "ListHotelPromotions", "Front")
                        </ul>
                    </div>
                    <div class="col-md-3 credit">
                        @if (Booking_System.Helpers.UserSession.Current.CreditLimit > 0)
                        {
                            <span>  Credit: $ @Booking_System.Helpers.UserSession.Current.CreditLimit.ToString("N2")  - Remaining: $ @Booking_System.Helpers.UserSession.Current.RemainingCredit.ToString("N2") </span>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="@Url.Action("userbookings", "Front" )">
                                        @if (String.IsNullOrWhiteSpace(Booking_System.Helpers.UserSession.Current.UserImage))
                                        {
                                            <img class="origin round" src="~/Images/front/template/40x40.png" alt="Image Alternative text" title="AMaze" /><span>Hi, </span>@Booking_System.Helpers.UserSession.Current.Fullname
                                        }
                                        else
                                        {
                                            <img class="origin round" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), Booking_System.Helpers.UserSession.Current.UserImage)" alt="@Booking_System.Helpers.UserSession.Current.Fullname" title="AMaze" /><span>Hi, </span>@Booking_System.Helpers.UserSession.Current.Fullname
                                        }
                                    </a>
                                </li>
                                @if (Booking_System.Helpers.Utils.HasRoleToView(new Booking_System.Models.UserRoles[] { Booking_System.Models.UserRoles.Administrator, Booking_System.Models.UserRoles.SuperAdministrator, Booking_System.Models.UserRoles.Sales }))
                                {
                                    <li>

                                        <a href="@Url.Action("index", "Home" )" target="_blank"><span class="fa fa-cog"></span></a>
                                    </li>
                                }
                                <li>
                                    <a href="@Url.Action("logout","home")">Sign Out</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="@Url.Content("~/Images/logo/tci-logo-invert.png")" alt="Image Alternative text" title="Booking System" />
                            
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                       <!-- Newsletter form-->
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li>
                                <a href="@Url.Action("aboutus", "front")">About US</a>
                            </li>
                            <li>
                                <a href="@Url.Action("privacy", "front")">Privacy policy</a>
                            </li> 
                            <li>
                                <a href="@Url.Action("contactus", "front")">Contact us</a>
                            </li>    
                            <li>
                                <a href="#">FAQ</a>
                            </li>                            
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Contact us</h4>
                        <p>
                            <span class="ion ion-ios-location"></span>&nbsp;&nbsp;&nbsp;Thomas Cook Mauritius Holidays Ltd<br />
                            &nbsp;&nbsp; &nbsp;&nbsp;Ground Floor, Anglo-Mauritius Building<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4th Intendance Street,<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Port Louis, Mauritius.<br /><br />
                            <span class="fa fa-phone"></span>&nbsp;&nbsp;+230 213 4141<br />
                            <span class="fa fa-fax"></span>&nbsp;&nbsp;+230 210 2983<br />
                            <span class="fa fa-envelope"></span>&nbsp;&nbsp;reservation@tci.mu<br />
                        </p>
                    </div>

                </div>
            </div>
        </footer>
       


        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/front")
        @Scripts.Render("~/bundles/front-custom")
        @Scripts.Render("~/bundles/listjs")
        @RenderSection("modals", required: false)
        @RenderSection("scripts", required: false)
        @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>*@

        </div>
</body>
</html>
