﻿@using session = Booking_System.Helpers.UserSession;
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    HandleErrorInfo x = ViewData.Model;
    
}

<div class="row" style="margin-top:20%;padding:30px;">
    <div  style="border:1px solid #999" class="col-md-offset-3 col-md-6">
        <h1 style="color:#ff6a00"><span class="fa fa-warning"></span> Something went wrong!</h1>

        <h2>The Application Encountered an Error</h2>
        <h4>@x.Exception.Message</h4>

        <h5>Please contact your admin</h5>

        @if(session.Current.UserRole== Booking_System.Models.UserRoles.Administrator || session.Current.UserRole == Booking_System.Models.UserRoles.SuperAdministrator)
        {
            <a href="@Url.Action("Details","Error")">More Details</a>
        }

    </div>
</div>
    <hgroup>
        

    
    </hgroup>
