/*YOUR CUSTOM STYLES*/

.bg-holder {
    /*background: url('../../Images/front/template/backgrounds/beach.jpg');*/
}



.select-style {
         width:13%;
         margin-left:2%;
         float:left;
         padding:8px 2px;
         border:1px #ccc solid ;
         appearance:none;


     -webkit-appearance:none;
     -moz-appearance:none;
      overflow: hidden;
     border-radius: 5px;
 background: url('../../Images/arrow2.png') no-repeat right;
}

/*override */
