﻿header#main-header{
    padding: 10px 0;
  max-height: 60px;
}
header#main-header
{
    background: #003580;
        border-bottom: 2px solid #003580;
}
.mt80{

    margin-top:80px;

}
.bg-holder .loc-info
{
    padding-top:30px;
}
footer#main-footer
{
    background: #003580;
}
.search-tabs
{
    background-color: rgba(0,0,0,0.72);
        border-radius: .26666667em;
}
.search-tabs-bg > .tabbable > .nav-tabs {
        margin-left: 25px;
    padding-top: 25px;
}

.search-tabs-bg > .tabbable > .nav-tabs > li > a
{
background: rgba(107,107,107,0.54);
border-radius: .26666667em;
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover{
    background:#0087f5;
}
.search-tabs .form-group.form-group-lg label
{
    color:#fff;
}
.search-tabs-bg > .tabbable > .nav-tabs > li.active > a
{
background: #0065b8;
}
.search-tabs-bg > .tabbable > .nav-tabs > li > a > .fa,.search-tabs-bg > .tabbable > .nav-tabs > li > a:hover > .fa
{
background: rgba(0,0,0,0.3);
}

.search-tabs-bg > .tabbable > .nav-tabs > li > a :hover
{
background: #0087f5;
/*border-radius: .26666667em;*/
}

.search-tabs-bg > .tabbable > .tab-content > .tab-pane {
    background:none;
}

.search-tabs-bg > .tabbable >.tab-content > .tab-pane .form-control
{
background-color:#fff !important;
}

.search-tabs-bg .select-style 
{
/*background:none;*/
background-color:#fff;
}

.search-tabs label
{
color:#fff;
}
ul.slimmenu li > a, ul.slimmenu li.active > a, ul.slimmenu li:hover > a
{
    background:none;
    color:#fff;
}

.mfp-close-btn-in .mfp-close
{
    color:#fff;
}

#search-dialog
{
        border-radius: .26666667em;
    padding: 0;
}
/*.search-tabs button.btn-primary {
    background: #0065b8;
    border-color: #0065b8;
}
.search-tabs button.btn-primary:hover {
    background: #0087f5;
    border-color: #0087f5;
}*/

.search-tabs .btn-group-select-num >.btn.active, .search-tabs .btn-group-select-num >.btn.active:hover
{
    background: #0087f5;
    border-color: #0087f5;
}

.featured .thumb-header
{
    height: 160px;
    overflow: hidden;
}

.owl-carousel .label-warning 
{
    max-width:230px;
}
.label-warning
{
max-width: 230px;
display: inline-block;
overflow: hidden;
}

.hotelorpackage .label-warning
{
     max-width:230px;
}