﻿@model Booking_System.Models.ViewModel.HotelOrPackageViewModel
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession

@{
    

    var searchCritXml = session.Current.HotelSearchCriteriaXML;
    Booking_System.Models.ViewModel.HotelSearchCriteria search = utils.DeserializeXml<Booking_System.Models.ViewModel.HotelSearchCriteria>(searchCritXml);
    

}<br/>
<div class="booking-item-payment">
    <header class="clearfix">
        <h5 class="mb0">Search Details <small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">modify search</a></small></h5>
    </header>
    <ul class="booking-item-payment-details">
        <li>
            @if(Model.IsPackage)
            {
                <div>
                    Package: <label class="label label-info">Yes</label>
                </div>                
            }

            <div class="booking-item-payment-flight">
                <div class="row">
                    <div class="col-md-9">
                        <div class="booking-item-flight-details">
                            <div class="booking-item-departure">
                                <p>Check In</p>
                                <h5>                                                                     
                                   @search.FromDate.ToString("MMM dd yyyy")                                   
                                </h5>                               
                            </div>
@if (!search.IsPackage) {
                            <div class="booking-item-arrival">
                                <p>Check Out</p>
                                <h5>
                                    @search.ToDate.ToString("MMM dd yyyy")
                                </h5>
                            </div>
}
                        </div>
                        <br />
                        <div class="booking-item-flight-duration">
                            @if (search.IsPackage)
                            {                            
                                <p> Nights @search.NumNightsPackage</p>
                            }
                            else { 
                                    <p>Nights @((search.ToDate - search.FromDate).ToString("dd"))</p>
                            }
                        </div>
                    </div>
                </div>
               

            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-9">
                    <ul class="booking-item-payment-price">
                        <li>
                            <p class="booking-item-payment-price-title">Rooms</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-hotel fa-"></span> x @search.SearchOccupancies.Count
                            </p>
                        </li>
                        <li>
                                <p class="booking-item-payment-price-title">Adults</p>
                                <p class="booking-item-payment-price-amount">
                                    <span class="fa fa-male"></span> x @search.SearchOccupancies.Sum(x => x.Adults)
                                </p>
                        </li>
                        <li>
                            <p class="booking-item-payment-price-title">Children</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-child"></span> x @search.SearchOccupancies.Sum(x => x.Ages.Count())
                            </p>
                        </li>

                    </ul>
                </div>
            </div>

        </li>

    </ul>
</div>