﻿@model Booking_System.Models.booking

@{
    var symbol = string.Empty;
    if (Model.market != null && Model.market.currency != null)
    {
        symbol = Model.market.currency.symbol;
    }


    var providerName = string.Empty;
    if(Model.provider != null)
    {
        providerName = Model.provider.name;
    }


  


}

<div class="booking-item-payment">
    <header class="clearfix">
        <h5 class="mb0">Booking Details @@ @providerName</h5>
    </header>
    <ul class="booking-item-payment-details">
        <li>
            @if(Model.isPackage)
            {
                <div>
                    Package: <label class="label label-info">Yes</label>
                </div>
                <div>
                    Package Name: @Model.package.name
                    <br/><br/>
                </div>

                @*foreach (var r in Model.booking_room)
                {
                    <br />@r.room_name - @:available: (@r.allotments)
                }*@
            }

            <div class="booking-item-payment-flight">

                <h5>Travel Details</h5>
                <div class="row">
                    <div class="col-md-9">
                        <div class="booking-item-flight-details">
                            <div class="booking-item-departure">
                                <i class="fa fa-plane fa-flip-vertical"></i>

                                <h5>
                                    @if (Model.checkin_date.HasValue)
                                    {
                                        @Model.checkin_date.Value.ToString("dddd dd, MMM yyyy")

                                    }
                                </h5>
                                <p class="booking-item-date">Check In</p>
                                @*<p class="booking-item-destination">London, England, United Kingdom (LHR)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                            </div>
                            <div class="booking-item-arrival">
                                <i class="fa fa-plane"></i>
                                <h5>
                                    @if (Model.checkout_date.HasValue)
                                    {
                                        @Model.checkout_date.Value.ToString("dddd, MMM dd yyyy")
                                    }
                                </h5>
                                <p class="booking-item-date">Check Out</p>
                                @*<p class="booking-item-destination">Charlotte, CA, United States (CLT)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="booking-item-flight-duration">
                            <p>Nights</p>
                            <h5 class="text-center">@Model.num_nights</h5>
                        </div>
                    </div>
                </div>
                <br />

            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-8">
                    <h5>Booking  (@Model._totalGuests Guests)</h5>
                    <ul class="booking-item-payment-price">
                        <li>
                            <p class="booking-item-payment-price-title">Rooms</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-hotel fa-"></span> x @Model.rooms
                            </p>
                        </li>
                        <li>
                            <p class="booking-item-payment-price-title">Adults</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-male"></span> x @Model.adults
                            </p>
                        </li>
                        <li>
                            <p class="booking-item-payment-price-title">Children</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-child"></span> x @Model._totalChildren
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>@symbol@Model.TotalCostRooms.ToString("N2")</h5>
                </div>
            </div>

        </li>
@if(Model.isPackage)
{ 
        <li>
            <div class="row">
                <div class="col-md-9">
                    <h5>Ground Handling (@Model._totalGuests Guests)</h5>
                    <ul class="booking-item-payment-price">
                        <li>
                            <p class="booking-item-payment-price-title">Ground Handling</p>
                            <p class="booking-item-payment-price-amount">
                                <span class="fa fa-bus"></span> x @Model._totalGuests Guests
                            </p>
                        </li>
                        <li><a class="popup-text" href="#packagedesc-dialog" data-effect="mfp-zoom-out">view package inlusion</a></li>              
                    </ul>

                </div>
                
            </div>

        </li>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="packagedesc-dialog" >
        @Html.Raw(Model.package.description)
    </div>
}




        @if (Model.booking_supplement.Count > 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-9">
                        <h5>Supplements  (@Model.booking_supplement.Count() items)</h5>
                        <ul class="booking-item-payment-price">
                            @foreach (var supp in Model.booking_supplement)
                            {
                                <li>
                                    <p class="booking-item-payment-price-title">@supp.supplement_name</p>
                                    <p class="booking-item-payment-price-amount">
                                        @{double? suppPrice = null;
                                            if (Model.booking_room != null)
                                            {
                                                suppPrice = Model.booking_room.Where(e => e.booking_supplement != null).Sum(e => e.booking_supplement.Where(a => a.supplement_id == supp.supplement_id).Sum(f => f.price));
                                            }
                                        }
                                        <span class="fa fa-glass"></span> x @suppPrice
                                    </p>
                                </li>
                                            }
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="bottom-dashed">@symbol@Model.TotalCostSupps.ToString("N2")</h5>

                    </div>
                </div>
            </li>
                                            }

        @if (Model.TotalCostTransfer > 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <h5>Transfer  (@Model.booking_transfer_no_aftersales.Count() items)</h5>
                        <ul class="booking-item-payment-price">
                            @foreach (var item in Model.booking_transfer_no_aftersales)
                            {
                                <li>
                                    <p class="booking-item-payment-price-title">@item.transfer_name</p>
                                    <p class="booking-item-payment-price-amount">
                                        <span class="fa fa-plane"></span> x @item.total_price
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="bottom-dashed">@symbol@Model.TotalCostTransfer.ToString("N2")</h5>
                    </div>
                </div>
            </li>
        }

        @if (Model.TotalCostActivity > 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <h5>Activities  (@Model.booking_activity_no_aftersales.Count() items)</h5>
                        <ul class="booking-item-payment-price">
                            @foreach (var item in Model.booking_activity_no_aftersales)
                            {
                                <li>
                                    <p class="booking-item-payment-price-title">@item.activity_name</p>
                                    <p class="booking-item-payment-price-amount">
                                        <span class="fa fa-bolt"></span> x @item.total_price
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="bottom-dashed">@symbol@Model.TotalCostActivity.ToString("N2")</h5>
                    </div>
                </div>
            </li>
        }

        @if (Model.TotalCostRental > 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <h5>Rentals  (@Model.booking_rental_no_aftersales.Count() items)</h5>
                        <ul class="booking-item-payment-price">
                            @foreach (var item in Model.booking_rental_no_aftersales)
                            {
                                <li>
                                    <p class="booking-item-payment-price-title">@item.vehicle.vehicle_model</p>
                                    <p class="booking-item-payment-price-amount">
                                        <span class="fa fa-car"></span> x @item.total_price x @item.num_days
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="bottom-dashed">@symbol@Model.TotalCostRental.ToString("N2")</h5>
                    </div>
                </div>
            </li>
        }
        
        @if (Model.booking_promotion.Count > 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-9">
                        <h5>Promotions</h5>
                        <ul class="booking-item-payment-price">
                            @foreach (var item2 in Model.booking_room)
                            {
                                <li style="border-bottom:none">
                                    <p class="booking-item-payment-price-title bold">@item2.room_name</p>
                                    <ul class="booking-item-payment-price">
                                        @foreach (var item in Model.booking_promotion.Where(x => x.booking_room_id == item2.booking_room_id))
                                        {
                                            <li>@item.promotion_name</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </li>
        }   

        @if (Model.TotalCompulsoryAmount> 0)
        {
            <li>
                <div class="row">
                    <div class="col-md-9">
                        <h5>Compulsory Charges</h5>
                        <ul class="booking-item-payment-price">
                           
                                <li>
                                    <p class="booking-item-payment-price-title">@Model.charge_name</p>
                                    <p class="booking-item-payment-price-amount">
                                        <span class="fa fa-warning"></span> @Model.TotalCompulsoryAmount
                                    </p>
                                </li>
                           
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5 class="bottom-dashed">@symbol@Model.TotalCompulsoryAmount</h5>
                    </div>
                </div>
            </li>
        }


        @if (Model.discount_amt.HasValue)
        {
            <li>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="booking-item-payment-price">

                            <li>
                                <p class="booking-item-payment-price-title">Discount amount</p>
                                <p class="booking-item-payment-price-amount">
                                    @symbol @Model.discount_amt.Value
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }


    </ul>
    <p class="booking-item-payment-total">
        <div class="text-center" style="margin-right:10px;">

            <h5>Total Booking Cost: <b>@symbol@Model.TotalCost.ToString("N2")</b></h5>
        </div>
    </p>
</div>