﻿
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession

@{    
    var Search = ViewBag.SearchForm;
    var providers = ViewBag.location as List<SelectListItem>;
}
@Styles.Render("~/Content/plugins/select2.css")
@Styles.Render("~/Content/front/override.css")
<style>
    .select2-container {
        width: 336px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 45px;
        padding-top: 8px;
        height: 45px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        margin-top: 8px;
    }
</style>
<div class="search-tabs search-tabs-bg">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="@(!Search.IsHoneymoon && !Search.IsPackage?"active":"")">
                <a href="#tabHotel" data-toggle="tab"><i class="fa fa-building-o"></i> <span>Hotels</span></a>
            </li>

            <li class="@(Search.IsPackage?"active":"")">
                <a href="#tabPackage" data-toggle="tab"><i class="fa fa-suitcase"></i> <span>Packages</span></a>
            </li>

            <li class="@(Search.IsHoneymoon?"active":"")">
                <a href="#tabHoneymoon" data-toggle="tab"><i class="fa fa-heart"></i><span>Honeymoon</span></a>
            </li>

        </ul>
        <div class="tab-content">
            <!--Start of Hotel Details-->
            <div class="tab-pane fade in @(!Search.IsHoneymoon && !Search.IsPackage?"active":"")" id="tabHotel">

                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="IsHotel" value="true" />

                    <div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Check-in</label>
                                    <input class="form-control datepicker from_date" autocomplete="off" required name="Start" type="text" value="@(Search.Start<DateTime.Now.AddHours(-24)?"": Search.Start.ToString("dd-MM-yyyy")) " />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Check-out</label>
                                    <input class="form-control datepicker to_date" required autocomplete="off" name="End" type="text" value="@(Search.End<DateTime.Now?"": Search.End.ToString("dd-MM-yyyy"))" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-flag input-icon"></i>
                                    <label>Nationality</label>
                                    <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Search.Nationality" />
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left">

                                    <i class="fa fa-map-marker input-icon"></i>
                                    <label>Choose hotel (optional)</label>
                                    @*<input class="typeahead form-control" name="Location" placeholder="Hotel name" type="text" value="@Search.Location" />*@
                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-select-plus">
                                    <label>Rooms</label>
                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                        @for (int i = 1; i <= 4; i++)
                                        {
                                            <label class="btn btn-primary room @((Search.Rooms==0 && i==1)  || (Search.Rooms==i) ?"active":"")" data-num="@i">
                                                <input type="radio" name="Rooms" value="@i" @((Search.Rooms == 0 && i == 1) || (Search.Rooms == i) ? "checked" : "") />@i
                                            </label>
                                        }
                                        <label class="btn btn-primary room" style="display:none">
                                            <input type="radio" name="Rooms" disabled value="99" />
                                        </label>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Room #1</label>
                                <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #1 </div>
                            </div>
                            <div class="col-md-2">
                                <label>Adult</label>
                                <select class="select-style" required name="RoomAdults[0]" style="width:90%">
                                    <option value="">0</option>
                                    @for (int i = 1; i < 5; i++)
                                    {
                                        <option value="@i" @(Search.RoomAdults != null && Search.RoomAdults.Length > 0 && Search.RoomAdults[0] == i ? "selected" : "")>@i</option>
                                    }
                                </select>



                            </div>
                            <div class="col-md-2">
                                <label>Children</label>
                                <select class="select-style showchild" name="RoomChildren[0]" data-roomnum="1" style="width:90%">
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <option value="@i" @(Search.RoomChildren != null && Search.RoomChildren.Length > 0 && Search.RoomChildren[0] == i ? "selected" : "")>@i</option>
                                    }
                                </select>


                            </div>

                            <div class="col-md-6">
                                <label>Children Age</label>
                                @* j denotes the Child number*@
                                @for (int j = 1; j <= 3; j++)
                                {
                                    <div class="@("showchild_1_"+j)" style="@(Search.RoomChildAgeByNumber(j) != null  && Search.RoomChildAgeByNumber(j).Length>0  && Search.RoomChildren!=null && Search.RoomChildren[0] >=j ?"":"display:none")">
                                        <select class="select-style childage" name="@("RoomChildAge"+@j+"[0]")">
                                            @* i denotes the age of the child from 0 to 17*@
                                            @for (int i = 2; i < 18; i++)
                                            {
                                                <option value="@i" @(Search.RoomChildAgeByNumber(j) != null && Search.RoomChildAgeByNumber(j).Length > 0 && Search.RoomChildAgeByNumber(j)[0] == i ? "selected" : "")>@i</option>
                                            }
                                        </select>
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="gap-mini"></div>

                        @for (int k = 2; k < 6; k++)
                        {

                            <div class="row showroom-@k" style="@(Search.Rooms>=k?"" :"display:none")">
                                <div class="col-md-2">
                                    @*<label>Room #1</label>*@
                                    <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #@k </div>
                                </div>
                                <div class="col-md-2">
                                    @*<label>Adult</label>*@
                                    <select class="select-style" name="RoomAdults[@(k-1)]" style="width:90%">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <option value="@i" @(Search.RoomAdults != null && Search.RoomAdults.Length > (k - 1) && Search.RoomAdults[k - 1] == i ? "selected" : "")>@i</option>
                                        }
                                    </select>



                                </div>
                                <div class="col-md-2">
                                    @*<label>Children</label>*@
                                    <select class="select-style showchild" name="RoomChildren[@(k-1)]" data-roomnum="@k" style="width:90%">
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <option value="@i" @(Search.RoomChildren != null && Search.RoomChildren.Length > (k - 1) && Search.RoomChildren[k - 1] == i ? "selected" : "")>@i</option>
                                        }
                                    </select>


                                </div>

                                <div class="col-md-6">
                                    @*<label>Children Age</label>*@
                                    @if (!Search.IsHoneymoon)
                                    {
                                        for (int j = 1; j <= 3; j++)
                                        {
                                            <div class="@("showchild_"+k+"_"+j)" style="@(Search.RoomChildAgeByNumber(j) != null  && Search.RoomChildAgeByNumber(j).Length>0  && Search.RoomChildren!=null && Search.RoomChildren[k-1] >=j ?"":"display:none")">
                                                <select class="select-style childage" name="@String.Format("RoomChildAge{0}[{1}]",j,k-1 )">
                                                    @for (int i = 2; i < 18; i++)
                                                    {
                                                        <option value="@i" @(Search.RoomChildAgeByNumber(j) != null && Search.RoomChildAgeByNumber(j).Length > (k - 1) && Search.RoomChildAgeByNumber(j)[k - 1] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                    }

                                </div>


                            </div>
                            <div class="gap-mini"></div>
                        }


                    </div>
                    <br /><br />
                    <button class="btn btn-primary btn-lg" type="submit">Search for Hotels</button>
                }

            </div>
            <!--End of Hotel Details-->
            <!--Start of Package Details-->
            <div class="tab-pane fade in @(Search.IsPackage?"active":"")" id="tabPackage">

                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="IsPackage" value="true" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-icon-left">
                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                <label>Check-in</label>
                                <input class="form-control datepicker package_start" autocomplete="off" required="required" name="Start" type="text" value="@(Search.Start<DateTime.Now.AddHours(-24)?"": Search.Start.ToString("dd-MM-yyyy"))" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-select-plus">
                                <label>Nights</label>
                                <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                    @*<label class="btn btn-primary @(Search.PackageNights==0?"active":"")">
                                        <input type="radio" name="PackageNights" value="0" @(Search.PackageNights == 0 ? "checked" : "") />?
                                    </label>*@

                                    <label class="btn btn-primary active @(Search.PackageNights==4?"active":"")">
                                        <input type="radio" name="PackageNights" value="4" @(Search.PackageNights == 4 ? "checked" : "") />4
                                    </label>

                                    <label class="btn btn-primary  @(Search.PackageNights==6?"active":"") ">
                                        <input type="radio" name="PackageNights" value="6" @(Search.PackageNights == 6 ? "checked" : "") />6
                                    </label>
                                    <label class="btn btn-primary " style="display:none">
                                        <input type="radio" name="" disabled value="99" />
                                    </label>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-group-lg form-group-icon-left">
                                <i class="fa fa-flag input-icon"></i>
                                <label>Nationality</label>
                                <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Search.Nationality" />
                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left">

                                    <i class="fa fa-map-marker input-icon"></i>
                                    <label>Choose hotel (optional)</label>
                                    @*<input class="typeahead form-control" name="Location" placeholder="Hotel name" type="text" value="@Search.Location" />*@
                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-select-plus">
                                    <label>Rooms</label>
                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                        @for (int i = 1; i < 5; i++)
                                        {
                                            <label class="btn btn-primary roomPkg @((Search.Rooms==0 && i==1)  || (Search.Rooms==i) ?"active":"")" data-num="@i">
                                                <input type="radio" name="Rooms" value="@i" @((Search.Rooms == 0 && i == 1) || (Search.Rooms == i) ? "checked" : "") />@i
                                            </label>
                                        }
                                        <label class="btn btn-primary room" style="display:none">
                                            <input type="radio" name="Rooms" disabled value="99" />
                                        </label>


                                    </div>

                                </div>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>Room #1</label>
                                <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #1 </div>
                            </div>
                            <div class="col-md-2">
                                <label>Adult</label>



                                <select class="select-style" style="width:90%" name="RoomAdults[0]">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <option value="@i" @(Search.RoomAdults != null && Search.RoomAdults.Length > 0 && Search.RoomAdults[0] == i ? "selected" : "")>@i</option>
                                    }
                                </select>



                            </div>
                            <div class="col-md-2">
                                <label>Children</label>
                                <select class="select-style showchildPkg" data-roomnumpkg="1" style="width:90%" name="RoomChildren[0]">
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <option value="@i" @(Search.RoomChildren != null && Search.RoomChildren.Length > 0 && Search.RoomChildren[0] == i ? "selected" : "")>@i</option>
                                    }
                                </select>


                            </div>

                            <div class="col-md-6">
                                <label>Children Age</label>


                                @for (int j = 1; j <= 3; j++)
                                {
                                    <div class="@("showchildPkg_1_"+j)" style="@(Search.RoomChildAgeByNumber(j) != null  && Search.RoomChildAgeByNumber(j).Length>0  && Search.RoomChildren!=null && Search.RoomChildren[0] >=j ?"":"display:none")">
                                        <select class="select-style childage" name="@("RoomChildAge"+@j+"[0]")">


                                            @for (int i = 2; i < 18; i++)
                                            {
                                                <option value="@i" @(Search.RoomChildAgeByNumber(j) != null && Search.RoomChildAgeByNumber(j).Length > 0 && Search.RoomChildAgeByNumber(j)[0] == i ? "selected" : "")>@i</option>
                                            }
                                        </select>
                                    </div>
                                }

                            </div>

                        </div>
                        <div class="gap-mini"></div>

                        @for (int k = 2; k < 6; k++)
                        {


                            <div class="row showroomPkg-@k" style="@(Search.Rooms>=k?"" :"display:none")">
                                <div class="col-md-2">

                                    <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #@k </div>
                                </div>
                                <div class="col-md-2">

                                    <select class="select-style" style="width:90%" name="RoomAdults[@(k-1)]">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <option value="@i" @(Search.RoomAdults != null && Search.RoomAdults.Length > (k - 1) && Search.RoomAdults[k - 1] == i ? "selected" : "")>@i</option>
                                        }
                                    </select>



                                </div>
                                <div class="col-md-2">

                                    <select class="select-style showchildPkg" data-roomnumpkg="@k" style="width:90%" name="RoomChildren[@(k-1)]">
                                        @for (int i = 0; i < 3; i++)
                                        {
                                            <option value="@i" @(Search.RoomChildren != null && Search.RoomChildren.Length > (k - 1) && Search.RoomChildren[k - 1] == i ? "selected" : "")>@i</option>
                                        }
                                    </select>


                                </div>

                                <div class="col-md-6">
                                    @if (!Search.IsHoneymoon)
                                    {
                                        for (int j = 1; j <= 3; j++)
                                        {
                                            <div class="@("showchildPkg_"+k+"_"+j)" style="@(Search.RoomChildAgeByNumber(j) != null  && Search.RoomChildAgeByNumber(j).Length>0  && Search.RoomChildren!=null && Search.RoomChildren[k-1] >=j ?"":"display:none")">
                                                <select class="select-style childage" name="@String.Format("RoomChildAge{0}[{1}]",j,k-1 )">
                                                    @for (int i = 2; i < 18; i++)
                                                    {
                                                        <option value="@i" @(Search.RoomChildAgeByNumber(j) != null && Search.RoomChildAgeByNumber(j).Length > (k - 1) && Search.RoomChildAgeByNumber(j)[k - 1] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                    }

                                </div>


                            </div>
                            <div class="gap-mini"></div>
                        }


                    </div>
                    <br /><br />
                    <button class="btn btn-primary btn-lg" type="submit">Search for Packages</button>
                }

            </div>

            <!--End of Package Details-->
            <!--Start of Honeymoon Details-->
            <div class="tab-pane fade in @(Search.IsHoneymoon?"active":"")" id="tabHoneymoon">

                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="IsHoneymoon" value="true" />
                    <input type="hidden" name="RoomAdults[0]" value="2" />
                    <input type="hidden" name="RoomChildren[0]" value="0" />
                    <input type="hidden" name="RoomChildAge1[0]" value="0" />
                    <input type="hidden" name="RoomChildAge2[0]" value="0" />
                    <input type="hidden" name="RoomChildAge3[0]" value="0" />
                    <input type="hidden" name="RoomChildAge4[0]" value="0" />
                    <input type="hidden" name="RoomChildAge5[0]" value="0" />

                    <input type="hidden" id="IsHotel" name="IsHotel" value="true" />
                    <input type="hidden" id="IsPackage" name="IsPackage" value="false" />

                    <input type="hidden" name="Rooms" value="1" />

                    <div class="row">
                        <div class="col-md-6">
                            @*<div class="form-group form-group-lg form-group-icon-left">*@
                            <div style="margin-top:20px">
                                <label class="hotelorpackage-label">
                                    Hotel:  <input class="honeymoon" id="hotelsel" checked type="radio" name="HoneymoonHotelOrPackage" value="hotel" />
                                </label>
                                <label class="hotelorpackage-label">
                                    Package: <input class="honeymoon" id="packagesel" type="radio" name="HoneymoonHotelOrPackage" value="package" />
                                </label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-lg form-group-icon-left">
                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                <label>Check-in</label>
                                <input class="form-control datepicker from_date" autocomplete="off" required="required" name="Start" type="text" value="@(Search.Start<DateTime.Now.AddHours(-24)?"": Search.Start.ToString("dd-MM-yyyy"))" />
                            </div>
                        </div>

                        <div class="col-md-3 hideme showhotel">
                            <div class="form-group form-group-lg form-group-icon-left">
                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                <label>Check-out</label>
                                <input class="form-control datepicker to_date" autocomplete="off" name="End" type="text" value="@(Search.End<DateTime.Now?"": Search.End.ToString("dd-MM-yyyy"))" />
                            </div>
                        </div>
                        <div class="col-md-3 hideme showpackage" style="display:none">
                            <div class="form-group form-group-lg form-group-select-plus">

                                <label>Nights</label>
                                <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                    @*<label class="btn btn-primary @(Search.PackageNights==0?"active":"")">
                                        <input type="radio" name="PackageNights" value="0" @(Search.PackageNights == 0 ? "checked" : "") />?
                                    </label>*@

                                    <label class="btn btn-primary active @(Search.PackageNights==4?"active":"")">
                                        <input type="radio" name="PackageNights" value="4" @(Search.PackageNights == 4 ? "checked" : "") />4
                                    </label>

                                    <label class="btn btn-primary  @(Search.PackageNights==6?"active":"") ">
                                        <input type="radio" name="PackageNights" value="6" @(Search.PackageNights == 6 ? "checked" : "") />6
                                    </label>


                                    <label class="btn btn-primary " style="display:none">
                                        <input type="radio" name="" disabled value="99" />
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <style>
                            .hotelorpackage-label {
                                display: inline-block;
                                padding: 10px 25px;
                            }
                        </style>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left">

                                    <i class="fa fa-map-marker input-icon"></i>
                                    <label>Where are you going?</label>
                                    @*<input class="typeahead form-control" name="Location" placeholder="Hotel name" type="text" value="@Search.Location" />*@
                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-flag input-icon"></i>
                                    <label>Nationality</label>
                                    <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Search.Nationality" />
                                </div>
                            </div>
                        </div>
                        <div class="gap-mini"></div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Search for Specials</button>
                }

            </div>
            <!--End of Honeymoon Details-->
        </div>

    </div>
</div>

@Scripts.Render("~/Scripts/plugins/select2.js")
<script>
    $(document).ready(function () {
        $('.select2').not('.noselect2').select2();
    });

</script>