﻿
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container">
    <h1 style="padding-top:20px">About Us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                tci started its operation in 2006 as a Destination Management Company (DMC) with extensive expertise of inbound services ranging from catering to discerning individual traveler to niche special interest, group to up market and schedule group tours, Adhoc groups and incentives tours, cruise handling and excursions.
                Our objectives:
                <ul>
                    <li>fulfill the guests needs</li>
                    <li>
                        exceed guests’ expectations
                    </li>
                    <li>
                        provide a hassle free, relaxing trip
                    </li>
                    <li>consistently delivering friendly & high quality service. </li>
</ul>
                
            </p>
            <p>The team strives not to only meet the customer’s expectation but also exceeds them by providing a range of custom made itineraries, catering for the elite as well as the budget conscious. We are ever ready to serve our guest with our specialized multilingual staff, capable of speaking in English, French, German, Russian, Hindi, Spanish, Italian and Mandarin. We believe that the quality of our service is the primary reason for our growth. tci is committed to offer an array of products & services, customized for every interest.</p>
</div>
    </div>
    <div class="gap"></div>
</div>