﻿@model Booking_System.Models.activity
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var bookingId = 0;

    if (booking != null)
    {
        bookingId = booking.booking_id;
    }
}


<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Home</a>
        </li>
        <li>
            <a href="#">@Model.category</a>
        </li>
        <li class="active">@Model.activity_name</li>
    </ul>
    <div class="booking-item-details">
        <header class="booking-item-header">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="lh1em">@Model.activity_name</h2>
                </div>
                <div class="col-md-3">
                    <p class="booking-item-header-price">
                        @*<small>price</small>  <span class="text-lg">@if (Model.activity_pricing != null) { @Model.activity_pricing.FirstOrDefault().currency.currency_code  @Model.activity_pricing.FirstOrDefault().price_adult } </span>*@
                    </p>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-7">
                <div class="tabbable booking-details-tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i>Photos</a>
                        </li>
                        @*<li>
                            <a href="#google-map-tab" data-toggle="tab"><i class="fa fa-map-marker"></i>On the Map</a>
                        </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
                                @if (Model.activity_picture !=null)
                            {
                                foreach (var item in Model.activity_picture)
                                {
                                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetActivityImgPath()), item.picture.FullFileName)" alt="@item.picture.DisplayImageTitle" title="@item.picture.title" />
                                    }
                            }
                            </div>
                        </div>
                        @*<div class="tab-pane fade" id="google-map-tab">
                            <div id="map-canvas" style="width:100%; height:500px;"></div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="booking-item-meta">
                    <h3>Description</h3>
                    <p>@Html.Raw(Model.description)</p>
                </div>
                <div class="gap gap-small">
                    @foreach (var item in Model.activity_pricing)
                            {
                        <h3>Price Details (@item.currency.currency_code)</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="lh1em">No Transfer</h5>
                                <ul class="list booking-item-raiting-list">
                                    <li>
                                       
                                        @item.currency.symbol@item.price_child / Child
                                    </li>
                                    <li>
                                       @item.currency.symbol@item.price_adult / Adult
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5 class="lh1em">Seat In Coach</h5>
                                <ul class="list booking-item-raiting-list">
                                    <li>
                                        @item.currency.symbol@item.price_child_incl_sic_transfer / Child
                                        
                                    </li>
                                    <li>
                                       @item.currency.symbol@item.price_adult_incl_private_transfer / Adult
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5 class="lh1em">Incl Private</h5>
                                <ul class="list booking-item-raiting-list">
                                    <li>
                                        @item.currency.symbol@item.price_child_incl_private_transfer / Child
                                    </li>
                                    <li>
                                       @item.currency.symbol@item.price_adult_incl_private_transfer / Adult
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="gap gap-small">
                    <h3>Features</small></h3>
                    @if (Model.includes_meal)
                    {
                        <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                            <li>
                                <i class="im im-restaurant"></i><span class="booking-item-feature-title">Includes Lunch</span>
                            </li>
                        </ul>
                    }
                    <p>@Html.Raw(Model.features)</p>
                </div>
                @*<a href="#" class="btn btn-primary btn-lg">Add to Trip</a>*@
            </div>
        </div>
        <div class="gap"></div>
    <h3>Conditions</h3>
    <p>@Html.Raw(Model.conditions)</p>

    <h3>Cancellation Policy</h3>
    <p>@Html.Raw(Model.cancellation_policy)</p>
    <div class="gap gap-small"></div>
</div>
</div>