﻿@model IEnumerable<Booking_System.Models.viewActivity>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";


    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var guests = booking._totalGuests;
    var minors = booking._totalChildrenAndTeens;
    var anyminor = minors > 0;
    var symbol = booking.market.currency.symbol;
    var totalRoomCost = booking.booking_guest.Sum(x => x.price_per_night + x.markup_amt) * booking.num_nights;

}
<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
        @*<li class="active">@booking.hotel.name</li>*@
    </ul>
    <br />


    <ul class="progress-indicator">
        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.HOTEL)
            {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.PACKAGE)
            {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        <li class="completed"><a href="@Url.Action("Supplements", new { id = booking.booking_id })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class="completed"> <a href="@Url.Action("Transfer", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class="completed"> <a href="@Url.Action("Activities", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class=""> <a href="@Url.Action("Rental", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    </ul>

    <h3>Activities</h3>

    @if (Model == null || Model.Count() == 0)
    {
        <h1><span class="fa fa-warning"></span> No Activities Available</h1>

        <a href="@Url.Action("Rental", new { id = booking.booking_id })" value="continue" name="submitaction" class="submitbutton btn btn-primary">Continue</a>
        <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id })" value="finish" name="submitaction" class="submitbutton btn btn-primary">Finish</a>
        <br />
        <div class="gap"></div>


    }
    else
    {

        using (Html.BeginForm("AddActivity", "Front", FormMethod.Post))
        {
        <div class="row">
            <div class="col-md-8">

              
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="booking_id" value="@booking.booking_id" />
                    <table class="table">

                        @{ string category = ""; int i = 0;}
                        @foreach (var activity in Model.OrderBy(x=>x.category))
                        {


                            if (category != activity.category)
                            {
                                <tr>
                                    <td colspan="6" class="activityheading">
                                        <h4 class="booking-filters-title"><span class=""></span>&nbsp;@activity.category.ToUpper()</h4>
                                        @*<p class="readmore"><span class="large">@activity.activity_name</span> @activity.description</p>*@
                                    </td>
                                </tr>
    <tr class="activitytablehead">
        <td>activity</td>
        <td>Min. Age</td>
        <td>Transfer (pp adult/child)</td>
        <td>Adults</td>
        @if (anyminor)
        {
            <td>Children</td>
        }


    </tr>
                            }


                            <tr class="@(activity._isSelected ? "activity-selected" : "")">
                                <td width="45%">
                                    <input type="hidden" name="activity_id[@i]" value="@activity.activity_id" />
                                    <input type="hidden" name="activity_pricing_id[@i]" value="@activity.activity_pricing_id" />
                                    <a href="@Url.Action("ActivityDetails", new { id = activity.activity_id})" target="_blank">@activity.activity_name</a>
                                </td>
                                <td>@activity.min_age</td>
                                <td>
                                    <select class="form-control" name="transfer_type[@i]">
                                        @if( (activity.price_adult.HasValue?activity.price_adult.Value : 0) + (activity.price_child.HasValue?activity.price_child.Value:0) > 0)
                                        {
                                            <option value="0" @(activity.transfer_type==0?"selected":"")>No Transfer - @activity.symbol @activity.price_adult / @activity.price_child </option>
                                        }
                                        @if ((activity.price_adult_incl_sic_transfer.HasValue? activity.price_adult_incl_sic_transfer.Value:0) 
                                            + (activity.price_child_incl_sic_transfer.HasValue? activity.price_child_incl_sic_transfer.Value :0 )> 0)
                                        {

                                        <option value="1" @(activity.transfer_type==1?"selected":"")>Seat In Coach - @activity.symbol @activity.price_adult_incl_sic_transfer / @activity.price_child_incl_sic_transfer  </option>
                                        }
                                        @if ((activity.price_adult_incl_private_transfer.HasValue?activity.price_adult_incl_private_transfer.Value : 0) + (activity.price_child_incl_private_transfer.HasValue?activity.price_child_incl_private_transfer.Value:0) > 0)
                                        {

                                        <option value="2" @(activity.transfer_type==2?"selected":"")>Private - @activity.symbol @activity.price_adult_incl_private_transfer / @activity.price_child_incl_private_transfer</option>
                                            }
                                    </select>
                                </td>

                                <td style="width:100px;">
                                    @if (activity.has_price_adult) { 
                                    <select name="adult[@i]" class="form-control">
                                        @for (int a = 0; a <= guests; a++)
                                        {
                                            <option value="@a" @(activity._adult == a ? "selected=selected" : "")>@a</option>
                                        }
                                    </select>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="adult[@i]" value="0" />
                                        <small>--</small>
                                    }
                                </td>

                        
                                @if (anyminor)
                                {
                                    <td style="width:100px;">
                                
                                        @if (activity.min_age < 18 && activity.has_price_child)
                                        {
                                            <select name="child[@i]" class="form-control">
                                                @for (int c = 0; c <= minors; c++)
                                                {
                                                    <option value="@c" @(activity._child == c ? "selected=selected" : "")>@c</option>

                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="hidden" name="child[@i]" value="0" />

                                            <small>Not allowed</small>
                                        }

                                    </td>
                                }

                            </tr>






                            {
                                category = activity.category;
                                i++;
                            }


                        }
                    </table>

                    <div style="clear:both"></div>
                    <div class="gap"></div>
                    @*<button type="submit" value="continue" name="submitaction" class="submitbutton btn btn-warning">Save and Continue</button>
                    <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-warning">Save and Finish</button>*@
            </div>

            <div class="col-md-4 ">

                <div class="">
                    @Html.Partial("_BookingSummaryBox", booking)
                    <div class="gap-mini"></div>
                    <div class="booking-item-dates-change sticker">
                        <button type="submit" value="continue" name="submitaction" class="submitbutton btn btn-warning">Save & Continue</button>
                        <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-warning">Save & Finish</button>
                    </div>
                </div>

            </div>



        </div> 
    }
    }

    <div class="gap"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/front/jquery.sticky.js"></script>
    <script>
        $(document).ready(function () {

            $('.readmore').readmore({
                speed: 75,
                collapsedHeight: 50,
                lessLink: '<a href="#">Read less</a>'
            });

            var serviceURL = getVirtualDir() + 'ActivityDetails/';
            $(".sticker").sticky({ topSpacing: 10 });
            //var s = $(".sticker");
            //var pos = s.position();
            //var topps = (pos.top);
            //$(window).scroll(function () {
            //    var windowpos = $(window).scrollTop();
            //    if ((windowpos) > topps) {
            //        s.addClass("stick");
            //    } else {
            //        s.removeClass("stick");
            //    }
            //});
        });

    </script>
}