﻿@model Booking_System.Models.booking
   @using bookingStatus = Booking_System.Helpers.AppEnums.BookingStatus

@{
    ViewBag.Title = "BookingSummary";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var notes = ViewBag.Notes;
}

<div class="container">
    <div class="gap-small"></div>
    <div class="row row-wrap">
        <div class="col-md-8">
            @*If status is processing, give the user the right to edit the booking details*@
            @if (Model.StatusEnum == bookingStatus.NEW || Model.StatusEnum == bookingStatus.PROCESSING )
            {
                <h6 class="pull-right">(@Html.ActionLink("Edit", "EditBookingDetails", new { id = Model.booking_id }))</h6>
            }
            <h3>Booking Summary (@Model.booking_name)</h3>
            @if(Model.is_timelimit)
            {
            <h5><span class="label label-danger">Time Limit Booking</span></h5>

            }
            <ul class="list booking-item-passengers">
                <li>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">

                                <h5>Rooms</h5>

                            </div>
                        </div>
                    </div>
                    @foreach (var room in Model.booking_room)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label>#@room.room_number @room.room_name </label>
                            </div>
                            <div class="col-md-5">
                                @foreach (var guest in room.booking_guest)
                                {


                                    <div class="row @(guest.Equals(room.booking_guest.Last())?"dashed-bottom":"")">
                                        <div class="col-md-9">
                                            <label>

                                                @{
                                                    var age = guest.age.HasValue ? guest.age : (guest.date_of_birth.HasValue ? DateTime.Now.Year - guest.date_of_birth.Value.Year : 18);
                                                    if (guest.guest_type > 3 && age < 18)
                                                    {
                                                        age = 18;
                                                    }
                                                    var _age = age == 18 ? "18+" : string.Concat(age, " y.o");

                                                }
                                                @if (age.HasValue && age.Value < 18)
                                                {
                                                    <span class="fa fa-child"></span>@_age


                                                }
                                                else
                                                {
                                                    string gender = string.Empty;
                                                    if (guest.gender.HasValue)
                                                    {
                                                        if (guest.gender.Value == 1)
                                                        {
                                                            gender = "male";
                                                        }
                                                        if (guest.gender.Value == 2)
                                                        {
                                                            gender = "female";
                                                        }
                                                    }
                                                    <span class="fa fa-@gender"></span><span> @guest.salutation @guest.firstname @guest.lastname (@_age)</span>
                                                }

                                            </label>
                                        </div>


                                        <div class="col-md-3 text-right">

                                            <label>
                                                @Model.market.currency.symbol@((((guest.price_per_night.HasValue ? guest.price_per_night : 0) + (guest.markup_amt.HasValue ? guest.markup_amt : 0)) - (guest.promotional_discount_amt.HasValue ? guest.promotional_discount_amt : 0)) * (Model.num_nights - (Model.free_nights.HasValue ? Model.free_nights : 0)) + (guest.ground_handling_amt.HasValue ? guest.ground_handling_amt.Value : 0))


                                            </label>

                                        </div>
                                    </div>


                                                    }


                            </div>

                            <div class="col-md-3 text-right">

                                @if (room.Equals(Model.booking_room.Last()))
                                {

                                    if (Model.TotalCostRooms > 0)
                                    {
                                        <h4>@Model.market.currency.symbol@Model.TotalCostRooms.ToString("N2")</h4>

                                    }
                                }
                            </div>
                        </div>
                                                    }

                </li>
                @if (Model.booking_supplement != null && Model.booking_supplement.Count > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Supplements</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var room in Model.booking_room)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">

                                        <label>#@room.room_number @room.room_name</label>

                                    </div>
                                </div>
                                <div class="col-md-5">

                                    @foreach (var supp in room.booking_supplement)
                                    {
                                        <div class="row @(supp.Equals(Model.booking_supplement.Last()) ? " dashed-bottom":"")">
                                            <div class="col-md-9">
                                                <label>
                                                    @supp.supplement_name
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(supp.price)
                                                </label>
                                            </div>
                                        </div>
                                    }


                                </div>

                                <div class="col-md-3 text-right">

                                    @if (room.Equals(Model.booking_room.Last()))
                                    {
                                        if (Model.booking_supplement != null && Model.booking_supplement.Count > 0)
                                        {
                                            <h4>@Model.market.currency.symbol@Model.TotalCostSupps.ToString("N2")</h4>

                                        }
                                    }
                                </div>
                            </div>
                        }

                    </li>
                }






                @if (Model.TotalCostTransfer > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Transfer</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.booking_transfer)
                        {
                            if (!item.is_aftersales)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label>Aiport Transfer </label>

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.transfer_name
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price)
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (Model.TotalCostTransfer > 0)
                                        {
                                            <h4>@Model.market.currency.symbol@Model.TotalCostTransfer.ToString("N2")</h4>

                                        }

                                    </div>
                                </div>
                            }
                        }

                    </li>
                }

                @if (Model.booking_rental != null && Model.booking_rental.Count > 0)
                {

                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Car Rental</h5>

                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.booking_rental)
                        {
                            if (!item.is_aftersales)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label>@item.vehicle.vehicle_model </label>

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row dashed-bottom">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.vehicle.provider.name (@item.num_days days)
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price * item.num_days )
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (item.Equals(Model.booking_rental.Last()))
                                        {
                                            if (Model.booking_rental != null && Model.booking_rental.Count > 0)
                                            {
                                                <h4>@Model.market.currency.symbol@Model.TotalCostRental.ToString("N2")</h4>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </li>
                }


                @if (Model.booking_activity != null && Model.booking_activity.Count > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Activities</h5>

                                </div>
                            </div>
                        </div>
                        @{string prevProviderName = string.Empty;}
                        @foreach (var item in Model.booking_activity)
                        {
                            bool newProvider = false;
                            if (!item.is_aftersales)
                            {

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @if (prevProviderName != item.provider_name)
                                            {
                                                newProvider = true;
                                                prevProviderName = item.provider_name;

                                                <label>@item.provider_name</label>
                                            }

                                        </div>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="row @(newProvider ? " dashed-bottom":"")">
                                            <div class="col-md-9">
                                                <label>
                                                    @item.activity_name (@item.adults adults @item.children children)
                                                </label>
                                            </div>


                                            <div class="col-md-3 text-right">
                                                <label>
                                                    @Model.market.currency.symbol@(item.total_price)
                                                </label>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3 text-right">


                                        @if (item.Equals(Model.booking_activity.Last()))
                                        {
                                            if (Model.booking_activity != null && Model.booking_activity.Count > 0)
                                            {
                                                <h4>@Model.market.currency.symbol@Model.TotalCostActivity.ToString("N2")</h4>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </li>
                 }


                @if (Model.TotalCompulsoryAmount > 0)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">

                                    <h5>Compulsory Charges</h5>

                                </div>
                            </div>
                            <div class="col-md-3">@Model.charge_name</div>
                            <div class="col-md-3 text-right">
                                <h4>@Model.market.currency.symbol @Model.TotalCompulsoryAmount.ToString("N2")</h4>
                            </div>
                        </div>


                    </li>
                }


                @if (Model.discount_amt.HasValue)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">

                                    <h5>Discount</h5>

                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-3 text-right">
                                <h4>@Model.market.currency.symbol @Model.discount_amt.Value.ToString("N2")</h4>
                            </div>
                        </div>


                    </li>
                }

                @if (!String.IsNullOrEmpty(Model.remarks))
                {
                    <li>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                    <h5>Remarks</h5>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Model.remarks
                                </div>
                            </div>
                        </div>    
                    </li>
               }

<li>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Total Booking Cost</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <h3>@Model.market.currency.symbol@Model.TotalCost.ToString("N2")</h3>
                        </div>
                    </div>
                </li>







            </ul>
            <div class="gap gap-small"></div>

        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h5 class="mb0">@Model.provider.name</h5>
                        </header>
                        <ul class="booking-item-payment-details">
                            <li>

                                @if (Model.isPackage)
                                {
                                    <div>
                                        Package: <label class="label label-info">Yes</label>
                                    </div>
                                    <div>
                                        Package Name: @Model.package.name
                                    </div>

                                    if (Model.is_allotted.HasValue && Model.is_allotted.Value)
                                    {
                                            <div class="label label-success">Booking Allotted</div>
                                        
                                    }
                                }

                                
                                <div class="booking-item-payment-flight">

                                    <h5>Travel Details</h5>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="booking-item-flight-details">
                                                <div class="booking-item-departure">
                                                    <i class="fa fa-plane fa-flip-vertical"></i>

                                                    <h5>@Model.checkin_date.Value.ToString("dddd dd, MMM yyyy")</h5>
                                                    <p class="booking-item-date">Check In</p>
                                                    @*<p class="booking-item-destination">London, England, United Kingdom (LHR)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                                                </div>
                                                <div class="booking-item-arrival">
                                                    <i class="fa fa-plane"></i>
                                                    <h5>@Model.checkout_date.Value.ToString("dddd, MMM dd yyyy")</h5>
                                                    <p class="booking-item-date">Check Out</p>
                                                    @*<p class="booking-item-destination">Charlotte, CA, United States (CLT)</p>*@<p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p><p class="booking-item-destination"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="booking-item-flight-duration">
                                                <p>Nights</p>
                                                <h5 class="text-center">@Model.num_nights</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                                </div>
                            </li>
                            <li>
                                <h5>Booking  (@Model._totalGuests Guests)</h5>
                                <ul class="booking-item-payment-price">
                                    <li>
                                        <p class="booking-item-payment-price-title">Rooms</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-hotel fa-"></span> x @Model.rooms
                                        </p>
                                    </li>
                                    <li>
                                        <p class="booking-item-payment-price-title">Adults</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-male"></span> x @Model.adults
                                        </p>
                                    </li>
                                    <li>
                                        <p class="booking-item-payment-price-title">Children</p>
                                        <p class="booking-item-payment-price-amount">
                                            <span class="fa fa-child"></span> x @Model._totalChildren
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            @if (Model.isPackage)
                            {
                                <li>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5>Ground Handling (@Model._totalGuests Guests)</h5>
                                            <ul class="booking-item-payment-price">
                                                <li>
                                                    <p class="booking-item-payment-price-title">Ground Handling</p>
                                                    <p class="booking-item-payment-price-amount">
                                                        <span class="fa fa-bus"></span> x @Model._totalGuests Guests
                                                    </p>
                                                </li>
                                                <li><a class="popup-text" href="#packagedesc-dialog" data-effect="mfp-zoom-out">view package inlusion</a></li>
                                            </ul>

                                        </div>

                                    </div>

                                </li>
                                <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="packagedesc-dialog">
                                    @Html.Raw(Model.package.description)
                                </div>
                            }
                            @if (Model.booking_promotion.Count > 0)
                            {
                            <li>
                                <div class="row">
                                    <div class="col-md-9">
                                        <h5>Promotions</h5>
                                        <ul class="booking-item-payment-price">
                                            @foreach (var item2 in Model.booking_room)
                                            {
                                                <li style="border-bottom:none">
                                                    <p class="booking-item-payment-price-title bold">@item2.room_name</p>
                                                    <ul class="booking-item-payment-price">
                                                        @foreach (var item in Model.booking_promotion.Where(x => x.booking_room_id == item2.booking_room_id))
                                                        {
                                                            <li>@item.promotion_name</li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            }   
                            @if (Model.TotalCompulsoryAmount>0)
                            {
                                <li>
                                    <ul class="booking-item-payment-price">

                                        <li>
                                            <p class="booking-item-payment-price-title">Compulsory Charges (@Model.charge_name)</p>
                                            <p class="booking-item-payment-price-amount">
                                                @Model.market.currency.symbol @Model.TotalCompulsoryAmount
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (Model.discount_amt.HasValue)
                            {
                                <li>
                                    <ul class="booking-item-payment-price">

                                        <li>
                                            <p class="booking-item-payment-price-title">Discount amount</p>
                                            <p class="booking-item-payment-price-amount">
                                                @Model.market.currency.symbol @Model.discount_amt.Value
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                        <p class="booking-item-payment-total">
                            Total trip: <span>@Model.market.currency.symbol@Model.TotalCost</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">

                                <h4 class="box-title"><i class="fa fa-commenting-o fa-flip-horizontal"></i> Discussions</h4>
                                <div class="box-tools pull-right">

                                </div>
                                <div class="box-body">
                                    @if (notes != null)
                                    {
                                        foreach (var item in notes)
                                        {
                                            <div class="bold">

                                                @{
                                                    string usr = "undefined";
                                                    if (item.user != null)
                                                    {
                                                        usr = item.user.FullName;
                                                    }
                                                }
                                                <small><span class="fa fa-comment fa-flip-horizontal"></span>&nbsp;@String.Concat(usr, " added @ ", item.create_date)</small>
                                            </div>
                                            <div class="bg-gray" style="padding:10px">
                                                @Html.Raw(item.detail)
                                            </div>
                                                        }
                                                    }
                                </div>
                            </div>
                            <a href="#notessection" class="showsection"><span class="fa fa-plus"></span> New Note</a>

                            <section style="display:none" id="notessection">
                                <br />
                                @using (Html.BeginForm("AddReservationNote", "Front", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.booking_id)
                                    <input type="hidden" name="sender" value="agent" />
                                    <div class="box-body">
                                        <textarea name="note" class="form-control"></textarea>
                                    </div>
                                    <br />
                                    <div class="box-footer">
                                        <input type="submit" name="Save" class="btn btn-primary" value="Add Note" />
                                        <input type="button" name="Close" class="btn btn-primary closesection" value="Close" />
                                    </div>

                                }
                            </section>
                        </div>



                    </div>
                </div>
                @*If status is awaiting payment / confirmation - then give the user view option on proforma*@
                @if (Model.booking_proforma != null && Model.booking_proforma.Count > 0)
                {
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">

                                <h4 class="box-title"><i class="fa fa-commenting-o fa-flip-horizontal"></i>Proforma</h4>
                                <div class="box-tools pull-right">

                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a class="btn btn-default btn-sm" href="@Url.Action("ViewProforma", new { id=Model.booking_id })" target="_blank">View Proforma</a>
                                        </div>
                                        @*User has the right to approve a proforma only if he is a credit based and the proforma is not expired.*@
                                        @if (Model.ProformaExpiryDate.HasValue && Model.ProformaExpiryDate >= DateTime.Now.Date && Booking_System.Helpers.UserSession.Current.IsUserCreditBased && Model.status == 4)
                                        {
                                            <div class="col-md-4">
                                                @if (Booking_System.Helpers.UserSession.Current.RemainingCredit >= Model.booking_amt)
                                                {
                                                    <a class="btn btn-default btn-sm" href="@Url.Action("ApproveProforma", new { id=Model.booking_id })">Confirm Booking</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default btn-sm" disabled="disabled" href="#">Confirm Booking</a>
                                                    <small>Insufficient Credit</small>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                @if (Model.booking_voucher != null && Model.booking_voucher.Count > 0)
                {
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">

                                <h4 class="box-title"><i class="fa fa-commenting-o fa-flip-horizontal"></i>Voucher</h4>
                                <div class="box-tools pull-right">

                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a class="btn btn-default btn-sm" href="@Url.Action("ViewVoucher", new { id=Model.booking_id })" target="_blank">View Voucher</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                



            </div>



        </div>
    </div>
    <div class="gap"></div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.showsection', function () {
                $(this).next('section').toggle();
            });

            $('body').on('click', '.closesection', function () {

                $(this).closest('section').hide();
                return false;
            });

        });

    </script>
}