﻿@model IEnumerable<Booking_System.Models.bookingGuest>
@{
    ViewBag.Title = "ConfirmBooking";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
}

<div class="container">


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Update and Confirm Booking Details</h3>

        </div><!-- /.box-header -->
        <div class="box-body">

            @using (Html.BeginForm("ConfirmBookingDetails", "Front", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="booking_id" value="@booking.booking_id" />
                <input type="hidden" name="num_guests" value="@Model.Count()" />

                <div class="row">
                    <div class="col-md-8">
                        <h4>Customer</h4>
                        <ul class="list booking-item-passengers">
                            @*<li>
                                 <p>Sign in to your <a href="#">Traveler account</a> for fast booking.</p>

                                </li>*@
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>First & Last Name</label>
                                    <input class="form-control" required name="customer_name" type="text" value="@booking.booking_name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" name="customer_phone" type="text" value="@booking.phone_number" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input class="form-control" name="customer_email" type="text" value="@booking.email" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>BFN</label>
                                    <input class="form-control" required name="booking_file_number" type="text" value="@booking.booking_file_number" />
                                </div>
                            </div>




                        </div>
                        @*<div class="checkbox">
                                <label>
                                    <input class="i-check" type="checkbox" checked />Create Traveler account <small>(password will be send to your e-mail)</small>
                                </label>
                            </div>*@

                        <div class="gap gap-small"></div>
                        <h4>Guests</h4>
                        <ul class="list booking-item-passengers">
                            @{ var room = 0; var i = 0;}
                            @foreach (var guest in Model)
                {
                                <li>
                                    @if (room != guest.booking_room.room_number)
                                    {
                                        <h3>Room @guest.booking_room.room_number</h3>
                                    }

                                    <input type="hidden" name="guest_id[@i]" value="@guest.booking_guest_id" />

                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Sex</label>
                                            <div class="radio-inline radio-small">
                                                <label>
                                                    <input class="male_@i" type="radio" required value="1" @(guest.gender == 1 ? "checked" : "") name="gender[@i]" />Male
                                                </label>
                                            </div>
                                            <div class="radio-inline radio-small">
                                                <label>
                                                    <input class="female_@i" type="radio" required value="2" @(guest.gender == 2 ? "checked" : "") name="gender[@i]" />Female
                                                </label>
                                            </div>
                                            <br />
                                            Age:@guest.age


                                        </div>



                                        <div class="col-md-3">


                                            <div class="form-group">
                                                <label>Salutation</label>
                                                <select name="salutation[@i]" required class="form-control changeGender" data-guestno="@i">
                                                    <option @(String.IsNullOrWhiteSpace(guest.salutation) ? "selected='selected'" : "") value="">--</option>
                                                    <option @(guest.salutation == "Ms" ? "selected='selected'" : "") value="Ms">Miss</option>
                                                    <option @(guest.salutation == "Mrs" ? "selected='selected'" : "") value="Mrs">Mrs</option>
                                                    <option @(guest.salutation == "Mr" ? "selected='selected'" : "") value="Mr">Mr</option>
                                                    <option @(guest.salutation == "Mstr" ? "selected='selected'" : "") value="Mstr">Master</option>
                                                    <option @(guest.salutation == "Dr" ? "selected='selected'" : "") value="Dr">Dr</option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" type="text" maxlength="60" required name="firstname[@i]" value="@guest.firstname" />
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Surname</label>
                                                <input class="form-control" type="text" maxlength="60" required name="lastname[@i]" value="@guest.lastname" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-3">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <input class="date-pick-years form-control datepicker" required name="date_of_birth[@i]" type="text" value="@(guest.date_of_birth.HasValue?guest.date_of_birth.Value.ToString("dd-MM-yyyy"):"")" />
                                            </div>
                                        </div>

                                        <div class="col-md-3 ">
                                            <div class="form-group">
                                                <label>Citizenship</label>
                                                <input class="form-control" type="text" maxlength="50" required name="nationality[@i]" value="@guest.nationality" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-3">
                                            <div class="form-group">
                                                <label>Passport Number</label>
                                                <input class="form-control" type="text" maxlength="20" required name="passport_number[@i]" value="@guest.passport_number" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Expiry Date</label>
                                                <input class="date-pick-years form-control datepicker" required name="passport_expiry_date[@i]" type="text" value="@(guest.passport_expiry_date.HasValue?guest.passport_expiry_date.Value.ToString("dd-MM-yyyy"):"")" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-3">
                                            <div class="form-group">
                                                <label>Flight No.</label>
                                                <input class="form-control" name="flight_number[@i]" required value="@guest.arrival_flight_no" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Flight Date</label>
                                                <input class="form-control date-pick" name="flight_date[@i]" required value="@(guest.arrival_datetime.HasValue?guest.arrival_datetime.Value.ToString("dd-MM-yyyy"):"")" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Flight Arrival Time</label>
                                                <input class="form-control time-pick" name="flight_time[@i]" required value="@(guest.arrival_datetime.HasValue?guest.arrival_datetime.Value.ToString("hh:mm tt"):"")" type="text" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-3">
                                            <div class="form-group">
                                                <label>Dep Flight No.</label>
                                                <input class="form-control" name="depflight_number[@i]" required value="@guest.departure_flight_no" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Dep Flight Date</label>
                                                <input class="form-control date-pick-flight-date" required name="depflight_date[@i]" value="@(guest.departure_datetime.HasValue?guest.departure_datetime.Value.ToString("dd-MM-yyyy"):"")" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Dep Flight Arrival Time</label>
                                                <input class="form-control time-pick" name="depflight_time[@i]" required value="@(guest.departure_datetime.HasValue?guest.departure_datetime.Value.ToString("hh:mm tt"):"")" type="text" />
                                            </div>
                                        </div>

                                    </div>


                                </li>
                                room = guest.booking_room.room_number;
                                i++;
                            }

                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea name="remarks" class="form-control">@booking.remarks</textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-primary">Update & Confirm</button>
                        <a href="@Url.Action("BookingSummary", "Front", new {id = booking.booking_id })" class="submitbutton btn btn-primary">Cancel</a>
                        <br />


                        <div class="gap gap-small"></div>


                    </div>
                    <div class="col-md-4">
                        @Html.Partial("~/Views/Front/_BookingSummaryBox.cshtml", booking)
                    </div>


                </div>

                                }
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datepicker")
    <script>
        $(document).ready(function () {

            $('input.date-pick, .input-daterange, .date-pick-inline').datepicker({
                todayHighlight: true
            });

            $('input.time-pick').timepicker({
                minuteStep: 15,
                showInputs: false
            });

            $('input.date-pick-years').datepicker({
                startView: 2
            });


            $('body').on('change', '.changeGender', function () {

                var guestno = $(this).data("guestno");
                var sal = $(this).val();

                if (sal == 'Mr' || sal == 'Mstr')
                {
                    $('.male_' + guestno).prop('checked', true);
                    $('.female_' + guestno).prop('checked', false);
                };


                if (sal == 'Mrs' || sal == 'Ms') {
                    $('.female_' + guestno).prop('checked', true);
                    $('.male_' + guestno).prop('checked', false);
                };



            });

        });


    </script>


}

