﻿@model IEnumerable<Booking_System.Models.bookingGuest>
@{
    ViewBag.Title = "ConfirmBooking";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
}
<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
    </ul>
    <br />

    <ul class="progress-indicator">
        <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        <li class="completed"><a href="@Url.Action("Supplements", new { id = booking.booking_id })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class="completed"> <a href="@Url.Action("Transfer", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class="completed"> <a href="@Url.Action("Activities", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class="completed"> <a href="@Url.Action("Rental", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="#"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    </ul>

    <h3>Confirm Booking</h3>

@using (Html.BeginForm("SaveConfirmBooking", "Front", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="booking_id" value="@booking.booking_id" />
    <input type="hidden" name="num_guests" value="@Model.Count()" />

    <div class="row">
        <div class="col-md-8">
            <h4>Customer</h4>
            <ul class="list booking-item-passengers">
               @*<li>
                <p>Sign in to your <a href="#">Traveler account</a> for fast booking.</p>

               </li>*@
                </ul>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>First & Last Name</label>
                            <input class="form-control name1" required name="customer_name" type="text" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control customer_phone" name="customer_phone" type="text" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control customer_email" name="customer_email" type="text" />
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>BFN</label>
                        <input class="form-control " required name="booking_file_number" type="text" />
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Is Time Limit</label>
                        
                        <input class="timelimit" name="is_timelimit" id="timelimit" value="true" type="checkbox" />
                        <input type="hidden" value="false" name="is_timelimit" />
                    </div>
                </div>


                </div>
                @*<div class="checkbox">
                <label>
                    <input class="i-check" type="checkbox" checked />Create Traveler account <small>(password will be send to your e-mail)</small>
                </label>
            </div>*@

                <div class="gap gap-small"></div>
                <h4>Guests</h4>
                <ul class="list booking-item-passengers">
                    @{ var room = 0; var i = 0;}
                    @foreach (var guest in Model)
                    {
                        <li>
                            @if (room != guest.booking_room.room_number)
                            {
                                <h3>Room @guest.booking_room.room_number</h3>
                            }

                            <input type="hidden" name="guest_id[@i]" value="@guest.booking_guest_id" />

                            <div class="row">
                                <div class="col-md-3">
                                    <label>Sex</label>
                                    <div class="radio-inline radio-small">
                                        <label>
                                            <input class="male_@i" type="radio" required value="1" name="gender[@i]" />Male
                                        </label>
                                    </div>
                                    <div class="radio-inline radio-small">
                                        <label>
                                            <input class="female_@i" type="radio" required value="2" name="gender[@i]" />Female
                                        </label>
                                    </div>
                                    <br />
                                    Age:@guest.age


                                </div>



                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label>Salutation</label>
                                        <select name="salutation[@i]"  required class="form-control changeGender" data-guestno="@i">
                                            <option value="">--</option>
                                            <option value="Ms">Miss</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mstr">Master</option>
                                            <option value="Dr">Dr</option>
                                            <option value="Pr">Prof</option>

                                        </select>
                                    </div>


                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" maxlength="60" required name="firstname[@i]" value="@guest.firstname" />
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input class="form-control" type="text" maxlength="60" required name="lastname[@i]" value="@guest.lastname" />
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <input class="dateinput form-control DOB" required name="date_of_birth[@i]" type="text" value="@guest.date_of_birth" />
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Citizenship</label>
                                        <input class="form-control" type="text" maxlength="50" required name="nationality[@i]" value="@guest.nationality" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <div class="form-group">
                                        <label>Passport Number</label>
                                        <input class="form-control" type="text" maxlength="20" required name="passport_number[@i]" value="@guest.passport_number" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Expiry Date</label>
                                        @{ var exp = guest.passport_expiry_date.HasValue ? guest.passport_expiry_date.Value.ToString("dd-MM-yyyy") : DateTime.Now.AddYears(2).ToString("dd-MM-yyyy"); }
                                        <input class="dateinput form-control" required name="passport_expiry_date[@i]" type="text" value="@exp" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-offset-3 col-md-3">
                                    <div class="form-group">
                                        <label>Flight No.</label>
                                        <input class="form-control" name="flight_number[@i]" required value="@guest.arrival_flight_no" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Flight Date</label>
                                        @*<input class="form-control date-pick-flight-date" required name="flight_date[@i]" value="@(booking.checkin_date.Value.ToString("dd-MM-yyyy"))" type="text" />*@
                                        <input class="form-control" placeholder="dd/mm/yyyy"  name="flight_date[@i]" value="" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Flight Arrival Time</label>
                                        @*<input class="form-control time-pick" name="flight_time[@i]" required value="@(booking.checkin_date.Value.ToString("HH:mm"))" type="text" />*@
                                        <input class="form-control" placeholder="hh:mm" name="flight_time[@i]" value="" type="text" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-3">
                                    <div class="form-group">
                                        <label>Dep Flight No.</label>
                                        <input class="form-control" name="depflight_number[@i]" required value="@guest.departure_flight_no" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Dep Flight Date</label>
                                        @*<input class="form-control date-pick-flight-date" name="depflight_date[@i]" required value="@(booking.checkout_date.Value.ToString("dd-MM-yyyy"))" type="text" />*@
                                        <input class="form-control" placeholder="dd/mm/yyyy" name="depflight_date[@i]" value="" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Dep Flight Arrival Time</label>
                                        @*<input class="form-control time-pick" required name="depflight_time[@i]" value="@(booking.checkout_date.Value.ToString("HH:mm"))" type="text" />*@
                                        <input class="form-control" name="depflight_time[@i]" placeholder="hh:mm" value="" type="text" />
                                    </div>
                                </div>

                            </div>


                        </li>
                        room = guest.booking_room.room_number;
                        i++;
                    }


</ul>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea name="remarks" class="form-control">@booking.remarks</textarea>
                    </div>
                </div>
            </div>
                <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-primary">Save and Finish</button>
                <br />


                <div class="gap gap-small"></div>


            </div>
        <div class="col-md-4">
            @Html.Partial("_BookingSummaryBox", booking)
        </div>


    </div>

                    }
    <div class="gap"></div>
</div>

@section scripts{
@Scripts.Render("~/bundles/maskedinput")

    
    <script>
        $(document).ready(function () {

 $("input[type=text]").each(function () {
                        $(this).prop('required', false);
                    });
		    
            //$('.dateinput').inputmask('dd/mm/yyyy');
            $.mask.definitions['c'] = "[0-3]";
            $.mask.definitions['d'] = "[0-9]";
            $.mask.definitions['e'] = "[0-1]";
            $.mask.definitions['f'] = "[0-9]";

            $.mask.definitions['g'] = "[1-2]";
            $.mask.definitions['h'] = "[0,9]";
            $.mask.definitions['i'] = "[0-9]";
            $.mask.definitions['j'] = "[0-9]";


            $(".dateinput").mask("cd-ef-ghij", { placeholder: "dd-mm-yyyy" });


           /* $('body').on('change', '.timelimit', function () {

                if ($(this).is(":checked")) {
                   
                    $("input[type=text]").each(function () {
                        $(this).prop('required', false);
                    });

                    $('.customer_phone').prop('required', false);
                    $('.customer_email').prop('required', false);
                }
                else
                {

                    $("input[type=text]").each(function () {
                        $(this).prop('required', true);
                    });
                }

            });*/

            $('body').on('change', '.changeGender', function () {

                var guestno = $(this).data("guestno");
                var sal = $(this).val();

                if (sal == 'Mr' || sal == 'Mstr')
                {
                    $('.male_' + guestno).prop('checked', true);
                    $('.female_' + guestno).prop('checked', false);
                };


                if (sal == 'Mrs' || sal == 'Ms') {
                    $('.female_' + guestno).prop('checked', true);
                    $('.male_' + guestno).prop('checked', false);
                };

                

            });

        });
    </script>
    
    }