﻿
@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<link href="~/Content/ionicons.css" rel="stylesheet" />


<div class="container">
    <h1 style="padding-top:20px">Contact Us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p><span class="ion ion-ios-location"></span>&nbsp;&nbsp;&nbsp;Thomas Cook Mauritius Holidays Ltd<br />
                &nbsp;&nbsp; &nbsp;&nbsp;Ground Floor, Anglo-Mauritius Building<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4th Intendance Street,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Port Louis, Mauritius.<br /><br />
                <span class="fa fa-phone"></span>&nbsp;&nbsp;+230 213 4141<br />
                <span class="fa fa-fax"></span>&nbsp;&nbsp;+230 210 2983<br />
                <span class="fa fa-envelope"></span>&nbsp;&nbsp;reservation@tci.mu<br />
            </p>
</div>
    </div>
    <div class="gap"></div>
</div>