﻿@model Booking_System.Models.ViewModel.SearchDetails
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var FeaturedHotelList = ViewBag.FeaturedList;
    var fullURL = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + HttpContext.Current.Request.ApplicationPath+ "/Front/Hotel/";

    var providers = ViewBag.location as List<SelectListItem>;
}
@Styles.Render("~/Content/plugins/select2.css")
<style>
    .select2-container{
        width:336px !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {

    padding-left: 45px;
    padding-top: 8px;
    height: 45px;

    }
    .select2-container--default .select2-selection--single .select2-selection__arrow
    {
        margin-top: 8px;
    }

</style>
@*
DEVELOPER NOTES

There a lots of arrays used in this page.
    Everytime one is used, a check is made to determine if the array exist, 
    if the length is greater than a certain loop count (for rooms and ages) and then the value is compared



*@

<!-- TOP AREA -->
<div id="top"></div>
<div class="top-area show-onload">
    <div class="bg-holder full">

        <div class="bg-front bg-front-mob-rel">
            <div class="container">
                <div class="search-tabs search-tabs-bg search-tabs-abs mt80">
                    @*<h1>Find Your Perfect Trip</h1>*@
                    <div class="tabbable">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="@(!Model.IsHoneymoon && !Model.IsPackage?"active":"")">
                                <a href="#tab-1" data-toggle="tab"><i class="fa fa-building-o"></i> <span>Hotels</span></a>
                            </li>

                            <li class="@(Model.IsPackage?"active":"")">
                                <a href="#tab-2" data-toggle="tab"><i class="fa fa-suitcase"></i> <span>Packages</span></a>
                            </li>

                            <li class="@(Model.IsHoneymoon?"active":"")">
                                <a href="#tab-3" data-toggle="tab"><i class="fa fa-heart"></i><span>Honeymoon</span></a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <!--Start of Hotel Details-->
                            <div class="tab-pane fade in active" id="tab-1">
                                @*<h2>Search and Save on Hotels</h2>*@

                                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IsHotel" value="true" />

                                    <div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Check-in</label>
                                                    <input class="form-control datepicker from_date" autocomplete="off" required name="Start" type="text" value="@(Model.Start<DateTime.Now.AddHours(-24)?"":Model.Start.ToString("dd-MM-yyyy"))" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                    <label>Check-out</label>
                                                    <input class="form-control datepicker to_date" required autocomplete="off" name="End" type="text" value="@(Model.End<DateTime.Now?"": Model.End.ToString("dd-MM-yyyy"))" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-flag input-icon"></i>
                                                    <label>Nationality</label>
                                                    <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Model.Nationality" />
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">

                                                    <i class="fa fa-map-marker input-icon"></i>
                                                    <label>Choose hotel (optional)</label>
                                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-select-plus">
                                                    <label>Rooms</label>
                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                        @for (int i = 1; i <= 4; i++)
                                                        {
                                                            <label class="btn btn-primary room @((Model.Rooms==0 && i==1)  || (Model.Rooms==i) ?"active":"")" data-num="@i">
                                                                <input type="radio" name="Rooms" value="@i" @((Model.Rooms == 0 && i == 1) || (Model.Rooms == i) ? "checked" : "") />@i
                                                            </label>

                                                        }
                                                        <label class="btn btn-primary room" style="display:none">
                                                            <input type="radio" name="Rooms" disabled value="99" />
                                                        </label>


                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Room #1</label>
                                                <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #1 </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Adult</label>
                                                <select class="select-style" required name="RoomAdults[0]" style="width:90%">
                                                    <option value="">0</option>
                                                    @for (int i = 1; i < 5; i++)
                                                    {
                                                        <option value="@i" @(Model.RoomAdults != null && Model.RoomAdults.Length > 0 && Model.RoomAdults[0] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>



                                            </div>
                                            <div class="col-md-2">
                                                <label>Children</label>
                                                <select class="select-style showchild" name="RoomChildren[0]" data-roomnum="1" style="width:90%">
                                                    @for (int i = 0; i < 3; i++)
                                                    {
                                                        <option value="@i" @(Model.RoomChildren != null && Model.RoomChildren.Length > 0 && Model.RoomChildren[0] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>


                                            </div>

                                            <div class="col-md-6">
                                                <label>Children Age</label>
                                                @* j denotes the Child number*@
                                                @for (int j = 1; j <= 3; j++)
                                                {
                                                    <div class="@("showchild_1_"+j)" style="@(Model.RoomChildAgeByNumber(j) != null  && Model.RoomChildAgeByNumber(j).Length>0  && Model.RoomChildren!=null && Model.RoomChildren[0] >=j ?"":"display:none")">
                                                        <select class="select-style childage" name="@("RoomChildAge"+@j+"[0]")">
                                                            @* i denotes the age of the child from 0 to 17*@
                                                            @for (int i = 2; i < 18; i++)
                                                            {
                                                                <option value="@i" @(Model.RoomChildAgeByNumber(j) != null && Model.RoomChildAgeByNumber(j).Length > 0 && Model.RoomChildAgeByNumber(j)[0] == i ? "selected" : "")>@i</option>
                                                            }
                                                        </select>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                        <div class="gap-mini"></div>

                                        @for (int k = 2; k < 6; k++)
                                        {

                                            <div class="row showroom-@k" style="@(Model.Rooms>=k?"" :"display:none")">
                                                <div class="col-md-2">
                                                    @*<label>Room #1</label>*@
                                                    <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #@k </div>
                                                </div>
                                                <div class="col-md-2">
                                                    @*<label>Adult</label>*@
                                                    <select class="select-style" name="RoomAdults[@(k-1)]" style="width:90%">
                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            <option value="@i" @(Model.RoomAdults != null && Model.RoomAdults.Length > (k - 1) && Model.RoomAdults[k - 1] == i ? "selected" : "")>@i</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    @*<label>Children</label>*@
                                                    <select class="select-style showchild" name="RoomChildren[@(k-1)]" data-roomnum="@k" style="width:90%">
                                                        @for (int i = 0; i < 3; i++)
                                                        {
                                                            <option value="@i" @(Model.RoomChildren != null && Model.RoomChildren.Length > (k - 1) && Model.RoomChildren[k - 1] == i ? "selected" : "")>@i</option>
                                                        }
                                                    </select>


                                                </div>

                                                <div class="col-md-6">
                                                    @*<label>Children Age</label>*@
                                                    @for (int j = 1; j <= 3; j++)
                                                    {
                                                        <div class="@("showchild_"+k+"_"+j)" style="@(Model.RoomChildAgeByNumber(j) != null  && Model.RoomChildAgeByNumber(j).Length>0  && Model.RoomChildren!=null && Model.RoomChildren[k-1] >=j ?"":"display:none")">
                                                            <select class="select-style childage" name="@String.Format("RoomChildAge{0}[{1}]",j,k-1 )">
                                                                @for (int i = 2; i < 18; i++)
                                                                {
                                                                    <option value="@i" @(Model.RoomChildAgeByNumber(j) != null && Model.RoomChildAgeByNumber(j).Length > (k - 1) && Model.RoomChildAgeByNumber(j)[k - 1] == i ? "selected" : "")>@i</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }

                                                </div>


                                            </div>
                                            <div class="gap-mini"></div>
                                        }


                                    </div>
                                    <br />
                                    <button class="btn btn-primary btn-lg submitsearch" type="submit" data-searchtype="1">Search for Hotels</button>
                                }

                            </div>
                            <!--End of Hotel Details-->
                            <!--Start of Package Details-->
                            <div class="tab-pane fade in" id="tab-2">


                                @*<h2>Search and Save on Packages</h2>*@

                                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IsPackage" value="true" />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Check-in</label>
                                                <input class="form-control datepicker package_start" autocomplete="off" required="required" name="Start" type="text" value="@(Model.Start<DateTime.Now.AddHours(-24)?"": Model.Start.ToString("dd-MM-yyyy"))" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-select-plus">
                                                <label>Nights</label>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                                    @*<label class="btn btn-primary @(Model.PackageNights==0?"active":"")">
                                                <input type="radio" name="PackageNights" value="0" @(Model.PackageNights == 0 ? "checked" : "") />?
                                            </label>*@

                                                    <label class="btn btn-primary active @(Model.PackageNights==4?"active":"")">
                                                        <input type="radio" name="PackageNights" value="4" checked="checked" />4
                                                    </label>

                                                    <label class="btn btn-primary  @(Model.PackageNights==6?"active":"") ">
                                                        <input type="radio" name="PackageNights" value="6" />6
                                                    </label>
                                                    <label class="btn btn-primary " style="display:none">
                                                        <input type="radio" name="" disabled value="99" />
                                                    </label>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-flag input-icon"></i>
                                                <label>Nationality</label>
                                                <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Model.Nationality" />
                                            </div>
                                        </div>

                                    </div>
                                    <div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">

                                                    <i class="fa fa-map-marker input-icon"></i>
                                                    <label>Choose hotel (optional)</label>
                                                    @*<input class="typeahead form-control" name="Location" placeholder="Hotel name" type="text" value="@Model.Location" />*@
                                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-select-plus">
                                                    <label>Rooms</label>
                                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                                        @for (int i = 1; i < 5; i++)
                                                        {
                                                            <label class="btn btn-primary roomPkg @((Model.Rooms==0 && i==1)  || (Model.Rooms==i) ?"active":"")" data-num="@i">
                                                                <input type="radio" name="Rooms" value="@i" @((Model.Rooms == 0 && i == 1) || (Model.Rooms == i) ? "checked" : "") />@i
                                                            </label>
                                                        }
                                                        <label class="btn btn-primary room" style="display:none">
                                                            <input type="radio" name="Rooms" disabled value="99" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Room #1</label>
                                                <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #1 </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Adult</label>



                                                <select class="select-style" style="width:90%" name="RoomAdults[0]">
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <option value="@i" @(Model.RoomAdults != null && Model.RoomAdults.Length > 0 && Model.RoomAdults[0] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>



                                            </div>
                                            <div class="col-md-2">
                                                <label>Children</label>
                                                <select class="select-style showchildPkg" data-roomnumpkg="1" style="width:90%" name="RoomChildren[0]">
                                                    @for (int i = 0; i < 3; i++)
                                                    {
                                                        <option value="@i" @(Model.RoomChildren != null && Model.RoomChildren.Length > 0 && Model.RoomChildren[0] == i ? "selected" : "")>@i</option>
                                                    }
                                                </select>


                                            </div>

                                            <div class="col-md-6">
                                                <label>Children Age</label>


                                                @for (int j = 1; j <= 3; j++)
                                                {
                                                    <div class="@("showchildPkg_1_"+j)" style="@(Model.RoomChildAgeByNumber(j) != null  && Model.RoomChildAgeByNumber(j).Length>0  && Model.RoomChildren!=null && Model.RoomChildren[0] >=j ?"":"display:none")">
                                                        <select class="select-style childage" name="@("RoomChildAge"+@j+"[0]")">


                                                            @for (int i = 2; i < 18; i++)
                                                            {
                                                                <option value="@i" @(Model.RoomChildAgeByNumber(j) != null && Model.RoomChildAgeByNumber(j).Length > 0 && Model.RoomChildAgeByNumber(j)[0] == i ? "selected" : "")>@i</option>
                                                            }
                                                        </select>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                        <div class="gap-mini"></div>

                                        @for (int k = 2; k < 6; k++)
                                        {


                                            <div class="row showroomPkg-@k" style="@(Model.Rooms>=k?"" :"display:none")">
                                                <div class="col-md-2">

                                                    <div style="border:1px solid #ccc;background:#EEE;padding:8px;border-radius:5px"><span class="fa fa-hotel"></span> #@k </div>
                                                </div>
                                                <div class="col-md-2">

                                                    <select class="select-style" style="width:90%" name="RoomAdults[@(k-1)]">
                                                        @for (int i = 0; i < 5; i++)
                                                        {
                                                            <option value="@i" @(Model.RoomAdults != null && Model.RoomAdults.Length > (k - 1) && Model.RoomAdults[k - 1] == i ? "selected" : "")>@i</option>
                                                        }
                                                    </select>



                                                </div>
                                                <div class="col-md-2">

                                                    <select class="select-style showchildPkg" data-roomnumpkg="@k" style="width:90%" name="RoomChildren[@(k-1)]">
                                                        @for (int i = 0; i < 3; i++)
                                                        {
                                                            <option value="@i" @(Model.RoomChildren != null && Model.RoomChildren.Length > (k - 1) && Model.RoomChildren[k - 1] == i ? "selected" : "")>@i</option>
                                                        }
                                                    </select>


                                                </div>

                                                <div class="col-md-6">

                                                    @for (int j = 1; j <= 3; j++)
                                                    {
                                                        <div class="@("showchildPkg_"+k+"_"+j)" style="@(Model.RoomChildAgeByNumber(j) != null  && Model.RoomChildAgeByNumber(j).Length>0  && Model.RoomChildren!=null && Model.RoomChildren[k-1] >=j ?"":"display:none")">
                                                            <select class="select-style childage" name="@String.Format("RoomChildAge{0}[{1}]",j,k-1 )">
                                                                @for (int i = 2; i < 18; i++)
                                                                {
                                                                    <option value="@i" @(Model.RoomChildAgeByNumber(j) != null && Model.RoomChildAgeByNumber(j).Length > (k - 1) && Model.RoomChildAgeByNumber(j)[k - 1] == i ? "selected" : "")>@i</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }

                                                </div>


                                            </div>
                                            <div class="gap-mini"></div>
                                        }


                                    </div>
                                    <br />
                                    
                                    <button class="btn btn-primary btn-lg submitsearch" type="submit" data-searchtype="2">Search for Packages</button>

                                }

                            </div>

                            <!--End of Package Details-->
                            <!--Start of Honeymoon Details-->
                            <div class="tab-pane fade in" id="tab-3">

                                @*<h2>Honeymoon Specials</h2>*@

                                @using (Html.BeginForm("Search", "Front", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="IsHoneymoon" value="true" />
                                    <input type="hidden" name="RoomAdults[0]" value="2" />
                                    <input type="hidden" name="RoomChildren[0]" value="0" />
                                    <input type="hidden" name="RoomChildAge1[0]" value="0" />
                                    <input type="hidden" name="RoomChildAge2[0]" value="0" />
                                    <input type="hidden" name="RoomChildAge3[0]" value="0" />
                                    <input type="hidden" name="RoomChildAge4[0]" value="0" />
                                    <input type="hidden" name="RoomChildAge5[0]" value="0" />

                                    <input type="hidden" id="IsHotel" name="IsHotel" value="true" />
                                    <input type="hidden" id="IsPackage" name="IsPackage" value="false" />

                                    <input type="hidden" name="Rooms" value="1" />

                                    <div class="row">
                                        <div class="col-md-6">
                                            @*<div class="form-group form-group-lg form-group-icon-left">*@
                                            <div style="margin-top:20px">
                                                <label class="hotelorpackage-label">
                                                    Hotel:  <input class="honeymoon" id="hotelsel" checked type="radio" name="HoneymoonHotelOrPackage" value="hotel" />
                                                </label>
                                                <label class="hotelorpackage-label">
                                                    Package: <input class="honeymoon" id="packagesel" type="radio" name="HoneymoonHotelOrPackage" value="package" />
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Check-in</label>
                                                <input class="form-control datepicker from_date" autocomplete="off" required="required" name="Start" type="text" value="@(Model.Start<DateTime.Now.AddHours(-24)?"": Model.Start.ToString("dd-MM-yyyy"))" />
                                            </div>
                                        </div>

                                        <div class="col-md-3 hideme showhotel">
                                            <div class="form-group form-group-lg form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                <label>Check-out</label>
                                                <input class="form-control datepicker to_date" autocomplete="off" name="End" type="text" value="@(Model.End<DateTime.Now?"": Model.End.ToString("dd-MM-yyyy"))" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 hideme showpackage" style="display:none">
                                            <div class="form-group form-group-lg form-group-select-plus">

                                                <label>Nights</label>
                                                <div class="btn-group btn-group-select-num" data-toggle="buttons">

                                                    @*<label class="btn btn-primary @(Model.PackageNights==0?"active":"")">
                                                <input type="radio" name="PackageNights" value="0" @(Model.PackageNights == 0 ? "checked" : "") />?
                                            </label>*@

                                                    <label class="btn btn-primary active @(Model.PackageNights==4?"active":"")">
                                                        <input type="radio" name="PackageNights" value="4" @(Model.PackageNights == 4 ? "checked" : "") />4
                                                    </label>

                                                    <label class="btn btn-primary  @(Model.PackageNights==6?"active":"") ">
                                                        <input type="radio" name="PackageNights" value="6" @(Model.PackageNights == 6 ? "checked" : "") />6
                                                    </label>


                                                    <label class="btn btn-primary " style="display:none">
                                                        <input type="radio" name="" disabled value="99" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <style>
                                            .hotelorpackage-label {
                                                display: inline-block;
                                                padding: 10px 25px;
                                            }
                                        </style>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">

                                                    <i class="fa fa-map-marker input-icon"></i>
                                                    <label>Where are you going?</label>
                                                    @*<input class="typeahead form-control" name="Location" placeholder="Hotel name" type="text" value="@Model.Location" />*@
                                                    @Html.DropDownList("location", providers, "All Hotels", htmlAttributes: new { @class = "form-control select2" })

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <i class="fa fa-flag input-icon"></i>
                                                    <label>Nationality</label>
                                                    <input class="typeahead-country form-control" name="Nationality" placeholder="Nationality" type="text" value="@Model.Nationality" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gap-mini"></div>
                                    </div>
                                    
                                    <button class="btn btn-primary btn-lg submitsearch" type="submit" data-searchtype="3">Search for Specials</button>
                                }

                            </div>
                            <!--End of Honeymoon Details-->
                            @*<div class="gap"></div>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="owl-carousel owl-slider owl-carousel-area visible-lg" id="owl-carousel-slider">
            @foreach (var fh in FeaturedHotelList)
            {
                var pic = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), Booking_System.Helpers.ConfigurationHelper.NoProviderImage());
                if(fh.picture != null)
                {
                    pic = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), fh.picture.FullFileName);
                }

                
                <div class="bg-holder full">
                    @*<div class="bg-mask"></div>*@
                    <div class="bg-blur" style="background-image:url(@pic);"></div>
                    <div class="bg-content">
                        <div class="container">
                            <div class="loc-info text-right hidden-xs hidden-sm">
                                <h3 class="loc-info-title">@fh.provider.name</h3>                              
                                <ul class="loc-info-list">                              
                                @*@foreach (var pr in fh.provider.promotions)*@
                                @{
                                    Random random = new Random();
                                    HashSet<Booking_System.Models.promotion> prms = fh.provider.promotions;
                                    if (prms.Count > 0)
                                    {
                                        var pr = prms.ElementAt(random.Next(0, prms.Count));
                                        <li>
                                            <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.name &lt;br/&gt;&lt;br/&gt;@pr.description">
                                                <span class="fa fa-tag"></span>  <b>
                                                    @pr.name
                                                    @*@if (!pr.is_honeymoon && pr.discount != 0)
                                                    {
                                                        @(string.Concat(pr.discount, "%"))
                                                    }*@
                                                </b>
                                            </div>
                                            <div class="clear" style="margin:5px"></div>
                                        </li>
                                    }
                                }
                                   
                                </ul><a class="btn btn-white btn-ghost mt10" href="@Url.Action("HotelDetails", new { id = fh.provider_id})"><i class="fa fa-angle-right"></i> View hotel details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
      
    </div>
    
</div>
<!-- END TOP AREA  -->


<div class="gap"></div>

<h2 class="text-center">Why choose tci</h2>
<br/>
<div class="container">
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row row-wrap" data-gutter="120">
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i style="height: 60px;width: 60px;display: block;">
                                <img src="@Url.Content("~/images/wallet-xxl.png")" />
                            </i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Unbeatable deals </a></h5>
                            <p class="thumb-desc">Value  for money </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i style="height: 60px;width: 60px;display: block;">
                                <img src="@Url.Content("~/images/team.png")" />
                            </i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Your Travel Solution</a></h5>
                            <p class="thumb-desc">Tailored holiday package from budget to luxury</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i style="height: 60px;width: 60px;display: block;">
                                <img src="@Url.Content("~/images/team.png")" />

                            </i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Dedicated Team</a></h5>
                            <p class="thumb-desc">Our experienced and inspired experts at your service</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i style="height: 60px;width: 60px;display: block;">
                                <img src="@Url.Content("~/images/support.png")" />

                            </i>
                        </header>
                        <div class="thumb-caption">
                            <h5 class="thumb-title"><a class="text-darken" href="#">Customer Care</a></h5>
                            <p class="thumb-desc">24/7 Assistance</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap gap-small"></div>
</div>

@if (FeaturedHotelList!= null && FeaturedHotelList.Count != 0)
{ 
<div class="container featured">
    @*<div class="gap"></div>*@
    <h2 class="text-center">Featured Hotels</h2>
    <div class="gap">
        <div class="row row-wrap">
            <!-- Loop here-->
            @foreach (var fh in FeaturedHotelList)
            {
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            @*<a class="hover-img curved" href="@string.Concat(fullURL,fh.provider_id)">*@
                            <a class="hover-img curved" href="@Url.Action("HotelDetails", new { id = fh.provider_id})">
                                @*<img src="@Url.Content("~/Images/maritim.png")" alt="Image Alternative text" title="196_365" />*@
                                @if (fh.picture != null)
                                {
                                    <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), fh.picture.FullFileName)" alt="@fh.picture.title" title="@fh.picture.title" />
                                }
                                else
                                {
                                    <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), Booking_System.Helpers.ConfigurationHelper.NoProviderImage())" alt="" title="" />
                                }

                            </a>
                        </header>
                        <div class="img-left">
                            @*<img src="@Url.Content("~/Images/front/flag/mu.png")" alt="Image Alternative text" title="Image Title" />*@
                        </div>
                        <div class="thumb-caption">
                            <h4 class="thumb-title"><a class="text-darken" href="#">@fh.provider.name</a></h4>
                            <div class="thumb-caption">
                                <p class="thumb-desc">@Html.Raw(@fh.description)</p>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>


</div>
}
    
@section scripts {
@Scripts.Render("~/bundles/front-home")
    @Scripts.Render("~/Scripts/plugins/select2.js")

@*<script src="~/Scripts/custom/shared.js"></script>*@
@*<script src="~/Scripts/jquery-2.2.0.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('.select2').not('.noselect2').select2();
        $frontURL = getVirtualDir() + 'Front/Hotel/';



        /* search for hotel validation*/
        $(function () {
            $(".submitsearch").click(function (event) {
                event.preventDefault();

                //<button class="btn btn-primary btn-lg submitsearch" type="submit" data-searchtype="2">Search for Packages</button>
                var $form = $(this).closest("form");
                var $type = $(this).data('searchtype');

                
                if (ValidateSearch($form,$type)) {
                    $($form).submit();
                }
            });
        });



        function ValidateSearch($form, $type) {
            var $errormsg = '';

            var num_rooms = $($form).find('input[name="Rooms"]:checked').val();

            if ($($form).find('input[name="Start"]').val().length == 0) {
                $errormsg = $errormsg + 'Check-In Date is Missing \n';
            }

            if ($type == 1) {

                if ($($form).find('input[name="End"]').val() == '') {
                    $errormsg = $errormsg + 'Check-Out Date is Missing \n';
                }
            }


            if ($type == 3)
            {
                var HoP = $($form).find('input[name="HoneymoonHotelOrPackage"]:checked').val();
                if (HoP == 'hotel')
                {
                    if ($($form).find('input[name="End"]').val() == '') {
                        $errormsg = $errormsg + 'Check-Out Date is Missing \n';
                    }
                }                                
            }


            if ($type == 1 || $type == 2)
            {


                var num_adults_1 = $($form).find('select[name="RoomAdults[0]"]').val();
                var num_children_1 = $($form).find('select[name="RoomChildren[0]"]').val();
                var total_guests_1 = +num_adults_1 + +num_children_1;

                if (total_guests_1 == 0) {
                    $errormsg = $errormsg + 'Number of Guests is Missing for Room 1\n';
                }


                var num_adults_2 = $($form).find('select[name="RoomAdults[1]"]').val();
                var num_children_2 = $($form).find('select[name="RoomChildren[1]"]').val();
                var total_guests_2 = +num_adults_2 + +num_children_2;

                var num_adults_3 = $($form).find('select[name="RoomAdults[2]"]').val();
                var num_children_3 = $($form).find('select[name="RoomChildren[2]"]').val();
                var total_guests_3 = +num_adults_3 + +num_children_3;

                var num_adults_4 = $($form).find('select[name="RoomAdults[3]"]').val();
                var num_children_4 = $($form).find('select[name="RoomChildren[3]"]').val();
                var total_guests_4 = +num_adults_4 + +num_children_4;


                if (num_rooms == 2) {
                    if (total_guests_2 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 2\n';
                    }
                }

                if (num_rooms == 3) {
                    if (total_guests_2 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 2\n';
                    }

                    if (total_guests_3 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 3\n';
                    }
                }

                if (num_rooms == 4) {
                    if (total_guests_2 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 2\n';
                    }

                    if (total_guests_3 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 3\n';
                    }

                    if (total_guests_4 == 0) {
                        $errormsg = $errormsg + 'Number of Guests is Missing for Room 4\n';
                    }
                }


            }
        



            if ($errormsg.length > 0)
            {
                $errormsg = "Found some errors, please correct to proceed:\n\n" + $errormsg;
                alert($errormsg);
                return false;
            }

            return true;
        }




        $('body').on('click', '.honeymoon', function () {

            $('.hideme').hide();
            if ($('.honeymoon').is(':checked'))
            {
                var ch = $(this).val();
                if (ch == "hotel")
                {
                    $('#IsHotel').val(true);
                    $('#IsPackage').val(false);

                    $('.showhotel').show();
                } else {
                    $('#IsHotel').val(false);
                    $('#IsPackage').val(true);

                    $('.showpackage').show();

                }
            }
        });



    });
</script>
    
    }
