﻿@model Booking_System.Models.ViewModel.HotelSearchResult
@using session = Booking_System.Helpers.UserSession
@using utils = Booking_System.Helpers.Utils

@{
    ViewBag.Title = "Honeymoon Search Result";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var numberGuests = Model.NumGuests;
    var numRooms = ViewBag.NumRoomsOrdered;

}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home",new { Resume = 1 })">Search</a>
        </li>
        <li class="active">Found Hotels</li>
    </ul>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        <h3>Search for Hotel</h3>

    </div>

    <div class="booking-item-dates-change mb40">
        <h3 class="booking-title">
            <span class="fa fa-building-o"></span> Found @Model.Hotels.Count hotels on  @Model.Start.ToString("MMM dd")  - @Model.End.ToString("MMM dd") for @Model.NumGuests Guest(s)
            @(Model.NumMinors > 0 ? string.Format("Including {0} child(ren)", Model.NumMinors) : "")
        </h3>
    </div>
    <div class="row   @(Model.Hotels.Count==0?"hidden":"")">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <li>
                        <h5 class="booking-filters-title">Price</h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Star Rating</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="5" checked />5 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="4" checked />4 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="3" checked />3 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="2" checked />2 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="1" checked />1 star
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">

            <div id="result-list">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><span class="sorttype"> </span></a></h5>
                    <ul class="nav-drop-menu">
                        <li>
                            <a href="#" data-sort="booking-item-price">Price</a>
                        </li>

                        <li>
                            <a href="#" data-sort="booking-item-rating" class="sort">Ranking</a>
                        </li>
                        @*    <li>
                                <a href="#">Distance</a>
                            </li>
                            <li>
                                <a href="#">Number of Reviews</a>
                            </li>*@
                    </ul>
                </div>
                <ul class="booking-list list">

                    @foreach (var item in Model.Hotels)
                    {


                        if (item.NumRoomsFound >= numRooms)
                        {



                            <li>

                                <a class="booking-item" href="@Url.Action(Model.IsPackage ? "Package" : "Hotel", new { id = item.Hotel.provider_id, nights = item.NumberNights, currency = item.Currency })">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="booking-item-img-wrap">
                                                @{
                            string picpath = string.Empty;

                            if (item.Hotel.provider_picture.Count > 0)
                            {
                                var pic = item.Hotel.provider_picture.FirstOrDefault();
                                picpath = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), pic.picture.FullFileName);

                            }
                            else
                            {
                                picpath = Url.Content("~/images/no-image.png");
                            }

                                                }
                                                <img src="@picpath" alt="@item.Hotel.name" title="@item.Hotel.name" />
                                                <div class="booking-item-img-num"><i class="fa fa-picture-o"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="booking-item-rating" data-star-rating="@item.Hotel.star_rating">
                                                <ul class="icon-group booking-item-rating-stars">
                                                    @for (int i = 1; i <= item.Hotel.star_rating; i++)
                                                    {
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    }
                                                    @for (int i = 1; i <= (5 - item.Hotel.star_rating); i++)
                                                    {
                                                        <li>
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    }

                                                </ul><span class="booking-item-rating-number"><b>@item.Hotel.star_rating</b> of 5</span>
                                            </div>
                                            <h5 class="booking-item-title">@item.Hotel.name</h5>
                                            <p class="booking-item-address"><i class="fa fa-map-marker"></i> @item.Hotel.street1, <br />@item.Hotel.street2 <br />@item.Hotel.town</p><small class="booking-item-last-booked"></small>
                                        </div>
                                        <div class="col-md-3">
                                            <table>

                                                <tr>
                                                    <td>@item.NumRoomsFound </td>
                                                    <td> x Rooms Found</td>
                                                </tr>

                                                @if (Model.NumAdults > 0)
                                                {

                                                    <tr>
                                                        <td>@Model.NumAdults &nbsp;</td>
                                                        <td> x Adults = @utils.InclPercMarkup(item.PriceAdults, item.Symbol)</td>
                                                    </tr>

                                                }


                                                @if (Model.NumInfants > 0)
                                                {

                                                    <tr>
                                                        <td>@Model.NumInfants &nbsp;</td>
                                                        <td> x Infants = @utils.InclPercMarkup(item.PriceInfants, item.Symbol)</td>
                                                    </tr>
                                                }

                                                @if (Model.NumChildren > 0)
                                                {

                                                    <tr>
                                                        <td>@Model.NumChildren &nbsp;</td>
                                                        <td> x children = @utils.InclPercMarkup(item.PriceChildren, item.Symbol)</td>
                                                    </tr>
                                                }

                                                @if (Model.NumTeens > 0)
                                                {

                                                    <tr>
                                                        <td>@Model.NumTeens &nbsp;</td>
                                                        <td> x Teens = @utils.InclPercMarkup(item.PriceTeens, item.Symbol)</td>
                                                    </tr>
                                                }
                                            </table>
                                            @foreach (var pr in item.Promotions)
                                            {
                                                if (pr.free_nights > 0)
                                                {
                                                    <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description"><span class="fa fa-tag"></span>  <b>@pr.name @pr.free_nights free night</b></div>
    <div class="clear" style="margin:5px"></div>
                                                }
                                                else
                                                {

                                                    <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description">
                                                        <span class="fa fa-tag"></span>  <b>
                                                            @pr.name
                                                       @if (!pr.is_honeymoon)
                                                       {
                                                            @(string.Concat(pr.discount, "% off"))
                                                        }
                                                    </b>
                                                </div>
    <div class="clear" style="margin:5px"></div>
                                                }
                                            }

                                        </div>

                                        <div class="col-md-3">

                                            @if (item.PriceTotal > 0)
                                            {
                                                <div class="text-right">

                                                    <h5 class=""><span class="label label-default">@(Model.IsPackage ? string.Format("{0}-Night Package", item.NumberNights) : "")</span></h5>
                                                    <span class="text-center booking-item-price" data-price="@item.PromotionalPrice"> @utils.InclPercMarkup(item.PromotionalPrice, item.Symbol) </span>
                                                    @if (item.PromotionalPrice < @item.PriceTotal)
                                                    {
                                                        <div class="slashed font15">@utils.InclPercMarkup(item.PriceTotal, item.Symbol)</div>
                                                    }
                                                    <div class="btn btn-primary text-right">See Details</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <br />
                                                <span class="btn btn-primary">More Details</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                </a>
                            </li>
                        }
                    }


                </ul>
                <ul class="pagination"></ul>
            </div>

        </div>
    </div>
    <div class="gap"></div>
</div>

<style>
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
</style>


@section scripts {
    @Scripts.Render("~/bundles/front-result");
<script>
    $(document).ready(function () {
        $('body').tooltip({
            selector: '[rel="tooltip"]'
        });
    });
</script>
}