﻿@model Booking_System.Models.ViewModel.HotelOrPackageViewModel
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession

@{
    ViewBag.Title = "Hotel or Package";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var bookingId = 0;

    if (booking != null)
    {
        bookingId = booking.booking_id;
    }

    var searchCritXml = session.Current.HotelSearchCriteriaXML;
    Booking_System.Models.ViewModel.HotelSearchCriteria search = utils.DeserializeXml<Booking_System.Models.ViewModel.HotelSearchCriteria>(searchCritXml);


}


<div class="container hotelorpackage">
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        @* Search box *@
        @Html.Partial("_SearchBox")
        @* End search box*@
    </div>
    
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
        <li class="active">@Model.Hotel.name</li>
    </ul>
    <br />
    <ul class="progress-indicator">
        @if (bookingId > 0)
        {
            <li class="completed"><a href="#"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
            <li class=""><a href="@Url.Action("Supplements", new { id = bookingId })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
            <li class=""> <a href="@Url.Action("Transfer", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
            <li class=""> <a href="@Url.Action("Activities", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
            <li class=""> <a href="@Url.Action("Rental", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
            <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
        }
        else
        {
            <li class="completed"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </li>
            <li class=""> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements  </li>
            <li class=""><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer  </li>
            <li class=""><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities   </li>
            <li class=""><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental  </li>
            <li> <span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </li>

        }

    </ul>

    <div class="booking-item-details">
        <h2 class="lh1em">@Model.Hotel.name</h2>
        
        <div class="gap gap-small"></div>
@using (Html.BeginForm("CreateBooking", "Front", FormMethod.Post))
                        {
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-tabs" id="myTab2">
                    <li class="active">
                        <a href="#tab-3" data-toggle="tab"><b>Available rooms</b></a>
                    </li>
                    @if (Model.IsPackage) { 
                    <li>
                        <a href="#tab-4" data-toggle="tab">Package Description</a>
                    </li>
                    }
                    <li>
                        <a href="#tab-1" data-toggle="tab">Photos</a>
                    </li>
                    <li>
                        <a href="#tab-2" data-toggle="tab">About</a>
                    </li>
                    <li>
                        <a href="#google-map-tab" data-toggle="tab">On the Map</a>
                    </li>
                    <li>
                        <a href="#tab-5" data-toggle="tab">Facilities</a>
                    </li>
                </ul>
                <div class="gap gap-small"></div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-3">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="bookingtype" value="@(Model.IsPackage?2:1)" />
                            <input type="hidden" name="bookingref" value="@Model.BookingRef" />
                            <input type="hidden" name="package_id" value="@ViewBag.PackageId" />

                            <ul class="booking-list ">
                                @{ var i = 0; var roomnum = 0;}
                                @foreach (var item in Model.FoundRooms.OrderBy(o => o.room_sequence).ThenBy(p => p.TotalCostIncludingChargesAndPromotions))
                                {
                                    //var isActive = Model.roomAndPrice.Where(x => x.OccupancyNumber == item.OccupancyNumber).Count() == 1 ? "active" : "";

                                    if (roomnum < item.room_sequence)
                                    {
                                        <li><h5>Room @item.room_sequence @Html.Raw(utils.OccupancyIcons(item.RoomOccupancy.NumAdults, item.RoomOccupancy.NumInfants, item.RoomOccupancy.NumChildren, item.RoomOccupancy.NumTeens))</h5></li>

                                        { roomnum++; }
                                    }
                                    <li>

                                     
                                        @if (item.IsUnavailable)
                                        {
                                            <div class="ribbon red"><span>Sold out</span></div>
                                        }
                                        else if (item.Room.room_allotment.Any() && item.Room.room_allotment.Where(x => x.allotment_date == search.FromDate && x.allotment_amount > 0).ToList().Count > 0)
                                        {
                                            <div class="ribbon"><span>Available</span></div>
                                        }
                                        

                                        <a class="@(item.IsUnavailable ? "booking-item-na" : "booking-item") room_@item.room_sequence @(item.isSelected ? "active-booking-item" : "")" data-occupancynumber="@item.room_sequence" data-roomid="@item.Room.room_id" data-baseprice="@item.Baseprice.base_price_id">


                                            <input type="hidden" class="reset_room_@item.room_sequence" id="@(string.Format("baseprice_{0}_{1}", item.room_sequence, item.Baseprice.base_price_id))" name="baseprice[@i]" value="@(item.isSelected ? item.Baseprice.base_price_id : 0)" />
                                            <input type="hidden" class="reset_room_@item.room_sequence" id="@(string.Format("roomid_{0}_{1}", item.room_sequence, item.Room.room_id))" name="roomid[@i]" value="@(item.isSelected ? item.Room.room_id : 0)" />


                                            
                                            @*<input type="hidden" id="chosen_@item.Room.room_id" class="falsifyme_@item.OccupancyNumber" name="chosen[@item.OccupancyNumber]" value="false" />*@


                                            <div class="row">
                                                <div class="col-md-3">
                                                    @*<p>Room @item.room_sequence</p>*@
                                                    <h5 class="booking-item-title" style="margin-left:15px;">@item.Room.name</h5>
                                                    @if (item.Room.room_picture.Count > 0)
                                                    {
                                                        <img class="img-responsive roomImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetRoomImgPath()), item.Room.room_picture.FirstOrDefault().picture.FullFileName)" alt="@item.Room.name" />

                                                    }
                                                    else
                                                    {
                                                        <img class="img-responsive roomImgs" src="@Url.Content("~/images/no-image.png")" alt="@item.Room.name" />


                                                    }
                                                    @if (!(item.Room.room_allotment.Any() && item.Room.room_allotment.Where(x => x.allotment_date == search.FromDate && x.allotment_amount > 0).ToList().Count > 0))                                               
                                                    {
                                                        <div class="label label-warning">On Request</div>
                                                    }
                                                </div>
                                                <div class="col-md-6 text-small">

                                                    <p class="text-small">@Html.Raw(item.Room.description)</p>
                                                    <ul class="booking-item-features booking-item-features-sign clearfix">
                                                        <li rel="tooltip" data-placement="top" title="Adults Occupancy">
                                                            <i class="fa fa-male"></i><span class="booking-item-feature-sign">
                                                                x @item.RoomOccupancy.NumAdults
                                                            </span>
                                                        </li>


                                                        @if (item.RoomOccupancy.NumInfants + item.RoomOccupancy.NumChildren + item.RoomOccupancy.NumTeens > 0)
                                                        {
                                                            <li rel="tooltip" data-placement="top" title="Children Occupancy">
                                                                <i class="fa fa-child"></i><span class="booking-item-feature-sign">
                                                                    x @(item.RoomOccupancy.NumInfants + item.RoomOccupancy.NumChildren + item.RoomOccupancy.NumTeens)
                                                                </span>
                                                            </li>
                                                        }

                                                        <li rel="tooltip" data-placement="top" title="Beds">
                                                            <i class="im im-bed"></i><span class="booking-item-feature-sign">x @(item.RoomOccupancy.NumAdults > 2 ? "2" : "1")</span>
                                                        </li>
                                                        <li rel="tooltip" data-placement="top" title="Room footage (square feet)">
                                                            <i class="im im-width"></i><span class="booking-item-feature-sign">@item.Room.room_size</span>
                                                        </li>

                                                        <li rel="tooltip" data-placement="top" title="@item.Baseprice.meal_plan.name">
                                                            <i class="fa fa-cutlery"></i><span class="booking-item-feature-sign" title="@item.Baseprice.meal_plan.name">@item.Baseprice.meal_plan.code</span>
                                                        </li>


                                                    </ul>
                                                    <ul class="booking-item-features booking-item-features-small clearfix">
                                                        @foreach (var feat in item.Room.room_feature)
                                                        {
                                                            <li rel="tooltip" data-placement="top" title="@feat.feature.name">
                                                                <i class="@feat.feature.icon"></i>
                                                            </li>
                                                        }



                                                    </ul>
                                                   
    



                                                </div>
                                                
                                                
                                                <div class="col-md-3">
                                                    <input type="hidden" name="totalcharges[@i]" value="@item.TotalCompulsoryCharges" />
                                                    <input type="hidden" name="chargesname[@i]" value="@item.charge_name" />
                                                    @if (item.TotalCompulsoryCharges > 0)
                                                    {                                                        
                                                        <p>incl. @item.charge_name: <b>@utils.InclPercMarkup(item.TotalCompulsoryCharges, item.Baseprice.market.currency.symbol)</b></p>
                                                        
                                                    }
                                                    <div class="text-center">

                                                        <span class="booking-item-price">
                                                            
                                                            @utils.InclPercMarkup(item.TotalCostIncludingChargesAndGroundhandling, item.Baseprice.market.currency.symbol)
                                                            </span>

                
</div>
                                                    @if (item.IsUnavailable)
                                                    {
                                                        <span style="width:100%" class="btn btn-danger">Room Unavailable</span>
                                                    }
                                                    else
                                                    {

                                                    <span style="width:100%" class="btn btn-primary">Select</span>

                                                    }
                                                    <br />

                                                    
                                                    
                                                    
                                                        <table class="table table-condensed">
                                                            <tr>
                                                                <th><span class="fa fa-calculator"></span></th>
                                                                <th><span class="fa fa-male"></span></th>
                                                                <th><span class="fa fa-tag"></span></th>
                                                                <th><span class="fa fa-moon-o"></span></th>
                                                            </tr>

                                                            @if (item.RoomOccupancy.NumAdults > 0)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        Adult
                                                                    </td>
                                                                    <td>
                                                                        @item.RoomOccupancy.NumAdults
                                                                    </td>
                                                                    <td>
                                                                        @if (Model.IsPackage)
                                                                        {
                                                                            @utils.InclPercMarkup((item.TotalPriceAdult + item.charges_adult + item.ground_handling_adult), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                        else
                                                                        {
                                                                            @utils.InclPercMarkup((item.TotalPriceAdult + item.charges_adult), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @item.nights
                                                                    </td>
                                                                </tr>
                                                            }

                                                            @if (item.RoomOccupancy.NumTeens > 0)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        Teen
                                                                    </td>
                                                                    <td>
                                                                        @item.RoomOccupancy.NumTeens
                                                                    </td>
                                                                    <td>
                                                                        @if (Model.IsPackage)
                                                                        {
                                                                            @utils.InclPercMarkup((item.total_per_teen + item.charges_teen + item.ground_handling_teen), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                        else
                                                                        {
                                                                            @utils.InclPercMarkup((item.total_per_teen + item.charges_teen), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @item.nights
                                                                    </td>

                                                                </tr>
                                                            }

                                                            @if (item.RoomOccupancy.NumChildren > 0)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        Child
                                                                    </td>
                                                                    <td>
                                                                        @item.RoomOccupancy.NumChildren
                                                                    </td>
                                                                    <td>
                                                                        @if (Model.IsPackage)
                                                                        {
                                                                            @utils.InclPercMarkup((item.total_per_child + item.charges_child + item.ground_handling_child), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                        else
                                                                        {
                                                                            @utils.InclPercMarkup((item.total_per_child + item.charges_child), item.Baseprice.market.currency.symbol)
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @item.nights
                                                                    </td>

                                                                </tr>
                                                            }

                                                            @if (item.RoomOccupancy.NumInfants > 0)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        Child(@Model.Hotel.guest_type.First().infant_min_age -  @Model.Hotel.guest_type.First().infant_max_age)
                                                                    </td>
                                                                    <td>
                                                                        @item.RoomOccupancy.NumInfants
                                                                    </td>
                                                                    <td>
                                                                        @utils.InclPercMarkup((item.total_per_infant + item.charges_infant), item.Baseprice.market.currency.symbol)
                                                                    </td>
                                                                    <td>
                                                                        @item.nights
                                                                    </td>

                                                                </tr>
                                                            }

                                                        </table>
                                                    
                                                    @if (item.IsUnavailable)
                                                    {
                                                        <small><b>Unavailable dates:</b></small>
                                                        foreach (var dt in item.UnavailableDates)
                                                        {
                                                            <br />@:&bull;&nbsp; <small>@dt.ToString("dd-MMM-yyyy")</small>
                                                        }
                                                        <input type="hidden" name="allotment[@i]" value="0" />
                                                    }
                                                    else
                                                    {
                                                        if (item.allotments > 0 && !item.IsUnavailable)
                                                        {
                                                            <p>
                                                                @{
                                                                    var num_allotments = 0;
                                                                    if (item.Room.room_allotment.Where(x => x.allotment_date == search.FromDate).Any())
                                                                    {
                                                                        num_allotments = item.Room.room_allotment.Where(x => x.allotment_date == search.FromDate).FirstOrDefault().allotment_amount;
                                                                    } 
                                                                            

                                                                }
                                                                <small class="label label-success">


                                                                    <b>Rooms Available</b>: @num_allotments

                                                                </small>

                                                                <input type="hidden" name="allotment[@i]" value="@num_allotments" />
                                                            </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="hidden" name="allotment[@i]" value="0" />

                                                                        }


                                                                    }

                                                </div>
                                            </div>
                                            @{
                                                if (item.Promosets.Count > 0)
                                                {
                                                    var first = item.Promosets.FirstOrDefault();

                                                }
                                                var    z = 0;
                                            }

                                            <table class="table table-condensed">
                                                @foreach (var p in item.Promosets.OrderBy(x => x.TotalCostIncludingChargesAndPromotions))
                                                {
                                                 
                                                    <tr>
                                                        <th style="width:4%">
                                                            <input type="radio" name="promoset[@i]" @(z==0?"checked":"") value="@p.setid" />
                                                        </th>
                                                        <th>
                                                        @{
                                                            z++;
                                                            var j = 0;
                                                        }
                                                        @foreach (var pr in p.Promotions)
                                                        {
                                                            if (j > 0)
                                                            {
                                                            <span> + </span>
                                                                j = 0;
                                                            }
                                                            <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.name&lt;br/&gt;&lt;br/&gt;code:- @pr.code &lt;br/&gt;&lt;br/&gt;@pr.description">
                                                                <span class="fa fa-tag"></span>  <b>
                                                                    @pr.name
                                                                  
                                                                </b>
                                                            </div>
                                                            j++;
                                                        }
                                                        </th>
                                                        <th style="width:15%;text-align:right">
                                                            <div data-html="true" rel="tooltip" data-original-title="@utils.InclPercMarkup(p.TotalAdultWithPromotion)/adult - @utils.InclPercMarkup(p.TotalChildWithPromotion)/child - @utils.InclPercMarkup(p.TotalTeenWithPromotion)/teen">
                                                                @utils.InclPercMarkup(p.TotalCostIncludingChargesAndPromotions,item.Baseprice.market.currency.symbol)
                                                            </div>
</th>
                                                    </tr>
                                                            }
                                                </table>
                                                @{i++;
                                                }

</a>

                                    </li>
                                }

                            </ul>






                    </div>
@if (Model.IsPackage) {
                    <div class="tab-pane fade" id="tab-4">
                        <h3>@booking.package.name</h3>
                        <p class="mb30">@Html.Raw(booking.package.description)</p>
                        
                    </div>
}
                    <div class="tab-pane fade" id="tab-1">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">

                            @if (Model.Hotel.provider_picture.Count > 0)
                            {
                                foreach (var photo in Model.Hotel.provider_picture)
                                {
                                    <img class="" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), photo.picture.FullFileName)" alt="@photo.picture.title" />

                                }
                            }


                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="mt20">
                            <p>@Html.Raw(Model.Hotel.description)</p>
                            <p class="lh1em text-small"><i class="fa fa-map-marker"></i> @Model.Hotel.street1 @Model.Hotel.street2, @Model.Hotel.town</p>
                            <ul class="list list-inline text-small">
                                <li>
                                    <a href="#"><i class="fa fa-envelope"></i> @Model.Hotel.email</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-home"></i> @Model.Hotel.website</a>
                                </li>
                                <li><i class="fa fa-phone"></i> @Model.Hotel.phone1</li>
                            </ul>
                            @*<p>Est platea lectus pretium sociosqu scelerisque tortor tempor sapien est cursus iaculis suspendisse libero posuere fermentum enim dictumst malesuada fames</p>
                <p>Placerat semper accumsan justo imperdiet dictumst donec erat auctor odio mus ullamcorper vel adipiscing aenean viverra quis pharetra class nam porttitor leo praesent eleifend malesuada per himenaeos commodo iaculis dolor adipiscing quis amet id cubilia euismod primis amet porta facilisis</p>*@
                        </div>
                    </div>
                    <div class="tab-pane fade" id="google-map-tab">
                        <div id="map-canvas" style="width:100%; height:400px;"></div>
                    </div>

                    <div class="tab-pane fade" id="tab-5">
                        <div class="row mt20">
                            <div class="col-md-4">
                                <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                    @foreach (var feat in Model.Hotel.hotel_feature)
                                    {
                                        <li>
                                            <i class="@feat.feature.icon"></i><span class="booking-item-feature-title">@feat.feature.description</span>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
                </div>
                <div class="col-md-3">
                    @Html.Partial("_BookingSearchSummaryBox", Model)
                    <div class="gap gap-small"></div>
                    <div class="booking-item-dates-change sticker">
                        <input type="hidden" id="roomsrequired" value="@Model.NumRooms" />
                        <button type="submit" value="continue" name="submitaction" disabled class="submitbutton btn btn-warning">Save & Continue</button>
                        <div class="gap-mini"></div>
                        <button type="submit" value="finish" name="submitaction" disabled class="submitbutton btn btn-warning">Save & Finish</button>
                        <br />
                        <small class="selectroomleft">select @Model.NumRooms rooms to continue</small>
                    </div>

                </div> <!-- col 3-->

            </div>
                        } @*form*@
        <div class="gap gap-small"></div>

    </div>
    <div class="gap gap-small"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var latlng = new google.maps.LatLng(@Model.Hotel.google_location);
</script>
@section scripts {
@Scripts.Render("~/bundles/front-home");
<script src="~/Scripts/front/jquery.sticky.js"></script>

    <script>

        $(document).ready(function () {

            enableSubmit();
            $('body').on('click', '.booking-item', function () {

                var occno = $(this).data('occupancynumber');
                var baseprice = $(this).data('baseprice');
                var roomid = $(this).data('roomid');
                var classtoremove = '.room_' + occno;

                $('.reset_room_' + occno).val(0);
                $('#baseprice_' + occno + '_' + baseprice).val(baseprice);
                $('#roomid_' + occno + '_' + roomid).val(roomid);


                $(classtoremove).removeClass('active-booking-item');

                if ($(this).hasClass('active-booking-item'))
                {
                    $(this).removeClass('active-booking-item');

                } else {

                    $(this).addClass('active-booking-item');
                }


                enableSubmit();
                $('body').tooltip({
                    selector: '[rel="tooltip"]'
                });
            });

            function enableSubmit()
            {
                var numItems = $('.active-booking-item').length;
                var numReqItems = $('#roomsrequired').val();


                if (numItems == numReqItems) {
                    $('.submitbutton').prop('disabled', false)

                } else {
                    $('.submitbutton').prop('disabled', true)
                }

                var selecteddesc = "<b>" + numItems + "</b> rooms selected out of <b>" + numReqItems + "</b> required to continue";
                $('.selectroomleft').html(selecteddesc);



            }

        });

    </script>
<script>
    $(document).ready(function () {

        $('body').on('click', '.honeymoon', function () {
            $('.hideme').hide();
            if ($('.honeymoon').is(':checked')) {
                var ch = $(this).val();
                if (ch == "hotel") {
                    $('#IsHotel').val(true);
                    $('#IsPackage').val(false);

                    $('.showhotel').show();
                } else {
                    $('#IsHotel').val(false);
                    $('#IsPackage').val(true);

                    $('.showpackage').show();
                }
            }
        });
        $(".sticker").sticky({ topSpacing: 10 });
    });
</script>

}

