﻿@model Booking_System.Models.provider
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession

@{
    ViewBag.Title = "Hotel or Package";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
    var Search = ViewBag.SearchForm;

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var bookingId = 0;

    if (booking != null)
    {
        bookingId = booking.booking_id;
    }

}

<div id="top"></div>
<div class="container">
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        @* Search box *@
        @Html.Partial("_SearchBox")
        @* End search box*@
    </div>
        <br />

        <div class="booking-item-details">
            <h2 class="lh1em">@Model.name <small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Start booking</a></small></h2>

            <div class="gap gap-small"></div>
            <div class="row">
                <div class="col-md-9">
                    <ul class="nav nav-tabs" id="myTab2">
                        <li class="active">
                            <a href="#tab-3" data-toggle="tab"><b>Rooms</b></a>
                        </li>
                        <li>
                            <a href="#tab-1" data-toggle="tab">Photos</a>
                        </li>
                        <li>
                            <a href="#tab-2" data-toggle="tab">About</a>
                        </li>
                        <li>
                            <a href="#google-map-tab" data-toggle="tab">On the Map</a>
                        </li>
                        <li>
                            <a href="#tab-5" data-toggle="tab">Facilities</a>
                        </li>
                        <li>
                            <a href="#tabPromotions" data-toggle="tab">Promotions</a>
                        </li>
                    </ul>
                    <div class="gap gap-small"></div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-3">
                            <ul class="booking-list">
                                @foreach (var item in Model.rooms)
                                {
                                    <li>
                                        <a class="booking-item">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    @if (item.room_picture.Count != 0)
                                                    {
                                                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetRoomImgPath()), item.room_picture.FirstOrDefault().picture.FullFileName)" alt="@item.room_picture.FirstOrDefault().picture.DisplayImageTitle" title="@item.room_picture.FirstOrDefault().picture.title" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), Booking_System.Helpers.ConfigurationHelper.NoProviderImage())" alt="" title="" />
                                                    }

                                                </div>
                                                <div class="col-md-9">
                                                    <h5 class="booking-item-title">@item.name</h5>
                                                    <p class="text-small">@Html.Raw(item.description)</p>
                                                    <ul class="booking-item-features booking-item-features-small clearfix">
                                                        @foreach (var roomfeatureitem in item.room_feature.Where(x => x.feature.is_active))
                                                        {
                                                            <li rel="tooltip" data-placement="top" title="@roomfeatureitem.feature.name">
                                                                <i class="@roomfeatureitem.feature.icon"></i>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>

                                            </div>
                                        </a>
                                    </li>
                                }


                            </ul>

                        </div>

                        <div class="tab-pane fade" id="tab-1">
                            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">

                                @if (Model.provider_picture.Count > 0)
                                {
                                    foreach (var photo in Model.provider_picture)
                                    {
                                        <img class="" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), photo.picture.FullFileName)" alt="@photo.picture.title" />

                                    }
                                }


                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <div class="mt20">
                                <p>@Html.Raw(Model.description)</p>
                                <p class="lh1em text-small"><i class="fa fa-map-marker"></i> @Model.street1 @Model.street2, @Model.town</p>
                                <ul class="list list-inline text-small">
                                    <li>
                                        <a href="#"><i class="fa fa-envelope"></i> @Model.email</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-home"></i> @Model.website</a>
                                    </li>
                                    <li><i class="fa fa-phone"></i> @Model.phone1</li>
                                </ul>
                                @*<p>Est platea lectus pretium sociosqu scelerisque tortor tempor sapien est cursus iaculis suspendisse libero posuere fermentum enim dictumst malesuada fames</p>
                                    <p>Placerat semper accumsan justo imperdiet dictumst donec erat auctor odio mus ullamcorper vel adipiscing aenean viverra quis pharetra class nam porttitor leo praesent eleifend malesuada per himenaeos commodo iaculis dolor adipiscing quis amet id cubilia euismod primis amet porta facilisis</p>*@
                            </div>
                        </div>
                        <div class="tab-pane fade" id="google-map-tab">
                            <div id="map-canvas" style="width:100%; height:400px;"></div>
                        </div>

                        <div class="tab-pane fade" id="tab-5">
                            <div class="row mt20">
                                <div class="col-md-4">
                                    <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                        @foreach (var feat in Model.hotel_feature)
                                        {
                                            <li>
                                                <i class="@feat.feature.icon"></i><span class="booking-item-feature-title">@feat.feature.description</span>
                                            </li>
                                        }

                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="tabPromotions">
                            <div class="row mt20">
                                <div class="col-md-12">
                                    <table>
                                        <tr><th width="25%">promotion name</th><th>description</th><th width="25%">validity</th></tr>
                                        @foreach (var pr in Model.promotions.Where(x=>x.valid_to >= DateTime.Now))
                                        {
                                            <tr><td>@pr.name @if (pr.discount > 0) { string.Concat(pr.discount, "% off"); }
                                                
                                                </td><td>@Html.Raw(pr.description)</td><td>@pr.valid_from.ToString("dd MMM yyyy") - @pr.valid_to.ToString("dd MMM yyyy")</td></tr>
                                        }
                                    </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="booking-item-dates-change">
                            <h4>Hotel Facilities</h4>
                            <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                @foreach (var f in Model.hotel_feature)
                                {
                                    <li>
                                        <span class="@f.feature.icon"></span><span class="booking-item-feature-title">@f.feature.name</span>
                                    </li>
                                }
                            </ul>
                        </div>
                   

                </div> <!-- col 3-->

            </div>

            <div class="gap gap-small"></div>

        </div>
        <div class="gap gap-small"></div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
    var latlng = new google.maps.LatLng(@Model.google_location);
</script>
@section scripts {
@Scripts.Render("~/bundles/front-home");
    <script>

        $(document).ready(function () {

            $('body').tooltip({
                selector: '[rel="tooltip"]'
            });
               
            });

    </script>
<script>
    $(document).ready(function () {

        $('body').on('click', '.honeymoon', function () {

            $('.hideme').hide();
            if ($('.honeymoon').is(':checked')) {
                var ch = $(this).val();
                if (ch == "hotel") {
                    $('#IsHotel').val(true);
                    $('#IsPackage').val(false);

                    $('.showhotel').show();
                } else {
                    $('#IsHotel').val(false);
                    $('#IsPackage').val(true);

                    $('.showpackage').show();
                }
            }
        });



    });
</script>

}

