﻿@model Booking_System.Models.ViewModel.RoomsFoundViewModel
@using utils = Booking_System.Helpers.Utils
@using session = Booking_System.Helpers.UserSession
@{
    ViewBag.Title = "Hotel";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var bookingId = 0;

    if (booking != null)
    {
        bookingId = booking.booking_id;
    }

}


<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>       
        <li class="active">@Model.hotel.name</li>
    </ul>
    <br />
    <ul class="progress-indicator">
    @if (bookingId > 0)
    {
        <li class="completed"><a href="#"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        <li class=""><a href="@Url.Action("Supplements", new { id = bookingId })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class=""> <a href="@Url.Action("Transfer", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class=""> <a href="@Url.Action("Activities", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class=""> <a href="@Url.Action("Rental", new { id = bookingId  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    }
    else
    {
        <li class="completed"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </li>
        <li class=""> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements  </li>
        <li class=""><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer  </li>
        <li class=""><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities   </li>
        <li class=""><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental  </li>
        <li> <span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </li>

    }
        
    </ul>

    <div class="booking-item-details">
        <h3>Available Rooms</h3>
        <div class="row">
            <div class="col-md-9">
            
@using (Html.BeginForm("CreateBooking","Front",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="bookingtype" value="1" />
    <input type="hidden" name="bookingref" value="@Model.BookingRef" />

                <ul class="booking-list ">
                    @{ var i = 0; var roomnum = 0;}
                    @foreach (var item in Model.roomAndPrice.OrderBy(o=>o.OccupancyNumber).ThenBy(p=>p.TotalPrice))
                    {
                        //var isActive = Model.roomAndPrice.Where(x => x.OccupancyNumber == item.OccupancyNumber).Count() == 1 ? "active" : "";

                        if (roomnum < item.OccupancyNumber)
                        {
                            <li><h4>Room @item.OccupancyNumber @Html.Raw(utils.OccupancyIcons(item.numberAdults, item.numberInfants, item.numberChildren, item.numberTeens))</h4></li>
        
                            {roomnum++;}
                                }
                        <li>

                            <a class="booking-item room_@item.OccupancyNumber @(item.isSelected?"active-booking-item":"")" data-occupancynumber="@item.OccupancyNumber" data-roomid="@item.room.room_id" data-baseprice="@item.baseprice.base_price_id">


                                <input type="hidden" class="reset_room_@item.OccupancyNumber" id="@(string.Format("baseprice_{0}_{1}",item.OccupancyNumber, item.baseprice.base_price_id))" name="baseprice[@i]" value="@(item.isSelected?item.baseprice.base_price_id:0)" />
                                <input type="hidden" class="reset_room_@item.OccupancyNumber" id="@(string.Format("roomid_{0}_{1}",item.OccupancyNumber, item.room.room_id))" name="roomid[@i]" value="@(item.isSelected?item.room.room_id:0)" />


                                @{ i++;}
                                @*<input type="hidden" id="chosen_@item.room.room_id" class="falsifyme_@item.OccupancyNumber" name="chosen[@item.OccupancyNumber]" value="false" />*@


                                <div class="row">
                                    <div class="col-md-3">
                                        <p>Room @item.OccupancyNumber</p>
                                        @if (item.room.room_picture.Count > 0)
                                        {
                                            <img class="img-responsive roomImgs" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetRoomImgPath()), item.room.room_picture.FirstOrDefault().picture.FullFileName)" alt="@item.room.name" />

                                        }
                                        else
                                        {
                                            <img class="img-responsive roomImgs" src="@Url.Content("~/images/no-image.png")" alt="@item.room.name" />


                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="booking-item-title">@item.room.name</h5>
                                        <p class="text-small">@Html.Raw(item.room.description)</p>
                                        <ul class="booking-item-features booking-item-features-sign clearfix">
                                            <li rel="tooltip" data-placement="top" title="Adults Occupancy">
                                                <i class="fa fa-male"></i><span class="booking-item-feature-sign">
                                                    x @item.numberAdults
                                                </span>
                                            </li>


                                            @if (item.numberInfants + item.numberChildren + item.numberTeens > 0)
                                            {
                                                <li rel="tooltip" data-placement="top" title="Children Occupancy">
                                                    <i class="fa fa-child"></i><span class="booking-item-feature-sign">
                                                        x @(item.numberInfants + item.numberChildren + item.numberTeens)
                                                    </span>
                                                </li>
                                            }

                                            <li rel="tooltip" data-placement="top" title="Beds">
                                                <i class="im im-bed"></i><span class="booking-item-feature-sign">x @(item.numberAdults > 2 ? "2" : "1")</span>
                                            </li>
                                            <li rel="tooltip" data-placement="top" title="Room footage (square feet)">
                                                <i class="im im-width"></i><span class="booking-item-feature-sign">@item.room.room_size</span>
                                            </li>

                                            <li rel="tooltip" data-placement="top" title="@item.baseprice.meal_plan.name">
                                                <i class="fa fa-cutlery"></i><span class="booking-item-feature-sign" title="@item.baseprice.meal_plan.name">@item.baseprice.meal_plan.code</span>
                                            </li>


                                        </ul>
                                        <ul class="booking-item-features booking-item-features-small clearfix">
                                            @foreach (var feat in item.room.room_feature)
                                            {
                                                <li rel="tooltip" data-placement="top" title="@feat.feature.name">
                                                    <i class="@feat.feature.icon"></i>
                                                </li>
                                            }



                                        </ul>

                                        @*@foreach (var pr in item.Promotions)
                                        {
                                            if (pr.free_nights > 0)
                                            {
                                                <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description"><span class="fa fa-tag"></span>  <b>@pr.name @pr.free_nights free night</b></div>
    <div class="clear" style="margin:5px"></div>
                                            }
                                            else
                                            {
                                                <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description">
                                                    <span class="fa fa-tag"></span>  <b>
                                                        @pr.name
                                                  @if (!pr.is_honeymoon)
                                                  {
                                                        @(string.Concat(pr.discount, "% off"))
                                                    }
                                                </b>
                                            </div>
    <div class="clear" style="margin:5px">

    </div>
                                            }
                                        }*@

                                        <!-- -->

@{ int? prvpromotionset = -1;}
@foreach (var pr in item.PromotionSets)
{
    <h3>@pr.promotion_set_id - @pr.promotion_set_name</h3>
    if (pr.promotion_set_id != prvpromotionset)
    {
        <div>
            <input type="radio" /> promotion option 1
            @if (pr.free_nights > 0)
            {
                <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description"><span class="fa fa-tag"></span>  <b>@pr.name @pr.free_nights free night</b></div>
                                                    <div class="clear" style="margin:5px"></div>
            }
            else
            {
                <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.description">
                    <span class="fa fa-tag"></span>  <b>
                        @pr.name
                        @if (!pr.is_honeymoon)
                        {
                            @(string.Concat(pr.discount, "% off"))
                        }
                    </b>
                </div>
                                                    <div class="clear" style="margin:5px"></div>
            }


        </div>

                                                @prvpromotionset = pr.promotion_set_id;
    }

                                        <!-- >-->

                                    </div>

                                    <div class="col-md-3">
                                        @{
                                        }
                                        <div class="text-center">

                                            <span class="booking-item-price">
                                                @utils.InclPercMarkup(item.PromotionalPrice, item.baseprice.market.currency.symbol)
                                                @if(item.PromotionalPrice < item.TotalPriceAllNights)
                                                {
                                                    
                                             <span class="slashed" style="font-size:0.75em">@utils.InclPercMarkup(item.TotalPriceAllNights, item.baseprice.market.currency.symbol)</span>   
                                                }
                                            </span>
                                        </div>

                                        <span style="width:100%" class="btn btn-primary">Book</span>
                                        <br />


                                        <table class="table table-condensed">
                                            <tr>
                                                <th><span class="fa fa-calculator"></span></th>
                                                <th><span class="fa fa-male"></span></th>
                                                <th><span class="fa fa-tag"></span></th>
                                                <th><span class="fa fa-moon-o"></span></th>
                                            </tr>

                                            @if (item.numberAdults > 0)
                                            {
                                                <tr>
                                                    <td>
                                                        Adult
                                                    </td>
                                                    <td>
                                                        @item.numberAdults
                                                    </td>
                                                    <td>
                                                        @utils.InclPercMarkup(item.pricePerAdult, item.baseprice.market.currency.symbol)
                                                    </td>
                                                    <td>
                                                        @item.numberNights
                                                    </td>

                                                </tr>
                                            }

                                            @if (item.numberTeens > 0)
                                            {
                                                <tr>
                                                    <td>
                                                        Teen
                                                    </td>
                                                    <td>
                                                        @item.numberTeens
                                                    </td>
                                                    <td>
                                                        @utils.InclPercMarkup(item.pricePerTeen, item.baseprice.market.currency.symbol)
                                                    </td>
                                                    <td>
                                                        @item.numberNights
                                                    </td>

                                                </tr>
                                            }

                                            @if (item.numberChildren > 0)
                                            {
                                                <tr>
                                                    <td>
                                                        Child
                                                    </td>
                                                    <td>
                                                        @item.numberChildren
                                                    </td>
                                                    <td>
                                                        @utils.InclPercMarkup(item.pricePerChild, item.baseprice.market.currency.symbol)
                                                    </td>
                                                    <td>
                                                        @item.numberNights
                                                    </td>

                                                </tr>
                                            }

                                            @if (item.numberInfants > 0)
                                            {
                                                <tr>
                                                    <td>
                                                        Infant =
                                                    </td>
                                                    <td>
                                                        @item.numberInfants x
                                                    </td>
                                                    <td>
                                                        @utils.InclPercMarkup(item.pricePerInfant, item.baseprice.market.currency.symbol)
                                                    </td>
                                                    <td>
                                                        x @item.numberNights
                                                    </td>

                                                </tr>
                                            }

                                        </table>

                                    </div>
                                </div>
                            </a>

                        </li>
                    }

                </ul>



                    <input type="hidden" id="roomsrequired" value="@Model.numberRoomsRequired" />
                                                            @* handling multiple submit buutons
        http://www.dotnet-tricks.com/Tutorial/mvc/cM1X161112-Handling-multiple-submit-buttons-on-the-same-form---MVC-Razor.html
                                                            *@
                <button type="submit" value="continue"  name="submitaction" disabled class="submitbutton btn btn-warning">Save and Continue</button>
                <button type="submit" value="finish" name="submitaction" disabled class="submitbutton btn btn-warning">Save and Finish</button>
                <br />
                <small class="selectroomleft">select @Model.numberRoomsRequired rooms to continue</small>

                } @*form*@
            </div>
            <div class="col-md-3">
                <p class="mb30">@Html.Raw(Model.hotel.description)</p>
                <div class="booking-item-dates-change">
                    <h4>Hotel Facilities</h4>
                    <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                        @foreach (var f in Model.hotel.hotel_feature)
                        {
                            <li>
                                <span class="@f.feature.icon"></span><span class="booking-item-feature-title">@f.feature.name</span>
                            </li>

                        }



                    </ul>




                </div>
    </div> <!-- col 3-->

        </div>
        <header class="booking-item-header">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="lh1em">@Model.hotel.name</h2>
                    <p class="lh1em text-small"><i class="fa fa-map-marker"></i> @Model.hotel.street1 @Model.hotel.street2, @Model.hotel.town</p>
                    <ul class="list list-inline text-small">
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> @Model.hotel.email</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-home"></i> @Model.hotel.website</a>
                        </li>
                        <li><i class="fa fa-phone"></i> @Model.hotel.phone1</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    @*<p class="booking-item-header-price"><small>price from</small>  <span class="text-lg">$350</span>/night</p>*@
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-8">
                <div class="tabbable booking-details-tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i>Photos</a>
                        </li>
                        <li>
                            <a href="#tab-2" data-toggle="tab"><i class="fa fa-info-circle"></i>About</a>
                        </li>
                        <li>
                            <a href="#google-map-tab" data-toggle="tab"><i class="fa fa-map-marker"></i>On the Map</a>
                        </li>
                        @*<li>
                            <a href="#tab-4" data-toggle="tab"><i class="fa fa-signal"></i>Rating</a>
                        </li>*@
                        <li>
                            <a href="#tab-5" data-toggle="tab"><i class="fa fa-asterisk"></i>Facilities</a>
                        </li>
                        @*<li>
                            <a href="#tab-6" data-toggle="tab"><i class="fa fa-bars"></i>Similar</a>
                        </li>*@
                        @*<li>
                            <a href="#tab-7" data-toggle="tab"><i class="fa fa-comments"></i>Reviews</a>
                        </li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-1">
                            <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">

                                @if (Model.hotel.provider_picture.Count > 0)
                                {
                                    foreach (var photo in Model.hotel.provider_picture)
                                    {
                                        <img class="" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), photo.picture.FullFileName)" alt="@photo.picture.title" />

                                    }
                                }


                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2">
                            <div class="mt20">
                                <p>@Html.Raw(Model.hotel.description)</p>
                                @*<p>Est platea lectus pretium sociosqu scelerisque tortor tempor sapien est cursus iaculis suspendisse libero posuere fermentum enim dictumst malesuada fames</p>
                                <p>Placerat semper accumsan justo imperdiet dictumst donec erat auctor odio mus ullamcorper vel adipiscing aenean viverra quis pharetra class nam porttitor leo praesent eleifend malesuada per himenaeos commodo iaculis dolor adipiscing quis amet id cubilia euismod primis amet porta facilisis</p>*@
                            </div>
                        </div>
                        <div class="tab-pane fade" id="google-map-tab">
                            <div id="map-canvas" style="width:100%; height:400px;"></div>
                        </div>

                        <div class="tab-pane fade" id="tab-5">
                            <div class="row mt20">
                                <div class="col-md-4">
                                    <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                                        @foreach (var feat in Model.hotel.hotel_feature)
                                        {
                                            <li>
                                                <i class="@feat.feature.icon"></i><span class="booking-item-feature-title">@feat.feature.description</span>
                                            </li>
                                        }

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>

        </div>

        
        <div class="gap gap-small"></div>
        
    </div>
    <div class="gap gap-small"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
    var latlng = new google.maps.LatLng(@Model.hotel.google_location);
</script>
@section scripts {

<script>
    
    $(document).ready(function () {
        
        enableSubmit();
        $('body').on('click', '.booking-item', function () {

            var occno = $(this).data('occupancynumber');
            var baseprice = $(this).data('baseprice');
            var roomid = $(this).data('roomid');
            var classtoremove = '.room_' + occno;

            $('.reset_room_' + occno).val(0);
            $('#baseprice_' + occno + '_' + baseprice).val(baseprice);
            $('#roomid_' + occno + '_' + roomid).val(roomid);
            
            
            $(classtoremove).removeClass('active-booking-item');

            if ($(this).hasClass('active-booking-item'))
            {
                $(this).removeClass('active-booking-item');

            } else {

                $(this).addClass('active-booking-item');
            }

                    
            enableSubmit();
            $('body').tooltip({
                selector: '[rel="tooltip"]'
            });
        });

        function enableSubmit()
        {
            var numItems = $('.active-booking-item').length;
            var numReqItems = $('#roomsrequired').val();

        
            if (numItems == numReqItems) {
                $('.submitbutton').prop('disabled', false)

            } else {
                $('.submitbutton').prop('disabled', true)
            }

            var selecteddesc = "<b>" + numItems + "</b> rooms selected out of <b>" + numReqItems + "</b> required to continue";
            $('.selectroomleft').html(selecteddesc);



        }

    });

    </script>    
}