﻿@model List<Booking_System.Models.provider>
@using session = Booking_System.Helpers.UserSession
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<div id="top"></div>
<div class="container">
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        @Html.Partial("_SearchBox")
    </div>
    <h3 class="booking-title">Hotels<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Start booking</a></small></h3>
    <div class="row   @(Model.Count==0?"hidden":"")">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <li style="display:none">
                        <h5 class="booking-filters-title">Price</h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Star Rating</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="5" checked />5 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="4" checked />4 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="3" checked />3 star 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="2" checked />2 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="1" checked />1 star
                            </label>
                        </div>
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Region</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="North" checked />North
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="East" checked />East
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="South" checked />South
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="West" checked />West
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            


                <div id="result-list">
                    <div class="nav-drop booking-sort">
                        <h5 class="booking-sort-title"><a href="#">Sort<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><span class="sorttype"> </span></a></h5>
                        <ul class="nav-drop-menu">
                            <li>
                                <a href="#" data-sort="booking-item-rating" class="sort">Ranking</a>
                            </li>
                            
                            @*    <li>
                            <a href="#">Distance</a>
                        </li>
                        <li>
                            <a href="#">Number of Reviews</a>
                        </li>*@
                        </ul>
                    </div><div class="row row-wrap">
    <ul class="booking-list list">

        @foreach (var item in Model.OrderBy(x => x.name.Trim()))
        {
            <li class="col-md-4">
                <div class="thumb  booking-item">
                    <header class="thumb-header">
                        <a class="hover-img" href="@Url.Action("HotelDetails", new { id = item.provider_id})">
                            @{
                                string picpath = string.Empty;
                                if (item.provider_picture.Count > 0)
                                {
                                    var pic = item.provider_picture.FirstOrDefault();
                                    picpath = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), pic.picture.FullFileName);

                                }
                                else
                                {
                                    picpath = Url.Content("~/images/no-image.png");
                                }
                            }
                            <img src="@picpath" alt="@item.name" title="@item.name" />
                            <h5 class="hover-title-center">View details</h5>
                        </a>

                    </header>
                    <div class="thumb-caption">
                        <ul class="icon-group text-tiny text-color booking-item-rating"  data-star-rating="@item.star_rating">
                            @for (int i = 1; i <= item.star_rating; i++)
                            {
                                <li>
                                    <i class="fa fa-star"></i>
                                </li>
                            }
                            @for (int i = 1; i <= (5 - item.star_rating); i++)
                            {
                                <li>
                                    <i class="fa fa-star-o"></i>
                                </li>
                            }
                        </ul>
                        <h5 class="thumb-title booking-item-region" data-region="@item.location"><a class="text-darken" href="#">@item.name</a></h5>
                        <p class="mb0">
                            <small>@item.street1, <br />@item.street2 <br />@item.town</small>
                        </p>
                    </div>
                </div>
            </li>
                                }


    </ul>
</div>
                        @*<ul class="pagination"></ul>*@
</div>
            </div>
    </div>
    <div class="gap"></div>
</div>

<style>
    .pagination li {
    display:inline-block;
    padding:5px;
    }
</style>


@section scripts {

@Scripts.Render("~/bundles/front-home");

<script>
    $(document).ready(function () {
        $('body').tooltip({
            selector: '[rel="tooltip"]'
        });
    });
</script>
<script>
    $(document).ready(function () {

        $('body').on('click', '.honeymoon', function () {

            $('.hideme').hide();
            if ($('.honeymoon').is(':checked')) {
                var ch = $(this).val();
                if (ch == "hotel") {
                    $('#IsHotel').val(true);
                    $('#IsPackage').val(false);

                    $('.showhotel').show();
                } else {
                    $('#IsHotel').val(false);
                    $('#IsPackage').val(true);

                    $('.showpackage').show();
                }
            }
        });



        /*Script to dynamically paginate results*/
        var PagedList = new List('result-list', {
            valueNames: ['booking-item',
             { attr: 'data-star-rating', name: 'booking-item-rating' } ,
              { attr: 'data-region', name: 'booking-item-region' }]

        });


        //generic method for Filter trigger
        function TriggerFilter() {

            var fromPrice = $('#price-slider').prop("value").split(';')[0];
            var toPrice = $('#price-slider').prop("value").split(';')[1];


            ///logic to check values of checkbox  (for star rating)
            var checkstars = new Array();
           
            $("input.i-check-s").each(function () {
                if ($(this).iCheck('update')[0].checked) {
                    checkstars.push(this.value);
                }

            });

            ///logic to check values of checkbox  (for region)
            var checkregion = new Array();
            $("input.i-check-r").each(function () {
                if ($(this).iCheck('update')[0].checked) {
                    checkregion.push(this.value);
                }

            });
            //filter based on the values passed 
            PagedList.filter(function (item) {
                if (
                        $.inArray(item.values()['booking-item-rating'], checkstars) != -1 && $.inArray(item.values()['booking-item-region'], checkregion) != -1
                         
                    ) {

                    return true;
                } else {

                    return false;
                }
            });
        }

        TriggerFilter();


        //monitor change to span storing values  since monitroing original input does not work...pfff
        $(".irs-from , .irs-to").on("DOMSubtreeModified", function () {

            TriggerFilter();

        });



        ///logic for special checkbox when a checkbox is toggled 
        $('input.i-check-s').on('ifToggled', function (event) {

            TriggerFilter();

            return false;
        });

        $('input.i-check-r').on('ifToggled', function (event) {

            TriggerFilter();

            return false;
        });



    });
</script>

    }