﻿@model List<Booking_System.Models.activity>
@using session = Booking_System.Helpers.UserSession
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home",new { Resume = 1 })">Search</a>
        </li>
        <li class="active">Found Activites</li>
    </ul>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        <h3>Search for Activities</h3>

    </div>

    @*<div class="booking-item-dates-change mb40">
        <h3 class="booking-title">
            <span class="fa fa-building-o"></span> Found 2 hotels on  X  - x for 3 Guest(s)
           
        </h3>
    </div>*@
    <br />
    <div class="row">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <li>
                        <h5 class="booking-filters-title">Price</h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Star Rating</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="5" checked />5 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="4" checked />4 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="3" checked />3 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="2" checked />2 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check" type="checkbox" value="1" checked />1 star
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">

            <div id="result-list">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><span class="sorttype"> </span></a></h5>
                    <ul class="nav-drop-menu">
                        <li>
                            <a href="#" data-sort="booking-item-price">Price</a>
                        </li>

                        <li>
                            <a href="#" data-sort="booking-item-rating" class="sort">Ranking</a>
                        </li>
                       
                    </ul>
                </div>
                <ul class="booking-list list">

                @foreach (var item in Model)
                {
                    <li>

                        <a class="booking-item" href="@string.Concat(Request.ApplicationPath,"/Front/ActivityDetails/",item.activity_id)">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="booking-item-img-wrap">

                                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetActivityImgPath()), item.activity_picture.FirstOrDefault().picture.FullFileName)" alt="@item.activity_name" title="@item.activity_name" />
                                        <div class="booking-item-img-num"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="booking-item-rating" data-star-rating="3">
                                        @*<ul class="icon-group booking-item-rating-stars">

                                            <li>
                                                <i class="fa fa-star"></i>
                                            </li>

                                            <li>
                                                <i class="fa fa-star-o"></i>
                                            </li>

                                        </ul>*@<span class="booking-item-rating-number"><b>@item.activity_name </b> </span>
                                    </div>
                                    <h5 class="booking-item-title">@item.category</h5>
                                    @*<p class="booking-item-address"><i class="fa fa-map-marker"></i> Street2 , Town</p><small class="booking-item-last-booked"></small>*@
                                </div>
                                <div class="col-md-3">
                                    <table>

                                        <tr>
                                            <td>Min Age - </td>
                                            <td> @item.min_age</td>
                                        </tr>



                                        <tr>
                                            <td>Max Age  - </td>
                                            <td> @item.max_child_age</td>
                                        </tr>



                                        <tr>
                                            <td>Includes Meal - </td>
                                            <td>
                                                @if (item.includes_meal)
                                                {
                                                    <span> yes</span>
                                                }
                                                else
                                                {
                                                    <span> no</span>
                                                }
                                            </td>
                                        </tr>

                                    </table>

                                </div>

                                <div class="col-md-3">


                                    @*<div class="text-right">

                                        <h5 class=""><span class="label label-default"></span></h5>
                                        <span class="text-center booking-item-price" data-price=""></span>

                                        <div class="btn btn-primary text-right">See Details</div>
                                    </div>*@

                                    <br />
                                    <span class="btn btn-primary">More Details</span>

                                </div>
                            </div>
                        </a>
                    </li>
                }
                            
                </ul>
                <ul class="pagination"></ul>
            </div>
            @*<div class="row">
                    <div class="col-md-6">
                        <p>
                            <small>521 hotels found in New York. &nbsp;&nbsp;Showing 1 – 15</small>
                        </p>
                        <ul class="pagination">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li>
                            <li>
                                <a href="#">7</a>
                            </li>
                            <li class="dots">...</li>
                            <li>
                                <a href="#">43</a>
                            </li>
                            <li class="next">
                                <a href="#">Next Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Not what you're looking for? <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Try your search again</a>
                        </p>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="gap"></div>
</div>

<style>
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
</style>
<script>
    $(document).ready(function () {
        var serviceURL = getVirtualDir() + 'ActivityDetails/';
    });
</script>

@section scripts {

    @Scripts.Render("~/bundles/front-result");
}