﻿@model List<Booking_System.Models.provider>
@using session = Booking_System.Helpers.UserSession
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    
}

<div class="container">
   
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        @Html.Partial("_SearchBox")
    </div>
   
    <h3 class="booking-title">Hotel Promotions<small><a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Start booking</a></small></h3>

    <div class="row   @(Model.Count==0?"hidden":"")">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <li style="display:none">
                        <h5 class="booking-filters-title">Price</h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Star Rating</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="5" checked />5 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="4" checked />4 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="3" checked />3 star 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="2" checked />2 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="1" checked />1 star
                            </label>
                        </div>
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Region</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="North" checked />North
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="East" checked />East
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="South" checked />South
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="West" checked />West
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            
            <div id="result-list">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><span class="sorttype"> </span></a></h5>
                    <ul class="nav-drop-menu">
                        <li>
                            <a href="#" data-sort="booking-item-price">Price</a>
                        </li>
                       
                        <li>
                            <a href="#"  data-sort="booking-item-rating" class="sort" >Ranking</a>
                        </li>
                    </ul>
                </div>
            <ul class="booking-list list">
            
                @foreach (var item in Model.OrderBy(x => x.name.Trim()))
                {
                    <li>
                        
                        <a class="booking-item" href="@Url.Action("HotelDetails", new { id = item.provider_id})">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="booking-item-img-wrap">
                                        @{
                        string picpath = string.Empty;

                        if (item.provider_picture.Count > 0)
                        {
                            var pic = item.provider_picture.FirstOrDefault();
                            picpath = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), pic.picture.FullFileName);

                        }
                        else
                        {
                            picpath = Url.Content("~/images/no-image.png");
                        }

                                        }
                                        <img src="@picpath" alt="@item.name" title="@item.name" />
                                        <div class="booking-item-img-num"><i class="fa fa-picture-o"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="booking-item-rating" data-star-rating="@item.star_rating">
                                        <ul class="icon-group booking-item-rating-stars">
                                            @for (int i = 1; i <= item.star_rating; i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            }
                                            @for (int i = 1; i <= (5 - item.star_rating); i++)
                                            {
                                                <li>
                                                    <i class="fa fa-star-o"></i>
                                                </li>
                                            }

                                        </ul><span class="booking-item-rating-number"></span>
                                    </div>
                                    <h5 class="booking-item-title booking-item-region" data-region="@item.location">@item.name</h5>
                                    <p class="booking-item-address"><i class="fa fa-map-marker"></i> @item.street1, <br />@item.street2 <br />@item.town</p><small class="booking-item-last-booked"></small>
                                </div>
                                <div class="col-md-4">
                                    <table>
                                    @foreach (var pr in item.promotions.Where(x=>x.valid_to >= DateTime.Now))
                                    {
                                        <tr>
                                            <td>
                                                @if (pr.free_nights > 0)
                                                {
                                                    <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.name &lt;br/&gt;&lt;br/&gt; @pr.description"><span class="fa fa-tag"></span>  <b>@pr.name @pr.free_nights free night</b></div>
                                                <div class="clear" style="margin:5px"></div>
                                                }
                                                else
                                                {

                                                    <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.name &lt;br/&gt;&lt;br/&gt; @pr.description">
                                                        <span class="fa fa-tag"></span>  <b>
                                                            @pr.name
                                                            @if (!pr.is_honeymoon)
                                                            {
                                                                @(string.Concat(pr.discount, "% off"))
                                                            }
                                                        </b>
                                                    </div>
                                                <div class="clear" style="margin:5px"></div>
                                                }
                                               valid: @pr.valid_from.ToString("dd MMM yyyy") - @pr.valid_to.ToString("dd MMM yyyy") 
                                            </td>
                                            <td></td>
                                        </tr>
                                     }
                                       
                                    </table>

                                </div>

                                <div class="col-md-2">
                                    <br />
                                    <span class="btn btn-primary">More Details</span>
                                </div>
                            </div>
                        </a>

</li>
             }


            </ul>
            <ul class="pagination"></ul>
                </div>
        
        </div>
    </div>
    <div class="gap"></div>
</div>

<style>
    .pagination li {
    display:inline-block;
    padding:5px;
    }
</style>


@section scripts {

@Scripts.Render("~/bundles/front-result");
<script>
    $(document).ready(function () {
        $('body').tooltip({
            selector: '[rel="tooltip"]'
        });
    });
</script>
    }