﻿
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container">
    <h1 style="padding-top:20px">Privacy Policy</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           <h2>Introduction</h2>
             <p>
                
                Thomas Cook India is the operator of this website, offering a list of local services, products and activities. TCI recognized that many customers are concerned about the information they provide us and how the information is used. In this regard, this Privacy Policy addresses how we as a data controller, collect, use, disclose and otherwise process personally identifiable information that we collect through the website known as and governs data collection and its usage.
                Your privacy is important to us. We value your trust and we are committed to protecting and safeguarding your privacy both online and offline. We do not collect personally identifiable information from you unless you provide this information voluntarily and knowingly. We will only use the information we collect for the purpose of enhancing your experience with us, providing you with a more personalized service and improving the level of our services.
                We may amend this Privacy Policy from time to time to reflect any changes abided in our law, our Personal Data collection and use practices, features of our Site, or advances in technology. So visit this page regularly to stay up to date. If you disagree with this Privacy policy, you should discontinue using our services.

            </p>
            <p>
                Your privacy is important to us. We value your trust and we are committed to protecting and safeguarding your privacy both online and offline. We do not collect personally identifiable information from you unless you provide this information voluntarily and knowingly. We will only use the information we collect for the purpose of enhancing your experience with us, providing you with a more personalized service and improving the level of our services.
            </p>
            <p>
                We may amend this Privacy Policy from time to time to reflect any changes abided in our law, our Personal Data collection and use practices, features of our Site, or advances in technology. So visit this page regularly to stay up to date. If you disagree with this Privacy policy, you should discontinue using our services.
            </p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>What kind of information does TCI use?</h2>
            <p>
                When you make a booking, you’ll be asked for your name, address, phone number, credit card details, email address, payment details, the names of guests traveling with you and your preferences for your stay.
            </p>
            <p>
                To make it easier to manage your reservations, you can open a user account. This allows you to save your personal settings, review previous bookings and manage future reservations.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How do we protect your personal data?</h2>
            <p>
                TCI is committed to guarantee that all information you will provide us is secure. For the prevention of unauthorized access, we have implemented an information security program that will maintain reasonable physical, electronic and organizational procedures to safeguard and secure the information that you provide us.
            </p>
            <p>With the use of certified encryption system, users in our site can browse and purchase without any worry. While we make every effort to ensure a fully secure environment on our website, nothing transmitted via the internet can be guaranteed as 100% secure.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How do we use information we collect?</h2>
            <p>We need this information to understand your needs in order to provide you a better service and improve our products and services. At times we may send promotional emails informing about new products, special offers or other information which we find informative using your email address which you provided. </p>
            <p>*We may use your contact information such as email address, phone or fax to contact you in order to improve and customise our services or this website according to your taste and interest.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Cookies</h2>
            <p>Cookies are used by certain website that store information by your browser on your computer’s hard drive. The main purpose of it is to provide you with a time convenience feature. A cookie file can contain information such as User ID that the site recognizes you. A cookie in no way cannot read data off your hard disk or read cookie files created by other sites. The only personal information that a cookie can contain is the information you provide yourself. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Third party partners</h2>
            <p>TCI is a travel and service agency that offers a range of travel products, activities, hotel deals, honeymoon package, promotional offers and other services for our clients. We deal with many consultants as well as third parties that may, in the course of their duties, have limited access to personal information we hold. We ensure our customers that we only provide the third parties necessary information that clients have provided is during the booking process of the product or services and will do so only in order to ensure the successful fulfilment of the services arrangements or to fulfil obligations of such agreements. We restrict access to any personal information we hold as much as is reasonably possible.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Language</h2>
            <p>
                This Privacy Policy has originally been drawn up in the English language.  </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>How can you access or change your personally identifiable information?</h2>
            <p>If you wish to update any personal data you have previously provided, or to exercise any right of access, correction, rectification, deletion or opposition to the processing of your personal data that you may have under applicable law, please contact us via our Customer Support page. To protect your privacy and security, we will verify your identity before granting access or making any changes to your personal data. Any request to access your personal data will be answered within a reasonable timeframe. If you wish to contact our sales representatives about privacy issues via email, you may send to: ******</p>
        </div>
    </div>
    <div class="gap"></div>
</div>