﻿@model IEnumerable<Booking_System.Models.vehicle>

@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Rental";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;



    var vbooking = ViewBag.VBooking as Booking_System.Models.viewBooking;
    double cost = 0D;
    string symbol = "";
    if (vbooking != null)
    {
        cost = vbooking.TotalPrice;
        symbol = vbooking.symbol;
    }

}


<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
    </ul>
    <br />

    <ul class="progress-indicator">
        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.HOTEL)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.PACKAGE)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        <li class="completed"><a href="@Url.Action("Supplements", new { id = booking.booking_id })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class="completed"> <a href="@Url.Action("Transfer", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class="completed"> <a href="@Url.Action("Activities", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class="completed"> <a href="@Url.Action("Rental", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    </ul>

    <h3>Rental</h3>


    @if(Model == null || Model.Count() ==0)
    {
        <h1><span class="fa fa-warning"></span> No Vehicles Available for Rental</h1>
        
        <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id })" value="finish" name="submitaction" class="submitbutton btn btn-primary">Finish</a>
    }
    else
    {

        <div class="row">
            <div class="col-md-8">

@using (Html.BeginForm("AddRental", "Front", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="booking_id" value="@booking.booking_id" />
                <ul class="booking-list">       
                    @{ var i = 0; }      
                    @foreach (var item in Model)
                    {
                        <li>
                            <input type="hidden" name="vehicle_id[@i]" value="@item.vehicle_id" />
                            <input type="hidden" name="price[@i]" value="@item.vehicle_pricing.FirstOrDefault().daily_price" />
                            <input type="hidden" name="pricewithdriver[@i]" value="@item.vehicle_pricing.FirstOrDefault().daily_price_with_driver" />
                            <div class="booking-item @(item._isSelected?"active-booking-item":"")" href="#">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="booking-item-car-img">

                                            @if (item.vehicle_picture.Count > 0)
                                            {
                                                <img class="img-responsive" src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetVehicleImgPath()), item.vehicle_picture.FirstOrDefault().picture.FullFileName)" alt="@item.vehicle_model" />

                                            }
                                            else
                                            {
                                                <img src="img/Land-Rover-Range-Rover-Evoque.png" alt="Image Alternative text" title="Image Title" />

                                            }

                                            <p class="booking-item-car-title">@item.vehicle_model (@item.vehicle_type)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="booking-item-features booking-item-features-sign clearfix">
                                                    <li rel="tooltip" data-placement="top" title="Passengers">
                                                        <i class="fa fa-male"></i><span class="booking-item-feature-sign">x @item.max_seat</span>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Doors">
                                                        <i class="im im-car-doors"></i><span class="booking-item-feature-sign">x @item.doors</span>
                                                    </li>

                                                    <li rel="tooltip" data-placement="top" title="Transmission">
                                                        <i class="im im-shift@(item.is_automatic ? "-auto" : "")"></i><span class="booking-item-feature-sign">@(item.is_automatic ? "auto" : "manual")</span>
                                                    </li>

                                                    <li rel="tooltip" data-placement="top" title="Fuel Type">
                                                        <i class="im im-diesel"></i><span class="booking-item-feature-sign">@item.fuel_type_desc</span>
                                                    </li>


                                                </ul>





                                            </div>
                                            <div class="col-md-4">
                                                <ul class="booking-item-features booking-item-features-dark">
                                                    <li rel="tooltip" data-placement="top" title="Terminal Pickup">
                                                        <i class="fa fa-plane"></i>
                                                    </li>
                                                    <li rel="tooltip" data-placement="top" title="Car with Driver">
                                                        <i class="im im-driver"></i>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span style="display:@(item.includes_driver?"none":"block")" class="booking-item-price withoutDriver_@i">@item.vehicle_pricing.FirstOrDefault().currency.symbol@item.vehicle_pricing.FirstOrDefault().daily_price<span style="font-size:16px">/day</span></span>
                                                <span style="display:@(item.includes_driver?"block":"none")" class="booking-item-price withDriver_@i">@item.vehicle_pricing.FirstOrDefault().currency.symbol@item.vehicle_pricing.FirstOrDefault().daily_price_with_driver<span style="font-size:16px">/day</span></span>
                                                

                                            </div>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <label>
                                                   
                                                        @if (item.vehicle_pricing.FirstOrDefault().daily_price_with_driver > 0)
                                                        {
                                                            @:With Driver
                                                                }
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    @if (item.vehicle_pricing.FirstOrDefault().daily_price_with_driver > 0)
                                                    {
                                                        <label>
                                                            <input class="i-check checkdriver" data-num="@i" type="checkbox" @(item.includes_driver ? "checked" : "") name="hasDriver[@i]" value="true" />
                                                            <input type="hidden" name="hasDriver[@i]" value="false" />
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="hasDriver[@i]" value="false" />
                                                    }
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-4">
                                                    <label>
                                                        Days
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="select2 pickdays" name="days[@i]">
                                                        <option value="0">--</option>
                                                        @for (var n = 1; n <= booking.num_nights + 1; n++)
                                                        {
                                                            <option value="@n" @(item._rentalDays == n? "selected=seleted" : "")>@n</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div> <!-- row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {
                            i++;
                        }
                    }
                </ul>

                <button type="submit" value="continue" name="submitaction"  class="submitbutton btn btn-warning">Save and Continue</button>
                <button type="submit" value="finish" name="submitaction"  class="submitbutton btn btn-warning">Save and Finish</button>
                <br />

                


                        } @* end form *@

                <div class="gap"></div>
            </div>
                <div class="col-md-4">@Html.Partial("_BookingSummaryBox", booking)</div>


        </div>


    }

    
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            @* https://github.com/fronteed/icheck *@
            $('body').on('ifChecked', '.checkdriver', function (event) {
                var n = $(this).data('num');
                
                $('.withoutDriver_' + n).hide();
                $('.withDriver_' + n).show();


            });

            $('body').on('ifUnchecked', '.checkdriver', function (event) {
                var n = $(this).data('num');

                $('.withoutDriver_' + n).show();
                $('.withDriver_' + n).hide();

            });

            $('body').on('change', '.pickdays', function () {
                var days = $(this).val();

                if (days > 0) {
                    $(this).closest('.booking-item').addClass('active-booking-item');
                } else {
                    $(this).closest('.booking-item').removeClass('active-booking-item');
                }
            });

        });
    </script>

    }