﻿@model Booking_System.Models.ViewModel.HotelSearchResult
@using session = Booking_System.Helpers.UserSession
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var numberGuests = Model.NumGuests;
    var numRooms = ViewBag.NumRoomsOrdered;
    var isPackage = Model.IsPackage;

}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
        <li class="active">Found Hotels</li>
    </ul>
    <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
        <h3>Search for Hotel</h3>

    </div>

    <div class="booking-item-dates-change mb40">
        @if (isPackage)
        {
            <h3 class="booking-title">
                <span class="fa fa-gift"></span> Found @Model.Hotels.Count Packages from  @Model.Start.ToString("MMM dd") for @Model.NumGuests Guest(s)
                @(Model.NumMinors > 0 ? string.Format("Including {0} child(ren)", Model.NumMinors) : "")
                <small><a href="~/front/home">modify search</a></small>
            </h3>
        }
        else
        {
            <h3 class="booking-title">
                <span class="fa fa-building-o"></span> Found @Model.Hotels.Count hotels on  @Model.Start.ToString("MMM dd")  - @Model.End.ToString("MMM dd") for @Model.NumGuests Guest(s)
                @(Model.NumMinors > 0 ? string.Format("Including {0} child(ren)", Model.NumMinors) : "")
                <small><a href="~/front/home">modify search</a></small>
            </h3>

        }


    </div>
    <div class="row   @(Model.Hotels.Count==0?"hidden":"")">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <h3>Filter By:</h3>
                <ul class="list booking-filters-list">
                    <li>
                        <h5 class="booking-filters-title">Price</h5>
                        <input type="text" id="price-slider">
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Star Rating</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="5" checked />5 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="4" checked />4 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="3" checked />3 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="2" checked />2 star
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-s" type="checkbox" value="1" checked />1 star
                            </label>
                        </div>
                    </li>
                    <li>
                        <h5 class="booking-filters-title">Region</h5>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="North" checked />North
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="East" checked />East
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="South" checked />South
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input class="i-check i-check-r" type="checkbox" value="West" checked />West
                            </label>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">

            <div id="result-list">
                <div class="nav-drop booking-sort">
                    <h5 class="booking-sort-title"><a href="#">Sort<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i><span class="sorttype"> </span></a></h5>
                    <ul class="nav-drop-menu">
                        <li>
                            <a href="#" data-sort="booking-item-price">Price</a>
                        </li>

                        <li>
                            <a href="#" data-sort="booking-item-rating" class="sort">Ranking</a>
                        </li>
                        @*    <li>
                                <a href="#">Distance</a>
                            </li>
                            <li>
                                <a href="#">Number of Reviews</a>
                            </li>*@
                    </ul>
                </div>
                <ul class="booking-list list">

                    @foreach (var item in Model.Hotels.OrderBy(x => x.FoundRooms[0].LowestPromosetAmount))
                    {

                        if (item.IsValid)
                        {

                            var providerOrPackageId = isPackage ? item.PackageId : item.ProviderId;


                            <li>

                                <a class="booking-item" href="@Url.Action("HotelOrPackage", new { id = providerOrPackageId, nights = item.Nights, currency_id = item.CurrencyId, isPackage = isPackage })">

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="booking-item-img-wrap">
                                                @{
                                                    string picpath = string.Empty;

                                                    if (item.Hotel.provider_picture.Count > 0)
                                                    {
                                                        var pic = item.Hotel.provider_picture.FirstOrDefault();
                                                        picpath = string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetProviderImgPath()), pic.picture.FullFileName);

                                                    }
                                                    else
                                                    {
                                                        picpath = Url.Content("~/images/no-image.png");
                                                    }

                                                }
                                                <img src="@picpath" alt="@item.Hotel.name" title="@item.Hotel.name" />
                                                <div class="booking-item-img-num"><i class="fa fa-picture-o"></i></div>
                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="booking-item-rating" data-star-rating="@item.Hotel.star_rating">
                                                <ul class="icon-group booking-item-rating-stars">
                                                    @for (int i = 1; i <= item.Hotel.star_rating; i++)
                                                    {
                                                        <li>
                                                            <i class="fa fa-star"></i>
                                                        </li>
                                                    }
                                                    @for (int i = 1; i <= (5 - item.Hotel.star_rating); i++)
                                                    {
                                                        <li>
                                                            <i class="fa fa-star-o"></i>
                                                        </li>
                                                    }

                                                </ul><span class="booking-item-rating-number"><b>@item.Hotel.star_rating</b> of 5</span>
                                            </div>
                                            <h5 class="booking-item-title booking-item-region" data-region="@item.Hotel.location">@item.Hotel.name</h5>
                                            <p class="booking-item-address"><i class="fa fa-map-marker"></i> @item.Hotel.street1, <br />@item.Hotel.street2 <br />@item.Hotel.town</p><small class="booking-item-last-booked"></small>
                                        </div>
                                        <div class="col-md-3">
                                            <table>

                                                <tr>
                                                    <td>@item.FoundRooms.Count </td>
                                                    <td> x Room(s)</td>
                                                </tr>

                                                @if (item.TotalAdults > 0)
                                                {

                                                    <tr>
                                                        <td>@item.TotalAdults &nbsp;</td>
                                                        <td> x Adults</td>
                                                    </tr>

                                                }


                                                @if (item.TotalInfants > 0)
                                                {

                                                    <tr>
                                                        <td>@item.TotalInfants &nbsp;</td>
                                                        <td> x Child(@item.Hotel.guest_type.First().infant_min_age -  @item.Hotel.guest_type.First().infant_max_age)  @*= @utils.InclPercMarkup(item.PerInfant, item.Currency.symbol)*@</td>
                                                    </tr>
                                                }

                                                @if (item.TotalChildren > 0)
                                                {

                                                    <tr>
                                                        <td>@item.TotalChildren &nbsp;</td>
                                                        <td> x Child @*= @utils.InclPercMarkup(item.PerChild, item.Currency.symbol)*@</td>
                                                    </tr>
                                                }

                                                @if (item.TotalTeens > 0)
                                                {

                                                    <tr>
                                                        <td>@item.TotalTeens &nbsp;</td>
                                                        <td> x Teens @*= @utils.InclPercMarkup(item.PerTeen, item.Currency.symbol)*@</td>
                                                    </tr>
                                                }
                                            </table>
                                            @{
                                                int ri = 1;


                                                var r = item.FoundRooms[0];

                                                if (r.Promosets.Count > 0)
                                                {

                                                    var rPromoSet = r.Promosets.OrderBy(x => x.TotalCostIncludingChargesAndPromotions).First();
                                                    <span>Room @ri</span>
                                                        <div class="clear" style="margin:5px"></div>
                                                    foreach (var pr in rPromoSet.Promotions)
                                                    {
                                                        <div style="font-size:.9em;padding-bottom:5px;" class="label label-warning" data-html="true" rel="tooltip" data-original-title="@pr.name &lt;br/&gt;&lt;br/&gt; @pr.description">
                                                            <span class="fa fa-tag"></span>  <b>
                                                                @pr.name
                                                                @*@if (!pr.is_honeymoon && pr.discount != 0)
                                                                    {
                                                                        @(string.Concat(pr.discount, "%"))
                                                                    }*@
                                                            </b>
                                                        </div>
                                                            <div class="clear" style="margin:5px"></div>
                                                    }
                                                }
                                                ri++;
                                            }


                                        </div>

                                        <div class="col-md-3">

                                            @if (item.TotalCostIncludingChargesAndGroundhandling > 0)
                                            {
                                                <div class="text-right">

                                                    <h5 class=""><span class="label label-default">@(Model.IsPackage ? string.Format("{0}-Night Package", item.Nights) : "")</span></h5>
                                                    <span class="text-center booking-item-price" data-price="@r.LowestPromosetAmount"> @utils.InclPercMarkup(r.LowestPromosetAmount, item.Currency.symbol) </span>
                                                    @if (r.LowestPromosetAmount < item.TotalCostIncludingChargesAndGroundhandling)
                                                    {
                                                        <div class="slashed font15">@utils.InclPercMarkup(item.TotalCostIncludingChargesAndGroundhandling, item.Currency.symbol)</div>
                                                    }
                                                    <div class="btn btn-primary text-right">See Details</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <br />
                                                    <span class="btn btn-primary">More Details</span>
                                            }
                                            @{ var prvname = string.Empty;}
                                            @foreach (var fr in item.FoundRooms)
                                            {
                                                <p class="text-right">
                                                    @if (fr.allotments > 0 )
                                                    {
                                                        if(prvname != fr.room_name)
                                                        {
                                                        <small class="label label-success">
                                                            Available: @fr.allotments @fr.room_name
                                                        </small>

                                                        }

                                                    }
                                                    else
                                                    {
                                                        <small class="label label-warning">
                                                            On Request @fr.room_name
                                                        </small>
                                                    }
                                                    @{prvname = fr.room_name;}
                                                </p>
                                            }

                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                </a>
                            </li>
                                                            }
                                                        }


                </ul>
                <ul class="pagination"></ul>
            </div>

        </div>
    </div>
    <div class="gap"></div>
</div>

<style>
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
</style>


@section scripts {

    @Scripts.Render("~/bundles/front-result");
    <script>
        $(document).ready(function () {
            $('body').tooltip({
                selector: '[rel="tooltip"]'
            });
        });
    </script>
}