﻿@model IEnumerable<Booking_System.Models.GetSupplementsResult>

@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Supplements";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";


    var booking = ViewBag.Booking as Booking_System.Models.booking;

    var totalRoomCost = booking.booking_guest.Sum(x => x.price_per_night + x.markup_amt) * booking.num_nights;



    //var vbooking = ViewBag.VBooking as Booking_System.Models.viewBooking;
    //double cost = 0D;
    //string symbol = "";
    //if (vbooking != null)
    //{
    //    cost = vbooking.TotalPrice;
    //    symbol = vbooking.symbol;
    //}
}
<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
    </ul>
    <br />



    <ul class="progress-indicator">
        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.HOTEL)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        } 
       
        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.PACKAGE)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        } 

        <li class="completed"><a href="@Url.Action("Supplements", new { id = booking.booking_id })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class=""> <a href="@Url.Action("Transfer", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class=""> <a href="@Url.Action("Activities", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class=""> <a href="@Url.Action("Rental", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    </ul>


    <h3>Supplements </h3>

@if (Model == null || Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-8">

            <h1><span class="fa fa-warning"></span> No Supplements Available</h1>

            <a href="@Url.Action("Transfer", new { id = booking.booking_id })" value="continue" name="submitaction" class="submitbutton btn btn-primary">Continue</a>
            <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id })" value="finish" name="submitaction" class="submitbutton btn btn-primary">Finish</a>
            <br />
        </div>
        <div class="col-md-4">@Html.Partial("_BookingSummaryBox", booking)</div>
    </div>
}
else
{

    <div class="row">
        <div class="col-md-8">

            @using (Html.BeginForm("AddSupplement", "Front", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="booking_id" value="@booking.booking_id" />
                <table class="table">
                    @{var i = 0; var roomnum = 0;}
                    @foreach (var item in Model.OrderBy(o => o._room_number).ThenBy(t => t._showMealFirst).ThenBy(m => m.meal_plan_id))
                    {
                        if (item._room_number != roomnum)
                        {
                                        <tr>
                                            <td align="left"><h3><span class="label label-warning">@item._room_number</span></h3></td>
                                            <td colspan="3">
                                                <h3> @item._room_name  - @Html.Raw(item._OccupancyIcons)</h3>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td align="center">


                                                <label>
                                                    <input class="i-radio" type="radio" checked name="mealplan[@(item._room_number - 1)]" value="0#0#0" />
                                                </label>
                                            </td>
                                            <td>
                                                No upgrade
                                            </td>
                                            <td>                                    
                                                @item.symbol 0
                                            </td>
                                        </tr>


                        }

                        roomnum = item._room_number;

                        if (item.IsMealPlan)
                        {
                            <tr class="@(item.IsSelected ? "supplement-selected" : "")">
                                <td></td>
                                <td align="center">

                                    
                                    <label>
                                        <input class="i-radio" type="radio" @(item.IsSelected ? "checked" : "") name="mealplan[@(item._room_number - 1)]"  value="@(string.Concat(item.supplement_id, "#", item.booking_room_id, "#", item.supp_price))" />
                                    </label>
                                </td>
                                <td>
                                    @item.name   <a href="#" class="fa fa-info-circle" data-html="true" rel="tooltip" data-original-title="@item.description"></a>
                                </td>
                                <td>                                    
                                    @item.symbol@(item.supp_price.HasValue ? item.supp_price.Value : 0)

                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr class="@(item.IsSelected  || (item.supp_price.HasValue ? item.supp_price.Value : 0) == 0 ? "supplement-selected" : "")">
                                <td></td>
                                <td align="center">
                                    <label>
                                        <input class="i-check" type="checkbox" @(item.IsSelected  || (item.supp_price.HasValue ? item.supp_price.Value : 0) == 0 ? "checked" : "") name="chosen[@i]" value="true" />
                                        <input type="hidden" name="chosen[@i]" value="false" />
                                    </label>

                                    </td>
                                <td>
                                    @item.name  <a href="#" class="fa fa-info-circle" data-html="true" rel="tooltip" data-original-title="@item.description"></a>

                                </td>
                                <td>
                                    <input type="hidden" name="supplement[@i]" value="@(string.Concat(item.supplement_id, "#", item.booking_room_id, "#", item.supp_price))" />
                                    @*<input type="hidden" name="supplementprice[@i]" value="@item.supp_price" />*@
                                    @item.symbol@(item.supp_price.HasValue ? item.supp_price.Value : 0)
                                </td>
                                </tr>
                            i++;
                        }




                    }
                        </table>


                        <button type="submit" value="continue" name="submitaction" class="submitbutton btn btn-warning">Save and Continue</button>
                        <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-warning">Save and Finish</button>
                        <br />

                        <div class="gap"></div>
                        }
                    </div>

        <div class="col-md-4">@Html.Partial("_BookingSummaryBox",booking)</div>
    </div>

}

                                    <div class="gap"></div>
                                </div>

                                @section scripts{
                                    <script>
                                        $(document).ready(function () {

                                            $('.item-container').each(function () {
                                                //alert($('.fill', $(this)).width());
                                                var item = $('.item', $(this));
                                                var score = $('.score', $(this));
                                                var itemWidth = item.width();
                                                var scoreWidth = score.width();

                                                var offset1 = item.offset().left;
                                                var offset2 = score.offset().left;
                                                var fillerWidth = (offset2 - offset1) - (itemWidth + scoreWidth);

                                                $('.fill', $(this)).css('width', fillerWidth + 10);
                                            });
                                            $("[rel='tooltip']").tooltip();
                                        });

                                    </script>

                                }