﻿@model IEnumerable<Booking_System.Models.transferPricing>
@using utils = Booking_System.Helpers.Utils
@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";

    var booking = ViewBag.Booking as Booking_System.Models.booking;
    var ccy = booking.market.currency.symbol;

    var pricings = ViewBag.TransferPricings as List<Booking_System.Models.transferPricing>;


    var upgrades = Model.Where(x => x.transfer.is_upgrade).ToList();

    var normal = Model.Where(x => x.transfer.is_upgrade == false).ToList();

    var IsPackage = booking.isPackage;
}


<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Home")">Search</a>
        </li>
    </ul>
    <br />

    <ul class="progress-indicator">
        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.HOTEL)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        @if (booking.booking_type == (int)Booking_System.Helpers.AppEnums.BookingType.PACKAGE)
        {
            <li class="completed"><a href="@Url.Action("HotelOrPackage", new { bookingref = booking.booking_ref })"> <span class="bubble"></span> <span class="fa fa-hotel"></span> Room </a></li>
        }

        <li class="completed"><a href="@Url.Action("Supplements", new { id = booking.booking_id })"> <span class="bubble"></span> <span class="fa fa-glass"></span> Supplements </a> </li>
        <li class="completed"> <a href="@Url.Action("Transfer", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-cab"></span> Transfer </a> </li>
        <li class=""> <a href="@Url.Action("Activities", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-bolt"></span> Activities  </a> </li>
        <li class=""> <a href="@Url.Action("Rental", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-car"></span> Car Rental </a> </li>
        <li> <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id  })"><span class="bubble"></span> <span class="fa fa-shopping-cart"></span> Confirmation  </a></li>
    </ul>


    <h3>Airport Transfer (@booking._totalGuests passengers) </h3>

    <div class="row">
        <div class="col-md-8">
            @if (Model == null || Model.Count() == 0)
            {
                <h1><span class="fa fa-warning"></span> No Transfers Available</h1>

                <a href="@Url.Action("Activities", new { id = booking.booking_id })" value="continue" name="submitaction" class="submitbutton btn btn-primary">Continue</a>
                <a href="@Url.Action("ConfirmBooking", new { id = booking.booking_id })" value="finish" name="submitaction" class="submitbutton btn btn-primary">Finish</a>
                <br />

            }
            else
            {

                var count = 0; double? price = 0D; string teen = string.Empty; var child = string.Empty;
                using (Html.BeginForm("AddTransfer", "Front", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="booking_id" value="@booking.booking_id" />
                        @*<input type="hidden" name="children" id="children" value="@booking.children" />
                            <input type="hidden" name="teens" id="teens" value="@booking.teens" />
                            <input type="hidden" name="adults" id="adults" value="@booking.adults" />*@

                        <table class="table">
                            <tr>
                                <td align="center">
                                    <label>
                                        <input class="i-radio" type="radio" checked name="transfer_id" value="0" />
                                    </label>
                                </td>
                                <td>
                                    @if(IsPackage)
                                    {
                                        @:No upgrade
                                    }
                                    else
                                    {
                                    @:no transfer
                                        
                                    }
                                </td>
                                <td>
                                    @(IsPackage?"No Transfer Upgrade":"No Transfer Booked")
                                </td>
                                <td>0</td>

                            </tr>

                                @foreach (var item in Model.OrderBy(x => x.transfer_id))
                                {

                                    if (pricings.Count > 0)
                                    {

                                        if (item.transfer.is_upgrade && booking.isPackage)
                                        {
                                            <tr>
                                                <td align="right">
                                                    <label>
                                                        <input class="i-radio" type="radio" @(item._isSelected ? "checked" : "") name="transfer_id" value="@item.transfer_id" />
                                                    </label>
                                                </td>
                                                <td>

                                                    @item.transfer.name @(item.transfer.is_upgrade ? "(upgrade)" : "")
                                                </td>
                                                <td>
                                                    @item.transfer.description
                                                </td>
                                                <td>

                                                    @{
                                                        var rate = pricings.Where(x => x.transfer_id == item.transfer_id).FirstOrDefault();

                                                        price = (rate.adult_price * booking.adults) + (rate.child_price * booking.children) + (rate.teen_price * booking.teens);

                                                    }


                                                    @ccy@price
                                                </td>

                                            </tr>
                                                        }
                                                        else if (!item.transfer.is_upgrade && !booking.isPackage)
                                                        {
                                                            <tr>
                                                                <td align="right">
                                                                    <label>
                                                                        <input class="i-radio" type="radio" @(item._isSelected ? "checked" : "") name="transfer_id" value="@item.transfer_id" />
                                                                    </label>
                                                                </td>
                                                                <td>

                                                                    @item.transfer.name @(item.transfer.is_upgrade ? "(upgrade)" : "")
                                                                </td>
                                                                <td>
                                                                    @item.transfer.description
                                                                </td>
                                                                <td>

                                                                    @{
                                                                        var rate = pricings.Where(x => x.transfer_id == item.transfer_id).FirstOrDefault();

                                                                        price = (rate.adult_price * booking.adults) + (rate.child_price * booking.children) + (rate.teen_price * booking.teens);

                                                                    }


                                                                    @ccy@price
                                                                </td>

                                                            </tr>

                                                                                }


                                                                            }
                                                                        } @* foreach*@

                                       
                        </table>
                        <button type="submit" value="continue" name="submitaction" class="submitbutton btn btn-warning">Save and Continue</button>
                        <button type="submit" value="finish" name="submitaction" class="submitbutton btn btn-warning">Save and Finish</button>
                        <br />

                                            } <!-- form -->


                                            } <!-- endif -->




            <div class="gap"></div>
            @* end form *@

        </div>
        <div class="col-md-4">@Html.Partial("_BookingSummaryBox", booking)</div>
        <div class="gap"></div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $('body').on('click', '.booking-item', function () {

                //var price = $(this).data('price');
                //var vehicle = $(this).data('vehicle-id');

                //alert(price);


                $('.booking-item').removeClass('active-booking-item');


                $(this).addClass('active-booking-item');


                $('#price').val($(this).data('price'));
                $('#vehicle_id').val($(this).data('vehicle-id'));


            });

        });
    </script>

}