﻿@model IEnumerable<Booking_System.Models.viewBooking>
@using Tab = Booking_System.Helpers.AppEnums
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
    <div class="gap"></div>
            <aside class="user-profile-sidebar">
                <div class="user-profile-avatar text-center">
                    @if (String.IsNullOrWhiteSpace(Booking_System.Helpers.UserSession.Current.UserImage))
                    {
                        <img src="img/300x300.png" alt="Image Alternative text" title="AMaze" />
                    }
                    else
                    {
                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), Booking_System.Helpers.UserSession.Current.UserImage)" alt="@Booking_System.Helpers.UserSession.Current.Fullname" title="AMaze" />
                    }

                    <h5>@Booking_System.Helpers.UserSession.Current.Fullname</h5>
                </div>
                <ul class="list user-profile-nav">
                    <li>
                        <a href="@Url.Action("UserBookings")"><i class="fa fa-user"></i>Current Bookings</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserSettings")"><i class="fa fa-cog"></i>Settings</a>
                    </li>

                    <li>
                        <a href="@Url.Action("UserBookingsHistory")"><i class="fa fa-clock-o"></i>Booking History</a>
                    </li>
                </ul>
            </aside>
        </div>
        @*<div class="col-md-9">
            <h4>Total Traveled</h4>
            <ul class="list list-inline user-profile-statictics mb30">
                <li>
                    <i class="fa fa-dashboard user-profile-statictics-icon"></i>
                    <h5>12540</h5>
                    <p>Miles</p>
                </li>
                <li>
                    <i class="fa fa-globe user-profile-statictics-icon"></i>
                    <h5>2%</h5>
                    <p>World</p>
                </li>
                <li>
                    <i class="fa fa-building-o user-profile-statictics-icon"></i>
                    <h5>15</h5>
                    <p>Cityes</p>
                </li>
                <li>
                    <i class="fa fa-flag-o user-profile-statictics-icon"></i>
                    <h5>3</h5>
                    <p>Countries</p>
                </li>
                <li>
                    <i class="fa fa-plane user-profile-statictics-icon"></i>
                    <h5>20</h5>
                    <p>Trips</p>
                </li>
            </ul>
            
        </div>
            *@
        <div class="col-md-9">
            <h2>My Bookings History</h2>
            
            <table class="table table-bordered table-striped table-booking-history">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Hotel</th>
                        <th>No. Rooms</th>
                        <th>From Date</th>
                        <th>No.of nights</th>
                        <th>Total Guests</th>
                        <th>Amount</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in Model.OrderByDescending(x=>x.created_on))
                    {

                        <tr>
                            <td class="booking-history-type">
                                <i class="fa fa-building-o"></i><small>Hotel</small>
                            </td>
                            <td style="width:15%">
                                @if (b.status > 0)
                                {
                                    <a href="@Url.Action("BookingSummary", new { id  = b.booking_id})"> @b.booking_name</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Hotel", new { bookingref = b.booking_ref })"> @b.booking_name</a>
                                }

                            </td>
                            <td>@b.name</td>
                            <td class="text-center">@b.num_rooms</td>
                            <td>@b.checkin_date.Value.ToString("dd-MM-yyyy")</td>
                            <td class="text-center">@b.num_nights</td>
                            <td class="text-center">@(b.infants+b.children+b.teens+b.adults)</td>
                            <td>@b.symbol@b.TotalBookingPriceWithoutAfterSales</td>
                            <td class="text-center">@b.statusDesc</td>
                            
                        </tr>
                    }
            
                </tbody>
            </table>
        </div>

    </div>
</div>



<div class="gap"></div>