﻿@model IEnumerable<Booking_System.Models.viewBooking>
@using enums = Booking_System.Helpers.AppEnums


@{
    ViewBag.Title = "UserBookings";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<meta http-equiv="refresh" content="60">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="gap"></div>
            <aside class="user-profile-sidebar">
                <div class="user-profile-avatar text-center">
                    @if (String.IsNullOrWhiteSpace(Booking_System.Helpers.UserSession.Current.UserImage))
                    {
                        <img src="img/300x300.png" alt="Image Alternative text" title="AMaze" />
                    }
                    else
                    {
                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), Booking_System.Helpers.UserSession.Current.UserImage)" alt="@Booking_System.Helpers.UserSession.Current.Fullname" title="AMaze" />
                    }

                    <h5>@Booking_System.Helpers.UserSession.Current.Fullname</h5>
                </div>
                <ul class="list user-profile-nav">
                    <li>
                        <a href="@Url.Action("UserBookings")"><i class="fa fa-user"></i>Current Bookings</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserSettings")"><i class="fa fa-cog"></i>Settings</a>
                    </li>

                    <li>
                        <a href="@Url.Action("UserBookingsHistory")"><i class="fa fa-clock-o"></i>Booking History</a>
                    </li>
                </ul>

            </aside>
        </div>
        <div class="col-md-9">
            <h2>My Bookings (@Model.Count())</h2>

            <table class="table table-bordered table-striped table-booking-history">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Hotel</th>
                        <th>No. Rooms</th>
                        <th>From Date</th>
                        <th>No.of nights</th>
                        <th>Total Guests</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Cancel</th>
                        @if (Booking_System.Helpers.UserSession.Current.IsUserCreditBased)
                        {
                            <th>Confirm</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var b in Model.OrderByDescending(x => x.created_on))
                    {

                        <tr>
                            <td class="booking-history-type">
                                @if (b.package_id > 0)
                                {
                                    <i class="fa fa-gift"></i><small>Package</small>
                                }
                                else
                                {

                                    <i class="fa fa-building-o"></i><small>Hotel</small>

                                }
                            </td>
                            <td style="width:15%">
                                @if (b.status > 0)
                                {
                                    <a href="@Url.Action("BookingSummary", new { id  = b.booking_id})"> @b.booking_name</a>
                                }
                                else
                                {
                                    if (b.package_id > 0)
                                    {
                                        <a href="@Url.Action("HotelOrPackage", new { bookingref = b.booking_ref })"> @b.booking_name</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("HotelOrPackage", new { bookingref = b.booking_ref })"> @b.booking_name</a>

                                    }
                                }

                            </td>
                            <td>@b.name</td>
                            <td class="text-center">@b.num_rooms</td>
                            <td>@b.checkin_date.Value.ToString("dd-MM-yyyy")</td>
                            <td class="text-center">@b.num_nights</td>
                            <td class="text-center">@(b.infants + b.children + b.teens + b.adults)</td>
                            <td>@b.symbol@b.TotalBookingPriceWithoutAfterSales</td>
                            <td class="text-center">
                            @if (b.StatusEnum == Booking_System.Helpers.AppEnums.BookingStatus.CONFIRMED)
                            {
                                <span>Confirmed Request</span>
                            }
                            else
                            {
                                if (b.StatusEnum == enums.BookingStatus.PROCESSING)
                                {
                                    @(b.is_timelimit ? "Processing (Time-limit )" : "Processing Confirmed Request")
                                }
                                else if (b.StatusEnum == enums.BookingStatus.PROCESSING_NEW_TIMELIMIT)
                                {
                                    @(b.is_new_timelimit ? "Processing (New Time-limit )" : "Processing")
                                }
                                else if (b.StatusEnum == enums.BookingStatus.AWAITING_CONFIRMATION)
                                {
                                    @b.statusDesc @(b.is_new_timelimit ? " (New Time-limit )" : "")
                                }
                                else if (b.StatusEnum == enums.BookingStatus.AWAITING_CONFIRMATION)
                                {
                                    <span>Confirmed</span>
                                }
                                else
                                {
                                    @b.statusDesc
                                }


                                if (b.StatusEnum == enums.BookingStatus.AWAITING_CONFIRMATION && b.timelimit_date.HasValue && b.timelimit_date.Value > DateTime.Now)
                                {
                                    <small><i>before <span class="red">@b.timelimit_date.Value.ToString("dd MMM yyyy")</span></i></small>
                                }
                            }
                           
                            </td>
                            <td>
                                @*@if (b.StatusEnum == enums.BookingStatus.DRAFT || b.StatusEnum == enums.BookingStatus.NEW) //|| b.status == 2 || b.status == 4 || b.status == 5)*@
                                @if(b.StatusEnum > 0 && !b.hasVoucherGenerated && b.status < (int)enums.BookingStatus.CANCELED)
                                {
                                    <a class="btn btn-default btn-sm" href="@Url.Action("EditBookingDetails", new { id=b.booking_id })">Edit</a>
                                }
                                @if (b.StatusEnum == enums.BookingStatus.AWAITING_CONFIRMATION)
                                {
                                    <a class="btn btn-default btn-sm" href="@Url.Action("FrontEndUpdateReservationStatus", new { booking_id=b.booking_id, status = ((int)enums.BookingStatus.REQUEST_FOR_EXTENSION) })">Request Extension</a>
                                }

                                @if (b.hasProformaFinalized)
                                {
                                    <a class="btn btn-default btn-sm" target="_blank" href="@Url.Action("ViewProforma", "Front", new { id=b.booking_id})"><span class="fa fa-file-pdf-o"></span>&nbsp;proforma</a>
                                }



                                @*@if (b.StatusEnum >= enums.BookingStatus.CONFIRMED && b.hasVoucherGenerated)*@
                                    @if (b.hasVoucherGenerated)
                                    {

                                        <a class="btn btn-default btn-sm" target="_blank" href="@Url.Action("ViewVoucher", "Front", new { id=b.booking_id})"><span class="fa fa-file-pdf-o"></span>&nbsp;&nbsp;voucher&nbsp;&nbsp;</a>
                                }


                            </td>
                            <td>
                                @if (!b.hasVoucherGenerated && b.status < (int)enums.BookingStatus.CANCELED)
                                {
                                    if (b.StatusEnum == enums.BookingStatus.DRAFT)
                                    {
                                        <a class="btn btn-default btn-sm" href="@Url.Action("CancelBooking", new { id=b.booking_id })" onclick="return confirm('Are you sure?')">Cancel</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-default btn-sm" href="@Url.Action("FrontEndUpdateReservationStatus", new { booking_id=b.booking_id, status = ((int)enums.BookingStatus.CANCEL_REQUEST) })" onclick="return confirm('Are you sure?')">Cancel</a>
                                    }

                                }
                            </td>
                           
                                <td>
                                    @if (b.status == (int)enums.BookingStatus.AWAITING_CONFIRMATION)
                                    {

                                        if (b.timelimit_date >= DateTime.Now)
                                        {
                                            <a class="btn btn-default btn-sm" href="@Url.Action("ConfirmBookingDetails", new { id = b.booking_id, status = ((int)enums.BookingStatus.CONFIRMED) })">Confirm</a>
                                        }
                                        else
                                        {
                                            <span class="red">Time limit Expired</span>
                                        }

                                    }


                                    @if (b.hasProformaFinalized && b.status == (int)enums.BookingStatus.AWAITING_CONFIRMATION && !b.is_timelimit)
                                    {
                                        <a class="btn btn-default btn-sm" href="@Url.Action("ConfirmBookingDetails", new { id = b.booking_id })">Confirm</a>
                                    }
                                </td>
                            
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="gap"></div>