﻿@model Booking_System.Models.user
@{
    ViewBag.Title = "UserSettings";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="container">
    <h1 class="page-title">Account Settings</h1>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="user-profile-sidebar">
                <div class="user-profile-avatar text-center">
                    @if (String.IsNullOrWhiteSpace(Booking_System.Helpers.UserSession.Current.UserImage))
                    {
                        <img src="img/300x300.png" alt="Image Alternative text" title="AMaze" />
                    }
                    else
                    {
                        <img src="@string.Concat(Url.Content(Booking_System.Helpers.ConfigurationHelper.GetUserImgPath()), Booking_System.Helpers.UserSession.Current.UserImage)" alt="@Booking_System.Helpers.UserSession.Current.Fullname" title="AMaze" />
                    }

                    <h5>@Booking_System.Helpers.UserSession.Current.Fullname</h5>
                </div>
                <ul class="list user-profile-nav">
                    <li>
                        <a href="@Url.Action("UserBookings")"><i class="fa fa-user"></i>Overview</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserSettings")"><i class="fa fa-cog"></i>Settings</a>
                    </li>

                    <li>
                        <a href="@Url.Action("UserBookingsHistory")"><i class="fa fa-clock-o"></i>Booking History</a>
                    </li>
                </ul>

            </aside>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5">
                    @using (Html.BeginForm("UpdateUserInformation", "Front"))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Personal Infomation</h4>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-user input-icon"></i>
                            @Html.LabelFor(model => model.firstname)
                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-user input-icon"></i>
                            @Html.LabelFor(model => model.lastname)
                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-envelope input-icon"></i>
                            @Html.LabelFor(model => model.email)
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-phone input-icon"></i>
                            @Html.LabelFor(model => model.officephone)
                            @Html.EditorFor(model => model.officephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.officephone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-phone input-icon"></i>
                            @Html.LabelFor(model => model.mobile)
                            @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })
                        </div>

                        <hr>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    }
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h4>Change Password</h4>
                    @using (Html.BeginForm("ChangePassword","Front"))
                    {
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-lock input-icon"></i>
                            @Html.LabelFor(model => model.OldPassword)
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @type="password" } })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-lock input-icon"></i>
                            @Html.LabelFor(model => model.NewPassword)
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                        <div class="form-group form-group-icon-left">
                            <i class="fa fa-lock input-icon"></i>
                            @Html.LabelFor(model => model.ConfirmedPassword)
                            @Html.EditorFor(model => model.ConfirmedPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        </div>
                        <hr />
                        <input class="btn btn-primary" type="submit" value="Change Password" />
                    }
                </div>
            </div>

        </div>
    </div>
</div>



<div class="gap"></div>

